.ui-dialog #dialog-container .forgotten-password-h1 {
    font-family: "Futura LT W01 heavy",sans-serif;
    margin-top: 0;
	text-align: center;
	color: #ccded2;
    font-size: 32px;
    letter-spacing: 4px;
	font-weight: 900;
	line-height: 1.1em;
}

.ui-dialog #dialog-container .forgotten-password-p {
    text-align: center;
	font-size: 14px;
    font-family: "Futura LT W01 Medium",sans-serif;
	letter-spacing: 0.4px;
	width: 80%;
	margin: 1em auto;
}

.ui-dialog .forgot-password-error{
 	display: none;
}

.requestpasswordreset-confirm-container {
	text-align: center;
	p {
		font-size:1.1em;
	}
	button{
		margin:0;
	}
}

#PasswordResetForm {
	text-align: center;
	width: 50%;
    min-width: 250px;
    margin: 0 auto;
    .row-inline label {
		color: black;
		text-align: left;
	}
	.error {
		color: #f09;
		text-align: left;
	}

	input[type="text"] {
        width: 100%;
    }

	button {
        font-size: 1.2em;
        margin: 15px 0;
	}
	
	.signinagain {
		cursor: pointer;
		text-decoration: underline;
		font-family: "Futura LT W01 Light",sans-serif;
    	font-size: 11px;
	}
    .form-caption.error-message{
		position: absolute;
    	top: 60%;
		color: #f09;
    }
}

#NewPasswordForm{
	width: 48%;
	@media screen and (max-width: 767px) {
		width: 100%;
		padding: 0 10px;
	}
	.form-row label {
		display:inline;
	}
	button {
		margin-top:15px;
	}
	.password-error, .password-len-error{
		color: #f09;
		font-size: 0.8em;
		margin: 0;
	}
}

.pt_account {
	#primary {
		font-size: 1.1em;
		font-family: $sans-serif;
	}
	#secondary {
		width: 140px;
	}
	.primary-content {
		margin: 0 0 50px;
		padding: 0;
		border: 0;
		width: 815px;
		
		p.welcome {
			margin: 0;
		}
		.section-addnew a {
  			background: url('../images/sprite-main-BCBG.png') -761px -269px no-repeat;
  			border: none;
  			display: block;
  			height: 25px;
  			margin: 10px 0 0;
  			text-indent: -9999px;
  			width: 132px;
		}
	}
	h1 {
		font-family: $sans-serif-medium;
		font-size: 3.2em;
	}
	h2.section-header {
		background-color: $black;
		color: $white;
		font-family: $sans-serif-medium;
		font-weight: 400;
		margin: 0;
		text-align: center;
		padding: 5px 0;
	}
	.primary-content h2.section-header {
		text-transform: uppercase;
	}
	span.error {
		display: block;
		font-size: 0.8em;
		margin-bottom: 5px;
	}
	.regform {
		input[type=password],
		input[type=text], 
		textarea {
			width: 50%;
		}
		.form-caption {
			float: left;
			margin: -16px 0 0 75px;
		}
		.form-row {
			margin: 12px 0 0;
		}
		.email-updates {
			.input-checkbox, label {
				vertical-align: middle;
			}
		}
		.requiredmessages {
			margin: 10px 0;
		}
		.error-message {
			float: none;
			margin: 5px 0;
			display: block;
		}
	}
	.account-options {
		width: 800px;
	}
	.accountsubhead {
		li {
			width: auto;
			height: auto;
		  	margin: 0 2.2em 0.1em 0;
		  	padding: 2.3em 0 0;
		  	
		  	a, .tfc-fitrec-account {
		  		width: 176px;
		  		height: 165px;
		  		padding: 0.5em 5px 0 5px;
		  		font-size: 3.2em;
		  	}
		  	a {
		  		line-height: 0.8em;
		  	}
		  	&.my-profile {
		  		a {
		  			background-image: url('../images/account/account_profile.jpg');	
		  		}
			  }
			&.my-email-subs {
				a {
					background-image: url('../images/account/email-subscriptions.jpg');	
				}
			}
		  	&.my-payment {
		  		a {
		  			background-image: url('../images/account/account_payment_options.jpg');	
		  		}
		  	}
		  	&.my-wishlist {
		  		a {
		  			background-image: url('../images/account/account_wishlist.jpg');	
		  		}
		  	}
		  	&.my-orders {
		  		a {
		  			background-image: url('../images/account/account_orders.jpg');	
		  		}
		  	}
		  	&.address-book {
		  		a {
		  			background-image: url('../images/account/account_address_book.jpg');	
		  		}
		  	}
		  	&.guest-services {
		  		a {
		  			background-image: url('../images/account/account_guest_services.jpg');	
		  		}
		  	}
		}
		.tfc-fitrec-account {
			font-family: $sans-serif;
			background-color: $black;
			text-align: center;
			line-height: 0.6em;
			
			&:hover {
				opacity: 0.5;
  				transition: opacity 0.25s ease-in-out 0s;
			}
			.tfc-title-wrapper {
				padding: 35px 0 0;
				
				.tfc-cfg-link {
					text-transform: uppercase;
				    padding: 0;
		    		margin: 0;
				}
				.tfc-cfg-account-title, 
				.tfc-cfg-link {
				    color: $white;
				    width: 100%;
				    display: block;
				    font-size: 12px;
		    		font-weight: 400;
				}
			}
			.tfc-message-wrapper {
			    position: static;
			    margin: 0;
			    padding: 0;
			    
			    .tfc-company-icon {
				    position: absolute;
				    top: 12px;
				    left: 50%;
				    margin-left: -17px;
				}
				.tfc-message .tfc-valign {
				    color: $white;
				    padding: 5px 0 0;
				    margin: 0;
				}
			}
		}
	}
	select#editAddress {
		width: 52%;
	}
	form#RegistrationForm .checkoutbuttonhome {
		border: 0;
		width: 75px;
	}
	.wishlist-find {
  		background: url(../images/sprite-main-BCBG.png) -857px -55px no-repeat;
  		border: none;
  		height: 25px;
  		text-indent: -9999px;
  		width: 72px;
	}
	.publicbutton {
  		background: url('../images/sprite-main-BCBG.png') -777px -362px no-repeat;
  		border: none;
  		float: left;
  		height: 25px;
  		text-indent: -9999px;
  		width: 128px;
  		margin: 0;
	}
	 #send-to-friend {
  		background: url('../images/sprite-main-BCBG.png') -595px -112px no-repeat;
  		border: none;
  		display: block;
  		float: none;
  		height: 25px;
  		margin: 0 0 0 129px;
  		text-indent: -9999px;
  		width: 146px;
	}
	.primary-content h2 {
  		text-transform: none;
	}
	.continueshopping {
  		background: url('../images/sprite-main-BCBG.png') -608px -55px no-repeat;
  		border: none;
  		display: block;
  		height: 25px;
  		margin: 15px 0 0;
  		text-indent: -9999px;
  		width: 128px;
	}
	.privatebutton {
  		background: url(../images/sprite-main-BCBG.png) -615px -332px no-repeat;
  		border: none;
  		float: left;
  		height: 25px;
  		text-indent: -9999px;
  		width: 128px;
  		margin: 0;
	}
	#addresses {
		.address-create {
		  	background: url('../images/sprite-main-BCBG.png') -739px -55px no-repeat;
		  	bottom: 0;
		  	display: block;
		  	height: 26px;
		  	position: relative;
		  	text-indent: -9999px;
		  	width: 118px;
		  	margin: 10px 0 15px 10px;
		}
		a.actions {
	  		display: inline-block;
	  		margin-top: 20px;
	  		padding-right: 20px;
	  		color: $black;
	  		font-family: $sans-serif-medium;
	  		text-transform: uppercase;
		}
	}
	ul.payment-list {
		button {
			background: url('../images/sprite-main-BCBG.png') -843px -174px no-repeat;
  			border: none;
  			display: block;
  			height: 25px;
  			margin: 9px 0;
  			text-indent: -9999px;
  			width: 70px;
		}
	}
	.ordertrackform {
		margin-bottom:20px;
  		h3 {
  			text-transform: uppercase;
  		}
  		.form-row{
  			float:left;
  			margin:0 0 0 10px;
			&:first-child{
				margin-left:0;
			}
			#dwfrm_ordertrack_findorder {
		  		background:$black;
		  		color:$white;
		  		border: none;
		  		display: block;
		  		padding:4px 5px;
		  		margin-top:18px;
			}
			@media screen and (max-width: 500px) {
				float:none;
				width:100%;
				margin:0 0 10px 0;
			}
  		}
	}
	.columnone {
  		float: left;
  		margin: 0px 0 20px 0;
	}
	.columnone,
	.columntwo {
		.guessbox {
			float: left;
		  	margin: 0 20px 0 0;
		  	
		  	a {
	  			display: block;
		  		width: 187px;
		  		height: 186px;
		  	}
		  	&.order-payment {
	  			a {
	  				background-image: url('../images/account/guest/guest_ordering_payment.jpg');
	  			}
	  		}
	  		&.track-order {
	  			a {
	  				background-image: url('../images/account/guest/guest_track_your_order.jpg');
	  			}
	  		}
	  		&.shipping-info {
	  		  	a {
	  		  		background-image: url('../images/account/guest/guest_shipping.jpg');
	  		  	}
	  		}
	  		&.returns {
	  			a {
	  				background-image: url('../images/account/guest/guest_returns.jpg');
	  			}
	  		}
	  		&.store-locator {
	  			a {
  					background-image: url('../images/account/guest/guest_store_locator.jpg');
	  			}	
	  		}
	  		&.contact-us {
	  			a {
	  				background-image: url('../images/account/guest/guest_contact_us.jpg');	
	  			}
	  		}
		}
	}
	.confirmation-message {
		padding: 0 10px;
	}
	.login-box {
		button {
			box-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
		}
	}
	.add-to-cart.checkoutbag {
  		font: bold .8em Arial,sans-serif;
  		color: #666;
  		text-transform: uppercase;
  		background: #F0F0F0;
  		border: 1px solid #B3B3B3;
	  	text-shadow: 1px 1px 1px #FFF;
	  	transition: all .2s ease-in;
	  	background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#DEDEDE));
	  	background-image: -moz-linear-gradient(top center, #F0F0F0, #DEDEDE);
	  	background-image: -o-linear-gradient(top, #F0F0F0, #DEDEDE);
	  	border-radius: 4px;
	  	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	  	padding: 0.4em 1.6em;
	}
	#tfc-area {
	    display: none;
	}
} 

h1 .account-logout {
	font-size: 0.6em;
	float: none;
}

.registration-selection {
	input, label {
		display: inline;
		float: none;
	}
}

.address-list {
	padding: 0;
	li {
		float: left;
		list-style: none outside none;
		margin: 0;
		min-height: 135px;
		padding: 1em 0;
		width: 30%;
		&.default {
			float: none;
			
			h3 {
				width: 90%;
				text-align: center;
				font-family: $sans-serif-medium;
				font-weight: 400;
				text-transform: uppercase;
			}
		}
	}
	.mini-address-title {
		width: 90%;
		background-color: $black;
		color: $white;
		margin: 0 0 2px;
		font-family: $sans-serif-medium;
		text-align: center;
		padding: 3px;
		text-transform: uppercase;
	}
	address {
		font-style: normal;
	}
}
.payment-list {
	overflow: hidden;
	padding: 0;
	li {
		float: left;
		list-style: none outside none;
		margin: 0;
		min-height: 110px;
		width: 33%;
	}
}

.order-history-header {
  	border-bottom: 1px solid $gainsboro;
  	overflow: hidden;
  	padding: 10px;
  	text-transform: uppercase;
  	font-family: $sans-serif-medium;
  	font-size: 1.2em;
  	
  	div {
 		width: 20%;
  		float: left;
  	}
}

.order-history-items {
	margin: 20px 0;
}

.order-history-table {
	th, td {
		padding: 5px 10px;
	}
	td {
		width: 20%;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none outside none;
	}
	.order-shipped-to,
	.order-items,
	.order-total-price {
		width: 33%;
	}
	.toggle {
		cursor: pointer;
		display: block;
	}
  	.order-no {
		font-size: 1.1em;
  		
  		button {
 	 		border: none;
  			color: $black;
  			padding: 0;
  			text-align: left;
  			background: none;
		}
  	}
	.label {
		font-weight: 700;
	}
}

.orderhistorydetail {
	table.item-list {
		border: 1px solid $gainsboro;
		
		.section-header {
		 	padding: 0 1em;
		 	font-weight: 400;
		 	color: $nobel;
		}
		.order-totals-table {
			tr {
				border: 0;
			}
			td {
				font-size: 0.8em;
				color: $night-rider;
				text-transform: uppercase;
				padding: 2px;
				text-align: left;
			}
		}
	}
	#cart-table {
  		margin-top: 20px;
  		margin-bottom: 15px;
  		padding: 0 1em;
  		border-bottom: 1px solid $gainsboro;
  		
  		th {
  			font-weight: 400;
  			border-bottom: 1px solid $gainsboro;
  			color: $nobel;
		}
	}
}

.checkoutbuttonhome {
  	border: none;
  	display: block;
  	margin: 20px 0 0;
}

.js .order-history-table .hidden {
	display: none;
}

.addcredit-dialog {
	h1 {
		font-family: $sans-serif-medium;
  		font-size: 3.3em;
  		margin: 0 0 15px;
	}
	form#CreditCardForm {
		label {
	  		float: left;
	  		padding: 0;
	  		width: 110px;
		}
		input,
		select {
			float: left;
			width: 50%;
		}
		.form-row {
			clear: both;
			padding-bottom: 20px;
			position: relative;
		}
		.form-caption.error-message {
	  		position: absolute;
	  		top: 21px;
	  		width: 145px;
		}
	}
}

h1.edit-address-title,
.send-to-friend h1 {
  	margin: 0;
  	font-family: $sans-serif-medium;
  	font-size: 3.3em;
  	font-style: normal;
  	text-transform: uppercase;
  	font-weight: 400;
  	color: $black;
}

.address-dialog {
	.form-row {
		span.error {
	  		float: left;
	  		margin-top: 0;
	  		margin-left: 0;
		}
		label {
		  	float: left;
		  	width: 130px;
		}
	} 
	input[type=text], 
	select {
  		float: left;
  		width: 50%;
	}
} 

.pt_content {
	.primary-content {
		width: 81%;
		padding: 0 0 50px;
		
		.guest_services_content {
  			h2 {
  				font-family: $sans-serif-medium;
  				font-weight: 400;
  				cursor: pointer;
			 	.arrow_image {
			 		width: 11px;
			  		height: 11px;
			  		text-indent: -999px;
			  		float: left;
				  	background: url('../images/cs_arrow_right.png') no-repeat;
				}
				.below_arrow {
					width: 11px;
			  		height: 11px;
			  		text-indent: -999px;
			  		float: left;
				  	background: url('../images/cs_arrow_below.png') no-repeat;
				}
  			}
			.togglebox {
			  	background-color: #e0e0e0;
			  	clear: both;
			  	font-size: 1.1em;
			  	margin-bottom: 0;
			  	margin-left: 14px;
			  	width: 745px;
			  	
			  	.content {
 		 			padding: 12px;
				}
			}
			strong {
				font-weight: 400;
			}
			a {
			    text-decoration: underline;
			}
		}
		.size-chart-wrapper {
		    text-align: center;
		}
	}
	.secondary-navigation {
		ul li:hover {
			font-weight: 700;
		}
	}
	.columnone {
		float: left;
  		height: 171px;
  		margin: 50px 0 28px 207px;
  		width: 460px;
  
		.guessbox {
  			background-color: $black;
  			float: left;
  			height: 130px;
  			margin: 0 10px 0 0;
  			padding: 30px;
  			text-align: center;
  			width: 137px;
  			font-family:$sans-serif-heavy;
  			span {
			  	font-size: 1em;
			  	text-transform: uppercase;
			  	color: $white;
  			}
  			p, a  {
  				color: $white;
  			}
		}
	}
}

.onlinePurchaseContact,
.inStorePurchaseContact {
    float: left;
    width: 400px;
    
    input,
    select,
    textarea {
		margin-left: 0;
   	 	width: 90%;
    }
    .form-row {
  		width: 80%;
	}
	.requiredMsg {
  		float: left;
	  	margin: 10px 0 0;
	  	width: 200px;
	}
	.contactUsButton {
		background: url('../images/sprite-main-BCBG.png') -664px 0 no-repeat;
	  	border: none;
	  	height: 25px;
	  	text-indent: -9999px;
	  	width: 70px;
	  	float: right;
	  	margin-top: 10px;
	  	margin-right: 110px;	
	}
}
#MCPreferencesForm {
	@media(max-width: 768px){
		padding: 0 20px 10px;
	  }
	.form-indent {
		margin-left: 0;
		@media screen and (min-width: 768px){
			margin-left: 0;
		}
	}
	.form-row {
		margin-left: 20px;
		margin-top: 5px;
		.input-checkbox {
			height: 20px;
			width: 20px;
			margin-right: 5px;
			margin-top: 1px;
			font-size: 20px;
		}
		label {
			font-size: 14px;
		}
	}
	button {
		background: #1e1e1e;
		margin-top: 30px;
		color: #fff;
		width: auto;
		height: auto;
		line-height: 36px;
		font-family: "HelveticaNeueETW01-65Md";
		font-size: 14px;
		text-transform: uppercase;
		padding: 0.5em 2em;
		&:hover{
			background: #464646;
		}
	}
}