html{
	font-size: 62.5%;
}
body {
	background: $white;
	color: $night-rider;
	font-family: $sans-serif;
	font-size: 11px;

    @media screen and (max-width: 767px) {
        overflow-x: hidden;
    }
}

a {
	color: $nobel;
	outline: medium none;
	overflow: hidden;
	text-decoration: none;
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

ul {
 	padding: 0;
 	list-style-type: none;
}

button,
.button,
.buttonstyle,
input[type="button"] {
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-family: $sans-serif-medium;
	font-size: 1em;
	text-align: center;
	padding: 0.3em 1em;
  	border: none;
  	background: none #000;
  	text-transform: uppercase;
	outline:0;
	&.large {
		font-size: 1.35em;
		text-transform: uppercase;
	}
	&.raised {
		border-width: 0;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		&:hover {
			color: $white;
		}
	}
	&.simple {
		background-color: $black;
		color: $white
	}
	&[disabled],
	&.disabled {
		opacity: 0.5;
	}
	a {
		color: $white;
		&:hover {
			color: $dim-gray;
		}
	}
	i {
		&.left {
			margin-right: 0.6em;
		}
		&.right {
			margin-left: 0.6em;
		}
	}
	&.ui-button:focus{
		outline:none;
	}
}

.button-text {
	background-color: transparent;
	border-width: 0;
	color: $black;
	padding: 0;
}

.button-fancy-large {
	@extend .button.large;
}

.button-full-width {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}

.mobile-show {
	display: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

.quickViewOpen{
	cursor:pointer;
}
.ui-dialog { z-index: 1000 !important ;}