.breadcrumb {
	@extend %clearfix;
	font-size: 1em;
	line-height: 1.5em;
	margin: 10px 0 35px 0;
	padding: 0;
	li {
		display: inline;
		list-style: none outside none;
	}
	@media screen and (max-width: 767px) {
		padding-left:10px;
		margin-bottom: unset;
	}
}

.paging-current-page {
	left: -999em;
	position: absolute;
}

.breadcrumb-element {
	text-transform: capitalize;
	color: $nobel;
	float: left;
	font-family: $futura-medium;
	
	h1 {
		font-size: 13px;
    	display: inline;
    	font-weight: 400;
	}
	&:not(:first-child){
		line-height: 17px;
	}
	
	&:not(:last-child):after {
	  	width: 10px;
		height: 15px;
		line-height: 20px;
		text-align: center;
		float: right;
        font-family: FontAwesome;
        font-size: 13px;
        display: block;
        color:#000;
        content:"/";
	}
	&:last-of-type {
		color: $black;
		padding: 0px;
		font-weight: bolder;
		&:after{
			content: none;
		}
	}
	
	&.pull-right{
		position: relative;
		left: 3px;
	}
}

.breadcrumb-refined-by, .breadcrumb-refinement-name {
	display: none;
}

.breadcrumb-refinement {
	font-weight: normal;
	
	&:after {
		content: attr(data-divider);
		font-style: normal;
	}
	&:last-of-type {
		&:after {
			content: '';
		}
	}
}

.breadcrumb-refinement-bar {
	display: inline-block;
	margin: 15px 20px 0 0;
}

.breadcrumb-refinement-value {
	display: inline-block;
	border-radius: 3px;
	margin: 0 5px 5px 0;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 0.8em;
}

a.breadcrumb-relax {
	color: $nobel !important;
	font-style: normal;
	padding: 0 0 0 3px;
}

.breadcrumb-result-text.pull-left{
	position: relative;
	top: 1px;
}
.breadcrumb-result-text a,
.breadcrumb .searchphraselink {
	background: none;
	color: $citrus;
	padding: 0;
}
.primary-content {
    .breadcrumb-element {
        display: none;
    }
}
