.bottom-banner-container {
	overflow: hidden;
	.bottom-banner-cell {
		float: left;
		overflow: hidden;
		text-align: center;
	}
	.banner-cell-1 {
		width: 33%;
	}
	.banner-cell-2 {
		width: 34%;
	}
	.banner-cell-3 {
		width: 33%;
	}
}

.category-left-rail {
	img{
		max-width: 100%;
	}
}

.attribute-sorting-refinements {
	margin-top: 10px;
	background:#ebebeb;
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
    }
	
	.refinement {
		float: left;
        position: relative;
		width: 33%;
		
		h3 {
            font-size: 12px;
            margin: 0;
			font-weight: normal;
			color: $black;
			cursor: pointer;
			float: left;
            font-family: $futura-medium;
			margin: 7px 0 7px 25px;
            text-transform: uppercase;
            line-height: 12px;
			&:before {
				content: '+';
				display: inline-block;
	  			width: 10px;
	  			line-height: 12px;
			}
			&.expanded:before {
			 	content:"-";
			}
		}
		
		ul {
			display: none;
			position: absolute;
			top: 32px;
			left: 20px;
			cursor: pointer;
			background: $white;
			width: 150px;
			height: 155px;
			border: 1px solid $very-light-gray;
            overflow: scroll;
			padding: 10px;
			z-index: 2;
			
			li {
				width: 100%;
				font-size: 0.9em;
				height: 15px;
				margin-bottom: 5px;
				
				a {
					float: left;
					background: $white;
					border: 1px solid $black;
					width: 7px;
					height: 7px;
					overflow: visible;
					border-radius: 0;
					padding: 0;
                    text-indent: -9999px;
				}
                .swatchvalue {
                    text-transform: none;
                    position: relative;
                    top: -2px;
                    padding: 0 0 0 5px;
                    font-size: 12px;
                }
				
				&.selected a {
					background-color: $black;
				}
			}
		}
	}
    .clear-refinement {
        display: none;
    }
	.refinement-header,
	.category-refinement {
		display: none;
	}
	.scroller-div {
		z-index: 100 !important;
		a {
			width: 15px;
			height: 15px;
			float: left;
			&.scroll-up-btn {
				background: url('../images/refinement-scroll-btn.png') no-repeat;
			}
			&.scroll-down-btn {
				background: url('../images/refinement-scroll-btn.png') 0 -15px no-repeat;
				margin-top: 15px;
			}
		}
		.vertical-track {
			top: 14px;
			right: 1px;
			
			.vertical-handle {
				background: $black;
				float: left;
				width: 7px;
				margin: 0 0 0 -10px;
			}
		}
	}
}
