#footer {
    color: $black;
    clear: both;
    font-size: 12px;
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    a {
        color: $black;
        transition: color 0.25s ease-in-out 0s;
        &:hover {
            color: $very-light-gray;
        }
    }
	.mobile-sign-up {
		a{
			color: $white;
			&:hover {
	            color: $very-light-gray;
	        }
		}
	}
    .lowerFooter .content-asset{
        max-width: 550px;
        margin:auto;
        .col{
            text-align: left;
            float:left;
            padding:0 15px;
            margin:0;
            .brandLogo{
                display: inline-block;
                text-indent: -999em;
                background: url("../images/footer-brands.png") no-repeat;
                background-size:162px 53px;
                &.hl {
                    background-position: 0 -43px;
                    width:100px;
                    height:12px;
                }
                &.gen {
                    background-position: 0 0;
                    width:162px;
                    height:20px;
                }
                &.bcbg {
                    background-position: 0 -25px;
                    width:100px;
                    height:12px;
                }
            }
            .social{
                margin-top: 20px;
                padding:0;
                li{
                    display: inline-block;
                    margin-right:15px;
                    a {
                        font-size: 0;
                        color: $black;

                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .copyright{
            clear:both;
            display: block;
            text-align: right;
            padding:10px 48px 0 0;
        }
    }
    
    @media screen and (max-width: 767px) {
        .lowerFooter .content-asset{
            .col{
                text-align: center;
                padding:0;
                &:nth-child(1){
                    float:none;
                }
                &:nth-child(2),
                &:nth-child(3){
                    width:50%;
                }
                &:nth-child(4){
                    float:none;
                    clear:both;
                }
            }
            .copyright{
                text-align:center;
                padding-right:0;
            }
        }
    }
}



#promotional-signup-wrapper {
    text-align: center;
    color:#000;
    position:relative;
    p{
        font-family:$sans-serif-medium;
        font-size:14px;
        margin:20px 0;
    }
    .large{
        font-family: $sans-serif-heavy;
        font-size:20px;
        display: block;
    }
    .small{
        text-transform: uppercase;
        font-family: $sans-serif-heavy;
        font-size:10px;
        display: block;
    }

    form {
        border:1px solid #000;
        display: inline-block;
        #promotional-signup-email{
            width:200px;
            border:0;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
        }
        button {
            background-color: $black;
            color: $white;
            margin-left: 0;
            text-transform: uppercase;
            padding:2px 10px;
        }
    }


    .emailPopUpCloseArea{
        position:absolute;
        top:-20px;
        right:7px;
        font-family: $sans-serif-heavy;
        font-size:20px;
        cursor: pointer;
    }
}

.email-signup-thankyou {
    font-family: "Didot W01 Headline";
    font-size: 2.5em;
    padding: .3em 0 .2em;
    text-transform: uppercase;
    width: 265px;
}

.emailSignupThanksContainer {

    padding: 0 10px 20px 10px;

    a {
        color: #333 !important;
    }

    select {
        border: 1px solid #D3D2D2;
    }

    input[type="text"] {
        background-color: #eceded;
        border: none;
        width: 100px;
    }

    .content-asset {
        display: none;
    }

    .countryRequired {
        padding-right: 56px;
        float: right;

        @media screen and (max-width: 736px) and (min-width: 320px) {
            float: left;
            padding-right: 0px;
            clear: left;
            padding-left: 10px;
        }
    }

    .emailSignupDetail p,
    .emailSignupNote p {
        margin: 10px 0;
    }

    .emailPopUpCloseArea {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        cursor: pointer;
        right: 0;
        background-image: url("../images/closeEmail.gif");
        background-repeat: no-repeat;
    }

    .emailSignupThanks,
    .emailSignupAlreadySignedUp {
        font-family: $sans-serif-medium;
        font-size: 20px;
    }

    .emailSignupStayTuned {
        font-family: $sans-serif-medium;
        font-size: 13px;
        margin: 5px 0;
        padding: 0;
    }

    .emailSignupPrivacy {
        margin-bottom: 10px;
    }

    .emailSignupDetail,
    .emailSignupPrivacy a {
        font-family: $sans-serif;
        font-size: 12px;
    }

    .emailSignupNote,
    .emailAlreadySignedUp {
        font-size: .9em;
        color: #999;
        clear: both;
        float: left;
        width: 100%;
    }

    .birthdate {
        .form-row {
            float: left;
        }
    }

    .form-row {

        label {
            font-family: $sans-serif-medium;
            font-size: 11px;
            text-transform: uppercase;
            white-space: nowrap;
        }

        #dwfrm_emailsubscription_postal-error {
            float: left;
        }

        select {
            clear: both;
            float: left;
            width: 133px;
        }

        input {
            clear: both;
            float: left;
        }

        .dobmonth {
            float: left;
            width: 100px;
        }

        .dobday {
            float: left;
            margin-left: 15px;
            margin-top: 13px;
            width: 50px;
        }

        .postal {
            width: 100px;
        }

        .country {
            margin-left: 10px;
            width: 150px;
        }

        .email-subscribe {
            background-color: $black;
            color: $white;
            font: $sans-serif-medium;
            width: 73px;
            height: 26px;
            border: none;
        }
    }
}

#backtotop {
    position: absolute;
    bottom: 10px;
    right: 30px;
    z-index: 11;
    position: fixed;

    span {
        background: url("../images/sprite-main-BCBG.png") no-repeat scroll -515px -42px transparent;
        cursor: pointer;
        display: block;
        height: 34px;
        text-indent: -999em;
        width: 34px;
        z-index: 9999;
    }
}

.internationalDialog {
    .ui-dialog-titlebar {
        display: none;
    }
}

#checkouttermsdiv {
    font-family: Arial;
    font-size: 12px;

    a {
        color: #333;
    }

    .cspic {
        float: right;
        margin-left: 1em;
        width: 300px;
        height: 479px;
    }

    #continuebuttons {
        width: 45%;

        @media screen and (max-width: 736px) and (min-width: 320px) {
            width: 100%;
            clear: both;
        }

        float: left;

        button {
            width: auto 0;
            cursor: pointer;
            color: white;
            background-color: black;
            padding: 5px 35px;
            text-align: center;
            font-size: 14px;
            font-weight: normal;
            border: none;
            font-family: sans-serif;
            text-transform: uppercase;
            display: block;
            margin: 30px;
            margin-left: auto;
            margin-right: auto;
            width: 142px;
        }
    }

    #is_leftside {
        float: left;
        width: 5%;
    }

    #is_rightside {
        float: right;
        width: 40%;

        @media screen and (max-width: 736px) and (min-width: 320px) {
            width: 80%;
        }

        padding-bottom: 30px;

        .smaller {
            font-size: .75em;
        }
    }
}

.mobile-sign-up {
    background-color: $black;
    color: $white;
    padding: 20px 0;
    margin-bottom: 20px;

    .esformfooter {
        form {
            position: relative;
            .emailAlreadyUsed{
                display: none;
                font-size: 12px;
                font-family: "HelveticaNeueETW01-65Md";
                cursor: default;
                padding:20px;
                position:absolute;
                bottom:55px;
                left: 40%;
                color:$white;
                background:$black;
                text-align: center;
                -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                .alreadySignedUp &{
                    display: block;
                }
                &:after{
                    content:"";
                    position:absolute;
                    bottom:-13px;
                    right:21px;
                    border-top:13px solid $black;
                    border-left:12px solid transparent;
                    border-right:12px solid transparent;
                }
                h2{
                    margin:0 0 10px 0;
                    line-height: 30px;
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight:normal;
                    font-family: "DietDidot W01 Regular";
                }
                p{
                    margin:0;
                } 
                span{
                    position:absolute;
                    top:15px;
                    right:10px;
                    height:20px;
                    width: 20px;
                    cursor: pointer;
                    display: block;
                    background:url(../images/icon_close_white.svg) no-repeat;
                }
            }
        }

        label {
            display: none;
            margin-right: 20px;
            font-weight: normal;
            @media screen and (min-width: 768px) {
                display: inline;
            }
        }
        .error{
            color: #1e1e1e;
            &::placeholder {
                color: $red
            }
        }
        .valid.error {
            border: 1px solid $red !important;
            &::placeholder {
                color: $red;
            }
        }
        input#es-email-address-footer {
            background-color: #363636;
            border: none;
            color: #A9A9A9;
            padding: 4px 0;
            text-align: center;
            width: 50%;

            @media screen and (min-width: 768px) {
                width: 37%;
            }
        }

        input[type="submit"] {
            background-color: $black;
            border: 2px solid $white;
            color: $white;
            margin-left: 20px;
            padding: 2px 14px;

            @media screen and (min-width: 768px) {
                padding: 2px 37px;
            }

            text-transform: uppercase;
        }

        span.error {
            position: absolute;
            float: left;
            margin: 0 2.5%;
            text-align: center;
            width: 84%;
        }

        input#es-email-alert-button-footer {
            background: #e8e8e8 url("../images/sprite-main-BCBG.png") no-repeat scroll -229px -36px;
            margin: 0 0 10px;
            border: none;
            height: 26px;
            width: 23px;
            text-indent: -999px;
            border-radius: 0;
        }

        .promo {
            display: block;
            color: red;
            text-align: center;
            width: 95%;
            margin-bottom: 4px;
            margin-top: 3px;
        }

        .close {
            float: right;
            font-family: 'magictoolbox-thin';
            font-size: 0px;
            margin: 4px 10px 0 0;

            &:before {
                color: #ccc;
                content: '\a001';
                cursor: pointer;
                font-size: 14px;
            }
        }
    }

}

#cookiepopup {
    position: fixed;
    bottom: 5px;
    left: 10px;

    width: 300px;

    background: #fff;
    border: 1px solid #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    padding: 15px;
    text-align: left;
    z-index: 1;

    .content-asset {
        h2 {
            margin: 5px 0 0 0;
            text-transform: uppercase;
            font-size: 1.2em;
        }

        p {
            margin: 5px 0 0 0;
            line-height: 1.4em;

            a {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    #cookieclose {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 1.6em;
    }
}
.non-cookie-subscribe {
    width: 80%;
    @media (max-width: 430px) {
        width: 100%;
    }
    .error{
        color: #1e1e1e;
        &::placeholder {
            color: $red
        }
    }
    .valid.error {
        &::placeholder {
            color: $red;
        }
    }
    .form-row.required {
        float: left !important;
        width: 60% !important;
    }
    button {
        float: left !important;
    }
}
#MCSubscriptionForm{
    .emailAlreadyUsed{
        display: none;
        font-size: 12px;
        cursor: default;
        padding:20px;
        position:absolute;
        bottom: 120px;
        left: auto;
        color:$white;
        background:$black;
        text-align: center;
        -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
        .alreadySignedUp &{
            display: block;
        }
        &:after{
            content:"";
            position:absolute;
            bottom:-13px;
            right:21px;
            border-top:13px solid $black;
            border-left:12px solid transparent;
            border-right:12px solid transparent;
        }
        h2{
            margin:0 0 10px 0;
            line-height: 30px;
            font-size: 30px;
            text-transform: uppercase;
            font-weight:normal;
            font-family: "DietDidot W01 Regular";
            color: white;
        }
        p{
            margin:0;
        }
        .close{
            position:absolute;
            top:10px;
            right:10px;
            height:20px;
            width: 20px;
            cursor: pointer;
            display: block;
            background:url(../images/icon_close_white.svg) no-repeat;
        }
    }
    .form-subscribe {
        padding-top: 40px;
    }
}
.responsys-first-time {
    .subscribed-thankyou {
        text-align: center;
        font-size: 15px;
        margin-top: 15px;
    }
    &.ui-draggable{
        padding: 20px;
        .ui-dialog-titlebar {
            border: 0 none;
            border-radius: 0 0 0 0;
            height: 23px;
            text-transform: uppercase;
            position: absolute;
            right: 0;
            top: 0;
            display: block;
        }
    }
	#dialog-container {
        .sub-join-list{
            font-size: 24px;
            font-weight: 900;
            // text-transform: lowercase;
            text-align: center;
            font-family: "Futura LT W01 heavy",sans-serif;
        }
        .sub-offers{
            font-size: 14px;
            // text-transform: uppercase;
            font-family: "Futura LT W01 Medium",sans-serif;
            text-align: center;
            margin-bottom: 20px;
            width: 80%;
            margin: auto;
            @media (max-width: 540px) {
                width: 80%;
            }
            @media (max-width: 440px) {
                width: 100%;
            }
        }
        .sub-percent {
            text-align: center;
            margin: 0;
            font-family: "Futura LT W01 heavy",sans-serif;
            font-size: 25px;
            font-weight: 900;
        }
        .sub-offers2 {
            text-align: center;
            margin: 0;
            font-size: 14px;
            text-transform: uppercase;
            font-family: "Futura LT W01 Medium",sans-serif;
            text-align: center;
        }
        .sub-discount {
            width: 100%;
            line-height: 20px;
            display: flex;
            justify-content: center;
            font-weight: 900;
            font-family: inherit;
            text-transform: uppercase;
            font-family: "Futura LT W01 Medium",sans-serif;
            font-size: 11px;
            padding-top: 15px;
        }
        #dwfrm_mcsubscribe_email {
            padding: 4.5px 2px;
            border: 1px solid #3E3E3E;
            font-size: 13px;
            text-align: left;
            font-family: "Futura LT W01 Medium",sans-serif;
            
            &:focus {
                outline: 0;
            }
        }
        label[for=dwfrm_mcsubscribe_email] {
            display: none;
        }
        #mc-subscribe-submit-email{
            line-height: 16px !important;
        }
        p {
            line-height: 20px;
        }
        .sub-h1 {
            color: #1e1e1e;
            text-align: center;
            padding-bottom: 40px;
            font-size: 20px;
            text-align: left;
            letter-spacing: 4px;
            width: 70%;
            margin: auto;
            font-family: "Futura LT W01 Heavy",sans-serif;
            font-weight: 900;
            @media(max-width: 540px) {
                width: 85%;
            }
        }
        .sub-cta {
            margin-bottom: 0;
            width: 70%;
            margin: auto;
            text-align: left;
            font-size: 1.1rem; 
            font-family: "Futura LT W01 Medium",sans-serif;
            letter-spacing: .4px;
            @media(max-width: 540px) {
                width: 85%;
            }
        }
        .sub-percent-off,
        .sub-gen {
            width: 70%;
            margin: auto;
            text-align: left;
            font-size: 1.1rem; 
            font-weight: 900;
            margin-bottom: 30px;
            font-family: "Futura LT W01 Heavy",sans-serif;
            @media(max-width: 540px) {
                width: 85%;
            }
        }
        .sub-gen {
            width: auto;
         }
         .sub-percent-off {
            display: none;
         }
        .sub-please-add {
            width: 70%;
            margin: auto;
            padding-top: 20px;
            text-align: left;
            font-size: 1.1rem; 
            padding-bottom: 25px;
            font-family: "Futura LT W01 Medium",sans-serif;
            letter-spacing: .3px;
            @media(max-width: 540px) {
                width: 85%;
            }
        }
		h1{
			font-family: "Futura LT W01 Medium",sans-serif;
			color: #1e1e1e;
			text-align: center;
			margin-bottom: 15px;
			font-size: 24px;
		}
        #MCSubscriptionForm,
        #MCSubscriptionFormInfo {
            margin: auto;
            .sub-name {
                width: 70%;
                margin: auto;
                padding-bottom: 50px;
                @media(max-width: 540px) {
                    width: 85%;
                }
                #dwfrm_mcsubscribe_lastname-error,
                #dwfrm_mcsubscribe_firstname-error {
                    color: red;
                    width: 100%;
                    text-align: center;
                    position: absolute;
                }
                .form-row.required{
                    float: left;
                    width: 47%;
                    position: relative;
                    padding-bottom: 15px;
                    label {
                        span{
                            &:first-child {
                                display: none;
                            }
                        }
                        .required-indicator {
                            display: none;
                        }
                    }
                    input {
                        border: 0;
                        border-bottom: 1px solid #969696;;
                        padding-bottom: 0.8em;
                        font-size: 1.1rem; 
                        text-indent: 7px;
                        font-family: "Futura LT W01 Medium",sans-serif;
                        letter-spacing: .4px;
                        color: inherit;
                        &:focus {
                            outline: 0;
                        }
                        &#dwfrm_mcsubscribe_firstname {
                            margin-right: 10px;
                        }
                        &#dwfrm_mcsubscribe_lastname{
                            margin-left: 10px;
                        }
                        &::placeholder {
                            color: #1e1e1e;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .sub-location {
                width: 70%;
                margin: auto;
                padding-bottom: 40px;
                @media(max-width: 540px) {
                    width: 85%;
                }
                .form-row {
                    float: left;
                    width: 47%;
                    label {
                        display: none;
                    }
                     input {
                        border: 0;
                        border-bottom: 1px solid #969696;;
                        padding-bottom: 0.8em;
                        font-size: 1.1rem; 
                        margin-right: 10px;
                        text-transform: uppercase;
                        text-indent: 7px;
                        font-family: "Futura LT W01 Medium",sans-serif;
                        letter-spacing: .4px;
                        &:focus {
                            outline: 0;
                        }
                        &::placeholder {
                            color: #1e1e1e;
                            margin-left: 5px;
                        }
                    }
                }
                .form-row.required{
                    float: left;
                    width: 47%;
                    label {
                        display: none;
                    }
                    input,
                    select {
                        border: 0;
                        border-bottom: 1px solid #969696;;
                        font-size: 1.1rem; 
                        text-transform: uppercase;
                        font-family: "Futura LT W01 Medium",sans-serif;
                        background-position: right 3px top 10px;
                        letter-spacing: .4px;
                        &:focus {
                            outline: 0;
                        }
                        &::placeholder {
                            color: #1e1e1e;
                            margin-left: 5px;
                        }
                        &#dwfrm_mcsubscribe_country {
                            margin-left: 10px;
                            padding: 3px 0 8px 10px;
                            height: auto;
                            background-size: 8px;
                        }
                    }
                }
            }
            .sub-dob{
                width: 70%;
                margin: auto;
                display: flex;
                @media(max-width: 540px) {
                    width: 85%;
                }
                label {
                    font-size: 1.1rem; 
                    text-transform: uppercase;
                    margin-left: 5px;
                    font-family: "Futura LT W01 Medium",sans-serif;
                }
                .form-row {
                    float: left;
                    margin-right: 10px;
                    padding-bottom: 0;
                    &:nth-of-type(1) {
                        width: calc(40% - 10px);
                    }
                    &:nth-of-type(2) {
                        width: calc(20% - 10px);
                    }
                    &:nth-of-type(3) {
                        width: calc(40% - 10px);
                        margin-right: 13px;
                    }
                    #dwfrm_mcsubscribe_dobmonth,
                    #dwfrm_mcsubscribe_dobday,
                    #dwfrm_mcsubscribe_dobyear {
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                        padding: 15px 10px;
                        letter-spacing: .4px;
                        text-transform: uppercase;
                        background-position: right 10px top 22px;
                        background-size: 8px;
                        border: 1px solid #969696;;
                        margin-top: 5px;
                        font-family: "Futura LT W01 Medium",sans-serif;
                        font-size: 1.1rem; 
                        @media(max-width: 450px) {
                            background-position: right 4px top 25px;
                            background-size: 8px;
                        }
                    }
                    #dwfrm_mcsubscribe_dobday,
                    #dwfrm_mcsubscribe_dobyear {
                        margin-top: 4.7px;
                    }
                }
                .form-row.required{
                    float: left;
                    width: 100%;
                    input {
                        border: 0;
                        border-bottom: 2px solid #969696;
                    }
                }
            }
            #mc-subscribe-submit-info {
                margin-top: 30px;
                margin-bottom: 20px;
                width: 40%;
                padding: 0.5em 2em;
                font-size: 1.1rem; 
                font-family: "Futura LT W01 Medium",sans-serif;
                @media(max-width: 540px) {
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
            }
            .sub-privacy {
                color: #1e1e1e;
                font-weight: 900;
                letter-spacing: .6px;
                font-size: 1.1rem; 
                border-bottom: 1px solid #999;
                font-family: "Futura LT W01 Medium",sans-serif;
            }
			margin: auto;
			.form-row.required {
				width: 50%;
				float: none;
				display: block;
				margin: auto;
				@media(max-width: 768px){
					width: 60%;
				}
				@media(max-width: 560px){
					width:75%
				}
				@media(max-width: 500px){
					width:100%
				}
			}
			.form-row {
				width: auto;
				float: left;
				display: block;
				margin: auto;
				padding-bottom: 10px;
				@media(max-width: 768px){
					width: 60%;
				}
				@media(max-width: 560px){
					width:75%
				}
				@media(max-width: 500px){
					width:100%;
				}
				.form-caption{
					display: none;
				}
				&:nth-of-type(4){
					float: none;
					width: 50%;
					@media(max-width: 768px){
						width: 60%;
					}
					@media(max-width: 560px){
						width:75%
					}
					@media(max-width: 500px){
						width:100%;
					}
				}
				&:nth-of-type(5){
					margin-left: 25%;
					padding-right: 10px;
					@media(max-width: 768px){
						margin-left: 20%;
						width: auto;
					}
					@media(max-width: 560px){
						margin-left: 12%;
						width: auto;
					}
					@media(max-width: 500px){
						width: auto;
						margin-left: 0;
					}
				}
				&:nth-of-type(6){
					padding-right: 10px;
					@media(max-width: 768px){
						width: auto;
					}
					@media(max-width: 560px){
						width: auto;
					}
					@media(max-width: 500px){
						width:auto;
					}
				}
				&:nth-of-type(7){
					margin-right: 25%;
					width: 90px;
					@media(max-width: 768px){
						width: 90px;
					}
					@media(max-width: 560px){
						width: 90px
					}
					@media(max-width: 500px){
						width:90px
					}
				}
				select {
					position: relative;
					background: #fff;
					padding: 0 5px;
					max-width: 148px;
					border: 1px solid #d3d2d2;
					height: 28px;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background: transparent;
					border-radius: 0;
					outline: 0;
					background: url(../images/down-arrow.svg);
					background-position: right 3px top 12px;
					background-repeat: no-repeat;
					background-size: 6px;
				}
			}
			label {
				text-align: left;
				font-size: 12px;
				font-family: "HelveticaNeueETW01-55Rg";
				color: #1e1e1e;
				margin-bottom: 5px;
			}
			label[for=dwfrm_mcsubscribe_dobday],
			label[for=dwfrm_mcsubscribe_dobyear]
			{
				margin-top: 15px;
			}
			label[for=dwfrm_mcsubscribe_dobyear] span{
				display: none;
			}
			label[for=dwfrm_mcsubscribe_postalcode]{
				width: 100%;
			}
			label[for=dwfrm_mcsubscribe_country]{
				width: 100%;
			}
			#dwfrm_mcsubscribe_country {
				max-width: 100%;
			}
			#dwfrm_mcsubscribe_dobday {
				width: 48px;
			}
			.form-row-button {
				width: 100%;
				text-align: center;
				padding-top: 20px;
				button {
					background: #1e1e1e;
					color: #fff;
					width: auto;
					height: auto;
					line-height: 36px;
					font-size: 14px;
					text-transform: uppercase;
                    padding: 0.5em 2em;
                    &:hover{
                        background: #464646;
                    }
				}
			}
		}
	}
}
#primary {
	@media (max-width: 690px){
	    	h1.sub-join-list{
	    		margin: 10px;
	    	}
	    	p.sub-offers {
   				 margin: 10px;
			} 	
    }
    #MCSubscriptionFormUnsubscribe {
        .form-row {
            margin: 0;
            label {
                text-align: left;
                font-size: 18px;
                padding-bottom: 5px;
            }
            button {
                margin: 10px 0;
            }
        }
        @media (max-width: 690px){
            margin: 10px;
            button {
                width: 100%
            }
        }
    }
}
.ui-dialog.responsys-first-time{
    max-width: 520px;
    max-height: 600px;
    min-width: 520px;
    padding: 40px 1%;
    box-sizing: border-box;
    @media(max-width: 540px) {
        max-height: 667px;
        width: 100% !important;
        min-width: 100% !important;
    }
}
