.js .simple-submit {
	display: none;
}

legend {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $white-smoke;
	border-bottom: 1em solid $white;
	font-size: 1.1em;
	font-weight: 700;
	margin: 0;
	padding: 1.16em 2% .83em;
	position: relative;
	text-transform: uppercase;
	width: 96%;
	.ie7 & {
		width: 94%;
	}
	span {
		font-size: 12px;
		font-weight: 400;
		position: relative;
		text-transform: none;
		padding: 0 .5em;
		em {
			color: $night-rider;
		}
	}
}

.dialog-required {
	display: inline;
	font-size: 12px;
	font-weight: 400;
	position: relative;
	padding: .16em 0;
	text-transform: none
	em {
		color: $night-rider;
	}
}

label {
	display: block;
	font-size: 1.1em;
	font-weight: 700;
	margin-bottom: .3rem;
	.form-horizontal & {
		float: left;
		margin-top: .5rem;
		margin-bottom: 0;
		width: 100%;
		@media screen and (min-width: 768px) {
			text-align: right;
			width: 25%;
		}
	}
	.label-inline & {
		display: inline-block;
		float: none;
		font-size: 1em;
		font-weight: 400;
		margin-top: 0;
		width: auto;
	}
	.label-above & {
		margin-bottom: .3rem;
		width: auto;
	}
}

.form-label-text {
	float: left;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0.75em 0 0;
	text-align: right;
	width: 25%;
}

.form-row {
	@extend %clearfix;
	margin: 12px 0 0;
	label {
		margin: 0;
		font-weight: 400;
	}
}

.form-row-button {
	.form-horizontal & {
		@media screen and (min-width: 768px) {
			margin-left: 27%;
			width: 62%;
		}
	}
}

.field-wrapper {
	box-sizing: border-box;
	margin-bottom: .5rem;
	width: 100%;
	.form-horizontal & {
		float: left;
		width: 76%;
		@media screen and (min-width: 768px) {
			padding-left: 2%;
			width: 50%;
		}
	}
	.label-inline & {
		float: left;
		padding-left: 0;
		width: auto;
	}
	.label-above & {
		float: none;
		padding-left: 0;
		width: auto;
	}
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
	border: 1px solid $grayish-red;
	box-sizing: border-box;
	padding: 0.2em;
	text-indent: 1%;
	width: 100%;
}

select {
	width: 100%;
	height: 2rem;
	.search-result-options & {
		height: auto;
	}
}

input[type="checkbox"],
input[type="radio"] {
	margin: 1em 1% 1em 2%;
	.label-inline & {
		margin: 0 .3rem 0 0;
	}
}

.form-caption {
	clear: left;
	width: auto;
	.form-horizontal & {
		@media screen and (min-width: 768px) {
			margin-left: 27%;
		}
	}
	.label-above & {
		margin-left: 0;
	}
	.form-indent & {
		margin-left: 0;
	}
}

.form-indent {
	@media screen and (min-width: 768px) {
		margin-left: 27%;
	}
}

.error-message {
	padding: 0;
	text-indent: 0;
}

.error {
	color: $pink;
}

span.error,
div.error {
	background: none;
}

span.error {
	display: block;
}

.error-form {
	color: $pink;
	margin: 1em 0;
	padding: 0.5em 0 0;
}

.form-inline {
	form {
		padding: 0 0 2em;
		width: 98%;
	}
	.form-row {
  		float: left;
  		margin: 5px 2% 0 0;
  		width: 28%;
  		
  		label {
  			padding: 0;
  		}
	}
	.form-row-button {
		float: left;
  		margin: 20px 0 0;
  		width: 10%;
	}
	label {
		padding: 0 0 0.75em;
		text-transform: uppercase;
		width: auto;
	}
	input[type="text"], select {
		margin-left: 0;
		width: 95%;
	}
	button {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

.row-inline {
	display: inline;
	label {
		width: auto;
	}
}

.require-dialog {
	font-weight: 400;
	position: absolute;
	right: 1em;
	text-transform: none;
	top: 1em;
}

.required-indicator {
	color: $magenta;
}

.form-field-tooltip {
	float: left;
	margin-left: 3%;
	width: 20%;
}

.char-count {
	display: block;
	margin-left: 27%;
}

input[disabled],
button[disabled] {
	color: $very-light-gray;
}
