.cspic {
	float: right;
	margin-left: 1em;
	width: 300px;
	height: 479px;
}

.intlButton {
  cursor:pointer;
  color:white;
  background-color:black;
  padding:5px 15px;
  text-align:center;
  font-size:10px;
  font-weight:normal;
  border:none;
  font-family: sans-serif;
  text-transform:uppercase;
}

.boldclose .ui-icon-closethick{
  background:none;
  font-family: 'magictoolbox-thin';
  &:after{
    color: #000;
    content: '\a001';
    cursor: pointer;
    font-size: 14px;
    text-indent: 0;
    display: block;
    position:relative;
  } 
}

.intl-shipping-container {
    padding-bottom: 20px;
    width:320px;
}

.intl-shipping {
	color: #333;
  text-align: center;

  h2 {
      font-family: $sans-serif-heavy;
      font-size: 30px;
      letter-spacing:3px;
      margin-top: 0;
      padding-top: 20px;
      text-align: center;
  }
  p{
    line-height: 120%;
  }

  &__copy {
      padding: 0 15px;
  }
  hr{
    width:66%;
    margin:auto;
    border:0;
    height:1px;
    background-color: #bbbbbb;
  }
}

.langOpts {
    .selectHolder{
      position: relative;
      width: 185px;
      margin:auto;
      &:after{
        position:absolute;
        z-index: -1;
        background:#000;
        width:17px;
        right:0;
        top:0;
        bottom:0;
        font-family: FontAwesome;
        content:"\f0d7";
        color:#fff;
        padding-top:4px;
        text-align: center;
      }
    }
    select {
        border-radius: 0;
        display: block;
        margin: 10px auto;
        width: 185px;
        -webkit-appearance: none;
        outline: 0;
        background:transparent;
        border:1px solid #aaaaaa;
        padding:0 23px 0 6px;
        &#intl_country {
            display: none;
        }
    }
}

.intlUpdateCancel {
    text-align: center;
    padding-top: 10px;
    .intl_update {
        margin-right: 10px;
    }
}

.intlFaqReturn {
    margin: 30px 15px 15px 15px;
    overflow: hidden;
    a {
        color:#666 !important;
        text-decoration:none;
        font-size:.8em;
        text-transform:uppercase;
        font-family:Arial;
    }

    .intlFaq {
        float:left;
    }

    .intlReturn {
        float:right;
    }
}


.no-close .ui-widget-header {
  display: none;
}

@media screen and (max-width: 568px) and (min-width: 320px) {
	.cspic {
		display:none;
	}
}

.ui-dialog.countryselector {
    padding: 0;
    
    .ui-dialog-content {
        padding: 0;
    }
}
