.ui-widget-overlay {
	background: url("../images/interface/ui-overlay-shadow.png") repeat scroll 50% 50% $night-rider;
	opacity: 0.4;
}

.ui-dialog {
	background-color: $white;
	.ui-widget-header {
		border: 0 none;
		border-radius: 0 0 0 0;
		height: 23px;
		text-transform: uppercase;
	}
	.ui-dialog-title {
		color: $night-rider;
		font-weight: bold;
	}
	.ui-icon-closethick {
		background: url('../images/icon_close.svg') no-repeat;
		height: 20px;
		width:20px;
		top:0;
		left:0;
		margin:0;
	}
	.ui-dialog-titlebar-close {
		background-color: transparent;
    	border: 0 none;
    	border-radius: 0 0 0 0;
    	top: 10px;
    	right: 10px;
   	 	margin: 0;
    	padding: 0;
		&:hover {
			opacity: 1;
		}
		span {
			margin: 0;
			padding: 0;
		}
	}
	h1,
	h2 {
		font-size: 1.75em;
		font-weight: 400;
		text-transform: uppercase;
	}
	.dialog-required {
		font-weight: 400;
		position: relative;
		text-transform: none;
	}
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-accordion .ui-accordion-content {
	padding: 0;
}

.ui-tabs {
	.ui-tabs-nav {
		height: 2.45em;
		padding: 0;
		li {
			background-color: $black;
			border-style: solid;
			border-width: 1px;
            margin: 0;
			&.ui-state-active {
				background-color: $white;
                border-color: $gainsboro $gainsboro $white;

				a {
					color: $black;
				}
			}
			a {
				color: $white;
                font-family: $sans-serif-medium;
                font-size: 11px;
			}
		}
	}
	.ui-tabs-panel {
		background-color: $white;
		border-color: $gainsboro;
		border-radius: 0 0 0 0;
		border-style: solid;
		border-width: 1px;
		color: #414141;
		font-size: 0.9em;
		line-height: 1.5em;
		margin: 0;
		padding: 20px 10px;
	}
}
