#mini-cart {
	z-index: 20;
	//float:right;
	list-style: none;
	@media screen and (min-width: 768px) {
		margin-right: 1em;
	}

	.desktop-show {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .mobile-show {
        color: white;
        font-size: 12px;
        padding: 8px 0;
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-left: -17px;
        margin-top: -8px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .minicart-lastvisited {
        .jc-lastviewed-wrapper {
            .jc-lastviewed {
                @media screen and (max-width: 768px) {
                    height: 99px;
                }
            }
        }
    }
}

.mini-cart-total {
	font-size: 10px;
	font-weight: normal;
	text-transform: capitalize;
}

.mini-cart-content {
	background-color: $white;
	border: 2px solid $black;
	display: none;
	position: absolute;
	right: 7px;
	top: 28px;
	width: 225px;
	z-index: 10;
  padding:10px;
	#mini-cart:hover & {
		display: block;
	}
}

.mini-cart-products {
	height: 350px;
	overflow: auto;
}

.mini-cart-product {
	overflow: hidden;
	padding: 0 0 10px 0;
	position: relative;
	height: auto;
	clear: left;
	&.collapsed {
		.mini-cart-name,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 90%;
		}
		.mini-cart-image {
			display: none;
		}
	}
}

.mini-cart-image {
	float: left;
	width: 40%;
  img{
    max-width: 90%;
  }
}
.mini-cart-rightside{
  width:60%;
  float:left;
  font-size: 10px;
  font-family: $sans-serif;
  text-transform: none;
  line-height: 16px;
  color:$black;
  .mini-cart-name {
    padding-left:10px;
  	color:#000;
    display: block;
    font-family: $sans-serif-heavy;
    margin-bottom:10px;
    font-size:12px;
    a{
      color:#000;
    }
  }
  .mini-cart-attributes,
  .mini-cart-product .product-availability-list,
  .mini-cart-qty {
  	padding-left:10px;
    font-weight: normal;
    margin-bottom:10px;
  }

  .mini-cart-pricing {
    padding-left:10px;
    font-family: $futura-medium;
    span{
      display: block;
    }
    .price-sales {
      color:red;
      a{
      text-transform: capitalize;
      color:red;
      letter-spacing: 0.1em;
      }
    }
  }
}

.mini-cart-link-checkout {
  font-size:14px;
	display: block;
  background:$black;
  text-transform: uppercase;
  text-align: center;
  color:$white;
  font-family: $sans-serif;
}