body{
	position:relative;
}
#wrapper {
	background: none repeat scroll 0 0 $white;
	left: 0;
	margin: auto;
    padding: 76px 0px 50px 0px;
	position: relative;
// 	width: 1024px;
	@media screen and (min-width: 768px) {
		padding: 170px 20px 50px 20px;
	}
}
@media screen and (min-width: 1024px) {
      .pt_product-search-result {
		#primary {
			&.primary-content {
				width:850px;
			}
	}	}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
        .pt_product-search-result {
		#primary {
			&.primary-content {
				width:588px;
			}
	}	}
}
#main {
	max-width: 1024px;
	margin: 0 auto;	
}

.primary-content {
	float: right;
	padding: 0 0 20px;
	position: relative;
	width: 850px;
	.primary-focus & {
		border: 0 none;
		float: left;
		margin: 0;
		width: 740px;
	}
	.full-width & {
		border: 0 none;
		width: 100%;
	}
	.page-content & {
		padding-left: 3%;
		width: 758px;
	}
	a {
		color: $black;
	}
}

#secondary {
	float: left;
	width: 140px;
	position: relative;
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }

	nav {
		padding-right: 10px;
		margin-top:13px;
		a {
			color: $black;
		}
		ul{
			padding:0;
		}
	}
	.primary-focus & {
		background: none repeat scroll 0 0 transparent;
		border: 0 none;
		float: right;
		width: 210px;
	}
	.guest {
		text-transform: uppercase;
		font-family: $sans-serif-medium;
	}
	&.refinements {
		margin:12px 0 0 0;
	}
	.leftsidenav {
		span {
			display: block;
			margin: 1px 0;
		}
		span.myaccount {
			display: block;
 			text-transform: uppercase;
		}
		.toggle.myprofile {
			cursor: pointer;
			font-family: $sans-serif-medium;
			text-transform: uppercase;
			font-size: 1.2em;
			
			&:hover {
				color: $dim-gray;
			}
		}
		.leftsidenavbody {
			width: 136px;
			
			ul {
				margin: 0 0 5px 10px;
			}
		}
		a:hover {
			color: $dim-gray;
		}
	}
}
