.item-list {
	margin-bottom: 1em;
	tr {
		&.last {
			border: 0 none;
		}
		&.headings {
			display: none;
		}
	}
	td {
		padding: 1em;
		vertical-align: top;
		
		&.item-image {
			width: 85px;
		}
	}
}

.section-header {
	padding: 1em;
}

.item-details .product-list-item {
	.name {
		font-size: 1.2em;
		font-family: $sans-serif-medium;
		text-transform: uppercase;
	}
	.value {
		font-weight: 700;
	}
	.promo {
		color: $sangria;
	}
	.price-standard {
		color: $nobel;
		text-decoration: line-through;
	}
}
.item-availability ul,
.item-quantity-details ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.item-dashboard {
	color: $dark-gray;
	width: 18rem;
	label {
		font-weight: normal;
		width: auto;
		display: inline;
	}
	.field-wrapper {
		width: auto;
	}
	.item-option {
		text-align: right;
	}
	.option-quantity-desired {
		input {
			width: 3rem;
		}
	}
	.value {
		margin-top: .5rem;
	}
	.form-row {
		margin: 0 0 5px;
	}
	input,
	.value,
	select
	.option-toggle-public label {
		color: $night-rider;
	}
	select {
		width: auto;
	}
	.input-checkbox {
		margin: 0 5px;
	}
	.option-add-to-cart {
		margin-top: .5rem;
		label {
			color: $night-rider;
			margin: .5rem .5rem 0 0;
			text-transform: uppercase;
			width: auto;
		}
		input {
			width: 3rem;
			margin-right: 1em;
		}
	}
	.option-quantity-purchased span.exceeded {
		color: $sangria;
	}
}
.item-details {
	.editproduct {
		text-decoration: underline;
		display: block;
		margin-top: 10px;
	}
}
