.product-tile {
	@extend %clearfix;
	color: $nobel;
	position: relative;
	text-align: center;
	.product-price {
		.price-standard.line-through {
			color: #7f7f7f;
			text-decoration: line-through;
		}
		.price-sales {
			color: #9c0000;
			font-size: 1em;
		}
	}
	.product-image {
		height: auto;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			display: none;
			max-width: 100%;
			&.active {
			    z-index: 1;
			}
		}
		.thumb-link {
			display: block;
			width:100%;
			padding-bottom:149.275362%;
		}
		@media screen and (min-width: 767px) {
			&:hover .quickviewbutton{
				display: block;
			}
		}
	}
	.product-name {
        font-family: $sans-serif-heavy;
		font-size: 1em;
        font-weight: 300;
		margin-top: 15px;
		text-align: center;
		text-transform: uppercase;
	}
	.product-pricing {
		margin: 3px 0 0;
		text-align: center;
		font-size: 0.9em;
		color: $dim-gray;
		
		.product-standard-price {
			color: $black;
		}
		span.product-sales-price {
			color: $black;
			font-size: 1em;
			
			&:before {
				content: 'NOW';
				margin: 0 3px 0 0;
			}
		}
		span.product-price, span.orig {
		    text-decoration: line-through;
		}
	}
	.grid-tile
	&.product-swatches {
		float: right;
	}
	.product-swatches-all {
		cursor: pointer;
		font-size: 0.9em;
	}
	.product-swatches {
		ul {
			list-style: none outside none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			&.swatch-toggle {
				background: none repeat scroll 0 0 $white;
				display: none;
				position: absolute;
			}
		}
		&:hover ul.swatch-toggle {
			display: block;
		}
		li {
			float: left;
		}
		.swatch {
			display: block;
			width: 16px;
			img {
				border: 1px solid $white;
				height: 12px;
				padding: 1px;
				width: 12px;
			}
		}
		.selected img, img:hover {
			border-color: $citrus;
		}
	}
	.product-promo {
		font-size: 0.8em;
		text-transform: uppercase;
	}
	.product-compare {
		float: left;
		line-height: 11px;
		label {
			font-weight: 400;
			line-height: 1;
			padding: 0 0 0 .5em;
			width: auto;
		}
		input {
			float: left;
			margin: 0;
		}
	}
	.product-review {
		margin-bottom: 1em;
		.rating-title {
			display: inline-block;
			margin-right: 1em;
		}
		.rating {
			display: inline-block;
		}
	}
	.overlaysHolder{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		z-index: 3;
		color: $white;
		font-family: $sans-serif-heavy;
		font-size: 13px;
		line-height: 15px;
		.overlay-message {
		    background-color: #e8008b;
		    color:$white;
		    font-size: 0.9em;
		    width: 100%;
		  	min-height: 17px;
		  	padding: 2px 0 0;
		  	display: block;
		}
		.quickviewbutton {
			display: none;
	        width: 100%;
		  	height: 17px;
		 	background: $black;
		 	color:$white;
		  	padding: 2px 0 0;
		}
	}
	.wide-tiles & {
		height: auto !important; // overwrite synced heights set on element
		.product-image {
			float: left;
			padding-right: 2em;
		}
		.product-name,
		.product-pricing,
		.product-promo,
		.product-swatches,
		.product-review {
			float: left;
			text-align: left;
			width: 65%;
		}
		.product-name {
			font-size: 1.5em;
			height: auto;
			margin-top: 0;
		}
		.product-pricing {
			font-size: 1.3em;
		}
		.product-swatches {
			margin-bottom: 1em;
		}
	}
}
.capture-product-id {
	left: -999em;
	position: absolute;
}