.js {
	.ui-dialog-content {
		.product-col-1 {
			padding: 13px 0;
			@media screen and (min-width: 768px) {
				width: 39%;
				padding: 13px 1%;
			}
			.product-image {
				max-width: 100%;
			}
		}
		.product-col-2 {
			padding: 20px 0;
			@media screen and (min-width: 768px) {
				width: 58%;
			}
		}
		.pdp-main {
			width: 100%;
			
			#nextprev {
				@media screen and (max-width: 767px) {
			    	display:none;
				}
			}
			.quickview-nav {
			    display: none;
			}
			.product-col-1 {
			    padding: 0;
			    margin: 0;
			    @media screen and (min-width: 768px) {
			    	width: 60%;
			    	float: left;
			    }
			}
			.product-col-1 .product-thumbnails-carousel {
			    position: relative;
			    margin:auto;
			    .jcarousel-next-image{
			    	right:0;
			    	@media screen and (max-width: 767px) {
				    	position: absolute;
	    				top: 46px;
    				}
			    }
			    .jcarousel-prev-image{
			    	z-index: 100;
			    	@media screen and (max-width: 767px) {
			    		left:0;
				    	position: absolute;
	    				top: 46px;
    				}
			    }
			}
			.product-col-2 {
			    margin: 0;
			    @media screen and (min-width: 768px) {
			    	width: 40%;
			    	float: right;
			    }
				.product-name {
				    width: 100%;
				    float: left;
				    font-style: normal;
				    font-weight: 700;
			    font-family: $futura-medium;
				    line-height: 1em;
				    font-size: 1.6em;
				}
				.product-number {
				    color: $nobel;
				    font-size: 14px;
				}
				.product-price {
				    font-size: 0.9em;
				    margin: 0;
				}
				.view-full-details {
				    color: $black;
				    font-size: 0.8em;
				    padding-top: 10px;
				    @media screen and (max-width: 767px){
					    padding-top: 10px;
					    text-align: center;
					    display: block;
					    text-decoration: underline;
					    font-size: 12px;
					    margin: 1em auto;
				    }
				}
				.size-chart-div {
				    float: left;
				    margin-top: 10px;
				}
				.size-chart-div a {
				    color: $nobel !important;
				    text-decoration: underline;
				}
				.availability-block {
				    .availability{
				    	text-align: left;
				    }
				}
				.product-variations {
				    float: left;
				    clear: left;
				    width: 100%;
				    
				    .swatches li a {
				    	margin: 0 0 0 5px;
						position: relative;
						top: 2px;
				    }
				    ul li.attribute {
			    	    &#swatchAttrib {
			    	    	width:100%;
					    	padding-top: 5px;
					    	.label{
				    			display: inline-block;
				    		}
					    	.value{
					    		width:auto;
					    		display: inline-block;
					    	}
					    	ul.swatches li {
					    		&.selected {
								    //border: 1px solid $nobel;
								    float: left;
								}
								&.selected-value {
								    float: left;
								    margin-left:10px;
								}
					    	}
					    }
					    &.select-size {
				    		margin: 10px 0 0;
				    		@media screen and (max-width: 767px){
				    			width:100%;
				    			float:none;
				    		}
				    		select{
				    			width:100%;
				    		}
					    }
				        &.quantity-selection {
				    		margin: 10px 0 0;
				    		width:48%;
				    		float:right;
				    		@media screen and (max-width: 767px){
				    			display:none;
				    		}
				    		select{
				    			width:100%;
				    		}
					    }
					}
				}
				
				.review-actions-container{
					float: none;
					clear: both;
					padding-top:0;
					margin:1em auto;
					@media screen and (min-width: 768px) {
						padding-top:80px;
						float:left;
						margin-top:15px;
						padding-top:0;
					}
				}
				
				.product-add-to-cart {
					margin: 1em auto;
					@media screen and (min-width: 768px) {
				    	float: left;
						margin: 0;
					}
					.product-price {
				    	display: none;
				    }
				    #add-to-cart-container {
				       padding-bottom: 10px;
					    button {
						    @media screen and (max-width: 767px) {
						    	padding: 0.8em 2em;
							    display: block;
							    margin: 0 auto;
							    width: 100%;
							    height: auto;
						    }
					    }
					    .add-wishlist {
					    	@media screen and (max-width: 767px) {
					    		text-align: center;
							    margin: 1em auto;
							    font-size: 14px;
							    display:block;
					    	}
					    }
				    }
				}
				
				.product-add-to-cart button {
					@media screen and (min-width: 768px) {
				    	margin: 80px 130px 0 0;
				    }
				    &:hover {
				    	background: $dim-gray;
				    }
				}
				
				.add-to-wishlist {
				    float: left;
				    clear: left;
				    font-size: 0.8em;
				    margin-top: 5px;
				}
				
				.add-to-wishlist a {
				    color: $nobel;
				}
			}
			.product-set-list {
				border: 1px solid $gainsboro;
				height: 500px;
				overflow: auto;
				.product-set-item {
					margin: 1em 0;
				}
				.product-set-image {
					width: 25%;
				}
				.product-set-details {
					width: 75%;
				}
				.product-name {
					margin: 0;
				}
				.block-add-to-cart .price {
					font-size: 1.5em;
					padding: 0.4em 0 0;
					width: 130px;
				}
			}
		}
		a {
			color: $black;
		}
	}
	#QuickViewDialog.ui-dialog-content {
	    overflow: hidden;
	}
	
	#QuickViewDialog.ui-dialog-content .product-col-2 {
	    padding: 0;
	}
	
	#QuickViewDialog.ui-dialog-content .product-primary-image {
	    margin: auto;
	    width: 280px;
	    padding: 0;
	    @media screen and (min-width: 768px) {
	    	margin:0 15px 0 0;
	    }
	}
	#QuickViewDialog .mybuys {
		display: none;
	}
	.zoomPad {
		position: relative;
		float: left;
		z-index: 99;
		cursor: crosshair;
		width: 100%;
	}
	.zoomPreload {
		-moz-opacity: 0.8;
		opacity: 0.8;
		filter: alpha(opacity = 80);
		color: $night-rider;
		font-size: 12px;
		font-family: $sans-serif;
		text-decoration: none;
		border: 1px solid $very-light-gray;
		background-color: $white;
		padding: 8px;
		text-align: center;
		background-image: url(../images/zoomloader.gif);
		background-repeat: no-repeat;
		background-position: 43px 30px;
		z-index: 110;
		width: 90px;
		height: 43px;
		position: absolute;
		top: 0px;
		left: 0px;
		*width: 100px;
		*height: 49px;
	}
	.zoomPup {
		overflow: hidden;
		background-color: $white;
		-moz-opacity: 0.6;
		opacity: 0.6;
		filter: alpha(opacity = 60);
		z-index: 120;
		position: absolute;
		border: 1px solid $very-light-gray;
		z-index: 101;
		cursor: crosshair;
	}
	.zoomOverlay {
		position: absolute;
		left: 0px;
		top: 0px;
		background: $white;
		z-index: 5000;
		width: 100%;
		height: 100%;
		display: none;
		z-index: 101;
	}
	.zoomWindow {
		position: absolute;
		left: 110%;
		top: 40px;
		background: $white;
		z-index: 6000;
		height: auto;
		z-index: 10000;
		z-index: 110;
	}
	.zoomWrapper {
		position: relative;
		border: 1px solid $nobel;
		z-index: 110;
	}
	.zoomWrapperTitle {
		display: block;
		background: $nobel;
		color: $white;
		height: 18px;
		line-height: 18px;
		width: 100%;
		overflow: hidden;
		text-align: center;
		font-size: 10px;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 120;
		-moz-opacity: 0.6;
		opacity: 0.6;
		filter: alpha(opacity = 60);
	}
	.zoomWrapperImage {
		display: block;
		position: relative;
		overflow: hidden;
		z-index: 110;
		img {
			border: 0px;
			display: block;
			position: absolute;
			z-index: 101;
		}
	}
	.zoomIframe {
		z-index: -1;
		filter: alpha(opacity = 0);
		-moz-opacity: 0.80;
		opacity: 0.80;
		position: absolute;
		display: block;
	}
}
.ui-dialog .ui-dialog-content {
	position:relative;
	border:0;
	padding:1.3em 1em;
	background:none;
	overflow:auto
}
.quickview-nav {
	.quickview-next {
		float: right;
	}
}
//POWER REVIEWS CSS

#reviewssnippet {
	.reviews-header-container {
		width: 100%;
		border: 0;
		display: flex;
		align-items: center;
		justify-content: start;
		.pr-header.no-reviews{
			.pr-snapshot-rating{
				display: block;
				.pr-stars {
				
				}
			}
		}
		.pr-header {
			padding-bottom: 0;
			width: 100%;
			display: block;
			@media (max-width: 1024px) {
				display: block;
			}
			#scroll-down{
				cursor: pointer;
				margin-top: 10px;
			}
			.pr-snapshot-body-wrapper {
				display: block;
				float: left;
				width: 60%;
				.pr-stars {
					background-image: url(../images/gen-pwr-stars-large.png);
					width: 110px;
					height: 100%;
				}
			}
			.pr-snapshot-rating {
				width: 100%;
				display: flex;
				.reviews-total {
					cursor: pointer;
				}
			}
			&.no-reviews {
				#reviews-display-top {
					margin-top: 8px;
					.pr-snippet {
						margin-left: 0;
					}
				}
			}
			#reviews-display-top {
				float: left;
				width: 100%;
				position: relative;
				margin-top: 0px;
				.p-w-r {
					text-align: left;
					margin-left: 0;
					.pr-snippet-read-and-write {
						margin-top: 0;
					}
					@media (max-width: 1024px) {
						text-align: left;
						margin: 0;
					}
					.pr-snippet {
						margin-bottom: 10px;
						margin-left: 5px;
						.pr-snippet-review-count {
							display: none;
						}
					}
				}
			}
		}
	}
}

.lower-reviews {
	#reviews-display {
		position: relative;
		bottom: 0;
		right: 0;
		justify-content: center;
		.p-w-r {
			width: 100%;
			text-align: center;
			.pr-snippet-stars-reco-stars {
				float: none;
			}
			.pr-snippet {
				width: 100%;
				text-align: right;
				@media(max-width: 768px) {
					width: 100%;
					text-align: center;
				}
				.not-yet-rated {
					margin: 1em 0;
					text-align: center;
					color: #1e1e1e;
					font-size: 14px
				}
				.pr-snippet-write-review-link {
					margin: 0 auto;
					padding: 0;
					color: #1e1e1e;
					background: none;
					font-family: helvetica,arial,sans-serif;
					font-weight: 400;
					font-size: 14px;
					text-align: center;
					max-width: none;
					text-decoration: underline;
					position: relative;
					top: 1px;
				}
			}
		}
	}
}
#quickview-write-review {
    margin: 0 auto;
    padding: 0;
    color: #1e1e1e;
    background: none;
    font-family: helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    max-width: none;
    text-decoration: underline;
    position: relative;
    top: 1px;
}
// Bottom section
.reviews-header-container {
border-bottom: 1px dotted #d6d6d6;
text-align: center;
@media (max-width: 768px) {
	padding: 0;
}
h1 {
   font-size: 20px;
   font-weight: 500; 
   letter-spacing: 2px;
   @media (max-width: 768px ) {
	   padding-bottom: 15px;
   }
}
.reviews-stars,
.reviews-total {
	float: left;
}
.reviews-total {
	margin: 0 0 0 30px;
	color:#070707;
	font-weight: 400;
	margin-left: 10px;
	display: flex;
	font-size: 15px;
	font-family: inherit;
	margin-top: 1px;
	cursor: default;
}
.p-w-r {
	text-align: right;
	width: 100%;
	@media (max-width: 768px) {
		text-align: center;
	}
	.pr-snippet-stars-container,
	.pr-snippet-stars-reco-reco {
		display: none !important;
	}
}
.p-w-r .pr-review-display {
	background-color: transparent;
	.pr-rd-no-reviews {
		font-size: 13px;
		font-family: inherit;
		a {
			padding-left: 5px;
		}
	}
	a {
		color:#070707;
		content: "Write a Review";
		font-size: 12px;
		text-decoration: underline;
	}
}
#reviews-display { 
	position: absolute;
	width: 20%;
	bottom: -6px;
	right: -5px;
	display: flex;
	align-items: center;
	height: 100%;
	@media (max-width: 768px) {
		position: relative;
		justify-content: center;
		bottom: 0;
		right: 0;
		padding-top: 7px;
		width: 100%;
	}
}
.pr-header {
	padding-bottom: 20px;
	border-bottom: 0px;
	@media (max-width: 768px) {
		.pr-snapshot-body-wrapper {
			padding-bottom: 0;
		}
	}
	.average-rating {
		display: block;
		margin: 0;
		border: 0;
		margin-left: 10px;
		margin-right: 10px;
		font-size: 15px;
		font-weight: 400;
		color: #000000;
		padding: 0;
		display: flex;
		align-items: center;
		&::after {
			content: '|';
			margin-left: 15px;
			color: $black;
		}
	}

}
}
//BCBG GEN
.product-detail {
#reviewssnippet {
	@media(max-width: 768px) {
		display: block;
	}
}
.reviews-header-container {
	border: 0px;
	.pr-snapshot-body-wrapper {
		justify-content: start;
	}
	#reviews-display-top {
		margin-top: 0px;
		#reviews-display {
			left: 0;
			position: relative;
			width: 100%;
			.p-w-r {
				text-align: left;
			}
			.pr-snippet-write-review-link {
				display: inline;
				color: #000;
				font-size: 14px !important;
				font-weight: normal !important;
				text-decoration: underline;
				font-family: inherit;
			}
		}
	}
	.pr-snapshot-rating {
		display: flex;
	}
}
}
//Form Page
#primary {
.p-w-r .pr-war .pr-header-product-name a {
	font-family: Arial,sans-serif;
	font-size: 14px;
	color: #333;
}
#pr-war-form {
}
.pr-merchant-id-488593 .pr-footer .pr-btn-review {
	font-family: Arial,sans-serif;
	font-size: 12px;
	background: #1e1e1e;
	border-color: #1e1e1e;
	color: #fff;
	&:hover {
		background: #666;
	}
}
}
.pr-merchant-id-488593 .pr-header-title {
	display: none;
}
.pr-merchant-id-488593 #pr-rating .pr-star-v4-0-filled {
background-image: url(../images/star_gen_default.png);
&:hover {
	
}
}
.pr-merchant-id-488593 #pr-rating .pr-star-v4-100-filled {
background-image: url(../images/star_gen_hover.png) !important;
}
// QUICKVIEW
#QuickViewDialog {
#stickypdp #reviewssnippet .reviews-header-container .pr-header .pr-snapshot-rating .reviews-total {
	&:first-of-type {
		display: none;
	}
}
#stickypdp #reviewssnippet .reviews-header-container .pr-header {
	width: 100%;
}
.p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a {
	display: inline;
	color: #000;
	font-size: 14px !important;
	font-weight: normal !important;
	text-decoration: underline;
	font-family: inherit;
}
}