@media screen and (max-width: 767px) {
	div, img {
		max-width: 100%;
	}

	.print-page,
	.tooltip:not(.product-tile),
	#tooltip {
		display: none !important;
	}
	.cart-footer .mybuys .tooltip{
		display: block !important;
	}

	.tooltip {
		font-size: .9em;
	}

	.form-field-tooltip {
		float: none;
		margin: 0 0 10px 5px;
		width: auto;
	}

	.ui-dialog {
		max-width: 98%;

		.ui-dialog-content {
			height: auto !important;
			overflow: visible;
		}
	}

	#wrapper {
		border: 0;
		max-width: 100%;
		min-width: 320px;
		width: 100%;
	}

	#primary {
		background: none;
		border: 0 !important;
		float: none;
		margin: 0;
		padding: 0 !important;
		width: 100% !important;
	}

	#secondary {
		border: 0;
		float: none;
		font-size: 1.1em;
		width: 100% !important;
	}

	.pt_account {
		#secondary {
			display: none;
		}
		.registration, p.details, .privacy-policy {
			width: auto;
		}
		.registration {
			padding: 0 10px;

			h1, p.details {
				margin: 0;
			}

			input[type=password],
			input[type=text],
			textarea {
				width: 100%;
			}

			.form-row-button {
				text-align: center;
				margin-bottom: 20px;
			}
		}
		.primary-content {
			p.welcome {
				margin: 10px;
			}
			h2 {
	  			text-transform: uppercase;
	  			margin: 10px 2% 0;
			}
			.continueshopping {
		  		margin: 20px auto;
			}
			form#dwfrm_orders .order-history-header div {
		  		font-size: 9px;
		  		width: 18%;
		  		margin: 0 1%;
			}
			.checkoutbuttonhome {
  				margin: 0 auto 20px;
			}
			#addresses {
				ul.address-list {
	 				margin: 0 4%;
				}
				.address-create {
	  				margin: 10px auto;
				}
			}
			form#dwfrm_wishlist_shipping .form-row.label-above {
  				width: 96%;
  				margin: 0 2%;
  				
  				label {
  					margin: 2% 0;
  				}
			}
		}
	 	.section-addnew {
	 		padding: 0 10px 10px;
	 	}
	 	#main .primary-content {
			.form-inline {
		 		width: 96%;
		 		margin: 0 2%;
		 		
		 		form,
		 		.form-row,
		 		input,
		 		select {
		 			width: 100%;
		 		}
		 		label {
		 			margin: 2% 0;
		 		}
		 	} 
		 	.list-share {
		 		margin: 10px 2%;
		 		padding: 0;
		 		
		 		#send-to-friend {
  					margin: 0;
  					float: right;
  					width: 142px;
				}
		 	}
	 	}
	 	.ordertrackform {
  			float: none;
  			width: auto;
		}
		.columnone,
		.columntwo {
  			float: none;
  			height: auto;
  			margin: 0;
  			width: auto;
  			
  			.guessbox {
  				width: 48%;
  				height: auto;
  				margin: 0 1% 2% 1%;
				padding: 0;
				
				a {
					width: 100%;
					height: auto;
					min-height: 165px;
					max-width: 186px;
					background-size: 100% auto;
				}
  			}
		}
		span.myguessserviceimage {
  			background: 0 0;
  			color: $white;
  			text-indent: 0;
			width: 100%;
		}
	}

	.col-1,
	.col-2,
	.checkoutlogin .col-1,
	.checkoutlogin .col-2,
	.checkoutlogin .col-3 {
		float: none;
		width: 100%;
		margin: 0;
		border: 0;
		min-height: 0;
	}
	
	.checkoutlogin {
		h1,
		.section-header {
			width: auto;
		}
		.col-1,
		.col-2 {
			padding: 0;
			.login-box-content {
				width: auto;
				padding: 0 10px;
			}
		}
		.col-2 {
			.registration p.details {
				margin-top: 1em;
			}
			.form-row {
				float: none;	
			}
			.form-row.title,
			.form-row.firstname {
				float: none;
				width: 100%;
			}
		}
		.col-3 {
			margin-bottom: 20px;
		}
	}
	
	.pt_checkout {
		.checkout-shipping,
		.checkout-billing {
			fieldset {
				width: auto;
				
	    		.shipping-address-title,
				.shipping-methods-title,
				.billing-title {
		    		width: auto;
		    		text-align: left;
		    		margin: 0;
				}
				.form-row {
					width: 96%;
					margin-left: 2%;
					margin-right: 2%;
					float: none;
					padding: 0;
				}
				.postal,
				.phone,
				.email {
					input {
						width: 100%;
						padding: 0;	
					}
				}
				.billing-note {
					padding: 10px 10px 0;
				}
			}
		}
		#shipping-method-list {
			margin-bottom: 20px;
		}	
		#primary {
			.item-list {
				float: none;
			}
			#borderfree-terms {
				width: auto;
				padding-left: 10px;
				padding-right: 10px;
			}
			.order-summary-footer .submit-order {
				text-align: center;
				
				button {
					margin: 0;
				}
			}
		} 
		.checkout-billing {
			fieldset {
				margin-bottom: 20px;
			}
			.form-row {
				&.month {
					width: 50%;
					margin-bottom: 10px;
				}
				&.year {
					width: 50%;
				}
				select {
					height:  35px;
				}
			}
			.form-field-tooltip {
				display: none;
			}
		}
		#secondary {
			clear: both;
			float: none;
			width: 96% !important;
			padding-top: 15px;
			margin: 0 2%;
			
			h1  {
				display: none;
			}
		}
		.checkout-mini-cart {
			max-height: 100%;
		}
	}
	
	.order-shipping-payment-container {
		float: none;
	}

	.login-box-content {
		padding: 0 10px;

		input[type=password],
		input[type=text],
		textarea {
			width: 100%;
		}
	}

	.pt_store-locator {
		.login-box-content {
			padding: 1em 10px 0;
		}

		.col-1 .login-box h2.section-header {
			width: auto;
		}
		.location-heading {
			margin: 10px;
		}
	}

	.scrollable {
		height: auto;

		li {
			float: left;

			a {
				border: 1px solid #d9d9d9;
				border-radius: 6px;
				display: block;
				padding: .2em .8em;
			}
		}
	}

	#header {
		height: auto;
		padding: 1% 1% 30px;

		.primary-logo {
			float: left;
			position: relative;
			top: auto;
			width: 65%;

			img {
				max-width: 100%;
			}
		}
	}

	.mini-cart-products {
		max-height: 100%;
	}

	.mini-cart-content {
		max-width: 220px;
	}

	.primary-content {
		h1 {
			margin: 0 10px;
			font-size: 2em;
		}
		h2 {
			font-family: SackersGothicW01-Medium;
  			font-size: 1em;
  			text-transform: uppercase;
		}
	} 

	#quickviewbutton {
		display: none !important;
	}

	.search-result-options {
		margin: .5em 0;

		.sort-by {
			margin: 0;

			select {
				width: 120px;
			}
		}

		.items-per-page {
			display: none;
		}

		.pagination {
			margin: 7px 3% 0 0;

            .image-view,
            .toggle-grid,
            .toggle-product-view {
                display: none;
            }
		}
	}
	.pt_product-search-result .breadcrumb {
		float: none;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.refinement h3 {
		font-size: 0.9em;
	}
	.product-tile {
		height: auto !important;
		
		.product-name, .product-pricing {
			text-align: center;
		}
		.overlay-message {
			width: 80%;
			right: 0;
			margin: 0 auto;
		}
	}
	.wide-tiles .product-tile {
		.product-image {
			width: 41%;
		}

		.product-name,
		.product-pricing,
		.product-promo,
		.pr_stars,
		.product-swatches {
			float: right;
		}

		.product-name h2 {
			margin-top: 0px;
		}
	}

	.product-tile .product-swatches .swatch img {
		height: 2em;
		width: 2em;
	}
	.search-result-items {
		.view-product {
			display: none;
		}
	}
	.attribute-sorting-refinements .refinement.Sort-by ul {
		left: auto;
		right: 10px;
	}
	.product-compare,
	.compareitems {
		display: none !important;
	}

	.pt_product-details {
		.primary-content {
			padding-bottom: 68px;
		}
		.breadcrumb {
			height: 23px;
			margin-top: 40px;
			margin-bottom: 20px;
		}
		.breadcrumb .last, 
		#nextprev {
			display: none;
		}
	}

	#product-nav-container {
		/*bottom: 0;*/
		padding-right: 0;
		right: 0;
		top: -74px;
		width: 100%;

		.product-next {
			float: right;
			width: 50px;
		}

		.product-previous {
			margin-left: 10px;
			width: 65px;
		}

		.divided span {
			border: 0;
		}
	}

	.pdp-main {
		.product-col-1,
		.product-col-2 {
			clear: both;
			float: none;
			margin: 0;
			width: 100%;
		}

		.product-primary-image {
			float: none;
			width: auto;
		}

		.product-thumbnails-carousel {
			float: none;
			width: 300px;
			margin: 10px auto 0;

			.product-thumbnails {
				width: auto;
				height: auto;
				margin: 0 auto;

				ul {
					width: 2000em;
					height: auto;

					li {
						float: left;
						width: 100px;
						text-align: center;
					}
				}
			}
		}

		#product-content {
			margin: 10px auto 0;
			width: 90%;
		}

		.promotion .promotion-title {
			font-size: 86%;
		}

		.attribute {
			span.value {
				padding-top: 5px;
			}
		}

		.product-add-to-cart {
			.inventory {
				width: 100%;

				label {
					display: inline-block;
					width: 36%;
				}
			}

			.product-price {
				font-size: 2em;
				padding: 30px 10px;
				text-align: left;
				width: 100%;
			}

		}

		.availability-block {
			float: none;
			margin: 10px 0 0;
			text-align: center;
		}

		.product-tabs {
			padding: 0 10px;
		}

		.product-actions {
			padding-left: 10px;
			padding-right: 10px;
			
			.contactinfo {
				width: 190px;
				left: 120px;
			}
			
			.menu {
			    display: none;
			}
		}
		
		#toolbox {
		    display: block !important;
		    padding: 10px;
		}

		.recommendations {
			margin: 0 10px;
			position: relative;

			.complete-my-look {
				display: none;
			}

			#carousel-recommendations {
				position: static;
				width: 480px;
				margin: 0 auto;

				@media screen and (max-width: 480px) {
					width: 300px;
				}
			}

			li {
				width: 120px;

				@media screen and (max-width: 480px) {
					width: 100px;
				}
			}

			.jcarousel-nav {
				top: 50%;
			}

			.jcarousel-prev {
				left: 20px;

				@media screen and (max-width: 480px) {
					left: 10px;
				}
			}

			.jcarousel-next {
				right: 20px;

				@media screen and (max-width: 480px) {
					right: 10px;
				}
			}
		}
		.mybuys {
			margin: 0 10px;
			position: relative;
		}
		.jcarousel-mb {
			position: static;
			margin: 0 10px;
			width: 480px;
			margin: 0 auto;

			@media screen and (max-width: 480px) {
				width: 300px;
			}
			li {
				width: 120px;

				@media screen and (max-width: 480px) {
					width: 100px;
				}
			}
			.jcarousel-control-prev-mb {
				top: 50%;
				left: 20px;

				@media screen and (max-width: 480px) {
					left: 10px;
				}
			}

			.jcarousel-control-next-mb {
				top: 50%;
				right: 20px;

				@media screen and (max-width: 480px) {
					right: 10px;
				}
			}
		}
	}

	.product-variations {
		select {
			height: 24px;
		}
	}

	.ui-tabs .ui-tabs-nav li {
		display: block;
		font-size: .8em;
		margin: 0;

		a {
			width: auto;
		}
	}

	.pdp-main {
		.product-set-list {
			.product-set-image img {
				max-width: 90%;
			}

			.block-add-to-cart {
				.inventory {
					margin: 0;
					width: 23%;
				}

				.product-price {
					font-size: 1em;
					width: 44%;
				}

				button {
					font-size: .7em;
				}
			}
		}

		.product-review-links {
			margin-left: 6%;
		}

		.prSnippetTitle,
		.prSnippetRatingUnclickable {
			float: left;
		}
	}

	.sizinginformation {
		padding: 0;

		th {
			font-weight: normal;
			padding: 0 0 0 2px;
		}

		td {
			background: #ffffff;
			padding: 5px;
			text-align: center;
		}

		.sizechart {
			padding: 0 !important;
		}
	}

	.ui-dialog .ui-dialog-content {
		padding: .25em;
	}

	.pdp-main .product-col-1 {
		margin-left: 0;
	}

	.checkout-progress-indicator {
		clear: both;
		font-size: .8em;
		position: relative;
		overflow: hidden;
		text-align: left;
		top: auto;
		width: 100%;
		height: 17px;
		margin: 10px 0;
		
		ul {
			margin: 0;
		}
	}

	.order-summary-footer h2 {
		width: 50%;
	}

	.place-order-totals .order-totals-table {
		width: 100%;
	}

	.payment-method-options {
		padding: 0;

		.form-row {
			width: 100%;

			label {
				float: left;
				margin: 0;
				padding: 0 0 0 1em;
				width: 150px;
			}

			.input-radio {
				margin: 0;
			}
		}
	}
	
	.cart-empty {
		float: none;
		margin-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.pt_order-confirmation {
		.item-list {
			th {
				display: none;
			}

			td {
				float: left;
				padding: 1em 0;
				width: 98%;
			}

			.order-totals-table td {
				float: left;
				width: 48%;
			}
		}

		.order-shipment-table {
			th {
				display: none;
			}

			td {
				font-size: 0.9em;
				box-sizing: border-box;
				float: left;
			}

			.line-item-details {
				width: 70%;
			}

			.line-item-quantity {
				width: 10%;
			}

			.line-item-price {
				width: 20%;
			}

			.order-shipment-details {
				border: none;
				width: 100%;
			}

			.shipping-method {
				padding-left: 0;
			}
		}
		.place-order-totals {
			margin-bottom: 20px;
		}
		#main {
			h1,
			h2,
			.confirmation-order-no,
			.confirmation-message {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		#secondary {
			clear: both;
			float: none;
			width: 96% !important;
			padding-top: 15px;
			padding-bottom: 50px;
			margin: 0 2%;
		}
	}
	
	.accountsubhead {
		padding: 0 10px;
	}
	.content-asset ul.account-options {
		width: auto;
		
		li {
			width: 48%;
			margin: 0 2% 2% 0;
			border: 0;
			padding: 0;
			
			a, .tfc-fitrec-account {
				width: 100%;
				height: auto;
				min-height: 145px;
				max-width: 186px;
				background-position: left bottom;
				background-size: 100% auto;
  				background-repeat: no-repeat;
  				padding: 0;
			}
		}
	}
	
	.payment-list {
		padding: 0 10px;
	}
	
	.address-list li,
	.payment-list li {
		float: none;
		width: auto;
	}

	.order-history-header button {
		font-size: 1em;
		padding: .25em;
	}

	.gift-certificate-purchase {
		.content-asset, form {
			float: none;
			width: 90%;
		}

		.cert-amount .form-caption {
			width: 80%;
		}
	}

	.page-content-tab-navigaton button {
		width: 100%;
	}

	.pt_gift-registry {
		.add-gift-cert {
			p {
				width: 100%;
			}
		}

		.create-new-registry {
			p {
				display: none;
			}

			overflow: hidden;
		}

		.item-list {
			width: 98%;

			th {
				display: none;
			}
		}
	}

	.order-shipment-table .section-header {
		font-size: .9em !important;
		padding: .3em;
	}

	table.item-list .section-header,
	.order-shipment-table .section-header {
		background-image: none;
	}

	table.item-list {
		.item-image,
		.item-details,
		.item-availability,
		.item-dashboard {
			display: inline-block;
		}

		.item-image {
			width: 30%;
		}

		.item-details {
			width: 50%;
		}

		.item-availability,
		.item-dashboard {
			width: 97%;
		}

		.delete-registry {
			text-align: center;
		}
	}

	.list-table-header {
		padding: 1em !important;

		.button {
			display: block;
			margin: 20px 0;
			width: 196px;
		}

		p {
			display: none;
		}

		button {
			display: block;
			width: 260px;
		}
	}

	.top-banner .header-search {
		background: none;

		input[type=text] {
			width: 100%;
			background: $very-light-gray;
		}
	}

	.home-bottom-right {
		.product-tile {
			min-height: 0;
		}
	}
	
	.home-bottom {
		padding: 0;
	}

	.header-banner-mobile {
		margin: 10px 0;
	}

	.product-tile .product-image {
		height: auto;
	}

	#email-alert-signup {
		margin: 0;
		width: 100%;

		label {
			text-align: center;
			width: 100%;
		}

		input [type="text"] {
			float: none;
			margin: 0;
			width: 50%;
		}

		input[type="image"] {
			float: none;
			vertical-align: bottom;
		}
	}

	.facebook-registration {
		left: -3px;
		position: relative;
		width: 100.7% !important;

		.fb_iframe_widget {
			position: relative;
			width: 100.7% !important;

			span {
				position: relative;
				width: 100.7% !important;

				iframe {
					position: relative;
					width: 100.7% !important;
				}
			}
		}
	}

	#homepage-slides img {
		max-width: 100%;
	}

	.home-middle-left,
	.home-middle-right {
		float: none;
		text-align: center;
	}

	.home-middle-right {
		margin-top: 10px;
	}

	.mobile-show {
		display: block;

		.pt_store-locator .location-heading {
			margin: 5px 10px;
		}
	}

	.mobile-hide {
		display: none;
	}

	.orderhistorydetail {
		th,
		.order-information {
			display: none;
		}
	 	table.item-list {
  			border: 0;
  			
  			> tbody > tr > td {
  				display: block; 
  			}
		}
	}
	.order-detail-options {
		padding: 0 10px;
		
		li.continue-shopping {
			clear: both;
		}
	}
	.pt_content {
		.primary-content {
			.content-asset {
				padding: 0 10px;
			}
			.guest_services_content {
				.togglebox {
					width: auto;
					margin: 0;
				}
			}
		}
		#secondary {
			margin-top: 30px;
		}
		.columnone {
  			float: none;
  			height: auto;
  			margin: 0;
			width: auto;
			
			.guessbox {
				float: none;
			  	height: auto;
			  	margin: 0 auto 10px;
			  	width: 80%;
			}
		}
	}
	.onlinePurchaseContact,
	.inStorePurchaseContact {
		float: none;
	    width: auto;
	    padding: 0 10px;
	    
	    p {
	    	width: auto;
	    }
	    .form-row,
	    p,
	   	input,
	    select,
	    textarea {
	   	 	width: 100%;
	    }
		.contactUsButton {
		  	margin-right: 0;	
		}
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.product-tile .pr_stars {
		left: 40px;
	}

	.wide-tiles .product-tile {
		.product-name h2 {
			margin-top: 10px;
		}

		.product-image {
			width: 38%;
		}
	}

	.facebook-registration {
		left: 0px;
		position: relative;
		width: 100% !important;

		.fb_iframe_widget {
			position: relative;
			width: 100% !important;

			span {
				position: relative;
				width: 100% !important;

				iframe {
					position: relative;
					width: 100% !important;
				}
			}
		}
	}

	#preferred-store-panel input[type="text"] {
		width: 49.5966%;
	}
	.pt_content-search-result {
		.folder-content-list {
			li {
				float: none;
				width: 100%;
				clear: both;
			}
		}
		.pagination {
			clear: both;
			float: none;

			.results-hits {
				float: none;
			}
		}
	}

	.home-bottom-left, .home-bottom-center, .home-bottom-right {
		width: 33%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
// 	#wrapper {
// 		width: 722px; 
// 	}
	#secondary {
		width: 134px;
	}
	.primary-content,
	.pt_content .primary-content {
		width: 588px;
	}
	.page-content .primary-content {
		width: 574px;
	}
	.primary-focus {
		.primary-content {
			width: 540px;
		}
		#secondary {
			width: 190px;
		}
	}
	.html-slot-container img,
	.bottom-banner-cell img {
		max-width: 100%;
	}
	.ui-dialog {
		max-width: 98%;
		.ui-dialog-content {
			height: auto !important;
			overflow: visible;
		}
	}
	.scrollable {
		height: auto;
	}
	.mini-cart-total-label {
		display: none;
	}
	.mini-cart-products {
		max-height: 100%;
	}
	.pdp-main {
		.product-col-1 {
			width: 50%;
			margin-left: 20px;
			
			.product-primary-image {
				width: 265px;
				padding: 15px 18px 0 0;
			}
		}
		.product-thumbnails-carousel {
			margin-right: 15px;
		}
		.recommendations {
			margin-left: 40px;
			.jcarousel-clip {
				width: 200px;
			}
			#carousel-recommendations {
				width: 300px;
				padding: 0 5px;
			}
			.complete-my-look {
	  			margin-left: 183px;
			}
		}
		.mybuys {
			margin-left: 40px;
		}
		.jcarousel-mb {
			width: 300px;
			padding: 0 5px;
		}
		.product-set-list .block-add-to-cart button {
			font-size: .9em;
			margin-top: 3px;
		}
		.product-actions .contactinfo {
			width: 205px;
		}
	}
	table .section-header {
		font-size: 1em !important;
	}
	#compare-table td .product-tile {
		width: 79px;
	}
	.pt_gift-registry .add-gift-cert p {
		width: auto;
	}
	#cart-table {
		.item-user-actions {
			width: 72px;
		}
		.item-total .promo-adjustment {
			width: 77px;
		}
	}
	.home-bottom-right .product-tile {
		min-height: 0;
	}
	.home-bottom {
		padding: 1em;
	}
	#email-alert-signup {
		margin: 0;
		width: 100%;
		label {
			float: none;
			display: block;
			text-align: center;
			width: 100%;
		}
		input[type="text"] {
			width: 73%;
		}
	}
	.facebook-registration {
		left: 0px;
		position: relative;
		width: 100% !important;
		.fb_iframe_widget {
			position: relative;
			width: 100% !important;
			span {
				position: relative;
				width: 100% !important;
				iframe {
					position: relative;
					width: 100% !important;
				}
			}
		}
	}
	.mini-cart-item-word{
		span{
			display:none;
		}
	}
	.top-banner {
		position: relative;
		
		.header-search {
			margin-bottom: 10px;
		}
	}
	nav.navigation {
		position: static;
	}
	.home-middle-left {
		width: 66.5%;
	}
	.home-middle-right {
		width: 33%;
	}
	#cart-table {
		.item-image img {
			max-width: 100%;
		}
		.item-details,
		.size,
		.item-packaging,
		.primary-focus & .item-total {
			width: auto;
		}
	}
	.pt_account {
		.accountsubhead li {
			width: 32%;
		}
		.columnone,
		.columntwo {
			.guessbox {
				width: 170px;
			}
		}
	}
	.pt_content {
		.primary-content {
			.columnone {
				margin-left: 130px;
			}
			.guest_services_content {
				.togglebox {
					width: auto;
					margin: 0;
				}
			}
			.size-chart-wrapper {
				img {
					max-width: 100%;
				}
			}
		}
	}
	.onlinePurchaseContact,
	.inStorePurchaseContact {
	    width: 285px;
	    
	    p {
	    	width: 80%;
	    }
		.contactUsButton {
		  	margin-right: 80px;	
		}
	}
	.pt_product-search-noresult {
	    .page-content {
	        .primary-content {
	            width: 100%;
	        }
		}
	}
}

@media screen and (max-width: 480px) {
	#wrapper.pt_gift-registry {
		font-size: 12px;
	}
	#preferred-store-panel input[type="text"] {
		width: 49.5966%;
	}

	.pt_content-search-result {
		.folder-content-list {
			li {
				float: none;
				width: 100%;
				clear: both;
			}
		}

		.pagination {
			clear: both;
			float: none;

			.results-hits {
				float: none;
			}
		}
	}

	#store-location-results th.section-header span {
		font-size: 0.8em;
	}

	.pdp-main {
		.recommendations {
			#carousel-recommendations {
				width: 300px;
			}
			li {
				width: 100px;
			}
			.jcarousel-nav {
				top: 50%;
			}
			.jcarousel-prev {
				left: 10px;
			}
			.jcarousel-next {
				right: 10px;
			}
		}
		.recommendations,
		.mybuys {
			padding: 10px 0;
		}
	}

	.home-bottom-slots {
		display: none;
	}
	.grid-tile .product-details {
		background: $very-light-gray;
		color: $black;
		font-family: SackersGothicW01-Medium;
		text-transform: uppercase;
		padding: 5px 10px;
	}
}
