.pt_product-search-result {
	.primary-content{
		margin-top:-41px;
	}
	.primary-content h1.content-header {
		padding-left: 15px;
	}
	.breadcrumb {
		position:relative;
		z-index: 5;
	}
	.did-you-mean{
		display: none;
	}
	.top-resultstext {
	    font-size: 1.3em;
	    color: $black;
	    text-transform: uppercase;
	    display: none;
	}
}

.category-main-banner img {
	max-width: 100%;
}

.no-hits-search-term,
.no-hits-search-term-suggest {
	color: $sangria;
	font-style: italic;
}

.no-hits-footer {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	margin: 20px 0;
	padding: 20px 0;
}

.search-result-bookmarks {
	margin: 15px;
	.first {
		border-right: 1px solid $nobel;
		padding-right: 5px;
	}
}

.search-result-options {
	margin: 15px 0 15px;
	width: 100%;
	
	h4 {
		text-transform: uppercase;
		font-size: 12px;
        font-weight: 300;
		font-family: $sans-serif;
		float: left;
		margin: 4px 0 4px 5%;

        @media screen and (min-width: 768px) {
            margin: 0;
        }
	}
}

.sort-by,
.items-per-page {
	float: right;
	
	label {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		display: inline-block;
	}
	select {
		font-size: 0.9em;
		margin: -3px 0 0;
		padding: 0;
		width: 50px;
	}
	button {
		background: none repeat scroll 0 0 $very-light-gray;
		border: 0 none;
		color: $night-rider;
		font-size: 0.9em;
		padding: 0.3em;
		width: auto;
	}
}

.pagination {
	float: right;
    margin: 3px 0 0 0;
	z-index:6;
	position:relative;
	.results-hits {
		color: $black;
		font-family: $futura-medium;
		float: left;
	}

	ul {
		float: right;
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		float: left;
		list-style: none;
		padding: 0 0.5em;
	}
	.view-all {
		display: none;
	}
	.image-view {
  		float: left;
  		margin: 0 10px 0 0;
  		text-transform: uppercase;
	}
	.toggle-grid a {
	  	display: block;
	  	float: left;
	  	margin: 0;
	  	padding: 0;
	  	width: 14px;
	  	height: 13px;
	  	outline: 0;
	  	
	  	&.two-grid {
  			background: url('../images/imgviewer.png') no-repeat;
	  	}
	  	&.three-grid {
  			background: url('../images/imgviewer.png') -15px 0 no-repeat;
	  	}
	  	&.four-grid {
  			background: url('../images/imgviewer.png') -30px 0 no-repeat;
	  	}
	}
	&.active-two-grid .toggle-grid a.two-grid {
		background: url('../images/imgviewer-click.png') no-repeat;
	}
	&.active-three-grid .toggle-grid a.three-grid {
		background: url('../images/imgviewer-click.png') -15px 0 no-repeat;
	}
	&.active-four-grid .toggle-grid a.four-grid {
		background: url('../images/imgviewer-click.png') -30px 0 no-repeat;
	}
	.toggle-product-view {
	    float: left;
	    margin-right: 20px;

	    // This is hidden in a BM custom preference as well!
	    display: none;

	}
	.toggle-product-view a {
	    text-transform: uppercase;
	    color: $nobel;
	}
	
	.toggle-product-view a:hover {
	    color: $dim-gray;
	    text-decoration: underline;
	}
	
	.toggle-product-view a.active {
	    color: $dim-gray;
	    font-weight: 700;
	}
}

.mini-pagination {
	float: left;
	margin-right: 15px;
	
	.pagination-text {
		display: block;
		float: left;
		text-transform: uppercase;
	}

	left: 0;
			
	.pagination-arrow a {
		font-size: 0;
		position:relative;
		display: block;
		width: 10px;
		float: left;
		&.page-previous {
			&:before { 
	            font-family: FontAwesome;
	            font-size: 13px;
	            display: inline-block;
	            color:#000;
	            width:10px;
	            content:"\f104";
	            line-height: 16px;
	        }
		}
		&.page-next {
			&:before { 
	            font-family: FontAwesome;
	            font-size: 13px;
	            display: inline-block;
	            color:#000;
	            content:"\f105";
	            width:10px;
	            text-align: right;
	            line-height: 16px;
	        }
		}
	}
}

.search-result-items {
	margin: 0;
	padding: 0;
	li {
		list-style: none outside none;
	}
	.invisible {
		display: none;
	}
	.grid-tile{
		float: left;
		margin-bottom: 25px;
	}
}
@media screen and (min-width: 768px){
	.two-grid-tile{
		.grid-tile{
			width:40.58%;
			margin-left:18.84%;
			&:nth-child(2n+1){
				clear:both;
				margin-left:0;
			}
		}
	}
	.three-grid-tile{
		.grid-tile{
			width:30%;
			margin-left:5%;
			&:nth-child(3n+1){
				clear:both;
				margin-left:0;
			}
		}
	}
	.four-grid-tile{
		.grid-tile{
			width:22%;
			margin-left:4%;
			&:nth-child(4n+1){
				clear:both;
				margin-left:0;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.grid-tile {
		width: 47%;
		&:nth-child(odd) {
			clear: both;
		}
		&:nth-child(even) {
			float: right;
		}
	}
}

.search-promo {
	padding: 20px;
}

#results-content {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	padding-top: 30px;
}

.folder-content-list {
	margin: 0;
	overflow: hidden;
	padding: 0 20px;
	li {
		float: left;
		list-style: none outside none;
		margin: 0;
		padding: 2% 2% 2% 0;
		width: 48%;
	}
	.content-title {
		display: block;
	}
}

.no-results {
	padding: 20px;
}

.toggle-grid {
	display: block;
	float: left;
	margin: 1px 10px 0 0;
	i {
		cursor: pointer;
		margin-right: 0.3em;
	}
	[data-option="column"] {
		color: $citrus;
	}
	&.wide {
		[data-option="wide"] {
			color: $citrus;
		}
		[data-option="column"] {
			color: $dim-gray;
		}
	}
}

.wide-tiles {
	.search-result-items .grid-tile {
		width: 91%;
	}
	.product-tile {
		.product-swatches {
			bottom: auto;
			left: auto;
			position: relative;
			right: auto;
			margin-top: 5px;
			li {
				float: left;
			}
		}
	}
}

.pt_product-search-noresult {
   #secondary {
		display : none;
	}

    .no-hits-help {
        ul {
            width: 34%;
            padding: 0 18px;
            margin-bottom: 80px;
            clear: left;
            float: left;
            span {
                font-family: $sackers-light;
                font-size: 0.873em;
                color: $white;
                background: $black;
                padding: 5px;
                text-transform: uppercase;
                margin-bottom: 10px;
                float: left;
            }
            li {
                list-style: disc;
                list-style-position: outside;
                margin-left: 15px;
                float: left;
                display: list-item;
                width: 100%;
            }
        }
    }
	.no-hits-message1{
		font-family: "Futura LT W01 Medium", sans-serif;
		font-size: 29px;
		color: #000;
		letter-spacing: 1.5px;
		font-weight: 100;
		text-align: center;
		@media screen and (max-width: 767px){
			font-size: 20px;
			margin-top: 50px;
		}
	}
	.no-hits-message2{
		 font-size: 18px;
		 color: $nobel;
		 margin:20px 0 50px 0;
		 font-weight: 100;
		 letter-spacing: 1.3px;
		 @media screen and (max-width: 767px){
			font-size: 14px;
			margin-bottom: 30px;
		}
	}
	.no-hits-message3{
		text-transform: capitalize;
		font-weight: bold;
		font-size: 16px;
		font-family: $futura-medium;
		letter-spacing: 2px;
		@media screen and (max-width: 767px){
			width: 100%;
			font-size: 14px;
			display: block;
			margin-bottom: 20px;
		}
	}
	
	.container {
			text-align: center;
			width: 100%;
			float: none;
	}
	.mybuys {
		clear: both;
		@media screen and (max-width: 767px) { 
			text-align: center;
			margin-top: 20px;
		}
		.recommendationText {
			margin-bottom: 26px;
			font-family: $futura-medium;
			font-size: 2.15em;
			letter-spacing: 1.5px;
			font-weight: 100;
			border-top: 1px solid #d6d6d6;
			padding-top: 36px;
			margin-top: 36px;
			text-align: center;
			@media screen and (max-width: 767px) { 
				text-align: center;
			}
			
		}
		
		.recommendations {
			@media screen and (max-width: 767px){
				width: 85%;
				margin: 0 auto;
				
				div{
					max-width: initial!important;
				}

				.recommendations-item{
					margin: 0 10px;
				}
			}
			.slick-arrow{
				font-size: 50px;
				position: absolute;
				top: 50%;
				transform: translateY(-85%);
				&.slick-prev{
					left: -20px;
				}
				&.slick-next{
					right: -20px;
				}
			}
		}
		
		.product-tile {
			@media screen and (max-width: 767px){
				padding: 0;
			}
			.product-image {
				img {
					display: block;
					position: static;
					margin: auto;
				}
			}
		}
	}
	.no-hits-menu {
    	list-style: outside none none;
    	color: $black;
    	padding-top:10px;
    	a {
			border-bottom: 2px solid $nobel;
			color : $nobel;
			font-size: 18px;
			font-family: $sans-serif;

			@media screen and (max-width: 767px){
				font-size: 14px;
			}

			&:hover { 
    			color:$grey;
    			border-color:$grey;
			}
		}
		ul{
			display: inline;
			padding: 10px;
			
		}
		
		@media screen and (max-width: 767px){
			ul{
				display: inline-block;
				padding: 0;
				margin: 15px 0;
				width: 49%;
				text-align: center;
			}
			
		}
}
}
