#search-suggestions {
    display: none;
}

.search-suggestion-wrapper {
	@extend %clearfix;
	background-color: $white;
    text-align: left;
    z-index: 3;
    width: 100%;
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        padding: 1.15em 1.3em;
        height: 400px;
        overflow-y: scroll;
        width: auto;
    }
    @media screen and (min-width: 768px) {
        position: absolute;
        margin-top: 5px;
        right: 0;
        width: auto;
        border: 1px solid $gray;
    }

    &:not(.full) {
        margin-left: -12%;
    }

    &.full {
        @media screen and (min-width: 768px) {
            display: flex;
            max-width: 749px;
            padding: 30px 29px;
            width: 80vw;
        }

        h4 {
            color: $nobel;
            font-size: 13px;
            font-family: $sans-serif-medium;
            font-weight: normal;
            letter-spacing: .9px;
            margin: 0;
            padding: 0;

            &.md-up {
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }

        .phrase-suggestions {
            @media screen and (min-width: 768px) {
                float: right;
                margin-left: 1.65em;
                height: 100%;
                width: 100%;
            }
        }

        .product-suggestions {
            margin-top: 1.25em;

            @media screen and (min-width: 768px) {
                border-right: 1px solid $gray;
                height: 100%;
                margin-top: 0;
                margin-right: .5em;
                padding-right: 1rem;
                min-width: 580px;
            }

            .product-link {
                display: flex;
                @media screen and (max-width: 767px) {
                    align-items: center;
                }
                @media screen and (min-width: 768px) {
                    flex-direction: column;
                }
            }
        }
    }

    .d-flex-md-down-col {
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    .product-group {
        @media screen and (max-width: 767px) {
            order: 2;
        }
    }

	.hitgroup {
        margin: 1.6em 0 0 0;
        @media screen and (max-width: 767px) {
            margin-top: 1.6em;
        }

		.hit {
			font-family: $sans-serif-medium;
            color: $gray;
            display: block;
            font-size: 11px;
            line-height: 1.2em;
            margin-bottom: 2em;

            @media screen and (max-width: 767px) {
                margin-bottom: 2em;
            }

			&:hover {
				text-decoration: underline;
            }

            &.underline {
                text-decoration: underline;
            }
		}
		.parent-category {
			color: $nobel;
		}
    }

    .view-all-link .d-flex {
        @media screen and (min-width: 768px) {
            justify-content: flex-end;
        }
    }

    hr {
        color: $nobel;
    }
}

.view-all-link {
    color: $nobel;
    font-size: 11px;
    font-family: $sans-serif-heavy;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: auto;
    margin-right: 1em;
    padding-top: 1em;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: right;

    @media screen and (max-width: 767px) {
        padding-top: 15px;
    }
}

.phrase-suggestions {
    letter-spacing: 1px;
    @media screen and (max-width: 767px) {
        order: 1;
        border-bottom: 1px solid $nobel;
    }

    @media screen and (min-width: 768px) {
        min-width: 120px;
    }
}

.product-suggestion {
	@extend %clearfix;
	border: 1px solid $white;
    display: inline-block;
    margin-right: .5em;

    @media screen and (max-width: 767px) {
        margin-right: 0;
        margin-bottom: .8em;
    }

	.product-image {

        display: flex;
        align-items: center;
        justify-content: center;
		
        @media screen and (max-width: 767px) {
            width: 25%;
        }
        @media screen and (min-width: 768px) {
            max-width: 180px;
            min-height: 240px;
            min-width: 166px;
        }

		img {
            max-width: 100%;
            width: 100%;
		}
    }

	.product-details {
        display: flex;
            flex-direction: column;
        font-family: $futura-medium;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.9px;
        padding-top: .5em;
        max-width: 180px;

        @media screen and (max-width: 767px) {
            margin-left: 1.8em;
            padding: 0;
            width: 70%;
        }

        .product-name {
            
            color: $nobel;
            
            
            text-align: left;
            
            &:hover {
                text-decoration: underline;
            }
        }

		.product-price {
            color: $nobel;
            margin-bottom: auto;
		}
	}
}


@media screen and (min-width: 767px) and (max-width: 1024px) {
    div.search-suggestion-wrapper.full {
        width: 69vw;

        .product-suggestion .product-image {
            width: 100%;
            min-width: auto;
            min-height: auto;
        }
           
        .product-group {
	        width: 75%;
	        .product-suggestions {
			    width: 100%;
				.product-suggestion {
				    width: 29%;
				}
			}
	    }
    }
}

@media all and  (min-width: 1025px)  and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	div.search-suggestion-wrapper.full {
		min-height: 40vh;
	}
}


.search-suggestion-wrapper div.hitgroup {
	width: 100%;
	height: auto;
}

	
	