#secondary {
    a {
        color: $black;
    }

    #category-level-1 {
        li {
            color: $black;
            display: block;
            margin-bottom:5px;
            .refinement-link {
                background: none repeat scroll 0 0 transparent;
                padding: 0;
                font-family: $futura-medium;
                font-size: 12px;
                border-bottom:2px solid #fff;
                &.active,
                &:hover{
                    border-color:#000;
                }
            }
            &.expandable {
                .active {
                    font-weight: bold;
                    padding: 0 0 0 .2em;
                }
            }
        }
    }

    #category-level-2 {
        a {
            &.active {
                color: $night-rider;
                font-weight: 700;
            }
            &.refinement-link {
                margin: 0 0 0 .4em;
                padding: 0;
            }
        }
    }
    #category-level-2 {
        padding: .5em .1em 0 .7em;
    }
    #category-level-3 {
        padding: .3em 0 0;
		margin-left: 10px;
        a {
            &.refinement-link {
                font-style: normal;
                margin: 0 0 0 .9em;
                padding: 0;
            }
            &.active {}
        }
    }

    .refinement:not(.category-refinement) ul {
        display: none;
    }
    .category-refinement{
        margin-bottom:40px;
    }
    .refinement {
        position: relative;

        h3 {
            font-family: $sans-serif-heavy;
            font-size: 12px;
            text-transform: uppercase;
            cursor: pointer;
            &:before{
                display: inline-block;
                content:"+";
                width:10px;
            }

            &.expanded{
                &:before{
                    content:"-";
                }
            }
        }
        ul {
            list-style: none outside none;
            margin: 0;
            padding: 0;
            
            li {

                i {
                    color: $gainsboro;
                }
                &.selected {
                    i {
                        color: $rain-forest;
                    }
                }
            }
            &.swatches {
                li {
                    a {
                        border: 1px solid #000;
                        display: block;
                        padding: 0.2em 0.8em;
                        width: 7px;
                        height: 6px;
                        text-indent: -999px;
                        float: left;
                        padding: 0;
                    }
                    .swatchvalue {
                        text-transform: none;
                        position: relative;
                        top: -2px;
                        padding: 0 0 0 5px;
                        font-size: 12px;
                    }
                }
                li.selected {
                    a {
                        background: #000;
                    }
                }
            }

        }
        .clear-refinement {
            font-size: 9px;
            margin: 6px 0;
            text-transform: uppercase;
        }
        .refinement-link {
            border: 0 none;
        }
        .selected .refinement-link {
            background-position: left bottom;
        }
        .refinement-top-level {
            padding: 1em;
        }

        &.Sort-by ul.swatches li .swatchvalue {
            font-size: 11px;
        }
    }

    .scrollable {
        height: 10em;
        overflow: auto;
    }

    .nav {
        ul {
            border: 0 none;
            list-style: none outside none;
            margin: .58em 0;
            padding: 0;
            li {
                list-style: none outside none !important;
                margin: 0 0 .58em !important;
                white-space: nowrap;
            }
        }
        .expanded {
            background-position: left -96px;
        }
    }
}

