div[name="sr_productDetailDiv"] {
    text-align: center;

    width: 100%;
    padding: 0 5%;

    box-sizing: border-box;

    @media screen and (min-width: 768px) {
        padding: 0;
        text-align: left;
    }
}

.pdp-main .product-tabs {
    margin-top: 75px;
}

#srd_cpg {
    padding: 10px 0;
}

#QuickViewDialog,
.mini-cart-products {
    #srd_cpg {
        float: left;
        width: 100%;
    }    
}

.mini-cart-products {
    #srd_cpg {
        padding-left: 10px;
    }
}

#srd_so {
    padding: 20px 0 0 0;
}

#srd_h {
    padding: 0 0 20px 0;
}

#srd_pd {
    padding: 20px 0;
    display: inline-block;

    .srd_iconline {
        display: inline-block;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    .srd_logo {
        display: inline-block;
        float: none;
        padding: 0;
        vertical-align: text-bottom;
    }

    .srd_msg {
        display: inline-block;
        vertical-align: text-bottom;

        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    .srd_a_wrap {
        display: inline-block;
    }
}


.cart-action-menu {
    padding: 12px 0;
}
