.store-locator-header {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	font-size: 1.75em;
	font-style: italic;
	font-weight: 400;
	margin: 20px 0 0;
	padding: 20px 0;
}

.storename {
	font-family: $sans-serif-medium;	
}
.store-name {
	margin: 0 0 10px;
}

.store-locator-details {
	float: left;
	width: 44%;
	img {
		max-width: 100%;
	}
	h1, p {
		margin: 0.25em 0;
	}
}

.store-locator-details-map {
	float: right;
	width: 50%;
	img {
		max-width: 100%;
	}
}

.pt_store-locator {
	.location-heading {
		margin: -10px 0 14px;
	}
	.col-1 {
		border-color: $gainsboro;
	}
	.col-1 .login-box h2.section-header {
		width: 80%;
	}
	h2.section-header .required-indicator {
		display: none;		
	}
	.login-box-content {
		padding: 1em 0 0;
	}
	.login-box {
		input[type=password],
		input[type=text], 
		textarea {
			width: 70%;
		}
		select {
			width: 50%;
		}
	}
	.login-box button {
		display: block;
		font: bold .8em Arial, sans-serif;
		color: $dim-gray;
		text-transform: uppercase;
		background: $white-smoke;
		border: 1px solid $dark-gray;
		text-shadow: 1px 1px 1px $white;
		transition:all .2s ease-in;
		background-image:-webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#DEDEDE));
		background-image:-moz-linear-gradient(top center, #F0F0F0, #DEDEDE);
		background-image:-o-linear-gradient(top, #F0F0F0, #DEDEDE);
		border-radius: 4px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
		padding: 0.4em 1.6em;
	}
	.back-storelocator {
	  	background: url('../images/backto_storelocator.gif') no-repeat 0 4px transparent;
	  	padding: 0 0 0 8px;
	  	font-family: $sans-serif-medium;
	  	font-size: 0.8em;
	  	text-transform: uppercase;
	  	margin: 2em 0 0;
	  	display: block;
  		color: $black;
	}
	#storeresults a:not(.back-storelocator) {
		color: $nobel;
	}
	#store-location-results {
		th.section-header span {
			background: $black;
		  	color: $white;
		  	font-family: $sans-serif-medium;
		  	font-weight: 400;
		  	padding: 5px 8px;
		}
		tr.results-headings {
			border-bottom: 0;
		}
	}
	#intStores .form-row-button, 
	#usCaStateStores .form-row-button, 
	#usCaZipStores .form-row-button {
		position: relative;
		
		.loader-indicator {
			display: none;
			top: -5px;
			left: 80px;
		}
	}
	.store-locator-no-results p {
		color: $magenta;
		font-size: 1.1em;
	}
	strong {
		font-weight: 400;
	}
  
  .primary-content {
    width: 100% !important;
  }
  .nav {
    display: none !important;
  }


//-- new store locator begin --//
  #storelocator_container {
    border: 1px solid #E0E0E0;
    height: 650px;
    width: 100%;
  }
  
  #map_canvas {
    width: 100%;
    height: 100%;
    left: 0px;
  }
  #listing {
    position: absolute;
    width: 200px;
    max-height: 550px;
    overflow: auto;
    right: 10px;
    top: 90px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #888888;
    padding: 0;
  }
  #controls {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 400px;
    height: 60px;
    padding: 5px;
    font-size: 12px;
  }
  .placeIcon {
    width: 16px;
    height: 16px;
    margin: 2px;
  }
  .noresult {
    height: 500px;
    text-align: center;
  }
  #resultsTable {
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
  }
  #locationField {
    width: 60%;
    height: 22px;
    top: 87px;
    left: 100px;
    position: absolute;
    z-index: 1;
  }
  #autocomplete {
    width: 80%;
  }
  
  #storelocator_container #resultsTable td {
    padding: 5px;
    vertical-align: top;
  }
    
  #locationField input {
    padding: 10px;
    box-shadow: 2px 2px 2px #cacaca;
    border: 0;
  }
  #locationField input[type='submit'] {
      border: 1px solid #cacaca;
      color: #000;
      text-transform: uppercase;
      font-size: 11px;
  }
  #locationField input[type='submit']:hover {
      color: #fefefe;
      cursor: pointer;
  }
  
  
  #locationField input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #000;
  }
  #locationField input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #000;
     opacity:  1;
  }
  #locationField input::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #000;
     opacity:  1;
  }
  #locationField input:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    #000;
  }
  
  #map_canvas_scroll {
    display: none;
  }
  

@media screen and (max-width: 767px) {

  #storelocator_container div, img {
    max-width: initial !important;
  }
  #listing {
    position: inherit;
    max-height: 100%;
    width: 100%;
    box-shadow: unset;
    border-bottom: 1px solid #E0E0E0;
  }
  #locationField {
    width: 100%;
    height: unset;
    top: unset;
    left: unset;
    position: inherit;
    text-align: center;
    margin: 15px 0 15px 0;
  }
  #autocomplete {
    width: 70%;
  }
  #map_canvas {
    height: 400px;
  }
  #storelocator_container {
    border: 0;
    height: unset;
  }
  #locationField input[type='text'] {
    border: 1px solid #E0E0E0;
    width: 76%;
    padding: 10px 0 10px 10px;
    font-size: 16px;    
  }
  #locationField input[type='submit'] {
    padding: 10px 0 10px 0;
    font-size: 16px;
    width: 20%;    
  }
  #storelocator_container #resultsTable td {
    font-size: 16px;
  }
  
  #map_canvas_scroll {
    display: block;
    position: absolute;
    width: 10%;
    height: 400px;
    overflow: auto;
    right: 0;
    top: 131px;
    background-color: #000;
    opacity: 0.2;
    filter: Alpha(opacity=20); /* IE8 and earlier */
  }
  #map_canvas_scroll li {
    padding-top: 150px;
    width: 20px;
    margin: 0 auto;
  }
  #map_canvas_scroll li:before {
    font-family: FontAwesome;
    content: '\f07d';
    font-size: 50px;
    color: #fff;
  }
  .noresult {
    height: 10px;
    text-align: center;
  }
  
}  
  
  
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .page-content .primary-content {
    width: 100%;
  }
}
  
//-- new store locator end --//

}