// mixins
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}

// colors
// names taken from http://www.color-blindness.com/color-name-hue/
$black: #000;
$concrete: #f3f3f3;
$cerulean: #0167af;
$charcoal: #424242;
$citrus: #84bd00;
$dark-gray: #aaa;
$dim-gray: #666;
$gainsboro: #e0e0e0;
$gainsboro-two: #e8e8e8;
$ghost: #cdcdce;
$grayish-blue: #d1d2d4;
$grayish-red: #d3d2d2;
$dusty-gray: #969696;
$gray: #606060;
$islamic-green: #019328;
$magenta: #ff00ff;
$night-rider: #333;
$nobel: #999;
$pacific-blue: #00a4e4;
$pink: #f09;
$rain-forest: #64772d;
$red: #f00;
$sangria: #990000;
$stark-white: #cebdb3;
$tutu: #faeded;
$very-dark-gray: #4d4d4d;
$very-light-gray: #ccc;
$white-smoke: #efefef;
$white: #fff;
$red: #f00;
$zircon: #e7e8e9;
$grey: #7f7f7f;
$shuttle-grey: #636466;
$swatch-types: black #000000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #ffffff, yellow #ffff00, navy navy;

// fonts
$sans-serif-medium: 'Futura LT W01 Medium', sans-serif;
$sans-serif-heavy: 'Futura LT W01 Heavy', sans-serif;
$sans-serif: 'Futura LT W01 Light', sans-serif;
$futura-medium: 'Futura LT W01 Medium', sans-serif;
$serif: Georgia, serif;
$sackers-medium: SackersGothicW01-Medium;
$sackers-light: SackersGothicW01-Light;

// flag-icon-css
$flag-icon-css-path: '../lib/flag-icon-css/flags';

// global classes
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.menu {
	float: left;
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style: none outside none !important;
	}
}
