.header {background-color:#eeeeee;width:100%;height:10%;}
.form-row{clear:both;margin:0 0 1em;}
label,.form-label-text{display:block;float:left;font-size:1em;padding:0.75em 0 0;text-align:left;width:30%;font-family:Arial, Helvetica, sans-serif;}
input[type="text"]{border:1px solid #AAAAAA;margin-left:2%;padding:0.7em 0.5em;text-indent:0;width:49.5966%;}
input[type="number"]{border:1px solid #AAAAAA;margin-left:2%;padding:0.7em 0.5em;text-indent:0;width:49.5966%;}
select{text-indent:0;height:3em;border:1px solid #AAAAAA;margin-left:2%;padding:0.7em 0.3em;width:51.6%;}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: fixed;
}
.label-removed label{left:-999em;position:absolute;}
.month,.year,.day{clear:none;float:left;margin:0 0 2% 2%;}
.month select,.year select,.day select{margin:0;width:auto;}
.month .form-caption{margin-left:0;}
.month .error-message {width:100%;}
.cvn input{width:50px !important;}
.cancel-button{background:url("../images/interface/dk_grey_btn_bg.png") repeat-x scroll 0 0 #FFFFFF ;color:#000000; border-color:transparent !important;font-size:.75em;font-weight:100;padding:0.5em 1em;text-transform:uppercase;}
.confirm-button{background:url("../images/interface/dk_grey_btn_bg.png") repeat-x scroll 0 0 #FFFFFF ;color:#669405;border-color:transparent !important;font-size:.75em;font-weight:100;padding:0.5em 1em;text-transform:uppercase;}
.form-caption{display:block;margin:1% 0 1% 32%;width:auto;font-family:Arial, Helvetica, sans-serif;}
.error-message {border:2px solid #990000;background-color:#F1E6E6;padding:0.7em 0.5em;text-indent:0;width:49.5966%;}
.required-indicator{display:none;}
.topHeader {background-color:#7fbb00;width:100%;height:60px;}
.cancelButton {float:left; margin:15px;top:10px;}
.continueButton {float:right; margin:15px;}
.paymentEntry {text-align:center; color:white; position:absolute; left:40%; top:0.5%;font-family:Arial, Helvetica, sans-serif;font-size:1.5em;margin-top:12px;}
.content-area {position:absolute; height:90%; width:95%;}
.leftDiv {width:63%; height:100%; float:left; position:relative; border-right: 1px solid black;left:9px;}
.paymentOptions {width:100%; border-bottom: 1px solid black; height:40px; top:20px;}
.paymentContent {margin:10px;}
.rightDiv {width:37%; height:100%; float:right; position:relative; left:32px;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin-top:17px;}
.clear-button{background:url("../images/interface/dk_grey_btn_bg.png") repeat-x scroll 0 0 #FFFFFF ;color:#000000; width:120px; border-color:"black"; border-width:2px;!important;font-size:.75em;font-weight:100;padding:0.5em 1em;}
.apply-button{background:url("../images/interface/dk_grey_btn_bg.png") repeat-x scroll 0 0 #FFFFFF ;color:#000000; width:120px; border-color:"black"; border-width:2px;!important;font-size:.75em;font-weight:100;padding:0.5em 1em;}

.appleLinks a {color:#000000;text-decoration: none;}
.appleLinksWhite a {color:#ffffff;}

a {color:#000000; text-decoration: none;}

.tableRight {align:right;width:200px;text-align:right;}
.tableLeft {width:170px;}

.balanceDue {margin-top:17px;}

tr.spaceUnder > td { padding-bottom: 1em;}

.load-overlay{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10000;
	background: #000;
	opacity: .5;
}

.load-image{
	width: 120px;
	height: 120px;
	background-image: url("../images/ajax-loader.gif");
	background-color: white;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 48px 48px;
	background-position:center;
	position: fixed; 
 	top: 50%;
 	left: 50%;
 	margin-top: -50px;
 	margin-left: -60px;
  	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
