/******** AfterPay custom CSS *******/
.afterpay-module * {
	box-sizing: border-box;
}

afterpay-configs {
	font-size: 13px;
	margin: 0 auto;
	padding: 10px 0;
}

.afterpay-module h1 {
	border-bottom: 1px solid #dadada;
	color: #84bd00;
	font-size: 26px;
	font-weight: 600;
	line-height: 1.2em;
	padding: 10px 0;
}

.afterpay-module h2 {
	font-size: 14px;
	font-weight: normal;
	margin: 5px;
	text-transform: none;
}
.afterpay-module .infobox {
	margin-bottom:10px;
	border-top: 1px solid #dadada;
}
.afterpay-module .popup-holder {
	width: 100%;
    text-align: center;
}
.afterpay-module .operations-holder input[type=text] {
	width: 80px;
	padding: 0 5px;
	text-align: right;
}
.afterpay-module .operations-holder input[type=radio] {
	position: relative;
    top: 2px;
}
.afterpay-module .operations-holder button {
	border-radius: 0;
    padding: 5px 30px;
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}
.afterpay-module .operations-holder button:hover {
	background-color: #000000;
}
.afterpay-module .operations-holder button[disabled]:hover {
	color: #fff;
}
.afterpay-module .operations-holder table {
	width: 245px;
}
.afterpay-module .operations-holder table td {
	padding: 5px 0;
}
.afterpay-module .operations-holder table td label {
	margin:0;
}
.afterpay-module .operations-container .title {
	
}
.afterpay-module .current-status {
	margin-bottom: 20px;
}
.afterpay-module .current-status span{
	color: #84bd00;
    font-size: 17px;
    font-weight: 600;
}
.afterpay-module .bulk-complete{
    margin-top: 10px;
    text-align: right;
}
.afterpay-module #button-bulk-complete{
	border-radius: 0;
    padding: 5px 20px;
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}
.afterpay-module #button-bulk-complete:hover {
	background-color: #000000;
}
#filtertableProjects tfoot {
	display: table-header-group;
}
#filtertableProjects tfoot tr th {
	border-bottom: 1px solid #dadada;
}
.overview_documentation{
	font-size: 20Px;
	padding-top: 22px;
}
table#documentation{
	border-top: 1px solid #dadada;
}
.overview_title_description p{
	font-size: 10px;
	font-style: italic;
}
.infobox_title_search {
    padding: 5px;
}
.order-list-content {
    border-top: 1px solid #dadada;
}
.order-list-empty td {
	padding-top: 12px;
}
.pagecursortxt.hide-10 .ten {
	display: none;
}
.pagecursortxt.hide-50 .fifty {
	display: none;
}
.pagecursortxt.hide-100 .hundred {
	display: none;
}
.pagecursorbtn {
	text-decoration: none;
}
a.button.show-all{
	margin-left: 80px;
}