@import "nav";
@import "menu_utility";
@import "country_selector";
body{
  padding-top:0;
  @media screen and (min-width: 479px) {
    padding-top:0;
  }
}
.promo-slides {
  letter-spacing:1px;
  @media screen and (max-width: 1024px){
  letter-spacing:0.5px;
  }
}

.header-banner{
  text-align: center;
  height:32px;
  line-height:32px;
  overflow: hidden;
  top:0px;
  width:100%;
  z-index:99;
  background:$white;
  ul{
    margin:0;
  }
  a{
    color: $black;
  }
  @media screen and (max-width:1024px){
    font-size:12px;
    position:fixed;
  }
  @media screen and (min-width: 1025px) {
    height:50px;
    line-height:50px;
  }
  .slick-track{
    max-width: initial;
  }
}

#stickyheader{
  padding:10px 0;
  background: $white;
  position:fixed;
  top:32px;
  width:100%;
  z-index:99;
  @media screen and (min-width: 1025px) {
    padding:0;
    background:none;
    border:0;
    position: relative;
    width:auto;
    top:0;
  }

    #primaryLogo{
        background: url($black-logo) no-repeat;
        height: 18px;
        width:55%;
        max-width:230px;
        display: block;
        margin:3px 0 0 10px;
        float:left;

        img{
            max-width: 100%;
        }

        @media screen and (min-width: 1025px) {
            &.background--dark  {
                background: url($white-logo) no-repeat;
            }
            &.background--light, .background--complex {
                background: url($black-logo) no-repeat;
            }
            position: fixed;
            top: 60px;
            height: 30px;
            width: 100%;
            max-width:356px;
            left:3em;
            margin:auto;
        }
    }

    .header-search {
        display: block;
        right:0;
        border-bottom: 1px solid black;
        width: 235px;

        @media screen and (min-width: 1025px){
          margin-right: 1.1em;
        }
    }

    .search-visible {
        display: block;
        //transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        min-height: 60px;
        height: auto;
        z-index: 11;
        position: relative;
        clear: both;
        text-align: center;
        top: 15px;
        //transition: all 0.3s ease;

        form {
            border-top: 1px solid $black;
            border-bottom: 1px solid $black;
        }
    }

    .header-search:not(.search-visible) {
        @media screen and (max-width: 1024px){
            display: none;
        }
    }

    .header-search {
        .search-open &{
            transform: translateX(0);
            position:fixed;
            width: 470px;
            right:50px;
            top:40px;
            @media screen and (max-width: 1024px){
                top: 82px;
                right:0;
                width:100%;
                border-top: 1px dotted #1e1e1e;
            }
        }

        .searchIcon{
            display: none;
        }

        #q {
            border: 0;
            padding:20px 0;
            font-size: 12px;
            color:$black;
            font-family: $franklin-book;
            display: inline-block;
            outline:0;
            text-transform: uppercase;
            @media screen and (min-width: 1025px) {
                width: 210px;
                padding: 0;
                background-color: transparent;
            }

            @media screen and (max-width: 767px) {
              text-indent: 3%;
			  height: 56px;
            }
        }

        .header-submit{
            display: none;
            @media screen and (min-width: 1025px) {
                background:url($search-icon-black);
                background-position:center;
                background-size:contain;
                background-repeat:no-repeat;
                border:0;
                width:20px;
                display: inline-block;
            }
        }

        .close {
            position: absolute;
            display: inline-block;
            width: 15px;
            cursor: pointer;
            top:20px;
            right: 10px;
            @media screen and (min-width: 1025px) {
                display:none;
            }
        }

        .miniHeader.search-open &{
            @media screen and (min-width: 1025px) {
                top:0px;
            }
        }
    }
}

@media screen and (min-width: 1025px) {
  .miniHeader #stickyheader{
    position:fixed;
    z-index:10;
    padding:10px 0;
    top:0;
    left:0;
    right:0;
    width: 260px;
    #primaryLogo{
      position:relative;
      left:15px;
      top:1px;
      width:150px;
      margin: 0;
      padding-right:15px;
      -webkit-backface-visibility: hidden;
    }
    @media screen and (min-width: 1025px) {
      #primaryLogo{
        left:3em;
        width:150px;
        top:10px;
      }
    }
  }
}
