@media screen and (min-width: 1025px) {
    .mobile-menu {
      display:none;
    }
    .menu-utility-user .search{
        display: none;
    }
    .menu-search-cart .search{
        display: block;
    }
    .menu-utility-user {
      display: none; 
    }
    .menu-search-cart{
        margin: 0;
        width: auto;
        top: 60px;
        right: 1%;
        position: fixed;
        z-index:100;

        > li{
            float:left;
            padding:0;
            position:relative;
            a{
                font-family: $franklin-book;
                font-size: 12px;
                display: block;
                color:$black;
                line-height: 16px;
                cursor: pointer;
                &:hover{
                    color:#7f7f7f;
                }
            }
            &.international-header-mobile{
                display: none;
            }
            &.international{
                a{
                    img{
                        height: 10px;
                    }
                    &:after{
                        content: "\f107";
                        display: inline-block;
                        font-family: FontAwesome;
                        margin-left:2px;
                    }
                }
            }
            &.myaccount > a{
                display: block;
                height: 15px;
                &:hover{
                    color:#7f7f7f;
                }
            }

            &.search{
                display: none;
                @media screen and (max-width: 1024px) {
                    border-left:0;
                    cursor: pointer;
                    background-image:url($search-icon-black);
                    content:"";
                    display: inline-block;
                    height: 24px;
                    width: 24px;
                    background-repeat:no-repeat;
                    background-position:center center;
                    background-size:contain;
                    margin: -2px 20px 0 0;
                    &.background--dark {
                        background-image:url($search-icon-white);
                    }
                    &.background--light, .background--complex {
                        background-image:url($search-icon-black);
                    }
                    &:hover:before{
                        opacity:0.6;
                    }
                    span{
                        display: none;
                    }
                }
            }

            &.mini-cart{
                height: 25px;
                width: 25px;
                padding-bottom: 0;
                &.background--dark {
                  > a, > span{
                    background: url($minicart-icon-white) no-repeat;
                    background-position:center center;
                    background-size:contain;
                    color:$white;
                  }
                }
                &.background--light, .background--complex {
                  > a, > span{
                   background: url($minicart-icon-black) no-repeat;
                   background-position:center center;
                   background-size:contain;
                   color:$black;
                  }
                }
                > a, > span{
                    background: url($minicart-icon-black) no-repeat;
                    background-position:center center;
                    background-size:contain;
                    height: 25px;
                    width:25px;
                    padding:2px 0 0 0;
                    text-align: center;
                    display: block;
                    color:$black;
                    position:absolute;
                    top:-4px;
                    font-size:11px;
                    line-height: 30px;
                    font-family: $franklin-book;
                }
            }
            &.intl-language{
                cursor: pointer;
                padding-left:0;
                border-left:0;
                > a{
                    &:after{
                        content: "\f107";
                        display: inline-block;
                        font-family: FontAwesome;
                        margin-left:2px;
                    }
                }
            }
            &.mobile-nav{
                display: none;
            }
            ul{
                display: none;
                position: absolute;
                background: $white;
                padding:20px;
                width:160px;
                z-index: 3;
                left:-10px;
                -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                li{
                    display: block;
                    margin-bottom:6px;
                    a{
                        font-family: $franklin-book;
                        font-size: 12px;
                        line-height: 16px;
                        color:$black;
                    }
                }
            }
            &:hover{
                ul{
                    display: block;
                }
            }
        }
    }
    .menu-search-cart{
        float:right;
        @media screen and (min-width: 1025px) {
            top: 1.5rem;
            display: flex;
        }
    }
    .miniHeader .menu-utility-user{
        display: none;
    }
    .miniHeader .menu-search-cart{
        top:17px;
    }
}
@media screen and (max-width: 1024px) {
    .desktop-menu {
      display:none;
    }
    .upperMenus{
        float:right;
    }
    .menu-utility-user .search{
        display: block;
    }
    .menu-search-cart .search{
        display: none;
    }
    .menu-utility-user,
    .menu-search-cart{
        margin:0;
        float:left;
        > li{
            float:left;
            display: none;
            width:21px;
            height:21px;
            margin: 0 10px 0 3px;
            &.store-locator,
            &.mini-cart,
            &.mobile-nav{
                display: block;
            }
            &.search{
                padding-left:0;
                border-left:0;
                cursor: pointer;
                &:before{
                    content:"";
                    display: inline-block;
                    background-image:url($search-icon-black);
                    height: 21px;
                    width: 21px;
                    background-repeat:no-repeat;
                    background-position:center center;
                    background-size:contain;
                }
                span{
                    display: none;
                }
            }
            &.store-locator{
                background: url($storelocation-icon-white) no-repeat center center;
                display:none;
                span{
                    display: none;
                }
                & a{
                  display: block;
                  height: 1.5em;
                }
            }
            &.mini-cart{
                background: url($minicart-icon-black) no-repeat center center;
                text-align: center;
                font-size:10px;
                color:$black;
                .mini-cart-link {
                    color:$black;
                    cursor: pointer;
                    position: relative;
                    top: 0.7em;
                }
                span {
                	line-height:27px;
                }
            }
            &.mobile-nav{
                background: url($navigation-icon-black) no-repeat center top;
                cursor: pointer;
            }
        }
    }
}
