#navigation{
	@media screen and (min-width: 1025px) {
    display:none;
		.level-1{
			margin:86px 0 0 0;
			position: fixed;
			>li{
				cursor: pointer;
				@media screen and (min-width: 1024px) {
					margin:4px 0 4px 48px;
				}
				.menu-item-toggle{
					display: none;
				}
				a{
					font-family: $franklin-book;
					font-size: 14px;
					color:#000;
					.menu-item-toggle{
						display: none;
					}
				}
				&.columns-1 > .level-2{
					width:220px;
				}
				&.columns-2 > .level-2{
					width:440px;
				}
				&.columns-3 > .level-2{
					width:660px;
				}
				div.level-2{
					display: none;
					padding:7px 0 0 5px;
					z-index: 10;
					text-align: left;
					ul{
						float:left;
						width:180px;
						min-height: 10px;
						margin:0;
						padding:0 20px;
						li{
							margin-bottom:10px;
							a{
							  color: $black;
							}
						}
					}
					a{
						font-family: $franklin-book;
						font-size: 14px;
						&:hover{
							border-bottom:1px solid $black;
						}
					}
					.trend-links{
						float:left;
						ul:before{
							content:"";
							width: 1px;
							position:absolute;
							margin-left:-20px;
							top:20px;
							bottom:20px;
							display: block;
							background-color:$black;
						}
						//backup measure in case all the images are not cleared from the assets by launch
						//this rule can probably be safely deleted after Jan 1, 2017.
						.megamenu-image{
							display: none;
						}
					}
				}
			}
		}
		.miniHeader &{
			.level-1{
				margin:0;
				text-align: center;
				>li{
					&:first-child{
						margin-left:60px;
					}
				}
				@media screen and (max-width: 1360px) {
					> li{
						margin-left:15px;
						&:first-child{
							margin-left:15px;
						}
						@media screen and (max-width: 980px) {
							a {
								font-size:13px;
							}
						}
					}
				}
			}
			@media screen and (max-width: 915px) {
				clear:both;
				.level-1{
					text-align: center;
					float:none;
				}
			}
		}
		.mobile-nav-bottom,
		.mobile-nav-top{
			display: none;
		}
	}
	@media screen and (max-width: 1024px) {
		right:-280px;
		position:fixed;
		bottom:0;
		top:0;
		width:280px;
		z-index: 100;
		background:$white;
		transition: right 0.3s ease;
		overflow-y:auto;
		.nav-open &{
			right:0;
		}
		.level-1{
			> li{
				@extend .clearfix;
				> a {
					float:left;
					width: 75%;
				}
				a{
					font-family: $franklin-book;
					color:$black;
					font-size:14px;
					display: block;
					padding:10px 4px 10px 30px;
				}
				.menu-item-toggle{
					cursor: pointer;
					float: right;
					line-height: 1.1;
					padding: 0;
					//width: 20px;
					//height: 17px;
					font-size: 18px;
					padding:10px 30px 0 0;
					text-align:center;
				}
				.level-2{
					height:0;
					overflow: hidden;
					clear:both;
					.menu-wrapper{
						padding-left:20px;
					}
					.megamenu-image{
						display: none;
					}
				}
				&.active{
					.menu-item-toggle:before{
						content:"\f107";
					}
					.level-2{
						height:auto;
					}
				}
			}
		}
		.mobile-nav-bottom{
			margin-top:2px;
			li{
				padding:5px 0;
				a{
					display: block;
				    color: #999;
				    font-family: $franklin-book;
				    font-size: 14px;
				    padding: 2px 0px 2px 30px;
				}
				&.intl-language{
					cursor: pointer;
					.language-dropdown{
						&:after{
							font-family: FontAwesome;
							font-size: 11px;
							color: #221E1F;
							display: inline-block;
							content: "\f0d7";
						}
					}
					ul{
						display: none;
						li{
							padding-left:10px;
						}
					}
					&.active{
						ul{
							display: block;
						}
					}
				}
			}
		}
		.mobile-nav-top{
			display: block;
			overflow: hidden;
			.close{
				float:left;
		        display: block;
		        margin:15px 0 0 15px;
		        width:20px;
		        height:20px;
		        cursor: pointer;
			}
		}
	}
}