@import "nav";
@import "menu_utility";
@import "country_selector";

body {
    padding-top:74px;
    @media screen and (min-width: 768px) {
        padding-top:0;
    }
}

.promo-slides {
    letter-spacing:1px;
    @media screen and (max-width: 568px){
        letter-spacing:0.5px;
    }
}

.header-banner {
  background: #4d6673;
  text-align: center;
  height:32px;
  line-height:32px;
  overflow: hidden;
  position:fixed;
  top:0px;
  width:100%;
  z-index:99;
  @media screen and (min-width: 768px) {
    position:relative;
    width:auto;
  }
  @media screen and (max-width:568px){
    font-size:12px;
  }

    ul{
        margin:0;
    }

    a{
        color: #fff;
    }

    .slick-track{
        max-width: initial;
    }
}

#stickyheader #navigation .level-1>li{
	padding: 0 28px;
}

#stickyheader {
    padding: 6px 0;
    background:#fff;
    border-bottom: 1px solid $dusty-gray;
    position: fixed;
    top:32px;
    width:100%;
    z-index:99;
    min-height: 18px;
    @media screen and (min-width: 768px) {
    	position: relative;
		padding:10px 0 20px 0;
        border:0;
        top:0;
    }

    #primaryLogo{
        width:55%;
        max-width:230px;
        display: block;
        margin:6px 0 0 10px;
        float:left;
        @media screen and (min-width: 768px) {
            position: absolute;
            top:50px;
            width: 100%;
            max-width:356px;
            left:0;
            right:0;
            margin:auto;
        }

        img{
            max-width: 100%;
        }
    }

    .header-search {

        .sr-only {
            visibility: hidden;
        }

        .search-open & {
            border-top: 1px solid $gray;
            height: 60px;
            position: relative;
            top: 34px;
            z-index: 11;

            @media screen and (max-width: 767px) {
                border-top: none;
                display: block;
                margin: 0 !important;
                width: 100%;
            }

            form {
                border-bottom: 0.5px solid $dusty-gray;

                input {
                    color: $dusty-gray;
                    font-size: 11px;
                    letter-spacing: 0.9px;
                }
            }
        }
    }

    .header-search {
        clear: both;
        text-align:center;
        transition: all 0.3s ease;
        position:relative;
        background:$white;
        @media screen and (max-width: 767px) {
            height:0;
        }

        .search-open &{
            z-index: 11;
            position:relative;
            @media screen and (max-width: 767px) {
                height: auto;
                position: absolute;
                right: 0;
            }
        }

        #q {
            border: 0;
            color: $gray;
            display: inline-block;
            font-family: $helvetica-55;
            font-size: 11px;
            letter-spacing: 0.9px;
            outline: 0;
            padding: 18px 0;
            text-align: left;
            text-transform: uppercase;
            width: calc(100% - 4.25em);
            @media screen and (min-width: 768px) {
                border: 0.5px solid $dusty-gray;
                height: 30px;
                padding: 5px 0 5px 5px;
                width: 206px;
            }
        }

        .close {
            cursor: pointer;
            display: inline-block;
            height: 16px;
            opacity: 0.4;
            width: 16px;
        }

        .miniHeader.search-open &{
            height:50px;
            clear: both;

            fieldset{
                padding-top:10px;
            }

            .close{
                top:20px;
                right:33px;
            }
        }
    }
}

.header-submit {
    display: none;
    @media screen and (min-width: 768px){
        display: inline-block;
        background:url(../images/search.svg);
        background-position:center;
        background-size:contain;
        background-repeat:no-repeat;
        height:15px;
        width:15px;
        border:0;
        padding:0;
        outline:0;
        position: absolute;
        top: 6px;
        right: 6px;
        opacity: .6;
        fill: $gray;
    }
}

@media screen and (min-width: 768px) {
  #stickyheader .header-search {
    padding:0;

    fieldset{
      position: relative;
    }
  }
  .miniHeader #stickyheader{
    position:fixed;
    z-index:10;
    padding:10px 0;
    top:0;
    left:0;
    right:0;
    background:$white;
    border-bottom:1px solid $white;

    #primaryLogo {
      position:relative;
      left:15px;
      top:1px;
      width:150px;
      margin: 0;
      padding-right:15px;
      -webkit-backface-visibility: hidden;
    }
    @media screen and (min-width: 1024px) {
      #primaryLogo{
        left:33px;
        width:200px;
        top:2px;
      }
    }
  }
}


@media screen and (min-width: 768px) and (max-width:1023px) {
    #stickyheader {
        padding: 10px 15px 20px 15px;
    }
}