@media screen and (min-width: 768px) {
    .menu-utility-user .search{
        display: none;
    }
    .menu-search-cart .search{
        display: block;
    }
    .menu-utility-user,
    .menu-search-cart{
        margin:0;
        float:left;
        text-transform: uppercase;
        > li{
            float:left;
            padding: 0 0 0 15px;
            position:relative;
            a{
                font-family: $helvetica-55;
                font-size: 11px;
                display: block;
                color: $gray;
                line-height: 16px;
                &:hover {
                    color: #000000;
                }
            }
            &.international-header-mobile{
                display: none;
            }

            &.myaccount > a{
                display: block;
                height: 15px;
                text-transform: uppercase;
                color: $gray;
                &:hover{
                    color:#000000;
                }
            }
            &.search{
                padding-left:0;
                border-left:0;
                cursor: pointer;

                span{
                    display: none;
                }
            }
            &.mini-cart{
                position:relative;
                height: 15px;
                > a, > span{
                    background: url("../images/icon-bag-w.svg") no-repeat;
                    background-position:right center;
                    background-size:contain;
                    height: 16px;
                    padding:5px 0 0 0;
                    width:20px;
                    text-align: center;
                    display: block;
                    color:$gray;
                    fill: $gray;
                    stroke: $gray;
                    position:absolute;
                    top:-4px;
                    font-size:11px;
                    line-height: 14px;
                    font-family: $helvetica-55;
                }
            }
            &.intl-language{
                cursor: pointer;
                padding-left:0;
                border-left:0;
                > a{
                    &:after{
                        content: "\f107";
                        display: inline-block;
                        font-family: FontAwesome;
                        margin-left:2px;
                    }
                }
            }
            &.mobile-nav{
                display: none;
            }
            ul{
                display: none;
                position: absolute;
                background: $white;
                padding:20px;
                width:160px;
                z-index: 3;
                left:-10px;
                -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                li{
                    display: block;
                    margin-bottom:6px;
                    a{
                        font-family: $helvetica-55;
                        font-size: 11px;
                        line-height: 16px;
                        color: #969696;
                    }
                }
            }
            &:hover{
                ul{
                    display: block;
                }
            }
        }
    }
    .menu-search-cart{
        float:right;
        display: flex;
        align-items: center;
		margin-right: 1.5em;
    }
	.searchOptionsfloating .menu-search-cart{
		margin-right: 0;
	}
    .miniHeader .menu-utility-user{
        display: none;
    }
    .miniHeader .menu-search-cart{
        padding-right:33px;
        @media screen and (max-width: 1360px) {
          padding-right:15px;
        }
    }
}
@media screen and (max-width: 767px) {
    .upperMenus{
        float:right;
		margin-top: 8px;
    }
    .menu-utility-user .search{
        display: block;
    }
    .menu-search-cart .search{
        display: none;
    }
    .menu-utility-user,
    .menu-search-cart{
        margin:0;
        float:left;
        > li{
            float:left;
            display: none;
            width:21px;
            height:21px;
            margin-right:10px;
            &.store-locator,
            &.mini-cart,
            &.mobile-nav{
                display: block;
            }
            &.search{
                padding-left:0;
                border-left:0;
                width: 16px;
                cursor: pointer;

                span{
                    display: none;
                }

                &:before {
                    content: "";
                    display: inline-block;
                    background-image: url(../images/search.svg);
                    height: 16px;
                    width: 16px;
                    opacity: 0.7;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
            }
            &.store-locator{
                display: none;
            }
            &.mini-cart{
                background: url("../images/icon-bag-w.svg") no-repeat center center;
                font-size: 10px;
                height:16px;
                padding: 0;
                opacity: 0.7;
                text-align: center;

                span {
                    color: $gray;
                    display: block;
                    margin-top: 3px;
                }

                .mini-cart-link {
                    color:$black;
                    display: block;
                    margin-top: 3px;
                }
            }
            &.mobile-nav{
                background: url("../images/icon-nav.svg") no-repeat center top;
                background-size: 21px 16px; 
                cursor: pointer;
                opacity: 0.4;
            }
        }
    }
}