@media screen and (max-width: 1360px) and (max-width: 980px) and (min-width: 768px) {

  .miniHeader #navigation .level-1>li a {
      font-size: 0.6em !important;
  }

}

@media (max-width: 1024px) {
    #navigation {
        .level-1 > li div.level-2 ul {
            //width: 14.7% !important;
           // padding-left: 25px !important;
        }

        .level-2 .menu-wrapper {
            padding-right: 15px !important;
        }
		
		#navigation .level-1 > li.columns-1 > .level-2 .menu-wrapper{
		    max-width: 820px !important;
		}
    } 
}


@media (max-width: 992px){

    #navigation .level-2 .menu-wrapper {
        padding-right: 45px !important;
    }
}

@media screen and(min-width: 768px) {
    #wrapper {
        width: 100%;
        	max-width: 100%;
    }
    .upperMenus {
        width: 100%;
        /*max-width: 1320px;*/
		max-width:100%;
        margin: 0 auto;
    }
    #main {
        max-width: 1320px;
        width: 100%;
        margin: 0 auto;
    }

    #navigation .level-2 .menu-wrapper{
        display: block;
        /*max-width: 1300px;*/
		max-width: 1260px;
        margin: 0 auto;

        &:after {
            display: table;
            content: '';
            clear: both;
        }
    }

	.miniHeader #stickyheader {
	    padding: 10px 0 0 0;
	}
	
	#stickyheader {
		padding: 10px 0 0 !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .stickyheader,
    #stickyheader {
        padding-left: 15px;
        padding-right: 15px;
    }

	#navigation .level-1>li{
    	padding: 0 21px;
    	font-size: 14px;
    	margin-left: 0 !important;
	}
}

@media screen and (max-width: 1280px) and (min-width: 768px){
  .miniHeader #navigation {
      clear: both;
  }

  .miniHeader #navigation .level-1 {
      margin-top: 30px;
  }
}

#navigation{
@media screen and (min-width: 768px) {
	.level-1{
		margin: 86px 0 0 0; 
		text-align:center;
		padding-top:0;
		> li{
			color:#fff;
			display: inline-block;
			margin-left:15px;
			text-transform:uppercase;
			@media screen and (min-width: 1024px) {
				/*margin-left:58px;*/
				padding: 0 31px;
    			font-size: 14px;
    			margin-left: 0 !important;
			}
			&:first-child{
					margin-left:0;
				}
			&:hover{
				> a{
					border-bottom:1px solid $black;
						position:relative;
						z-index: 11;
				}
				div.level-2{
					display: block;		
					opacity: 1;
    				visibility: visible;	
				}
				.level-2{
					display: block;
				}
			}
			.menu-item-toggle{
					display: none;
				}
			> a{
                font-family: $helvetica-55;
			    font-size: 0.7em;
			    color:#1e1e1e;
				height:100%;
				display: block;
                border-bottom: 1px solid #fff;
                letter-spacing: 0.2em;
                font-weight:600;
				padding: 1em 0 1em 0;
			}
			.mobile-show{
				display: none;
			}
			&.columns-1 > .level-2{
		       ul{
					padding-left:12%;
					margin-bottom:-20px;
					@media screen and (min-width: 1024px) {
			   			padding-left: 0 !important;
    					width: 25%;
					}
				}
				.megamenu-image{
					&.larger-image{
					 padding-right:5%;
				    }
				}
					
			}
			.image-links .megamenu-image.larger-image {
				@media screen and (min-width: 1024px) {
		   			width: calc(50% + 150px);
		   			padding-right:0;
				}
		   	}
			&.columns-2 > .level-2{
	       
				.megamenu-image{
				&.larger-image{
				 width:45.5%;
			    
					    }
					 }
				
			}
			
			div.level-2{
				display: block;
				position:absolute;
				background:$white;
				padding:10px 0;
				z-index: 2;
				right:0;
				left:0;
				margin: 0;
				/*margin: 0 -33px 10px -33px;*/
				overflow:hidden;
				-webkit-transition: all .12s;
    			transition: all .12s;
                visibility: hidden;
                	a[data-cat-name="Clearance"]{
							color:#E10404 !important;
							&:hover{
							border-bottom:1px solid #E10404;
							transition: opacity .3s ease, max-height .2s ease;
						}
					}
				ul{
				
					float:left;
					text-align:left;
					//width:150px;
					width:12%;
					list-style:none;
					min-height: 10px;
					margin:0;
					padding-left:40px;
                    //padding:20px 0 0px 50px;
					@media screen and (min-width: 1024px) {
						padding-left:60px;
    					padding-left:5%;
					}
                    @media (max-width: 1024px) {
                       
                        li,
                        li.subminititle {
                      
                            margin-bottom: 20px;
                            a {
                                font-size: 0.7em;
                            }
                        }
                    }

                    li {
						margin-bottom:20px;
                    }
                    
                    li.subminititle {
                        font-size:0.7em; 
                        top:0; 
                        color:#1e1e1e;  
                        font-family: $helvetica-55;
                        letter-spacing: 0.2em;
                        font-weight: 600;
                    }
                }
                
				a {	
                    font-family: $helvetica-55;
                    font-size: 0.7em !important;
                    color:$gray;
                    text-transform:uppercase;
                    letter-spacing: 0.2em;
                        &:hover{
                            color:#1e1e1e;
                            //border-bottom:1px solid $black;
                        }
                    }
                    
      
				.image-links{
                    ul:before{
                        content:"";
                        width: 1px;
                        position:absolute;
                        margin-left:-20px;
                        top:20px;
                        bottom:20px;
                        display: block;
                        //background-color:$black;
                    }
				.megamenu-image{
					float:right;
					span{
					float:left;
					color:#000;
					font-family: $helvetica-55;
                    font-size: 0.7em !important;
                    color:$gray;
                    letter-spacing: .2em;
                    padding-top:5px;
					   }
					&.smaller-image{
						width:30%;
						height:auto;
						display:inline-block;
                        padding-left: 20px;
					}
					&.larger-image{
						width:60%;
						max-width:648px;
					    @media screen and (min-width: 1024px) {
							width: 48%;
						    padding-right:13%;
						    text-align:left;
						}
					}
				  }
				}
			}
		}
    }
 
    
	.miniHeader &{
			.level-1{
				margin:0;
				text-align: center;
				>li{
					&:first-child{
						margin-left:60px;
					}
				}
				@media screen and (max-width: 1360px) {
					> li{
						margin-left:15px;
						&:first-child{
							margin-left:15px;
						}
						@media screen and (max-width: 980px) {
							a {
								font-size:13px;
							}
						}
					}
				}
			}
			@media screen and (max-width: 915px) {
				clear:both;
				.level-1{
					text-align: center;
					float:none;
				}
			}
		}
		.mobile-nav-bottom,
		.mobile-nav-top{
			display: none;
		}
	
}

@media screen and (max-width: 767px) {
		right:-280px;
		position:fixed;
		bottom:0;
		top:0;
		width:280px;
		z-index: 100;
		background:$white;
		transition: right 0.3s ease;
		overflow-y:auto;
		.bc-minimize-state {
	    	position: fixed;
	  	}
		.nav-open &{
			right:0;
		}
		.level-1{
			> li{
				@extend .clearfix;
				> a {
					float:left;
					/*width: 75%;*/
					width: auto;
				}
				a{
					font-family: $helvetica-55;
					color:$black;
					font-size:14px;
					display: block;
					padding:10px 4px 10px 30px;
				}
				.menu-item-toggle{
					cursor: pointer;
					float: right;
					line-height: 1.1;
					padding: 0;
					width: 20px;
					height: 17px;
					font-size: 18px;
					padding:10px 16px 0 0;
					text-align:center;
				}
				div.level-2{
					height:0;
					overflow: hidden;
					clear:both;
					a[data-cat-name="Clearance"]{
							color:red !important;;
						}
					.menu-wrapper{
						padding-left:20px;
						
					}
					.megamenu-image{
						display: none;
					}
					ul{
	                    
	                    li.subminititle {
	                        display:none;
	                    }
	                }
				}
				&.active{
					.menu-item-toggle:before{
						content:"\f107";
					}
					.level-2{
						height:auto;
					}
				}
			}
		}
		.mobile-nav-bottom{
			margin-top:2px;
			li{
				padding:5px 0;
				a{
					display: block;
				    color: #999;
				    font-family: $helvetica-55;
				    font-size: 14px;
				    padding: 2px 0px 2px 30px;
				}
				&.intl-language{
					cursor: pointer;
					.language-dropdown{
						&:after{
							font-family: FontAwesome;
							font-size: 11px;
							color: #221E1F;
							display: inline-block;
							content: "\f0d7";
						}
					}
					ul{
						display: none;
						li{
							padding-left:10px;
						}
					}
					&.active{
						ul{
							display: block;
						}
					}
				}
			}
		}
		.mobile-nav-top{
			display: block;
			overflow: hidden;
			.close{
				float:left;
		        display: block;
		        margin:15px 0 0 15px;
		        width:20px;
		        height:20px;
		        cursor: pointer;
			}
		}
	}
}