@import "nav";
@import "menu_utility";
@import "country_selector";

.fixedHeader{
    position:fixed;
    z-index: 99;
    width:100%;
    background:#fff;
    .innerHeader{
        position:relative;
    }
}
.header-banner{
    background:#ebebeb;
    color:#000;
    text-align: center;
    padding:5px 0 6px 0;
    height:14px;
    overflow:hidden;
    .slide{
        opacity: 0;
        &:first-child{
            opacity: 1;
        }
    }
    ul{
        margin:0;
    }
    a{
        color:#000;
    }
    *{
        max-width: none !important;
    }
}
.header-search-holder{
    position: relative;
    
    @media screen and (min-width: 768px) {
        margin-right: 10px;
    }

    @media screen and (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .header-search{
        font-size:16px;
        z-index: 1001 !important;
        @media screen and (max-width: 767px) {
            display: none;
            top: 0;
            line-height: 30px;
            right: 0;
        }

        form {
            margin:auto;
            @media screen and (max-width: 767px) {
                margin: 31px 0 0 0;
                background:$white;
                line-height: 18px;
            }

            label {
                margin: 0;
            }

            fieldset{
                color: $nobel;
                border-top: 1px solid $nobel;
                border-bottom: 1px solid $nobel;
                border-right: transparent;
                border-left: transparent;
                padding: .8rem 1em;
                @media screen and (min-width: 768px) {
                    border: 1px solid $nobel;
                    padding: 5px 0 0 0;
                }
            }

            input[type="text"]{
                border:0;
                float:left;
                width:80%;
                height: 34px;
                outline: 0;
                background:transparent;
                webkit-appearance: none;
                text-align: left;
                text-transform: uppercase;
                padding: 0;
                @media screen and (min-width: 768px) {
                    text-indent: 4%;
                    text-transform: lowercase;
                    padding-top: 6px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 11px;
                    letter-spacing: 1px;
					font-family: $sans-serif-medium;
                }
            }
            button{
                background: url(../images/header/gen-seach.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 26px;
                height: 27px;
                display: inline-block;
                padding:0;
                text-align:left;
                //width:10%;
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }

            fieldset:after{
                @media screen and (max-width: 767px) {
                    content:"";
                    float:left;
                    width:10%;
                    height:31px;
                }
            }
        }

        .close{
            width: 6%;
            height: 20px;
            cursor: pointer;
            @media screen and (max-width: 767px) {
            padding-top: 8px;
            height: 15px;
            }
        }

        .searchTrends{
            clear:both;
            text-align: center;
            padding-bottom:50px;

            h2{
                color:$black;
                font-family: $sans-serif-heavy;
                text-transform: uppercase;
                margin:20px 0 0 0;
                font-size:15px;
            }

            a{
                display: block;
                color:#646464;
            }
        }
    }
}

.primary-logo{
    text-align: center;
    img{
        width:275px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-search,
    .menu-toggle{
        display: none;
    }

}
@media screen and (max-width: 767px) {
    .top-banner{
        padding: 13px 0;
        height:20px;
    }
    .header-search-holder .header-search button:before{
        text-align: right;
    }
    .primary-logo{
        .positioner{
            left:0;
            right:0;
            position:absolute;
        }
        img{
            width:200px;
            @media screen and (max-width: 420px) {
                width:144px;
            }
        }
    }
    .searchIcon,
    #mini-cart{
        z-index: 5;
        position:relative;
    }
}