.menu-utility-user {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;
    padding-top: 0px;
    padding-right: 10px;
    font-size: 10px;
    @extend .clearfix;
    @media screen and (min-width: 768px) {
        line-height: 18px;
    }

    li{
        display: inline-block;
        font-size: 13px;
        position:relative;
        margin: 0 7px;

        @media screen and (min-width: 768px) {
            margin: 0 10px;
        }

        > a{
            color: $gray;
            display: block;
            font-size: 13px;

            .flag{
                position:relative;
                top:3px;
                margin-right:5px;
            }
        }

        &.user-info{

            a{
                display: inline;
            }
        }
        &.mobile-only{
            display: none;
        }
        ul{
            display: none;
            position: absolute;
            top:18px;
            left:0px;
            background-color:#fff;
            z-index: 2;
            text-align: left;
            li{
                white-space: nowrap;
                line-height: auto;
                a{
                    color:$nobel;
                    border-bottom:0;
                }
            }
        }
        &:hover,
        &.active{
            border-bottom-color: $nobel;

            ul{
                display: block;
            }
        }
        &.searchIcon{
            background: url(../images/header/gen-seach.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            display: inline-block;
            padding: 0;
            cursor: pointer;

            &.active{
                border-bottom-color: $nobel;
            }

            @media screen and (min-width: 768px) {
                width: 27px;
                height: 27px;
            }
        }
        &#mini-cart{
            background:url(../images/header/gen-bag.svg);
            background-position:center;
            background-size:contain;
            background-repeat:no-repeat;
            border:0;
            cursor: pointer;
            height: 20px;
            outline:0;
            padding-left: 0;
            width: 20px;

            @media screen and (min-width: 768px) {
                height: 27px;
                width: 27px;
            }

            .mini-cart-label {
                margin-top:6px;
                width:19px;
                position:relative;
                .minicart-quantity {
                    position:absolute;
                    z-index: 3;
                    top: 6px;
                    width: 21px;
                    text-align: center;
					@media screen and (min-width: 768px) {
						top: 8px;
                    	width: 27px;
					}
                }
            }
        }
    }

    .intl-language{
        ul {
            li {
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .menu-utility-user{
        position:absolute;
        right:0;
        top:10px;
        width: 100%;
        .user-info,
        .intl-language{
            display: none;
            ul {
                li {
                    margin: 0;
                }
            }
        }
    }
}

@-moz-document url-prefix() {
    .menu-utility-user li#mini-cart .mini-cart-label {
        top: 13px;
    }
}