 @media screen and (min-width: 768px) {
     .mobile-show, .navigation-mobile{
         display: none;
    }
     .menu-category{
         margin:26px 0 15px 0;
         position: relative;
         font-size: 0;
         display:flex;
         justify-content:center;
         &.level-1 {
             li:first-child {
                 margin-left: 0;
            }
        }
         > li{
             padding:0 30px;
             position:initial;
             > a{
                 color:#000;
                 border-bottom:2px solid #fff;
                 font-size:13px;
                 display: block;
                 letter-spacing:.1em;
                 font-family: $futura-medium;
                  &:hover{
                  color:#696969;
                  }
                 
                 i{
                     display: none;
                }
            }
             &.columns-1 .dropdown .level-2{
                 ul{
                     padding-left:20px;
                }
                 @media screen and (min-width: 768px) {
                     ul.level-2{
                         width:16%;
                    }
                }
                 .menu-wrapper{
                     max-width: 820px;
                }
            }
             .dropdown{
                 visibility: hidden;
                 position: absolute;
                 -webkit-transition: all .2s;
                 transition: all .2s;
                 opacity:0;
                 top:19px;
                 left:0;
                 right:0;
                 background: rgba(255,255,255, 0.95);
                 z-index: 2;
                 text-align: left;
                 letter-spacing: 0.1em;
                 line-height: 23px;
                 @media screen and (min-width: 768px) and (max-width: 1023px) {
                     line-height:19px;
                }
                 width:100%;
                 //min-height: 336px;
                 //max-width: 1920px;
                 margin: 0 auto;
                 &:after {
                     display: table;
                     clear: both;
                     content: '';
                }
                 div.level-2 {
                     .menu-wrapper {
                         max-width: 1300px;
                         height: 100%;
                         margin: 15px auto 0;
                         //background: #fff;
                         &:after {
                             display: table;
                             clear: both;
                             content: '';
                        }
                    }
                     ul.level-2{
                         float: left;
                         padding-left:40px;
                         padding-right: 2.4%;
                         width: 12%;
                         @media screen and (min-width: 1024px) {
                             width: 14%;
                        }
                         li.subminititle{
                             font-size:12px;
                             display:block;
                             color:black;
                             letter-spacing: 0.1em;
                             font-weight: 600;
                             font-family: $futura-medium;
                             margin-left: 0;
                             letter-spacing:.1em;
                        }
                         li{
                             margin-bottom: 10px;
                             //white-space: nowrap;
                             margin-left: 0px;
                             a{
                                 color:#000;
                                 font-size: 12px;
                                 font-family: $futura-medium;
                                 letter-spacing: 0.1em;
                                  &:hover{
                                  color:#696969;
                                  }
                            }
                        }
                    }
                     .image-links {
                         margin-top: 0px;
                         .megamenu-image.smaller-image{
                             width: 27%;
                             height: auto;
                             display: inline-block;
                             padding-left:20px;
                             a {
                                 font-size: 12px;
                            }
                             span {
                                 display: block;
                                 width: 100%;
                                 font-size: 12px;
                                 margin-bottom: 5px;
                                 letter-spacing:0.1em;
                            }
                        }
                         .megamenu-image.larger-image {
                             float:right;
                             width: 50%;
                             max-width:525px;
                             height: auto;
                             padding-right:15%;
                             a {
                                 font-size: 12px;
                            }
                             span {
                                 display: block;
                                 width: 100%;
                                 font-size: 12px;
                                 margin-bottom: 5px;
                                 letter-spacing:0.1em;
                            }
                        }
                    }
                }
            }
             &:hover{
                 .dropdown{
                     //display: block;
                     opacity: 1;
                     visibility: visible;
                }
                 > a{
                     border-bottom-color: #000;
                }

            }
        }
    }
}
 @media screen and (max-width: 767px) {
     .navigation-desktop{
         display: none;
    }
     .menu-toggle {
         display: block;
         position:fixed;
         z-index: 300;
         left:0px;
         padding: 5px 13px;
         border-radius:0 10px 10px 0;
         top:9px;
         transition: left 0.2s ease-in;
    }
     nav[role="navigation"] {
         @extend .clearfix;
         background-color: rgba(255, 255, 255, .95);
         left: -280px;
         position: fixed;
         overflow:auto;
         width: 280px;
         top: 0;
         bottom:0;
         z-index: 500;
         transition: left 0.2s ease-in;
         .mobile-search{
             display: block;
             padding-top:20px;
             input[type="text"]{
                 border:0;
                 border-bottom:2px solid #000;
                 width:200px;
                 float:left;
                 margin-left:10px;
                 background-color:transparent;
                 border-radius:0;
            }
             button{
                 float:right;
                 background:transparent;
                 padding:0 10px 0 0;
                 &:before{
                     content:"Search";
                     color:$black;
                     font-family: $futura-medium;
                     font-size: 12px;
                }
            }
             .close{
                 display: none;
            }
        }
         .mobile-nav-bottom{
             li{
                 a{
                     display: block;
                     color:$black;
                     font-family: $futura-medium;
                     font-size: 14px;
                     padding:2px 0px 2px 13px;
                }
                 &.desktop-only{
                     display:none;
                }
                 .flag{
                     position:relative;
                     top:3px;
                }
                 .small{
                     font-size:10px;
                }
            }
        }
    }
     body{
         .mobileOverlay{
             left:0;
             transition: left 0.2s ease-in;
        }
    }
     body.menu-active{
         .mobileOverlay{
             position:absolute;
             top:0;
             bottom:0;
             right:0;
             left:280px;
             background-color:rgba(0,0,0,.5);
             z-index: 200;
        }
         nav[role="navigation"]{
             left:0;
        }
         .menu-toggle{
             left:277px;
        }
    }
     .menu-category {
         padding: 0;
         li {
             list-style: none;
             > a {
                 font-family: $futura-medium;
                 font-size: 16px;
                 margin: 0;
                 padding: 5px 4px 5px 13px;
                 display: block;
                 color: $black;

            }
             .level-2 a{
                 padding-left:26px;
                 font-size: 14px;
            }
        }
    }
     .storelinks {
         text-align: center;
         border-bottom: 1px solid #ccc;
         .storefind, .orderstatus{
             display: block;
             margin: 30px 0 10px 0;
             text-transform: uppercase;
             a {
                 display: inline-block;
            }
        }
         .storefind-icon, .orderstatus-icon {
             vertical-align: middle;
             display: inline-block;
             height: 30px;
             width: 28px;
             margin: -6px auto 0;
        }
         .storefind-icon {
             background: url(../images/sprite-responsive.png) -301px -180px no-repeat;
        }
         .orderstatus-icon {
             background: url(../images/sprite-responsive.png) -303px 0 no-repeat;
        }
    }
     .navigation-mobile {
         .level-2 {
             background-color: $white;
             display: none;
             position: absolute;
             left: 0;
             margin: 0;
             width: 100%;
             padding: 0;
             > ul {
                 padding: 0;
                 li {
                     a {
                         color: $black;
                         font-family: $sans-serif;
                         font-size: 14px;
                         padding: 5px 4px 5px 13px;
                    }
                     .menu-item-toggle{
                         display: none;
                    }
                }
            }
        }
         .level-1 > .active {
             .level-2 {
                 display: block;
                 position: relative;
            }
             .menu-item-toggle:first-child {
                 background: url('../images/arrow-down.png') no-repeat;
            }
        }
    }
     .level-3 {
         display: none;
    }
}
 .storefind, .orderstatus{
     @extend %clearfix;
}
#navigation .level-1 > li div.level-2 {
   display: block;
   -webkit-transition: all .08s;
   transition: all .08s;
   visibility: hidden;
}


#navigation .level-1 > li:hover div.level-2 {
    display: block;
   opacity: 1;
    visibility: visible;
}