.breadcrumb {
  @extend %clearfix;
  font-size: 1em;
  line-height: 1.5;
  margin: 10px 0;
  @media screen and (max-width: 768px){
    margin-left:10px;
  }
  li {
    display: inline;
    list-style: none outside none;
  }
  
  ul .breadcrumb-element:hover {
    color: $grey;
  }
  a.breadcrumb-element:after {
	color: $black; 
	font-family: FontAwesome;
	content: '\f105';
	margin: 0 6px;
  }
  span.breadcrumb-element:last-child:after {
   content: none;
   background-image: none;
  }
  @media screen and (max-width: 767px){
	  a.breadcrumb-element:last-child:after {
	   display:none;
	   background-image: none;
	  }
  }
}

.paging-current-page {
  left: -999em;
  position: absolute;
}

.breadcrumb-element {
  text-transform: uppercase;
  float: left;
  color: $black;
  
  &:not(:last-child):after {
    color: $black; 
    font-family: FontAwesome;
      content: '\f105';
      margin: 0 6px;  
  }
  &:last-child {
    > span {
     color: $black;  
    }
    font-weight: 400;
  }
  @media screen and (max-width: 480px){
    &:not(:last-child):after {
      width: 2px;
      height: 18px;
    }
  }
  @media screen and (min-width: 768px) {
    &:last-child:after {
      color: $black; 
      font-family: FontAwesome;
      content: '\f105';
      margin: 0 0.5em; 
    }
  }

}

.breadcrumb-refined-by, .breadcrumb-refinement-name {
  display: none;
}

.breadcrumb-refinement {
  font-weight: 400;
  
  &:after {
    content: attr(data-divider);
    font-style: normal;
  }
  &:last-of-type {
    &:after {
      content: '';
    }
  }
}

.breadcrumb-refinement-bar {
  display: inline-block;
  margin: 15px 20px 0 0;
  @media screen and (max-width: 480px){
   display: none; 
  }
}

.breadcrumb-refinement-value {
  display: inline-block;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 0.8em;
}

a.breadcrumb-relax {
  color: $nobel !important;
  font-style: normal;
  padding: 0 0 0 3px;
}

.breadcrumb-result-text a,
.breadcrumb .searchphraselink {
  background: none;
  color: $citrus;
  padding: 0;
}

.primary-content {
    .breadcrumb-element {
        display: none;
    }
}
