.bottom-banner-container {
  overflow: hidden;
  .bottom-banner-cell {
    float: left;
    overflow: hidden;
    text-align: center;
  }
  .banner-cell-1 {
    width: 33%;
  }
  .banner-cell-2 {
    width: 34%;
  }
  .banner-cell-3 {
    width: 33%;
  }
}

.mobile-sorting{
  background-color:white;
  width: 96%;
  margin: 0 auto;
  
  .refinement-accordion .mobile-toogle-grid{
    display:inline-block;
    float: right;
    margin: 1.4em 0 0 0;
    .one-grid, .two-grid{
      width:15px;
      height:15px;
      display: inline-block;
    }
    .one-grid{
      margin-right: 10px;
      background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('../images/icon_view-1.svg') no-repeat;
    }
    &.active-one-grid{
      .one-grid{
        background: url('../images/icon_view-1.svg') no-repeat;
      }
    }
    .two-grid{
      background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),url('../images/icon_view-2.svg') no-repeat;
    }
    &.active-two-grid{
      .two-grid{
        background: url('../images/icon_view-2.svg') no-repeat;
      } 
    }
  }
  
  .refinement-accordion{
    display: none;
  }
  
  .refinement-accordion pre {
    color: $black;
    text-align: left;
    font-style: normal;
    font-family: $franklin-med;
    font-size: 12px;
    padding: 1.4em 0;
    width:87%;
    text-transform:uppercase;
  }
  
  .ui-accordion .ui-accordion-content{
    overflow:visible !important;
  }
  
  .ui-accordion .ui-state-focus{
    outline: none;
  }
  
  .plus:before {
    content: "";
    background: url("../images/svg/icon-plus.svg") no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 8px;
  }
  .ui-state-active .plus:before {
    background: url("../images/svg/icon-minus.svg") no-repeat;
  }
  
  .refinement-controls{
    margin-top: 10px;
    
    .sortby-controls{
      display: table;
      height: 60px;
      width: 100%;
      padding-top:5px;
      border-top:1px dotted #eee;
    }
    .sortby-controls > div:first-child{
      width:50%;
      display: table-cell;
      vertical-align: middle;
      color: #000;
      text-align: left;
      font-style: normal;
      font-family: $franklin-med;
      font-size: 12px;
      padding: 1.3em 0.5em 0.5em 0;
      text-transform:uppercase;
    }
    .sortby-controls > div:last-child{
      width:50%;
      display: table-cell;
      vertical-align: middle;
      select{
        width: 100%;
        height: 40px;
        border-radius: 0;
        -webkit-appearance: none;
        border: 1px solid $black;
        padding: 0 15px;
        background: url(../images/select-arrow.png) right/24px 7px no-repeat;
        font-size: 12px;
      }
    }
    
    .color-select, .size-select{
        height: 40px;
        border-radius: 0;
        -webkit-appearance: none;
        border: 1px solid $black;
        background: url(../images/select-arrow.png) right/24px 7px no-repeat;
        font-size: 12px;
        color: black;
        margin: 5px 0 10px 0;
        font-family: $franklin-book;
    }
    
    .chosen-container-multi .chosen-choices {
          position: relative;
          overflow: hidden;
          margin: 0;
          width: 100%;
          height: 40px!important;
          background-color: transparent;
          background-image: none;
          border: none;
          li.search-choice{
            margin-top:9px;
          }
          li.search-field input[type=text] {
           height: 40px;
           color: black;
           padding-left: 10px;
           background-color: transparent;
           background-image: none;
           border: none;
          }
      }
      
    
    #refinement-apply-btn{
      display:table;
      position:relative;
      width: 100%;
      height: 42px;
      background-color: black;
      color: white;
      margin: 5px 0 10px 0;
      cursor: pointer;
      p {
       display:table-cell;
       text-align:center;
       width:100%;
       vertical-align: middle;
       font-style: normal;
       font-family: $franklin-med;
       font-size: 12px;
       text-transform:uppercase;
      } 
    }
  }
}

.vert-align-helper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#sideRefinement{
  &.open{
    #sideRefinementHolder{
      right:0;
    }
    .bodyOverlay{
      opacity: 0.4;
      width:100%;
      height:100%;
    }
  }
  .bodyOverlay{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    width:0px;
    height:0px;
    background:$black;
    z-index: 9998;
    transition: opacity .5s ease;
  }
  #sideRefinementHolder{
    position:fixed;
    top:0;
    right:-453px;
    z-index: 9999;
    width:453px;
    background:$white;
    height:100%;
    overflow: auto;
    padding:0 20px 56px 20px;
    box-sizing:border-box;
    transition: right .5s ease;
    .refinementsHeader{
      position:relative;
      text-align: center;
      padding-top:20px;
      padding-bottom:40px;
      .close{
        position:absolute;
        left:0;
        top:20px;
        display: inline-block;
        font-size: 0;
        width:20px;
        height:20px;
        cursor: pointer;
      }
      h2{
        font-family: $franklin-med;
        text-transform:uppercase;
        font-size:18px;
        margin:0;
        font-weight:400;
      }
    }
    .refinement{
      margin-bottom:30px;
      h3{
        font-family: $franklin-med;
        text-transform:uppercase;
        font-size:16px;
        margin:0 0 20px 0;
        float:left;
        font-weight:400;
      }
      .clear-refinement{
        float:left;
        margin-left:15px;
      }
      .refinementOptions{
        clear:both;
      }
      ul{
        width:33%;
        float:left;
        margin:0;
        li{
          margin-bottom:15px;
        }
      }
      label{
        margin-bottom:0;
        font-family: $franklin-book;
        font-size:13px;
      }
      input[type="checkbox"]{
        position:relative;
        margin:0 12px;
        &:after{
          position:absolute;
          display: block;
          content: "";
          width: 13px;
          height: 13px;
          background:$white;
          border:1px solid #D6D6D6;
        }
        &:checked{
          outline:0;
          &:after{
            background:#1e1e1e;
          }
        }
      }

    }
    .refinementsFooter{
      position:absolute;
      bottom:0;
      width:413px;
      background:$white;
      padding:20px 0;
      text-align: center;
      .submit{
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        font-size:14px;
        color:$white;
        letter-spacing: 50;
        height: 36px;
        width: 90px;
        line-height: 36px;
        background:#1e1e1e;
        border-radius:0;
        border:0;
        padding:0;
        margin-right:20px;
        font-family: $franklin-book;
        font-size:14px;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        &:hover{
          background:#464646;
        }
      }
      #clearAllRefinements{
        color:#1e1e1e;
        text-decoration: underline;
        cursor: pointer;
        font-family: $franklin-book;
        font-size:12px;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        &:hover{
          color:#7f7f7f;
        }
      }
    }
  }
  
  @media screen and (max-width: 640px) {
    display: none;
  }
}

