.experience-contentslots {
  @media screen and (min-width: 768px) {
    position:relative;
    top: -133px;
  }
}
.primary-content, .pt_content .primary-content{
@media screen and (min-width: 1023px) {
width:100%;
}
}
.experience-a{
  img{
    width:100%;
  }
  a{
    display: block;
  }
  span{
    display: block;
    color:$white;
    font-family: $dietdidot;
    font-size:30px;
    max-width:500px;
    width:100%;
    position:absolute;
    bottom:1em;
    left:1em;
    text-transform:uppercase;
    &.background--dark{
      color:$white;
    }
    &.background--light{
      color:$black;
    }
    &.lower{
      top:75%;
    }
  }
}
.experience-b{
  @extend .clearfix;
  .asset{
    width:47.5%;
    margin-left: 5%;
    &:first-child{
      margin-left:0;
    }
    &:nth-child(1),
    &:nth-child(4){
      h2{
        height:75px;
        position:relative;
        span{
          position:absolute;
          bottom:0;
          width:100%;
          left:0;
        }
      }
    }
    &:nth-child(3){
      width:100%;
      margin-left:0;
    }
    &:nth-child(4){
      margin-left:0;;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5){
      h2{
        margin-top:15px;
      }
    }
    @media screen and (min-width: 768px) {
      width:calc(200/1300*100%);
      margin-left: calc(20/1300*100%);
      margin-bottom:40px;
      &:nth-child(3){
        width:calc(380/1300*100%);
        padding:0 calc(20/1300*100%);
        margin-left: calc(20/1300*100%);
      }
      &:nth-child(4){
        margin-left: calc(20/1300*100%);
      }
    }
  }
 
}
