@font-face {
  font-family: "Franklin Gothic Book Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/franklin-gothic-book.ttf") format("truetype");
}

@font-face {
  font-family: "Franklin Gothic Demi Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/franklin-gothic-demi.ttf") format("truetype");
}
