#footer {
    clear: both;
    font-size: 11px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-family:$franklin-book;  
    position: absolute;
    bottom: 0;  
    @media screen and (max-width: 767px) {                  
    display:none;
    }
    
    
	.signup { 
     @media screen and (max-width: 768px) {
        display: none;
        }
	background-color: $white;
    width: 100%;
    /*display: none; 
    position:absolute;
    bottom:164px;*/
    z-index: 100;
    
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #1E1E1E;
        font-size : 13px;
    }
    .placeholder::-webkit-input-placeholder {
        color : red;
    }
    input[type="text"] {
        @media screen and (max-width: 767px) {
        display: none;
        }
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom : 1px solid #1E1E1E; 
        width: 300px;
        position: absolute;
        font-size: 13px;
        height: 30px;
        font-family: $franklin-book;  
        font-weight: normal;
        margin: 30px 0 0 5px;
        &:focus{
            color:$black;
        }
    }
    span.error{
        position:absolute;
        left: 134px;
        bottom: 25px; 
        text-transform:uppercase;
          color: red;
          padding-left:7px;
          padding-bottom:20px;   

    }
    
    button[type="submit"] {
       @media screen and (max-width: 767px) {
        display: none;
        }
            &:hover {
        background: #464646;
        color: $white;
               }
       opacity: 1;
       color: $black;
       background: #fff;
       padding:0;
       width: 107px;
       height: 30px;
       font-size: 12px;
       line-height: 30px;
       font-family: $franklin-med;
       cursor: pointer;
       border: 1px solid $black;
       text-transform: uppercase;
       border-radius: 0;
       margin: 10px 0 10px 400px;
    }
    
}
.sticky-footer {
@media screen and (max-width: 767px) {
        display: none;
        }
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 120px;
    z-index: 100;
}
.footer1{
	margin-bottom: 50px;
	li{
	 	display:inline-block !important ;
	}
	.displaySignUp {
	    display:none;
	    @media screen and (min-width: 768px) {
	        display: inline-block;
			margin-right: 10px;
	    	position: relative;
	    	cursor: pointer;
	    	color:$black;
	    	text-decoration: underline;
	    	transition: color 0.25s ease;
		    &:hover {
		        color: $grey;
		    }
	    }
	}
	.privacy-policy{
		padding-left:15px;
		color: #1e1e1e;
	}
    .footerSocial{
	    @media screen and (max-width: 767px) {
	        display: none;
		}
        display: block;
        padding-left:10px;
        
        a{
            font-size: 0;
            margin:0 8px 0 8px;
            position:relative;
           
        &:before  { 
                    font-family: FontAwesome; 
                    font-size: 16px; 
                    display: inline-block; 
                }
            
                &.facebook:before {content: '\f230';}
                &.twitter:before {content: '\f099';} 
                &.instagram:before {content: '\f16d';}
                &.pinterest:before {content: '\f0d2';}
                &.facebook:hover {color:#3b5999;}
                &.twitter:hover {color:#55acee;}
                &.instagram:hover {color:#E4405F;}
                &.pinterest:hover {color:#bd081c;}
              
        }
    }
	.esformheader .email-signup-form input{
		margin-right: 15px !important;
	}
}

    .menu-footer,
     {
        @media screen and (max-width: 767px) {
                display: none;}
        float: none;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        color:$black;
        margin:1.4em 0;
        li {
            display: inline-block;
            float: none;
            padding: 0 1em;
            border-right:solid 1px $nobel;
            white-space: nowrap;
            line-height:1;
            a {
                color: $black;
                transition: color 0.25s ease-in-out 0s;
                &:hover {
                    color: $grey;
                }
            }
        }
        .noPipe{
            border:0;
        }

    }
    .lower-menu-footer {
        float: none;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        color:$black;
        line-height:1;
        margin:1.4em 0 0.4em 0;
        li {
            display: inline-block;
            float: none;
            padding: 0 1em;
            border-right:solid 1px $nobel;
            white-space: nowrap;
            line-height:1;
            a {
                color: $black;
                transition: color 0.25s ease-in-out 0s;
                &:hover {
                    color: $grey;
                }
            }
        }
        .noPipe{
            border:0;
        }

    }

    .desktop-footer-logos{
        clear:both;
        display: table;
        text-align: center;
        margin: 0 auto;
        @media screen and (max-width: 767px) {
        display:none;
        }
 		
 		ul{
 			margin: 0.6em 0;
    		padding: 0;
    		line-height: 1;
    		font-size: 12px;
 		}
        li{
            @media screen and (min-width: 767px) {
              display: inline-block;
                margin-left:50px;
                height:auto;
                &:first-child{
                    margin-left:0;}
                    }
            a{
                display: inline-block;
                background-repeat:no-repeat;
                height:auto;
                color:transparent; 
                background-position: center;       
            }
                &.herveleger a{
                width:147px;
                background-image: url(../images/homepage/HL_Logo2016.svg);
            }
            &.bcbg a{
                width:197px;
                background-image: url(../images/BCBG_Logo_blk.svg);
            }
       
            &.bcbgeneration a{
                width:145px;
                background-image: url(../images/Gen_LOGO_blk.svg);
            }
        }
    }   
    
    .menu-footer{
        @media screen and (max-width: 767px) {
            width:320px;
            margin:0 auto;
            li{
                padding:0 5px 0 2px;
                &:nth-child(4){
                    border-right:0;
                }
            }
        }
    }
    .lower-menu-footer {
        li{
            margin:0;
        }
    }
    
    .menu-footer {
        font-family: $franklin-book;
    }
}
#promotional-signup-wrapper {
    background-color: $black;

    .emailPopUpLeft {
        float: left;
        margin: 0 82px 0 0;
    }

    .emailPopUpRight {
        float: left;
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
        }
    }

    .emailPopUpCloseArea {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        cursor: pointer;
        right: 0;
        background-image: url("../images/closeEmail.gif");
        background-repeat: no-repeat;
    }

    .promotional-signup-copy {
        position: absolute;
        left: 20px;
        top: 200px;
        width: 244px;

        h2 {
            font-family: $franklin-demi;
            font-size: 32px;
            margin-bottom: 0;
        }

        p {
            font-family: $franklin-book;
            font-size: 18px;
            line-height: 22px;
            margin-top: 0;
        }
    }

    form {
        position: absolute;
        display: inline-block;
        left: 20px;
        top: 338px;
        width: 215px;
    }

    #promotional-signup-email {
        color: $black;
        background-color: #ececed;
        border: 0 solid #AAAAAA;
        height: 25px;
        padding: 0.2em 0 .2em .4em;
        width: 215px;
    }

    #promotional-signup-email-error {
        clear: left;
        width: 105%;
        padding: 0px;
    }

    button {
        color: $black;
        border: solid 1px #5e5f61;
        font-size: 1em;
        background: #cdcfd1;
        padding: 3px 20px;
        background: -webkit-gradient(linear, right center, left center, from(#949699), to(#ebecee));
        background: -moz-linear-gradient(right, #949699, #ebecee);
        text-transform: uppercase;

        position: absolute;
        left: 0;
        top: 65px;

        @media screen and (max-width: 320px) {
            top: 40px;
        }
    }
}

.email-signup-thankyou {
    font-family: $franklin-book;
    font-size: 2.5em;
    padding: .3em 0 .2em;
    text-transform: uppercase;
    width: 265px;
}

#checkouttermsdiv {
    font-family: $franklin-book;
    font-size: 12px;

    a {
        color: #333;
    }

    .cspic {
        float: right;
        margin-left: 1em;
        width: 300px;
        height: 479px;
    }

    #continuebuttons {
        width: 45%;

        @media screen and (max-width: 736px) and (min-width: 320px) {
            width: 100%;
            clear: both;
        }

        float: left;

        button {
            width: auto 0;
            cursor: pointer;
            color: white;
            background-color: black;
            padding: 5px 35px;
            text-align: center;
            font-size: 14px;
            font-weight: normal;
            border: none;
            font-family: $franklin-book;
            text-transform: uppercase;
            display: block;
            margin: 30px;
            margin-left: auto;
            margin-right: auto;
            width: 142px;
        }
    }

    #is_leftside {
        float: left;
        width: 5%;
    }

    #is_rightside {
        float: right;
        width: 40%;

        @media screen and (max-width: 736px) and (min-width: 320px) {
            width: 80%;
        }

        padding-bottom: 30px;

        .smaller {
            font-size: .75em;
        }
    }
}
#backtotop{
    background: url("../images/icon_backtotop.svg") no-repeat scroll center top rgba(0, 0, 0, 0);
    width: 28px;
    position: fixed;
    right: 3%;
    bottom: 15px;
    z-index: 999;
    display: none;
    span{
        color: transparent;
        cursor: pointer;
    }
}

#cookiepopup {
    position: fixed;
    bottom: 5px;
    left: 10px;

    width: 300px;

    background: #fff;
    border: 1px solid #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    padding: 15px;
    text-align: left;
    z-index: 1;

    .content-asset {
        h2 {
            margin: 5px 0 0 0;
            text-transform: uppercase;
            font-size: 1.2em;
        }

        p {
            margin: 5px 0 0 0;
            line-height: 1.4em;

            a {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    #cookieclose {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 1.6em;
    }
}

.js .ui-dialog-content .emailSignupThanksContainer {

    height:auto;
    padding:0 0 0 0;
    overflow:hidden;
    h1{
        font-family: $franklin-med;
        font-size:42px;
        color:$black;
        text-align: center;
        margin-bottom:0;
        letter-spacing:0.8px;
        @media screen and (max-width: 767px){
            font-size:40px;
        }
    }
    p{
        margin-bottom:15px;
        font-family: $franklin-book;
        font-size: 12px;
        line-height: 16px;
        color:$black;
        text-align: center;
        &.subtitle{
            font-family: $franklin-book;
            font-size:16px;
            line-height: 24px;
            width:100%;
            margin:0 auto 35px auto;
        }
        &.notice{
            margin-bottom:40px;
        }
    }
    a {
        color: $black;
        text-decoration:underline;
        &:hover{
            color: #7F7F7F;
        }
    }
    .formHolder{
        margin-bottom:50px;
        text-align: center;
        margin-left: 80px;
        .form-row{
            float:left;
            margin-right:10px;
            &:nth-child(2),
            &:nth-child(3){
                margin-right:30px;
            }
            &:last-child{
                margin-right:0;
            }
            label{
                display: block;
                font-size:12px;
                font-family: $franklin-book;
                color:$black;
                margin-bottom:5px;
                height:15px;
                &.error{
                    color:red;
                    padding-left:22px;
                    position:relative;
                    &:before{
                        content:"";
                        display: block;
                        position: absolute;
                        top:-2px;
                        left:0;
                        width:20px;
                        height:18px;
                        background-image:url("../images/icon_error.svg");
                        background-position: left;
                        background-repeat: no-repeat;
                        background-size:contain;
                    }
                }
            }
            select{
                position: relative;
                background:$white;
                padding:0 5px;
                max-width: 148px;
                border:1px solid #d3d2d2;
                height:28px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background:transparent;
                border-radius:0;
                outline:0;
                background:url("../images/down-arrow.svg");
                background-position: right 3px top 12px;
                background-repeat: no-repeat;
                background-size:6px;
                &.error{
                    border-color:red;
                    color:$black;
                }
                
                &:before{
                    content:"\f0d7";
                    font-size:16px;
                    font-family: FontAwesome;
                    position:absolute;
                    right:10px;
                    top:8px;
                }
            }
            input[type="text"]{
                border:1px solid #d3d2d2;
                height:28px;
                width:120px;
            }
        }
    }
    .form-row-button{
        text-align: center;
        float:none;
        button{
            background:$black;
            color:$white;
            width:90px;
            height:36px;
            line-height: 36px;
            font-family: $franklin-book;
            font-size: 14px;
            text-transform: uppercase;
            padding:0;
            &:hover{
                background:#464646;
            }
        }
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;

    }
#footermobile{
  display:none;
  background-color:$white;
  color:$black;
  @media screen and (max-width: 767px) {
  	border-top:1px dotted $black;
  	display:inline;
  }
    
    h4{
        font-family: $franklin-book;
        margin:0;
        clear:both;
        font-weight: 400;
        font-size:14px;
    }
    a{
        color:$black;
        white-space: normal;
    }
    .socialCol{
        form{
            width: auto;
            display: block;
            position:relative;
            .emailAlreadyUsed{
                display: none;
                font-size: 12px;
                font-family: $franklin-book;
                cursor: default;
                padding:20px;
                position:absolute;
                bottom:45px;
                color:$white;
                background:$black;
                text-align: center;
                -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                .alreadySignedUp &{
                    display: block;
                }
                &:after{
                    content:"";
                    position:absolute;
                    bottom:-13px;
                    right:21px;
                    border-top:13px solid $black;
                    border-left:12px solid transparent;
                    border-right:12px solid transparent;
                }
                h2{
                    margin:0 0 10px 0;
                    line-height: 30px;
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight:normal;
                    font-family: $franklin-book;
                }
                p{
                    margin:0;
                }
                .close{
                    position:absolute;
                    top:10px;
                    right:10px;
                    height:20px;
                    width: 20px;
                    cursor: pointer;
                    display: block;
                    background:url(../images/icon_close_white.svg) no-repeat;
                }
            }
            @extend .clearfix;
            margin: 30px 15px 15px;
            input[type="text"]{
                height:30px;
                width:65%;
                line-height: 28px;
                color:$black;
                float:left;
                border:none;
                border-bottom:1px solid $black;
                &.error{
                    border-bottom:1px solid $black;
                }
            }
            span.error{
                display: none !important;
				position:absolute;
                bottom:-20px;
                color:$venetian-red;
            }
            button{
                height:30px;
                width:29.0323%;
                padding:0;
                background:$white;
                color:$black;
				border:1px solid $black;
                font-size: 12px;
                font-family: $franklin-med;
                float:right;
            }
        }
		.esformheader{
			border-bottom: 1px dotted #1e1e1e;
			margin-bottom: 26px;
			.policy-spacer{
				margin-bottom: 26px;
			}
		}
        .socialIcons{
            
            -moz-text-align-last: justify;
            -webkit-text-align-last: justify; /* not implemented yet, and will not be */
            text-align-last: justify; /* IE */
            
                margin:15px auto 0 auto;
                text-align:center;
            a{
                display: inline-block;
                font-size:0;
                
                    margin:0 25px;
            
                &:before  { 
                    font-family: FontAwesome; 
                    font-size: 22px; 
                    display: inline-block; 
                }
                &.facebook:before {content: '\f230';}
                &.twitter:before {content: '\f099';}
                &.tumblr:before {content: '\f173';}
                &.instagram:before {content: '\f16d';}
                &.pinterest:before {content: '\f0d2';}
                &.youtube:before {content: '\f16a';}
                &.googleplus:before {content: '\f0d5';}
                &.facebook:hover {color:#3b5999;}
                &.twitter:hover {color:#55acee;}
                &.tumblr:hover {color:#36465d;}
                &.instagram:hover {color:#E4405F;}
                &.pinterest:hover {color:#bd081c;}
                &.youtube:hover {color:#e52d27;}
                &.googleplus:hover {color:#C33726;}
            }
        }
    }
    .footer-logos{
        clear:both;
        text-align: center;
        
        li{
            a{
                display: block;
                background-repeat:no-repeat;
                background-position:center;
                height:auto;
                color:transparent;
                width:auto;
            }
             &.herveleger a{
             	width:130px;
                background-image: url(../images/homepage/HL_Logo2016.svg);
            }
            &.bcbg a{
            	width:170px;
                background-image: url(../images/BCBG_Logo_blk.svg);
            }
       
            &.bcbgeneration a{
            	width:120px;
                background-image: url(../images/Gen_LOGO_blk.svg);
                }
        }
    }
    .footer-bottom{
        text-align:center;
    }

    @media screen and (max-width: 767px) {
        padding:0 0 30px 0;
        .linkCol, .socialCol{
            text-align: center;
            font-size:12px;
            padding:0;
            border-bottom:1px dotted $black;
            
            .hideable{
                display: none;
                li>a {
                    padding: 0.4em 0;
                    display: block;
                }
            }
            > h4{
                font-weight: 400;
             
                text-align: center;
                text-transform: uppercase;
                font-style: normal;
                font-family: $franklin-med;
                font-size: 13px;
                padding: 26px;
                
                &:after{
                  content: "+";
                  float: right;
                  width: 10px;
                  line-height: 16px;
                  font-size:16px;
                  position:relative;
                  top:-3px;
                  
                }
            }
            &.open{
                > h4:after{
                    content: "-";
                }
                .hideable{
                    display: block;
                    font-size: 1em;
                    margin: 0 auto 1em auto;
                }
            }
        }
        .socialCol{
            margin-bottom:0px;
            .hideable{
                width:310px;
                margin:auto;
            }
			&.last-section{
				border:none;
			}
        }
        .footer-logos{
       		display: table;
   			margin: 1em auto 0 auto;
        	ul {
        		margin: 0;
        		padding: 0;
        		line-height: 1;
        	}
            li{
                a{
                    margin:2em auto;
                }
            }
        }
    }
}
.non-cookie-subscribe {
    .error{
        color: #1e1e1e;
        &::placeholder {
            color: $venetian-red;
        }
        .valid.error {
            border-bottom: 2px solid $venetian-red;
            &::placeholder {
                color: $venetian-red;
            }
        }
    }
    button {
        background: #1e1e1e;
        color: #fff;
        width: auto;
        height: auto;
        line-height: 36px;
        font-size: 14px;
        text-transform: uppercase;
        padding: 0.5em 2em;
    }
    
}
#MCSubscriptionForm{
    .emailAlreadyUsed{
        display: none;
        font-size: 12px;
        font-family: $helvetica-55;
        cursor: default;
        padding:20px;
        position:absolute;
        bottom: 120px;
        left: 30%;
        color:$white;
        background:$black;
        text-align: center;
        -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
        @media (max-width: 700px) {
            left: 20%;
        }
        .alreadySignedUp &{
            display: block;
        }
        &:after{
            content:"";
            position:absolute;
            bottom:-13px;
            right:21px;
            border-top:13px solid $black;
            border-left:12px solid transparent;
            border-right:12px solid transparent;
        }
        h2{
            margin:0 0 10px 0;
            line-height: 30px;
            font-size: 30px;
            text-transform: uppercase;
            font-weight:normal;
            font-family: "DietDidot W01 Regular";
            color: white;
        }
        p{
            margin:0;
        }
        .close{
            position:absolute;
            top:10px;
            right:10px;
            height:20px;
            width: 20px;
            cursor: pointer;
            display: block;
            background:url(../images/icon_close_white.svg) no-repeat;
        }
    }
}
.responsys-first-time {
    @media(max-width: 768px){
        min-width: 100%;
    }
    @media(min-width: 769px) {
        min-width: 800px;
    }
}
.esformheader,
.responsys-first-time {
    .subscribed-thankyou {
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
    }
    #dialog-container{
        overflow: hidden;
        .sub-join-list{
            font-size: 32px;
            font-weight: 900;
            text-align: center;
        }
		.sub-percent{
			text-align: center;
			margin: 0 0 15px 0;
		}
		.sub-offers2{
			margin: 0 auto;
    		width: 85%;
    		text-align: center;
		}
        .sub-offers{
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;
            width: 60%;
            margin: auto;
            @media (max-width: 540px) {
                width: 80%;
            }
            @media (max-width: 440px) {
                width: 100%;
            }
        }
		.privacy-policy{
			color: #1e1e1e;
		}
        #dwfrm_mcsubscribe_email {
            width: 50%;
            border: 0;
            border-bottom: 1px solid #969696;
            padding-bottom: 0.8em;
            font-size: 14px;
            text-align: center;
            margin: auto;
            display: block;
            @media(max-width: 768px){
                width: 80%;
            }
            &:focus {
                outline: 0;
            }
        }
        label[for=dwfrm_mcsubscribe_email] {
            display: none;
        }
        #mc-subscribe-submit-email{
            margin: 20px;
        }
    p {
        line-height: 20px;
    }
    .sub-h1 {
        color: #1e1e1e;
        text-align: left;
        margin-bottom: 30px;
        padding-top: 50px;
        font-size: 16px;
        width: 70%;
        margin: auto;
        letter-spacing: 2px;
        margin-bottom: 20px;
        @media(max-width: 540px) {
            width: 80%;
        }
    }
    .sub-cta {
        margin-bottom: 0;
        width: 70%;
        margin: auto;
        text-align: left;
        font-size: 1.1rem; 
        line-height: 20px;
        padding-bottom: 50px;
        letter-spacing: .1px;
        @media(max-width: 540px) {
            width: 80%;
        }
    }
    .sub-percent-off {
        width: 80%;
        margin: auto;
        text-align: left;
        font-size: 1.1rem; 
        font-weight: 900;
        margin-bottom: 30px;
        @media(max-width: 540px) {
            width: 80%;
        }
    }
    .sub-percent-off,
    .sub-please-add {
        display: none;
    }
    .sub-please-add {
        width: 80%;
        margin: auto;
        text-align: left;
        font-size: 1.1rem; 
        padding-bottom: 40px;
        @media(max-width: 540px) {
            width: 80%;
        }
    }
    #MCSubscriptionFormInfo,
    .form-horizontal {
        margin: auto;
        text-align: center;
        .form-row{
            margin: 0;
        }
        .form-caption {
            display: inline-block;
        }
            @media screen and (min-width: 768px) {
            .form-row-button {
                margin-left: 0;
                width: 100%;
            }
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
            .form-caption {
                @media screen and (min-width: 768px) {
                    margin-left: 0;
                  }
            }
         }
         @supports (-ms-ime-align: auto) {
            .form-caption {
                @media screen and (min-width: 768px) {
                    margin-left: 0;
                  }
            }
          }
        .sub-name {
            width: 70%; 
            margin: auto;
            padding-bottom: 40px;
            @media(max-width: 540px) {
                width: 80%;
            }
            #dwfrm_mcsubscribe_lastname-error,
            #dwfrm_mcsubscribe_firstname-error {
                color: red;
                width: 100%;
                text-align: center;
                position: absolute;
            }
            .form-row.required{
                float: left;
                width: 47%;
                position: relative;
                padding-bottom: 15px;
                label {
                    width: auto;
                    text-align: left;
                    span{
                        &:first-child {
                            display: none;
                        }
                    }
                    .required-indicator {
                        display: none;
                    }
                }
                input {
                    border: 0;
                    border-bottom: 1px solid #969696;
                    letter-spacing: .5px;
                    padding-bottom: 0.8em;
                    font-size: 1.1rem; 
                    text-indent: 7px;
                    color: inherit;
                    &:focus {
                        outline: 0;
                    }
                    &#dwfrm_mcsubscribe_firstname {
                        margin-right: 10px;
                    }
                    &#dwfrm_mcsubscribe_lastname{
                        margin-left: 10px;
                    }
                    &::placeholder {
                        color: #1e1e1e;
                        margin-left: 5px;
                    }
                }
            }
        }
        .sub-location {
            width: 70%;
            margin: auto;
            padding-bottom: 50px;
            @media(max-width: 540px) {
                width: 80%;
            }
            .form-row {
                float: left;
                width: 47%;
                label,
                .form-caption {
                    display: none;
                    @media screen and (min-width: 768px) {
                        display: none !important;
                    }
                }
                 input {
                    border: 0;
                    border-bottom: 1px solid #969696;
                    padding-bottom: 0.8em;
                    letter-spacing: .5px;
                    font-size: 1.1rem; 
                    margin-right: 10px;
                    text-transform: uppercase;
                    text-indent: 7px;
                    &:focus {
                        outline: 0;
                    }
                    &::placeholder {
                        color: #1e1e1e;
                        margin-left: 5px;
                    }
                }
            }
            .form-row.required{
                float: left;
                width: 47%;
                label {
                    display: none;
                }
                input,
                select {
                    border: 0;
                    border-bottom: 1px solid #969696;
                    font-size: 1.1rem; 
                    text-transform: uppercase;
                    &:focus {
                        outline: 0;
                    }
                    &::placeholder {
                        color: #1e1e1e;
                        margin-left: 5px;
                    }
                    &#dwfrm_mcsubscribe_country {
                        margin-left: 10px;
                        margin-top: 3px;
                        padding: 4px 0 6.5px 10px;
                        letter-spacing: .5px;
                        height: auto;
                        background-size: 8px;
                        background-color: transparent;
                        border-radius: 0;
                        position: relative;
                        background: #fff;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background: transparent;
                        border-radius: 0;
                        outline: 0;
                        background: url(../images/down-arrow.svg);
                        background-repeat: no-repeat;
                        background-position: right 10px top 8px;
                    }
                }
            }
        }
        .sub-dob{
            width: 70%;
            margin: auto;
            display: flex;
            margin-top: 10px;
            margin-bottom: 40px;
            @media(max-width: 540px) {
                width: 80%;
            }
            label {
                font-size: 1.1rem; 
                text-transform: uppercase;
                margin-left: 5px;
                @media(max-width: 768px) {
                    width: auto;
                }
            }
            label[for="dwfrm_mcsubscribe_dobyear"] {
                display: none;
             }
            .form-row {
                float: left;
                margin-right: 10px;
                &:nth-of-type(1) {
                    width: calc(40% - 10px);
                }
                &:nth-of-type(2) {
                    width: calc(20% - 10px);
                }
                &:nth-of-type(3) {
                    width: calc(40% - 10px);
                    margin-right: 13px;
                }
                #dwfrm_mcsubscribe_dobmonth,
                #dwfrm_mcsubscribe_dobday,
                #dwfrm_mcsubscribe_dobyear {
                    width: 100%;
                    border: 1px solid #969696;;
                    max-width: 100%;
                    height: 100%;
                    padding: 1px 10px;
                    background-size: 8px;
                    background-color: transparent;
                    letter-spacing: .5px;
                    border-radius: 0;
                    position: relative;
                    background: #fff;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border-radius: 0;
                    outline: 0;
                    background: url(../images/down-arrow.svg);
                    background-repeat: no-repeat !important;
                    background-position: right 10px top 14px;
                    margin-top: 5px;
                    text-transform: uppercase;
                    font-size: 1.1rem; 
                }
            }
            .form-row.required{
                float: left;
                width: 100%;
                input {
                    border: 0;
                    border-bottom: 1px solid #969696;
                }
            }
        }
        #mc-subscribe-submit-info {
            margin-top: 30px;
            margin-bottom: 40px;
            background: #1e1e1e;
            color: #fff;
            height: auto;
            line-height: 36px;
            font-size: 1.1rem; 
            text-transform: uppercase;
            width: 40%;
            padding: 0.5em 2em;
            font-size: 1.1rem; 
        }
        .sub-privacy {
            color: #1e1e1e;
            font-size: 1.1rem; 
            text-decoration: underline;
        }
    }
}
    h1{
        font-family: "ITCFranklinGothicW01-Md 812695";
        font-size: 24px;
        color: #1e1e1e;
        text-align: center;
        margin-bottom: 20px;
        letter-spacing: 0.8px;
    }

    .email-signup-form {
        input {
            border: none;
            border-bottom: 1px solid;
            width: 60%;
            position: relative !important;
            margin-right: 35px !important;
            &:focus {
                border: none;
                border-bottom: 1px solid;
            }
            @media (max-width: 768px) {
                margin-right: 0 !important;
            }
        }
        .error{
            color: #1e1e1e;
            &::placeholder {
                color: $venetian-red !important;
            }
        }
        .valid.error {
            &::placeholder {
                color: $venetian-red !important;
            }
        }
        .mc-subscribe-start {
            margin: 0 !important;
        }
        .emailAlreadyUsed{
            display: none;
            font-size: 12px;
            font-family: $helvetica-55;
            cursor: default;
            padding:20px;
            position:absolute;
            bottom:50px;
            left: 37%;
            color:$white;
            background:$black;
            text-align: center;
            -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
            .alreadySignedUp &{
                display: block;
            }
            &:after{
                content:"";
                position:absolute;
                bottom:-13px;
                right:21px;
                border-top:13px solid $black;
                border-left:12px solid transparent;
                border-right:12px solid transparent;
            }
            h2{
                margin:0 0 10px 0;
                line-height: 30px;
                font-size: 30px;
                text-transform: uppercase;
                font-weight:normal;
                font-family: "DietDidot W01 Regular";
            }
            p{
                margin:0;
            }
            .close{
                position:absolute;
                top:10px;
                right:10px;
                height:20px;
                width: 20px;
                cursor: pointer;
                display: block;
                background:url(../images/icon_close_white.svg) no-repeat;
            }
        }
    }
}

#primary {
	@media (max-width: 690px){
	    	h1.sub-join-list{
	    		margin: 10px;
	    	}
	    	p.sub-offers {
   				 margin: 10px;
			} 	
    }
    #MCSubscriptionFormUnsubscribe{
        .form-row {
            margin: 0;
            label {
                text-align: left;
                font-size: 18px;
                padding-bottom: 5px;
            }
            button {
                margin: 10px 0;
            }
        }
        @media (max-width: 690px){
            	margin: 10px;
            button {
                width: 100%
            }
        }
    }
}
.ui-dialog.responsys-first-time{
    max-width: 520px;
    max-height: 600px;
    min-width: 520px;
    padding: 40px 1%;
    box-sizing: border-box;
    @media(max-width: 540px) {
        max-height: 667px;
        width: 100% !important;
        min-width: 100% !important;
    }
}