.js{
  .intl-shipping-container{
     overflow: hidden;
    .submitting &{
      opacity: 0.8;
    }
    h2{
      font-family: $franklin-med;
      font-size: 28px;
      color:$black;
      margin-bottom:15px;
    }
    p, label{
      font-family: $franklin-book;
      font-size:12px;
      line-height: 16px;
      color:$black;
      margin-bottom:10px;
    }
    p:last-of-type{
      margin-bottom:30px;
    }
    label{
      margin-bottom:5px;
      font-weight: normal;
    }
    .selectHolder{
      position: relative;
      background:$white;
      padding:5px;
      max-width: 198px;
      border:1px solid $black;
      margin-bottom:10px;
      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background:transparent;
        border:0;
        outline:0;
      }
      &:before{
          content:"\f0d7";
          font-size:16px;
          font-family: FontAwesome;
          position:absolute;
          right:10px;
          top:8px;
        }
    }
    a{
      text-decoration: underline;
      color:$black;
      &:hover{
        color:#7f7f7f;
      }
    }
    .langOpts{
      margin-bottom:40px;
    }
    .intlUpdateCancel{
      .intl_update{
        height:36px;
        padding:0 17px;
        background:$black;
        font-size:14px;
        text-transform: uppercase;
        &:hover{
          background:#464646;
        }
      }
      .intl_cancel{
        background:transparent;
        text-decoration: underline;
        margin-left:5px;
        color:$black;
        padding:0.5em 0;
        font-family: $franklin-book;
        font-size: 12px;
        &:hover{
          color:#7F7F7F;
        }
      }
    }
  }
}