.ui-widget-overlay {
  background: url("../images/interface/ui-overlay-shadow.png") repeat scroll 50% 50% $night-rider;
  opacity: 0.4;
}

.ui-dialog {
  background-color: $white;
  padding: 40px 2%;
  .ui-widget-header {
    border: 0 none;
    border-radius: 0 0 0 0;
    height: 23px;
    text-transform: uppercase;
    position:absolute;
    right:0;
    top:0;
  }
  .ui-dialog-title {
    color: $night-rider;
    font-weight: bold;
  }
  .ui-icon-closethick {
    background: url('../images/icon_close.svg') no-repeat;
    height: 20px;
    width:20px;
    top:0;
    left:0;
    margin:0;
  }
  .ui-dialog-titlebar-close {
    background-color: transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    top:10px;
    right:10px;
    margin:0;
    padding:0;
  }
  .ui-dialog-content{
    padding:0;
  }
  h1,
  h2 {
    font-size: 18px;
    font-family: $franklin-book;
    text-transform: uppercase;
    color:$black;
    margin:0 0 15px 0;
  }
  p{
    margin:0 0 30px 0;
    &:last-of-type{
      margin:0;
    }
  }
  .dialog-required {
    font-weight: 400;
    position: relative;
    text-transform: none;
  }
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
}

.ui-tabs {
  .ui-tabs-nav {
    height: 2.45em;
    padding: 0;
    li {
      background-color: $white-smoke;
      border-color: $gainsboro $gainsboro $white;
      border-style: solid;
      border-width: 1px;
      font-style: italic;
      &.ui-state-active {
        background-color: $white;
        a {
          color: $dim-gray;
        }
      }
      a {
        color: $nobel;
      }
    }
  }
  .ui-tabs-panel {
    background-color: $white;
    border-color: $gainsboro;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 4px 2px 10px 0 rgba(66, 66, 66, 0.1);
    color: #414141;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    padding: 20px 10px;
  }
}
