.login-box {
  margin: 0 0 2em;
  h3 {
    margin: 0;
  }
  p {
    margin: 1em 0;
  }
  .error {
    margin-left: 0;
  }
  input[type=password],
  input[type=text], 
  textarea {
    width: 80%;
    margin: 0.2em 0 0.4em 0;
    padding: 0.4em 0;
    border: 1px solid #1e1e1e;
  }
  button {
    border: 0;
    width:auto;
    padding: 0.6em 2em;
    text-transform: uppercase;
    &:hover {
      background:$charcoal;
    }
    @media screen and (max-width: 767px) {
      width:100%;
    }
  }
}
.login-box-content {
  .already-registered {
    margin-bottom: 0;
  }
  label {
    font-size: 1em;
  } 
  .remember-me {
    .input-checkbox, label {
      vertical-align: middle;
    }
  }
  #password-reset {
    display: inline-block;
    margin: 10px 0 0;
  }
}

.col-2 {
  .login-box {
    ul {
      line-height: normal;
    }
    li {
      list-style-type: disc;
      font-size: 1em;
      line-height: 1.6em;
    }
  }
}

.login-rememberme {
  display: inline-block;
  margin-left: .5em;
}

.login-oauth p:first-child {
  font-size: 2em;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

#OAuthProvider {
  display: block;
  margin-bottom: 1em;
  width: 80%;
}

.checkoutlogin {
  h1 {
    float: left;
      width: 40%;
      margin: 0  0 14px;
      font-size: 2.7em;
      font-family: "Didot W01 Headline";
      font-style: normal;
  }
    .section-header {
      background: $black;
      color: $white;
      font-family: $franklin-book;
      font-weight: 400;
      padding: 5px 0;
      text-align: center;
      width: 96%;
  }
  .col-1 {
      clear: both;
      float: left;
      padding-left: 40px;
      border: none;
      width: 30%;
      border-right: 1px solid $black;
      min-height: 650px;
      
      .login-box-content {
        width: 95%;
      }
  }
  .col-2, 
  .col-3 {
      float: left;
      width: 30%;
  }
  .col-2 {
    border-right: 1px solid $black;
      min-height: 650px;
      margin: 0 15px;
      
      .login-box {
        width: auto;
        height: auto;
        text-indent: 0;
        margin: 0;
      }
      .registration {
        width: 95%;
      }
      p.details {
        width: 100%;
      }
      .form-row {
        
        &.title {
          float: left;
          width: 20%;
        }
        &.firstname {
          float: right;
          width: 75%;
          margin-bottom: 12px;
        }
        &.lastname {
          clear: both;
        }
      }
    input[type=text],
    input[type=password] {
      width: 100%;
      margin: 5px 0 0; 
    }
    .email-updates label {
      width: 90%;
    }
  }
  .col-3 {
    button {
      background: url('../images/sprite-main-BCBG.png') -678px -203px no-repeat;
        width: 91px;
    }
  }

    .checkoutloggedin {
        min-height: auto;
        border: none;
    }
}
