#mini-cart {
  z-index: 20;
  float:left;
  list-style: none;
  display: inline-block;

  @media screen and (min-width: 768px) {
      box-sizing: initial;
  }
  .desktop-show {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .mobile-show {
    color: $black;
    font-size: 12px;
    padding: 8px 0;
    display: inline-block;
    width: 22px;
    text-align: center;
    margin-left: -17px;
    margin-top: -6px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  .minicart-lastvisited {
    .jc-lastviewed-wrapper {
      .jc-lastviewed {
        @media screen and (max-width: 768px) {
            height: 99px;
        }
      }
    }
  }
  
  &.open {
    .bodyOverlay{
      opacity: 0.4;
      width:100%;
      height:100%;
    }
  }
  
  .bodyOverlay{
    opacity: 0;
    width:0px;
    height:0px;
    position:fixed;
    top:0px;
    left:0px;
    background:$black;
    z-index: 10;
    transition: opacity .5s ease;
  }
}

.minicart-action-menu{
    float: left;
    clear: left;
    
  .item-edit-minicart, .item-remove-minicart, .separator {
    float: left;
    text-align: right;
    display: inline;
    margin: 1em 0.5em 0 0;
    a {
      font-size: 12px;
      color: $black;
      font-family: $franklin-book;
      text-decoration: underline;
      font-weight: normal;
      &:hover{
        color: $grey;
      }
      .bodyOverlay {
          opacity: 0;
      }
    }
  }
}

.mini-cart-total {
  font-size: 10px;
  font-weight: normal;
  text-transform: capitalize;
  @media screen and (min-width: 768px) {
   height: 17%;
  }
}

.mini-cart-content {
   background-color: $white;
   z-index: 10;
   display: none;
    
  @media screen and (min-width: 768px) {
    width:23em;
    position:fixed;
    top:0px;
    right:0px;
    padding:1.429em;
    height: 100%;
  }
    
  @media screen and (max-width: 767px) {
    border: 1px solid $very-light-gray;
    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 1em;
    top: 35px;
    width: 245px;
    max-width: none;
    #mini-cart:hover & {
      display: block;
    }
    li{
      float:none;
    }
  }
}

.mini-cart-header {
  font-family: $franklin-med;
  text-align: center;
  width: inherit;
  text-transform:uppercase;
  color:$black;
  
  .close {
      position:absolute;
      display: inline-block;
      width:20px;
      height:20px;
      cursor: pointer;
      left: 0px;
    }
    
  @media screen and (min-width: 768px) {
    font-size: 16px;
    position: absolute;
    top: 0.8em;
  }
  
  @media screen and (max-width: 767px) {
    font-size: 1.2em;
    padding: 1em 0;
    margin: 0 0 0 1em;
    .close {
      width: 15px;
      height: 15px;
      left: 1.1em;
    }
  }
  
}

.mini-cart-products {
    border-top: 1px solid $black;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    
  @media screen and (min-width: 768px) {
    margin: 1.429em 0;
    font-size: 0.9em;
    font-weight: 400;
    position: absolute;
    top: 2.5em;
    bottom: 19em;
    width:calc(100% - 3em)
  }
  @media screen and (max-width: 767px) {
    max-height: 25em;
    padding: 0.5em;
  }
  
}

.mini-cart-product {
  overflow: hidden;
  padding: 2em 0 2em 0.5em;
  position: relative;
  height: auto;
  float: left;
  clear: left;
  border-bottom: 1px solid $black;
  width:100%;
  &:last-child {
    border-bottom:none;
  }
  &:before {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 0;
    height: 1px;
    width: 92%;
    margin: 0 auto;
    border-bottom: 1px dot $dark-gray;
  }
  &.collapsed {
    .mini-cart-name,
    .mini-cart-attributes,
    .mini-cart-pricing,
    .product-availability-list {
      width: 90%;
    }
    .mini-cart-image {
      display: none;
    }
  }
  .mini-cart-toggle {
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  @media screen and (max-width: 767px) {
    padding: 6px 10px 10px;
    .minicart-action-menu {
      display: none;
    }
  }
}

.mini-cart-image {
  float: left;
  max-width:32%;
  padding: 0 1.1em 0 0;
  img {
      max-width: 85px;
      width:100%;
  }
   @media screen and (max-width: 767px) {
    float: left;
    width: 40%;
    height: 115px;
    img {
      max-width: 90%;
    }
  }
}
.mini-cart-rightside {
  width:60%;
  float:left;
  position: relative;
   @media screen and (max-width: 767px) {
     width:50%;
     float:left;
     text-align: left;
     line-height: 1.5em;
   }
}
.mini-cart-name {
  float: left;
  font-size: 13px;
  font-family: $franklin-book;
 
  > a {
    color:#333;
    text-transform: uppercase; 
    text-align:left;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.1em;
  }
}

.mini-cart-sku {
  font-size: 1.1em;
  color: $nobel;
  margin: 0 0 5px;
  float: left;
}

.mini-cart-qty {
  float: left;
  clear:left;
  font-size: 1.1em;
  color: $dim-gray;
}

.mini-cart-attributes, .mini-cart-product, .product-availability-list {
  float: left;
  clear:left;
  font-size: 12px;
  color: $black;
  font-family: $franklin-book;
  text-align:left;
  @media screen and (max-width: 767px) {
    font-size: .9em;
    font-weight: normal;
    color: $dim-gray;
    line-height: 1.2em;
  }
}

.product-availability-list {
    float: right;
    position: relative;
    width: auto;
    padding: 0 1em 0 1em;
    .is-in-stock, .on-order, .not-available, .in-stock-date-msg {
        color: $black;
    }
    @media screen and (max-width: 767px) {
      width: inherit;
    }
     @media screen and (max-width: 1024px) {
      float:none;
      padding:0;
    }
}


.mini-cart-pricing {
  float: left;
  clear:left;
  font-family: $franklin-book;
  font-size: 12px;
  margin: 1em 0;
  .mini-cart-price {
    .price-standard {
      clear:left;
      float:left;
      color:$black;
      &.line-through {
        text-decoration: line-through;
        color:$grey;
      }
    }
    .price-sales {
      clear:both;
     // padding: 0 0 0 0.6em;
      color:$venetian-red;
      text-transform: uppercase;
      .final-sale{
      font-size: 10px;
      letter-spacing: 0.1em;
      }
    }
  }
 
  @media screen and (max-width: 767px) {
    font-size: 1em;
    margin: 0.7em 0;
  }
}

.mini-cart-subtotals {
  text-align: center;
  margin: 0 0 1em 0;
  width:100%;
 
 .label {
    width: 100%;
  }
  .value {
    font-size: 14px;
    color: $black;
    font-family: $franklin-med;
    text-transform:uppercase;
  }
 
  @media screen and (max-width: 736px) {
    width: 100%;
    float:none;
    margin:0.7em 0 0.7em 0;
    text-align: center;
  }
}

.mini-cart-link-cart {
  display: block;
  margin: 1em 2em;
  width: auto;
}

.mini-cart-totals {
  @media screen and (min-width: 768px) {
    width: 89%;
    position: absolute;
    bottom: 0;
    margin-bottom: 3em;
  }
  @media screen and (max-width: 767px) {
    float:none;
    clear:none;
    width: 93%;
    padding-left: 1.5em;
  }

  .mini-cart-link-shoppingbag, 
  .mini-cart-link-checkout {
    border: 1px solid $black;
    font-family:$franklin-med;  
    font-size: 1em;
    font-weight: 400;
    letter-spacing:0.8px;
    width: 100%;
    padding: 1.1em 0;
    margin: 0 0 1.429em 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
  
  .mini-cart-link-shoppingbag {
      background: $white;
      color: $black;
      display: block;
      &:hover {
        color:$grey;
        border-color:$grey;
    }
  }
  
  .mini-cart-link-checkout {
    background: $black;
    color: $white;
    display: block;
    &:hover {
        color:$white;
        background:$charcoal;
        border-color:$charcoal;
    }
  }
}

.minicart-lastvisited {
  clear:left;
  margin:.5em;
  width:233px;
  position: relative;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  &:before {
    content: "";
    position: absolute;
    left: 8px;
    top: 0px;
    bottom: 0;
    height: 1px;
    width: 92%;
    margin: 0 auto;
    border-top: 1px dashed $dark-gray;
    float: left;
    clear: none;
  }
  .product-tile {
    .product-name,.product-pricing,.product-promo {
      display:none;
    }
  }
  .product-listing {
    h2 {
      padding:.5em;
      font-weight:normal;
      font-size: 1.1em;
    }
  }
  .jc-lastviewed-wrapper {
    position:relative;
    height:120px;
    padding-left:15px;
    padding-right:15px;
    .jc-lastviewed {
      position:relative;
      overflow:hidden;
      ul {
        width:20000em;
        position:relative;
        margin:0;
        padding:0;
        li {
          float:left;
          margin-right:5px;
          width:63px;
          .overlay-message {
            display:none;
          }
        }
        li:after {
          border:none;
        }
      }
    }
    .jc-lastviewed-prev, .jc-lastviewed-next {
      position:absolute;
      width:5px;
      height:14px;
      cursor:pointer;
    }
    .jc-lastviewed-prev {
      left:0px;
      top:50px;
      &:before { 
        font-family: FontAwesome;
        font-size: 15px;
        display: inline-block;
        color:#221E1F;
        content:"\f104";
      }
    }
    .jc-lastviewed-next {
      right:0px;
      top:50px;
      &:before { 
        font-family: FontAwesome;
        font-size: 15px;
        display: inline-block;
        color:#221E1F;
        content:"\f105";
      }
    }
    .jc-lastviewed-prev.inactive, .jc-lastviewed-next.inactive {
      display:none;
    }
    .product-tile .product-image {
      height: 100px;
      
      .thumb-link {
        width: auto;
        height: auto;
      }
    } 
  }
}
