#onepage {
    .payment-method.payment-method-expanded {
        padding: 15px 0 0 0;
    }
    padding-top:60px;
    margin:0 auto;
    width: 85%;
	@media screen and (max-width: 1024px){
		padding-top:0;
		width: 96%;
	}
    .checkout-shipping {
        .form-row {
            .loader-indicator {
                margin-top: -16px;
            }
        }
    }

    //Elements
    h1 {
        clear:both;
        text-align: center;
        position: relative;
        color:#969696;
        font-family: $franklin-med;
        font-size:16px;
        padding:20px 0;
        text-transform: uppercase;
        margin:0;
        font-weight:400;
        @media screen and (min-width: 1024px){
            font-size:20px;
        }
        a.editSection,
        a.editLink {
            font-size: 10px;
            display: none;
            position: absolute;
            color:#9b9b9b;
            top: 20px;
            right: 18px;
            font-family: $franklin-book;
            text-indent: -999px;
            &:after{
                content:"+";
                position:relative;
                text-indent:0;
                top:-19px;
                left:0;
                display: block;
                font-size: 16px;
            }
            &.visible {
                display: block;
            }
        }
        &.page-title{
            color:$black;
            font-size:30px;
            font-family:$franklin-med;
            letter-spacing: 0.8px;
            text-transform:uppercase;
        }
    }
    h2{
        background:none;
        font-size:1.143em !important;
        color:#000;
        text-align: center;
        font-family:$franklin-book;
        text-transform:uppercase;
    }
    .shipping-address-title,
    .shipping-methods-title,
    .billing-title{
        background:none;
        font-size:1.143em !important;
        color:#000;
        text-align: left;
        width:auto;
        padding: 0;
        margin:0;
        font-family: $franklin-book;
        text-transform: uppercase;
    }
    .shipping-methods-title{
        margin-bottom:10px;
    }
    button,
    #regform button,
    .button{
        display: block;
        background: $black;
        height: 46px;
        color:#fff;
        font-family: $franklin-book;
        font-size:14px;
        width:100%;
        border-radius:0;
        text-indent: 0;
        margin:0;
        padding:0;
        text-transform: uppercase;
        line-height: 46px;
        box-shadow:none;
        &.outline{
            background:transparent;
            border:1px solid $light-grey;
            color: $black;
            @include transition(.2s);
        }
        &.outline:hover{
            border-color:$black;
            background:$white;
        }
    }
    button:hover,
    #regform button:hover,
    .button:hover {
      background:$charcoal;
    }
    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    select{
        width:100%;
        height:36px;
        font-size:14px;
        border-radius:0;
        -webkit-appearance: none;
        background:#fff;
        border:1px solid $black;
        padding:0 7px;
        color:#000;
        &::-webkit-input-placeholder{
            color: #bbb;
        }
        &:-moz-placeholder{
            color: #bbb;
        }
        &::-moz-placeholder{
            color: #bbb;
        }
        &:-ms-input-placeholder{
            color: #bbb;
        }

        &[disabled="true"] {
            color: #bbb;
        }
    }
    input[type="checkbox"],
    input[type="radio"]{
        //margin:.3rem .3rem 0 0;
    }

    select{
        background:url(../images/select-arrow.png) no-repeat;
        background-position:right;
        background-size:15px 6px;
        font-size:14px;
        color: #bbb;
        -moz-appearance: none;
        &.valid, &.nonDefault{
            color:#333;
        }
    }
    input[type="checkbox"]{
        height:14px;
        width:14px;
    }
    .label-inline label{
        font-size:1em;
    }
    .form-row{
        position:relative;

        &.checkpos {
            width: 100% !important;

            label {
                padding-left: 20px;
            }
            input {
                position: absolute;
                top: 1px;
                left: 0;
            }

            span.error {
                padding-left: 20px;
                padding-bottom: 4px;
            }
        }

        &.caaddto {
            .content-asset p {
                display: none;
            }
        }

        &.intCheck {
            .content-asset p {
                margin: 0;
                padding: 0;
            }
        }
    }
    p{
        font-size:1em;
    }

    #onepage_breadcrumbs{
        text-align: center;
        font-size:12px;
        padding:0;
        margin-bottom:10px;
        border-bottom:1px solid $black;
        li{
            display: inline-block;
            margin:0 4px 10px 4px;
            font-family: $franklin-book;
            color:$grey;
            &.active{
                font-family: $franklin-book;
                color:$black;
            }
        }
        @media screen and (min-width: 768px){
            font-size:14px;
            li{
                margin:0 10px 10px 10px;
            }
        }
    }

    //structure
    #onepage_checkout_steps {
        @media screen and (min-width: 768px){
            float: left;
            width: 64%;
            margin-bottom:20px;
        }
    }


    .onepage_wrapper {
        @extend %clearfix;
        border-bottom:1px dotted $light-grey;
        @media screen and (min-width: 768px){
            &:last-child{
                border-bottom:0;
            }
        }

        &.active {
            h1{
                color:$black;
            }
        }
    }

    .onepage_content {
        position: relative;
        font-size:14px;
        line-height: 1.5;
        @extend %clearfix;
    }


    #onepage_account{
        .checkoutlogin{
            .checkoutloginform{
                padding:0;
                min-height: 0;
                border:none;
                margin: 0 0 20px 0;
                width:auto;
                @media screen and (min-width: 768px){
                    width:47%;
                    margin:0 0 20px 0;
                    float:left;
                    &.col-1{
                        margin:0 6% 20px 0;
                    }
                    &.col-2{
                        float:right;
                    }
                }
                .login-box{
                    margin:0;
                }
                .login-box-content{
                    padding:0;
                    width:100%;
                }
            }
        }
        #regform{
            display: none;
            .form-caption{
                position:absolute;
                top:30px;
                right:0;
                margin:0;
                float:none;
            }
            .title{
                display: none;
            }
            .firstname{
                width:100%;
            }
        }
    }

    #onepage_shipping,
    #onepage_billing{
        fieldset{
            width:100%;
        }
        .form-row-button{
            display: none;
        }
        .select-address,
        .select-credit{
            @extend %clearfix;
            .form-row{
                label{
                    display: none;
                }
            }
            .form-row-button{
                display: none;
            }
            &:after{
                content:"";
                position:relative;
                padding-bottom:20px;
                border-bottom:1px solid #ccc;
                margin-bottom:10px;
                width:50%;
                margin-left:25%;
            }
        }
        .form-row{
            margin:15px 0 0 0;
            padding:0;
            @media screen and (min-width: 768px){
                width:48.5%;
                &.clear,
                &.label-inline,
                &.opcWider{
                    clear:both;
                }
                &.clear{
                    margin-right:3%;
                }
                &.fullWidth{
                    width:100%;
                }
            }
        }
        .emailLabel{
            padding-top:15px;
            clear:both;
            font-size:14px;
            font-weight:normal;
        }
        .payment-row{
            margin-left:0;
        }
        .payment-method-options{
            label{
                font-size:14px;
                float:left;
                img{
                    height:auto;
                }
            }
        }
        .couponCodeMessaging{
            margin-left:0;
            .form-row{
                width:100%;
                margin:0;
                span{
                    margin-top:10px;
                    display: block;
                }
            }
        }
        .toggleSlide{
            margin:10px 0;
            font-size:14px;
            text-decoration: underline;
            display: block;
            @media screen and (min-width: 768px){
                display: none;
            }
        }
        #promoToggle{
            display: none;
            .content-asset{
                padding:0;
                margin:0;
            }
        }
        #coupon_gift_code_lines{
            margin:10px 0 0 0;
            a{
                text-decoration:underline;
            }
        }
        .errorMsg,
        .generalerror,
        .paypalMessage,
        .shippingDisclaimer,
        .no-shipping-methods{
            clear:both;
            margin:0 0 20px 0;
        }
        #shipping-method-error{
            clear:both;
            margin:0 0 20px 0;
            display: none;
        }
        #shipping-method-list {
            position: relative;
            margin-top:30px;
            .form-row{
                position:relative;
                overflow: hidden;
                clear:none;
                @media screen and (min-width: 768px){
                    width:31.333333333333%;
                    margin:0 3% 0 0;
                    &:last-child{
                        margin-right:0;
                    }
                }
                .shiprow {
                    float: left;
                    width: 100%;
                }
                .inputHolder{
                    label{
                        border: 2px solid #c8c8c8;
                        display: block;
                        padding:12px;
                        font-family: $franklin-book;
                        font-size:14px;
                        margin:0;
                        cursor: pointer;
                        min-height: 70px;
                        .methodPrice{
                            text-align:center;
                            display: block;
                            .standard-shipping{
                                text-decoration: line-through;
                                color:#c8c8c8;
                            }
                        }
                        .estimated,
                        .borderfree{
                            clear:both;
                            display: block;
                            font-size:1em;
                            float:none;
                            text-align: center;
                            margin:6px 0 0 0;
                            line-height: 1.3;
                            text-transform: uppercase;
                            font-family:$franklin-med;
                        }
                    }
                    input[type="radio"]{
                        display: none;
                    }
                    .tooltip{
                        position: absolute;
                        top:5px;
                        right:5px;
                        width:12px;
                        height:12px;
                        background:#000;
                        border-radius:6px;
                        text-indent: -999px;
                        &:before{
                            content:"?";
                            text-indent: 0;
                            color:#fff;
                            position:relative;
                            display: block;
                            font-size:10px;
                            line-height: 13px;
                            text-align: center;
                        }
                    }
                }
                .description{
                    display:none;
                    margin-bottom:10px;
                }
                &.active{
                    label{
                        border:2px #000 solid;
                    }
                    .description{
                        @media screen and (max-width: 767px){
                            display: block;
                        }
                    }
                }
            }
        }
        .shippingDescriptions{
            margin:0;
            .description{
                display:none;
            }
        }
        .shipping-buttons{
            margin:0;
        }
        .shipping-prev-button,
        .billing-prev-button,
        .expirationLabel{
            display: none;
        }
        .shipping-continue-button,
        .checkout-submit{
            text-indent: 0;
            margin:20px 0;
        }
        .addtoemaillist{
            color:#000;
            label{
                font-size:14px;
            }
			a{
				text-transform: none;	
			}
			p{
				font-size:1.2em;
			}
        }
        .mini-shipment,
        .mini-billing-address,
        .mini-payment-instrument,
        .mini-shipping-method{
            margin-bottom:10px;
            width:45.5%;
            margin-left:3%;
            float:left;
            .section-header{
                font-family: $franklin-book;
                padding-left:0;
                font-size:1em !important;
                
            }
        }
        #onepage_billing_fieldset{
            margin-bottom:30px;
        }
        .payment-method-options{
            .form-row{
                float:none;
                margin:5px 0 0 0;
            }
        }
        .payment-method-expanded{
            width:100%;
            .form-row{
                width:100%;
                @media screen and (min-width: 768px){
                    width:48.5%;
                    margin-right:0;
                    margin-left:3%;
                    clear:none;
                }
                &.clear{
                    @media screen and (min-width: 768px){
                        margin-left:0;
                        width:48.5%;
                        clear:both;
                    }
                }
                &.fullWidth{
                    width:100%;
                    margin:0;
                }
                &.hideLabel{
                    label{
                        display: none;
                    }
                }
                &.sub-row{
                    width:100%;
                    margin:0;
                    clear:none;
                }
                &.cvn{
                    position:relative;
                    .cvn-tip{
                        position: absolute;
                        top:10px;
                        right:10px;
                        margin:0;
                        a{
                            position:relative;
                            width:12px;
                            height:12px;
                            display: block;
                            background:#000;
                            border-radius:6px;
                            text-indent: -999px;
                            &:before{
                                content:"?";
                                text-indent: 0;
                                color:#fff;
                                position:relative;
                                display: block;
                                font-size:10px;
                                line-height: 13px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .expirationLabel,
        .billing-note{
            margin:0;
            padding:10px 0;
        }
        .couponCode{
            input[type="text"]{
                height:46px;
            }
            .form-caption{
                display: none;
            }
        }
    }
    #onepage_summary{
        .summary-prev-button{
            display: none;
        }
        .checkout-submit{
            margin:20px 0;
            text-indent:0;
        }
        #borderfree-terms{
            margin:0 0 20px 0;
        }
        .form-row{
            margin:0 0 0 0;
        }
        &.active{
            h1{
                display: none;
            }
        }
    }
}

#onepage_checkout_review_wrapper {
    @extend %clearfix;
    position: relative;
    margin-bottom:20px;
    @media screen and (min-width: 768px) {
        &:before{
            content:"";
            position: absolute;
            left:68%;
            top:17px;
            bottom:0;
            width:1px;
            background:$light-grey;
        }
    }
}

//Sidebar minicart
#onepage_review {
    display: block;
    @media screen and (min-width: 768px){
        float: right;
        width: 28%;
    }
    #onepage_review_content {
        position: relative;
        h1{
            text-align: center;
            color:#969696;
            font-family: $franklin-med;
            font-size:16px;
            padding:17px 0 40px 0;
            height:24px;
            text-transform: uppercase;
            margin:0;
            font-weight:400;
            @media screen and (min-width: 768px){
                color:$black;
                font-size:16px;
                padding:21px 0 17px 0;
                margin-bottom:0;
            }
            @media screen and (min-width: 1024px){
                padding:17px 0 30px 0;
                font-size:20px;
            }
        }
        
        #onepage_review_cart_products{
            margin-bottom:20px;
            .mini-cart-image {
            	width:25%;
            }
        }
        .mini-cart-product{
            float:none;
            padding:16px 0;
            border-bottom:1px dotted $light-grey;
            &:first-child{
                padding-top:0;
            }
            &:before{
                display: none;
            }
            .mini-cart-rightside{
                float:left;
                width:55%;
                .mini-cart-name{
                    font-size:14px;
                    float:none;
                    line-height: 130%;
                }
                .mini-cart-attributes,
                .mini-cart-sku,
                .mini-cart-pricing,
                .mini-cart-qty{
                    color: $black;
                    line-height: 130%;
                    float:none;
                    padding:0;
                }
                .mini-cart-qty,
                .mini-cart-name,{
                    margin:0 0 10px 0;
                    padding:0;
                }
                .price-sales,
                .price-standard{
                    float:none;
                }
                .minicart-action-menu{
                  display:none;
                }
            }
            .mini-cart-image{
                float:right;
                height:auto;
                img{
                    max-width: 100%;
                }
            }
        }

        .order-totals-table {
            margin-bottom: 20px;
            thead {
                display: none;
            }
            td {
                font-size: 14px;
                color: $black;
                padding: 0 0 10px 0;
                min-width: 50px;
                text-transform: uppercase;
                .opcInternationalShip{
                    color:#999;
                    float:right;
                    img{
                        position: relative;
                        top:2px;
                    }
                    span{
                        text-decoration: underline;
                    }
                }
            }
            tr:last-child td{
                font-family: $franklin-med;
                color:#000;
            }
        }
        .cart-coupon-code {
            padding-bottom:30px;
            display: none;
            @media screen and (min-width: 768px){
                display: block;
            }
            @extend %clearfix;
            label {
                line-height: 2em;
                font-size:14px;
                padding: 25px 0 0 0;
                border-top: 1px solid $black;
                font-family: $franklin-book;
                text-transform: uppercase;
                margin:0;
                font-color:#000;
                text-align: center;
                &:before{
                    content:"\f02b";
                    font-size:16px;
                    font-family: FontAwesome;
                    display: inline-block;
                    padding-right:5px;
                }
            }
            .toShow{
                display: none;
                padding:20px 0 0 0;
                @extend %clearfix;
                input[type="text"]{
                    border: 1px solid $black;
                    border-right:0;
                    padding: 0.2em 0 0.2em 20px;
                    width:55%;
                    float:left;
                    background:#fff;
                    height:36px;
                    outline: none;
                    font-size:12px;
                    @media screen and (min-width: 768px) {
                        width:58%;
                    }
                }
                button {
                    display: block;
                    height: 36px;
                    background: $black;
                    border:1px solid #000;
                    color:#fff;
                    font-family: $franklin-med;
                    font-size:14px;
                    border-radius:0;
                    padding:0;
                    text-transform: uppercase;
                    line-height: 36px;
                    width:45%;
                    float:left;
                    @media screen and (min-width: 768px) {
                        width:42%;
                    }
                }
                .error {
                    padding-top:10px;
                    clear:both;
                }
                .appliedCoupon{
                    padding-top:30px;
                    text-align: center;
                    line-height:150%;
                    clear:both;
                    @media screen and (max-width: 767px) {
                        width:100%;
                    }
                    .cartcoupon{
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    .couponCodeLink{
                        text-decoration: underline;
                    }
                }
            }
            &.active{
                .toShow{
                    display: block;
                }
            }
        }
    }
}

#onepage.summary #onepage_review_cart{
    .button,
    .cart-coupon-code{
        display: none;
    }
}

#onepage.billing #onepage_review_cart{
    .button{
        display: none;
    }
}


#coupon_gift_codes {
    position: relative;
}

#coupon_gift_area,
#coupon_gift_code_lines {
    position: relative;
    @extend %clearfix;
    clear:both;
}

#onepage_shipping_summary,
#onepage_billing_summary {
    position: relative;
    padding:0 0 7px 0;
    @extend %clearfix;  
    .details {
    	word-wrap:break-word;
    } 
}

.pt_checkout .checkout-billing fieldset {
    .opcHidden {
        display: none !important;
    }

    .opcWider {
        width: 100%;
        input {
            width: 100%;
        }
    }
}

#changeFromShipping {
    margin: 0;
    padding: 4px 0 0 0;

    @media screen and (min-width: 768px) {
        padding: 0;
        position: absolute;
        left: 0;
        bottom: -17px;
    }

    a {
        text-decoration: underline;
        color: #ccc;
    }
}

.affirmLoading {
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px 0 50px 0;
    background: url("../images/loading-progress-98x22.gif") no-repeat scroll center center transparent;
    margin: 50px 0 0 0;   
}
