body{
  position:relative;
  min-height:100%;
  padding: 0 0 163px 0;
  @media screen and (max-width: 767px){
  	padding:0;
  }
}
@media screen and (min-width: 1024px) {

		#primary {
			&.primary-content {
				width:83%;
			}
		}
}
.body-overlay{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: 10;
  display: none;
  background:rgba(0,0,0,.4);
  .search-open &{
    display: block;
  }
  .miniHeader &{
    position:fixed;
    top:0 !important;
  }
  .nav-open &{
    position:fixed;
    display: block;
  }
}
#editorialwrapper {
  background: none repeat scroll 0 0 $white;
  left: 0;
  margin: auto;
  position: relative;
  transition: left 0.2s ease-in;
  width: 100%;
  &.pt_storefront {
    max-width: none;
  }
  @media screen and (min-width: 768px) {
    &.menu-active {
      left: auto;
    }
  }
}
#wrapper {
  background: none repeat scroll 0 0 $white;
  left: 0;
  margin: auto;
  position: relative;
  transition: left 0.2s ease-in;
  width: 100%;
  //max-width: 1300px;
  &.pt_storefront {
    max-width: none;
  }
  @media screen and (min-width: 768px) {
    &.menu-active {
      left: auto;
    }
  }
}
.primary-content {
  float: right;
  padding: 0 0 20px 0;
  width:100%;
  @media screen and (min-width: 1025px) {
      width: 83%;
      padding:  80px 8% 2% 1.5385%;
  }
  @media screen and (max-width: 767px) {
      padding: 70px 0 20px 0px;
  }
  .primary-focus & {
    border: 0 none;
    float: left;
    margin: 0;
    width: 740px;
  }
  .full-width & {
    border: 0 none;
    //width: 100%;
  }
  .page-content & {
    padding-left: 3%;
    width: 758px;
  }
  a {
    color: $black;
  }
}

.stickypdp {
  float: left;
  width:100%;
    @media screen and (min-width: 768px) {
        -webkit-transform: translateZ(0);
    }
  
}

#secondary {
	.contentnav {
	  &.active {
	    display: inline;
 		}
	}
  float: left;
  width: 15.3846%;
  position: relative;
    display: none;
    @media screen and (min-width: 1025px) {
        display: block;
    }
  nav {
  	padding: 80px 10px 0 3em;
  	@media screen and (max-width: 1300px) and (min-width: 768px) {
    	padding: 80px 10px 0 1em;
    }
    a {
      color: $black;
      padding:0.08em 0;
      display:inline-block;
      line-height: 1.6;
      &:hover {
        text-decoration:underline;
      }
    }
    .content-asset{
      ul{
        margin:0 0 0 20px;
        padding:0;
      }
    }
  }
  .primary-focus & {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    float: right;
    width: 210px;
  }
  .guest {
    text-transform: capitalize;
    font-weight: 400;
    font-family:$franklin-med;
  }
  
.folder-content {
    line-height: 14px;
    padding-left: 20px;
    margin: 10px 0;
    &.active a {
      text-decoration: underline;
    }
 }
 .folder-level-1 {
    text-transform: uppercase;
    font-family:$franklin-book;
    font-size: 14px;
  }
  .folder-level-2 {
    color: #1e1e1e;
    margin: 10px 0;
    line-height: 14px;
 }
  
  .refinement:not(.category-refinement) {
    display: none;
  }
  .refinementsFooter{
    display: none;
  }
  .leftsidenav {
    li {
      margin: 0;
        line-height: 1;
        a {
          padding:0;
        }
    }
    span {
      display: block;
      margin: 0;
    }
    span.myaccount {
      display: block;
      font-family:$franklin-med;
    }
    .toggle.myprofile {
      cursor: pointer;
      line-height:1.6;
      &:hover {
        text-decoration:underline;
      }
    }
    .leftsidenavbody {
      width: auto;
      margin: 2px 0 2px 20px;
      
      ul {
        margin: 0 0 0 10px;
      }
    }
  }
}

div.pagination .results-hits {
	display: none;
}
.top-search-options .pagination .results-hits{
  display: block!important;
}

.searchOptionsfloating .top-search-options .pagination .results-hits{
  display: none!important;
}
