.primary-content {
  h1 {
    font-family: $franklin-med;
    font-size: 2em;
    font-weight: 400;
    font-style: normal;
    color: $black;
    margin: 13px 0;
    text-transform: uppercase;
  }
}

#secondary h1 {
  font-size: 1.75em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 14px;
}

.primary-content {
  h2 {
    font-size: 1.3em;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.15em;
  }
  dl {
    clear: both;
    overflow: hidden;
    dt {
      clear: both;
      float: left;
      margin: 2% 0 0;
      min-width: 15%;
    }
    dd {
      float: left;
      margin: 2% 0 0;
      padding: 0 0 0 5%;
    }
  }
}

.col-1 {
  float: left;
  width: 50%;
  border-right: 1px solid $black;
}

.col-2 {
  float: left;
  width: 40%;
  margin: 0 21px;
}

.content-header {
  font-family: Georgia, serif;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 400;
  margin: 13px 0;
  span {
    font-size: 0.75em;
    font-style: normal;
    font-weight: 400;
  }
}

.section-header {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  .dialog-required {
    text-transform: none;
  }
}

.login-box .section-header {
    color: $black;
    font-family: $franklin-med;
    font-weight: 400;
    padding: 0; 
    font-size: 1.2em;
}

.section-header-note {
  font-size: 0.9em;
  font-weight: 400;
  position: absolute;
  right: 1em;
  text-transform: none;
}

.back {
  display: block;
  margin: 0 0 10px;
}

.pt_content .primary-content {
  width: 80%;
}
