.js {
  .ui-dialog-content {
    .product-col-1 {
      padding: 13px 0;
      @media screen and (min-width: 768px) {
        width: 39%;
        padding: 13px 1%;
      }
      .product-image {
        max-width: 100%;
      }
    }
    .product-col-2 {
      padding: 20px 0;
      @media screen and (min-width: 768px) {
        width: 58%;
      }
    }
    .pdp-main {
      width: 100%;
      margin: 0 auto auto 3em;
      @media screen and (max-width: 768px) {
        margin: 0 auto;
      }
      
      .quickview-nav {
          display: none;
      }
      .product-col-1 {
          padding: 0;
          margin: 0;
          @media screen and (min-width: 768px) {
            width: 29em;
            float: left;
          }
      }
      .product-col-1 .product-thumbnails-carousel {
          position: relative;
          margin:auto;
          .jcarousel-next-image{
            right:0;
          }
          .jcarousel-prev-image{
            z-index: 100;
          }
      }
      .product-col-2 {
          margin: 0;
          @media screen and (min-width: 768px) {
            width: 45%;
            float: right;
          }
          @media screen and (max-width: 768px) {
            width: 40%;
          }
        .product-name {
          font-family: $franklin-med;
              font-size: 1.714em;
              margin: 0 0 0.3em 0;
              padding: 0;
              text-transform: uppercase;
              font-weight:400;

        }
        .product-number {
            color: #7f7f7f;
            font-size: 1em;
        }
        .product-price {
            font-size: 1.429em;
            font-weight: 400;
            padding: 0.6em 0;
        }
        .view-full-details {
            color: #000;
            font-size: 1em;
            padding-top: 10px;
            text-decoration: underline;
            line-height:4;
        }
        .size-chart-div {
            float: left;
            margin-top: 10px;
        }
        .size-chart-div a {
            color: $nobel !important;
            text-decoration: underline;
        }
        .availability-block {
            margin: -90px 0 0;
        }
        .product-variations {
            float: left;
            clear: left;
            width: 100%;
            margin: 0;
            
            .swatches li a {
              margin: 0;
            }
            ul li.attribute {
                &#swatchAttrib {
                  width:100%;
                  padding-top: 5px;
                  .value{
                    width:auto;
                  }
                  ul.swatches li {
                    &.selected {
                      float: left;
                    }
                    &.selected-value {
                        float: left;
                        margin: 4px 10px;
                    }
                  }
                  span.label {
                    vertical-align: inherit;
                  }
              }
              &.select-size {
                margin: 10px 0 0;
              }
                &.quantity-selection {
                margin: 10px 0 0;
              }
          }
          .color-wrap {
            margin: 0;
          }
        }
        
        .product-variations ul li.attribute:nth-child(3) select#Quantity {
          @media screen and (min-width: 768px) {
            width: auto;
          }
        }
        .review-actions-container{
          float:left;
          margin-top:15px;
          padding-top:0;
          @media screen and (max-width: 767px) {
	       float: none;
	      }
        }
        
        .product-add-to-cart {
          @media screen and (min-width: 768px) {
            margin: 0;
          }
          .product-price {
              display: none;
            }
        }
        
        .product-add-to-cart button {
            &:hover {
              background: $dim-gray;
            }
        }
        
        .add-to-wishlist {
           // float: left;
           // clear: left;
           // font-size: 0.8em;
           // margin-top: 5px;
        }
        
        .add-to-wishlist a {
          //  color: $nobel;
        }
      }
      .product-set-list {
        border: 1px solid $gainsboro;
        height: 500px;
        overflow: auto;
        .product-set-item {
          margin: 1em 0;
        }
        .product-set-image {
          width: 25%;
        }
        .product-set-details {
          width: 75%;
        }
        .product-name {
          margin: 0;
        }
        .block-add-to-cart .price {
          font-size: 1.5em;
          padding: 0.4em 0 0;
          width: 130px;
        }
      }
    }
    a {
      color: #1e1e1e;
    }
  }
  
  #QuickViewDialog{
    &.ui-dialog-content {
        overflow: hidden;
       .product-col-2 {
          padding: 0;
       }
       .product-primary-image {
          margin: auto;
          width: 280px;
          padding: 0;
          float: right;
          @media screen and (min-width: 768px) {
            margin:0 15px 0 0;
          }
       }
    }
  
    .mybuys {
      display: none;
    }
  
    #add-to-cart-container {
      @media screen and (max-width: 767px) {
       position: relative;
      }
    }
  }
  
  .zoomPad {
    position: relative;
    float: left;
    z-index: 99;
    cursor: crosshair;
    width: 100%;
  }
  .zoomPreload {
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    color: $night-rider;
    font-size: 12px;
    font-family: $franklin-book;
    text-decoration: none;
    border: 1px solid $very-light-gray;
    background-color: $white;
    padding: 8px;
    text-align: center;
    background-image: url(../images/zoomloader.gif);
    background-repeat: no-repeat;
    background-position: 43px 30px;
    z-index: 110;
    width: 90px;
    height: 43px;
    position: absolute;
    top: 0px;
    left: 0px;
    *width: 100px;
    *height: 49px;
  }
  .zoomPup {
    overflow: hidden;
    background-color: $white;
    -moz-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    z-index: 120;
    position: absolute;
    border: 1px solid $very-light-gray;
    z-index: 101;
    cursor: crosshair;
  }
  .zoomOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    background: $white;
    z-index: 5000;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 101;
  }
  .zoomWindow {
    position: absolute;
    left: 110%;
    top: 40px;
    background: $white;
    z-index: 6000;
    height: auto;
    z-index: 10000;
    z-index: 110;
  }
  .zoomWrapper {
    position: relative;
    border: 1px solid $nobel;
    z-index: 110;
  }
  .zoomWrapperTitle {
    display: block;
    background: $nobel;
    color: $white;
    height: 18px;
    line-height: 18px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 120;
    -moz-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity = 60);
  }
  .zoomWrapperImage {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 110;
    img {
      border: 0px;
      display: block;
      position: absolute;
      z-index: 101;
    }
  }
  .zoomIframe {
    z-index: -1;
    filter: alpha(opacity = 0);
    -moz-opacity: 0.80;
    opacity: 0.80;
    position: absolute;
    display: block;
  }
  

  
}

.quickview-nav {
  .quickview-next {
    float: right;
  }
}
