.container {
  text-align: center;
}

.pt_product-search-result {

  .primary-content h1.content-header {
    padding-left: 15px;
  }

  .header-search {
    margin-bottom: 0;

    input[type=text] {
      border: 1px solid $gainsboro;
    }
  }
  .breadcrumb {
    @media screen and (max-width: 480px){
      display: table;
      margin: 10px auto;
    }

    @media screen and (min-width: 768px) {
        padding: 0;
    }

    @media screen and (min-width: 1300px) {
        width: 83%;
        float: right;
        margin: 10px 0;
    }
  }
  .top-resultstext {
      font-family: $franklin-book;
      font-size: 1.3em;
      color: $black;
      margin: 0 0 1em 0;
      text-transform: uppercase;
      @media screen and (max-width: 767px) {
     	margin: 0 0 1em 10px;
     }
  }
}

.category-main-banner img {
  max-width: 100%;
}

.no-hits-search-term,
.no-hits-search-term-suggest {
   color: $sangria;
  font-style: italic;
  
}

.page-not-found-message1{
  font-family: $franklin-book;
  font-size: 36px;
  color: $black;  
  letter-spacing:1.5px;
}

.page-not-found-message2{
     font-size: 16px;
     font-family:$franklin-book;
     color: $black;

}

.no-hits-footer {
  background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
  margin: 20px 0;
  padding: 20px 0;
}

.search-result-bookmarks {
  margin: 15px;
  .first {
    border-right: 1px solid $nobel;
    padding-right: 5px;
  }
}

.search-result-options {
  padding:17px 0 15px 0;
  width: 100%;
  font-size: 1em;
  top:0;
  transition: top 0.3s linear;
  @media screen and (max-width: 767px){
    font-size:12px;
  }
  h4 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: $franklin-book;
    float: left;
    margin: 4px 0 4px 5%;

        @media screen and (min-width: 768px) {
            margin: 0;
        }
  }
  @at-root .searchOptionsfloating &{
    background:rgba(256, 256, 256, 0.8);
    position:fixed;
    top:0;
    padding:17px 8% 15px 1.5385%;
    float: right;
    right: 0;
    width: 83%;
    z-index: 5;
    @media screen and (max-width: 1023px){
      width: 760px;
    }
    @media screen and (max-width: 767px){
      width: 100%;
    }
  }
}

.top-search-options{
  @media screen and (max-width: 767px){ 
    display: none;
  }
}

.mobile-phone-show{
  display: none;
  @media screen and (max-width: 767px){
    display: block;
  }
}

.mobile-phone-hide{
  display: block;
  @media screen and (max-width: 767px){
    display: none;  
  }
} 

.pagination {
  line-height: 19px;
  width:100%;
  float: right;
  .results-hits{
    width:36%;
    min-height: 1px;
    float:left;
    display: block!important;
    @media screen and (max-width: 1169px){
      width:26%;
    }
    @media screen and (max-width: 767px){
      width:30%;
    }
    .fullPagination{
      display: block;
      float:left;
      margin:0 10px 0 0;
      li{
        float:left;
        margin:0 4px;
        text-align:center;
        &.current-page{
          font-family:$franklin-med;
          text-decoration: underline;
        }
        .ellipsis{
          margin:0 3px;
          display: inline-block;
        }
        a{
          color:$black;
          &:hover{
            color:#7f7f7f;
          }
          &.page-previous,
          &.page-next{
            overflow: hidden;
            text-indent:-9999px;
            &:before { 
              font-family: FontAwesome;
              font-size: 12px;
              display: inline-block;
              text-indent: 0px;
              content:"\f104";
              @media screen and (max-width: 767px){
                font-size: 1em;
              }
            }
            span{
              display: none;
            }
          }
          &.page-next{
            &:before { 
              content:"\f105";
            }
          }
        }
      }
    }
    .items-per-page{
      display:block;
      float:left;
      a,
      span{
        margin:0 4px;
        display: block;
        float:left;
        color:$black;
      }
      a{
        &:hover{
          color:#7f7f7f;
        }
        &.active{
          text-decoration: underline;
          font-family: $franklin-med;
        }
      }
      @media screen and (max-width: 1169px){
        display: none;
      }
    }  
    &.simple {
     float:right;
     width: initial;
     font-size: 1em;
     @media screen and (max-width: 767px){
       font-size: 1em;
       padding: 0 1em 0 0;
       .fullPagination {
         float: right;
       }
      }
    }
    &.top {
      display: none;
    }
  }
  .viewOptions{
    width:28%;
    float:left;
    text-align: center;
    @media screen and (max-width: 1169px){
      width:34%;
    }
    @media screen and (max-width: 767px){
      width:28%;
    }
    .toggle-grid{
      display:inline-block;
      margin: 0 0 0 10px;
      @media screen and (max-width: 1023px){
        display: none;
      }
      a {
        display: inline-block;
        width: 14px;
        height: 12px;
        outline: 0;
        span{
          display: none;
        }
          &.two-grid,
          &.one-grid {
            background: url('../images/icon_view-2.svg') no-repeat;
            opacity: 0.3;
            @at-root .active-two-grid#{&}{
            opacity:1;
            }
            background-size:contain;
          }
          &.three-grid {
            background: url('../images/icon_view-3.svg') no-repeat;
            opacity: 0.3;
            @at-root .active-three-grid#{&}{
              opacity: 1;
            }
            background-size:contain;
          }
          &.four-grid {
            background: url('../images/icon_view-4.svg') no-repeat;
			opacity: 0.3;
            @at-root .active-four-grid#{&}{
              opacity:1;
            }
            background-size:contain;
          }
      }
    }
    .toggle-product-view{
      display:inline-block;
      a{
        color:$black;
        text-transform:uppercase;
        &:hover{
          color:#7f7f7f;
        }
        &.active{
          font-family: $franklin-med;
          text-decoration: underline;
        }
      }
    }
  }
  .attribute-sorting-refinements{
    width: 36%;
    float:left;
    @media screen and (max-width: 1169px){
      width:40%;
    }
    @media screen and (max-width: 767px){
      width:42%;
    }
    .Sort-by{
      float:right;
      position:relative;
      .sortBySelect{
        height:19px;
        margin:0;
        position:absolute;
        top:0;
        right:0;
        padding:0 10px 0 10px;
        z-index: 2;
        white-space: nowrap;
        text-transform: uppercase;
        li{
          display: none;
          text-align: right;
          position:relative;
          z-index: 2;
          padding: 0 0 0 10px;
          &.selected{
            display: block;
            cursor: pointer;
            span{
              text-decoration: underline;
              font-family: $franklin-med;
            }
          }
          &:hover a{
            color:#7f7f7f;
          }
          &:first-child{
            &:after { 
              font-family: FontAwesome;
              font-size: 12px;
              display: inline-block;
              text-indent: 0px;
              content:"\f107";
            }
          }
        }
        &:hover{
          height:auto;
          padding-bottom:10px;
          background: $white;
          -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
          -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
          @at-root .searchOptionsfloating &{
            padding-top:18px;
            margin-top:-18px;
            background: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            &:before{
              content:"";
              display: block;
              background:rgba(256, 256, 256, 0.8);
              position:absolute;
              bottom:0;
              width:100%;
              height: calc(100% - 52px);
              -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
          	  -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
          	  box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
            }
          }
          li{
            display: block;
            &:first-child{
              &:after { 
                content:"\f106";
              }
            }
          }
        }
      }
    }
    #openFilter{
      float:right;
      margin-left:20px;
      width:75px;
      text-align: center;
      height:22px;
      line-height: 22px;
      font-size:12px;
      margin-top:-2px;
      cursor: pointer;
      border: 1px solid $black;
      font-weight: 500;
      color:$black;
      font-family: $franklin-med;
      text-transform: uppercase;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      &:hover{
        color:$white;
        background:$black;
      }
    }
  }
  
  @at-root .searchOptionsfloating &{
    width: 100%;
  }

}

#stickyHeader .results-hits{
  display: none;
}



.search-result-items {
  margin: 0;
  @at-root .searchOptionsfloating &{
    padding-top:52px;
  }
  li {
    list-style: none outside none;
  }
  .invisible {
    display: none;
  }
  .grid-tile{
    float: left;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px){
  .one-grid-tile{
      .grid-tile{
      width:46.2962963%;
      margin-left:7.40740741%;
      &:nth-child(2n+1){
        clear:both;
        margin-left:0;
      }
        @media screen and (max-width: 767px) {
        width:100%;
        max-width: 500px;
        margin:0 auto;
        clear:both;
          }
      }
  }
  .two-grid-tile,
  .one-grid-tile
  {
    .grid-tile{
      width:46.2962963%;
      margin-left:7.40740741%;
      &:nth-child(2n+1){
        clear:both;
        margin-left:0;
      }
        }
  }
  .three-grid-tile{
    .grid-tile{
      width:32.716050%;
      margin-left:0.925925%;
      &:nth-child(3n+1){
        clear: both;
        margin-left:0;
      }
    } 
  }
  .four-grid-tile{
    .grid-tile{
      width:24.30555555%;
      margin-left:0.925925%;
      &:nth-child(4n+1){
        clear: both;
        margin-left:0;
      }
    }
  } 
}

@media screen and (max-width: 767px) {
  .grid-tile {
    width: 50%;
    &:nth-child(odd) {
      clear: both;
    }
    &:nth-child(even) {
      float: right;
    } 
  }
  .one-grid-tile{
      .grid-tile{
      width:100%;
      max-width: 500px;
      margin:0 auto 40px 0;
      clear:both;
      float:none;
        }
  }
}

.search-promo {
  padding: 20px;
}

#results-content {
  background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
  padding-top: 30px;
}

.folder-content-list {
  margin: 0;
  overflow: hidden;
  padding: 0 20px;
  li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2% 2% 2% 0;
    width: 48%;
  }
  .content-title {
    display: block;
  }
}

.no-results {
  padding: 20px;
}

.wide-tiles {
  .search-result-items .grid-tile {
    width: 91%;
  }
  .product-tile {
    .product-swatches {
      bottom: auto;
      left: auto;
      position: relative;
      right: auto;
      margin-top: 5px;
      li {
        float: left;
      }
    }
  }
}

.pt_product-search-noresult {
  #secondary {		
      width: calc(530/1300*100%);		
      padding: 20px 0 50px 100px;		
      @media screen and (max-width: 1380px) {		
        padding: 20px 0 50px 0;		
      }		
      img {		
        width:100%;		
      }		
  }		
  .primary-content {		
    width: 83%;		
    padding: 80px 8% 2% 1.5385%;	

    @media screen and (min-width: 1025px) {		
      width: 88%!important;		
      margin: 0 auto;
      padding: 140px 0 0;		
      float: none;
    }		
    
  }
    .container{
      @media screen and (max-width: 768px){
        padding: 50px 20px 0;
      }
      @media screen and (min-width: 1025px) {		
        padding-top: 80px;
      }
    	span{
    		&.uppercase{
    			text-transform: uppercase;
    		}
    	}
    }
	@media screen and (max-width: 1023px){
		padding : 127px 0px 50px 0px;
	}

	.container {
		text-align : left;

		.no-hits-message1{
			display: block;
			font-size: 16px;
	        color: #000;
	        font-weight: 700;
		}
		
		.no-hits-message2{
			display: block;
			font-size: 13px;
			color: $black;
			margin:5px 0px;
		}
	
		.no-hits-menu {
	    	list-style: outside none none;
	    	font-size: 16px;
        color: $black;
        border-bottom: 1px solid #d2d2d2;
        margin-top: 25px;
	
			.trending{
				text-transform: uppercase;
				font-size: 16px;
          font-weight: 700;
          display: inline;
          @media screen and (max-width: 767px){
				  	display: block;
            margin-top: 30px;
            margin-bottom: 20px;		
				}
			}
	
			.trending-categories{
				display: inline-block;
				li{
					display: inline-block;
          padding-right: 20px;
          margin-bottom: 10px;
					@media screen and (max-width: 767px){
						&:first-of-type{
							padding-left: 0px;
						}		
					}
					
					a {
					   	text-decoration: underline;
					   	color : $black;
			   			&:hover { 
			    			color:$grey;
			    			border-color:$grey;
						}
					}
				}	
			}
			
			@media screen and (max-width: 768px){
				ul{
					padding-left : 0;
					font-size: 11px;
				}
			}
		}
  }
  .recommendationText{
    margin: 20px 0 0;
    font-size: 16px;
  }

  .rec-wrapper{
    position: relative;
    padding: 30px 0 30px;
    
    @media screen and (max-width: 767px) {		
      width: 95%;
      margin: 0 auto;
    }
    
    div, img {
      max-width: initial;
    }

    .recommendations{
      margin-top: 10px;
    }
    .recommendations-item{
      vertical-align: top;
      .product-tile{
        padding: 0 20px;
        .product-image img{
          display: block;
          position: relative;
          z-index: 2;
        }
      }
    }
    .slick-arrow{
      font-size: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-85%);
      &.slick-prev{
        left: -20px;
      }
      &.slick-next{
        right: -20px;
      }
    }
  }

}
#wrapper1 {
  left: 0;
  margin: auto;
  transition: left 0.2s ease-in;
  width: 100%;
  height:100%;
  @media screen and (max-width: 1024px) {
    &.menu-active {
      left: auto;
    }
  }
}
