#search-suggestions {
    display: none;
}
.search-suggestion-wrapper {
	@extend %clearfix;
    background-color: $white;
    text-align: left;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        padding: 1.15em 1.3em;
        height: 400px;
        overflow-y: scroll;
        width: auto;
    }
    @media screen and (min-width: 768px) {
        position: absolute;
        margin-top: 16px;
        right: 0;
        width: auto;
    }

    &:not(.full) {
        margin-left: -12%;
    }

    &.full {
        @media screen and (min-width: 768px) {
            display: flex;
            max-height: 430px;
            max-width: 625px;
            padding: 28px 20px 16px;
            width: 80vw;
        }

        h4 {
            color: $black;
            font-size: 13px;
            font-family: $franklin-med;
            font-weight: normal;
            letter-spacing: .9px;
            margin: 0;
            padding: 0;
            text-transform: uppercase;

            &.md-up {
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }

        .phrase-suggestions {
            @media screen and (min-width: 768px) {
                float: right;
                margin-left: 1.65em;
                max-width: 25%;
            }
        }

        .product-suggestions {
            margin-top: 1.25em;

            @media screen and (min-width: 768px) {
                border-right: 1px solid $black;
                display: flex;
                    flex-direction: column;
                float: left;
                height: 100%;
                margin-top: 0;
                margin-right: .5em;
                padding-right: 1rem;
            }

            .product-link {
                display: flex;
                @media screen and (max-width: 767px) {
                    align-items: center;
                }
                @media screen and (min-width: 768px) {
                    flex-direction: column;
                }
            }
        }
    }

    .d-flex-md-down-col {
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    .product-group {
        @media screen and (max-width: 767px) {
            order: 2;
        }
    }

	.hitgroup {
        margin: 1.6em 0 0 0;
        @media screen and (max-width: 767px) {
            margin-top: 1.6em;
        }

		.hit {
            color: $black;
            display: block;
            font-family: $franklin-med;
            font-size: 11px;
            line-height: 1.2em;
            margin-bottom: 2em;

            @media screen and (max-width: 767px) {
                margin-bottom: 2em;
            }

			&:hover {
				text-decoration: underline;
            }

            &.underline {
                text-decoration: underline;
            }
		}
		.parent-category {
			color: $black;
		}
    }

    .view-all-link .d-flex {
        @media screen and (min-width: 768px) {
            justify-content: flex-end;
        }
    }

    hr {
        color: $black;
    }
}

.view-all-link {
    color: $black;
    font-size: 11px;
    font-family: $franklin-med;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: auto;
    margin-right: 1em;
    padding-top: 1em;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: right;

    @media screen and (max-width: 767px) {
        padding-top: 15px;
    }
}

.phrase-suggestions {
    letter-spacing: 1px;
    @media screen and (max-width: 767px) {
        order: 1;
        border-bottom: 1px solid $black;
    }

    @media screen and (min-width: 768px) {
        min-width: 120px;
    }
}

.product-suggestion {
	@extend %clearfix;
    display: inline-block;
    margin-right: .5em;

    @media screen and (max-width: 767px) {
        margin-right: 0;
        margin-bottom: .8em;
    }

    .product-link {
        @media screen and (min-width: 768px) {
            max-width: 121px;
        }
    }

	.product-image {

        display: flex;
        align-items: center;
        justify-content: center;
		
        @media screen and (max-width: 767px) {
            max-width: 25%;
        }
        @media screen and (min-width: 768px) {
            min-height: 240px;
            max-width: 121px;
        }

		img {
            max-width: 100%;
            width: 100%;
		}
    }

	.product-details {
        display: flex;
            flex-direction: column;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.9px;
        padding-top: .5em;

        @media screen and (max-width: 767px) {
            margin-left: 1.8em;
            padding: 0;
            width: 70%;
        }

        .product-name {
            
            color: $black;
            text-align: left;
            
            &:hover {
                text-decoration: underline;
            }
        }

		.product-price {
            color: $black;
            margin-bottom: auto;
		}
	}
}
