#secondary{
  position:fixed;
  font-family:$franklin-book;
  text-transform:uppercase;
  .refinement-header{
    font-family:$franklin-med;
  }
  #category-level-1,
  #category-level-2
  {
    margin:12px 0 12px 20px; 
    li{
      margin:10px 0;
      a{
        color:#1e1e1e;
        &.active{
           border-bottom:1px solid $black;
        }
      }
    }
  }
  
}

@media screen and (min-width: 1025px) {
.level-1 {
  margin:100px 0 0 3em;
  position: fixed;
  z-index: 1;
  .wrap-menu {
    margin-left: 15px;
    display:none;
  }
  .customerservice-menu,
  .myaccount-menu {
    margin-left: 15px;
  }
  
  .menu-li, .shop-category{
    cursor: pointer;
    margin: 6px 0 10px 0;
    font-family: $franklin-book;
    font-size: 14px;
    color:#000;
    text-transform: uppercase;
    .menu-item-toggle{
      display: none;
    }
    a{
      font-family: $franklin-book;
      font-size: 14px;
      color:#000;
      text-transform:uppercase;
      &.background--dark {
        color: #fff;
        &:hover{
          border-bottom:1px solid #fff;
        }
      }
      &.background--light {
        color: #000;
      }
      .menu-item-toggle{
        display: none;
      }
      &:hover{
        border-bottom:1px solid $black;
      }
      &.active {
        border-bottom:1px solid $black;
      }
    }
    &.columns-1 > .level-2{
      width:220px;
    }
    &.columns-2 > .level-2{
      width:440px;
    }
    &.columns-3 > .level-2{
      width:660px;
    }
    div.level-2{
      display: none;
      padding:7px 0 0 5px;
      z-index: 10;
      text-align: left;
      ul{
        float:left;
        width:180px;
        min-height: 10px;
        margin:0;
        padding:0 20px;
        li{
          margin-bottom:10px;
          a{
            color: $black;
            text-transform:uppercase;
            &.background--dark {
              color: #fff;
               &:hover{
                border-bottom:1px solid $white;
              }
            }
            &.background--light {
              color: #000;
            }
          }
        }
      }
      a{
        font-family: $franklin-book;
        font-size: 14px;
        &:hover{
          border-bottom:1px solid $black;
        }
      }
      .trend-links{
        float:left;
        ul:before{
          content:"";
          width: 1px;
          position:absolute;
          margin-left:-20px;
          top:20px;
          bottom:20px;
          display: block;
          background-color:$black;
        }
        //backup measure in case all the images are not cleared from the assets by launch
        //this rule can probably be safely deleted after Jan 1, 2017.
        .megamenu-image{
          display: none;
        }
      }
    }
    &.myaccount 
      >a {
          height: 15px;
        }
       >ul {
         height: 15px;
       } 
    }
  }
  .desktop-navigation {
    box-sizing: initial;
  .line {
    border-top: 1px solid $black;
    width: 50%;
    height: 5px;
    margin: 1em 0;
    &.background--dark {
      border-top: 1px solid $white;
       &:hover{
        border-bottom:1px solid $white;
      }
    }
    &.background--light {
      color: #000;
    }
  }
  }
  .miniHeader {
    .level-1{
      margin: 30px 0 0 3em;
    }
  }
  .mobile-nav-bottom,
  .mobile-nav-top{
    display: none;
  }
  .nav-customerservice{
    display:inline;
  }
  .content-asset {
    .nav-account {
       margin: 6px 0 10px 15px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .desktop-navigation{
    display:none;
  }
}
@media screen and (min-width: 1025px) {
	.customerservice-menu li {
		max-width: 140px;
	    word-wrap: break-word;
	}
}
