.send-to-friend-product {
  border-bottom: 1px solid $gainsboro;
  border-top: 1px solid $gainsboro;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 22%;
  overflow: hidden;
  padding: 20px 0;
  .product-image {
    float: left;
    width: 36%;
    img {
      max-width: 80%;
    }
  }
  .product-description {
    float: left;
    width: 63%;
    h2 {
      margin-right: 0;
    }
    .value {
      font-weight: bold;
    }
    h2 {
      font-size: 1.2em;
      font-style: italic;
    }
    dt {
      clear: both;
      float: left;
      margin: 10px 0 0 0;
      width: 100px;
    }
    dd {
      float: left;
      margin: 10px 0 0 0;
      width: 200px;
    }
  }
}

#send-to-friend-main {
  padding: 0 5%;
  h1, p {
    text-align:center;
  }
  .dialog-required {
    display: block;
    margin-bottom: 10px;
  }
  .send-to-friend-sender-label {
    padding-top: 0;
  }
  .send-to-friend-sender {
    margin-left: 2%;
    padding: 0.7em 0.5em;
    text-indent: 0;
    width: 49.5966%;
  }
  .send-to-friend-product {
      border-top: 1px dotted $black;
      border-bottom: none;
      float: left;
      margin: 0;
      width: 100%;
      
      .add-to-email span {
        font-weight: 700;
      }
  }
  .form-row {
      float: left;
    width: 100%;
      margin: 0 0 1em;
  }
  .form-row-button {
    text-align:center;
  }
  label[for*=_sendtofriend_message] {
      width: auto;
      padding: 0.3em 0.5em;
      text-transform: uppercase;
      
      span {
        font-family: $franklin-book;
        font-size: 0.9em;
      }
  }
  textarea {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
  .char-count {
    margin-left: 0;
  }
  .send-button {
      font: 400 1em $franklin-book;
      color: $white;
      text-transform: uppercase;
      margin: 1em 0;
      background: $black;
      padding: 0.7em 2em;
      transition: all .2s ease-in;
      &:hover {
        background:$charcoal;
      }
  }
  .preview-button,
  .cancel-button {
    display: none;
  }
}

#send-to-friend-dialog .send-to-friend-login-message {
  padding: 2em 0em 2em;
}
