.cartHolder{
  @extend %clearfix;
  position:relative;
  margin-top:20px;
  @media screen and (min-width: 768px) {
    &:before{
      content:"";
      position: absolute;
      left:71%;
      top:0;
      bottom:0;
      width:1px;
      background:transparent;
    }
  }
  .leftColumn{
    margin:0 3%;
    @media screen and (min-width: 768px) {
      margin:0;
      width:68%;
      float:left;
    }
  }
  h2.cart-title{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-family: $franklin-med;
    margin:0;
    padding-bottom:30px;
    font-weight:400;
    @media screen and (min-width: 768px) {
          font-size:16px;
        }
        @media screen and (min-width: 1024px) {
          font-size:20px;
        }
  }

  #cart-items-form fieldset {
    clear: both;
  }

  #cart-table {
      .packagingRow{
      display: block;
      @media screen and (min-width: 768px) {
        display: table-row;
        font-size:14px;
        text-align:centre;
      }
      td{
        padding-bottom:6px;
        @media screen and (max-width: 767px) {
          padding:6px 0;
        }
      }
      .packagingOption{
        float:left;
        margin-left:10px;
        &:first-child{
          margin-left:0;
        }
        .packagingSelect{
          padding-left:25px;
          background: url("../images/icon-gift.png") no-repeat 0 0 transparent;
          background-size:17px 17px;
          height:17px;
          display: block;
          line-height: 17px;
          text-decoration:underline;
          &:hover {
          	color:$grey;
          }
        }
      }
    }
    thead {
      display: none;
      @media screen and (min-width: 768px) {
        display: table-header-group;
      }
      tr{
        border-bottom:1px solid $black;
      }
    }
    td {
      box-sizing: border-box;
      padding:0;
    }
    tr{
      border:0;
    }
    .section-header {
      color: #000;
      font-size:14px !important;
      text-transform: none;
      font-weight: normal;
      padding: 0 0 6px 0;
      &.header-total-price {
        text-align: right;
      }
    }
    .cart-row{
      td{
        font-size:14px;
        @media screen and (min-width: 768px) {
          padding-top:30px;
        }
      }
      .item-image{
        width:150px;
        padding-right:30px;
        @media screen and (max-width: 767px) {
          float:right;
          padding:0;
        }
        img{
          max-width: 100%;
        }
      }
      .outer-details{
        @media screen and (max-width: 767px) {
          margin-right:-170px;
          float:left;
          width:100%;
          .inner-details{
            margin-right:170px;
          }
        }
      }
      .item-details {
        line-height: 150%;
        font-size:14px;
        padding-right: 20px;
        padding-bottom:20px;
        @media screen and (min-width: 768px) {
          text-align: left;
          width:auto;
          
        }
        .name {
          text-transform: capitalize;
          font-family: $franklin-book;
        }
        .is-in-stock {
          color: #969696;
          margin-bottom:10px;
        }
        @media screen and (max-width: 767px) {
          padding-bottom:0;
        }
      }
      .item-quantity {
        padding:10px 0 0 0;
        @media screen and (min-width: 768px) {
          padding: 30px 20px 0 0;
        }
        select   {
          width: 71px;
              height:36px;
              font-size:10px;
              border-radius:0;
              -webkit-appearance: none;
              -moz-appearance: none;
              background:#fff;
              border:1px solid $light-grey;
              padding:0 15px;
              background:url(../images/select-arrow.png) no-repeat;
              background-position:right;
              background-size:24px 7px;
              font-size:14px;
        }
        select::-ms-expand {display: none;}
        @media screen and (max-width: 767px) {
          float:left;
          clear:left;
        }
      }
      .item-total {
        text-align:right;
        line-height: 150%;
        @media screen and (max-width: 767px) {
          float:left;
          clear:left;
          text-align: left;
          margin-top:10px;
        }
        .finalSale-msg{
				color: #e10404;
                text-transform: uppercase;
                font-size: 11px;
                padding-top: 10px;
                font-weight: 600;
                letter-spacing: 0.1em;
                margin-left: -5em;
				@media screen and (max-width: 767px) {
				    font-size: 11px;
                    padding-top: 5px;
                    margin-left: 0;
                    }
				}
        .promo-adjustment {
          width: 100%;
        }
        .price-total {
          color: #000;
          font-weight: 400;
        }
        .price-standard {
          display: block;
          color: $dim-gray;
        }
        .price-sales {
          color: $venetian-red;
          .saleMessaging{
            display: block;
          }
        }
        .price{
          white-space: nowrap;
        }
      }
      .price-unadjusted {
        color: $dim-gray;
        display: block;
        margin: 0 0 .42em;
        span {
          text-decoration: line-through;
        }
      }
      .price-adjusted-total {
        color: $black;
        display: block;
        font-weight: bold;
      }
      .gift-cert-delivery {
        color: $sangria;
      }
    }

    .actionRow{
      td{
        vertical-align: bottom;
        padding:16px 0 30px 0;
        @media screen and (min-width: 768px) {
          padding: 15px 0 5px 0;
        }
      }
      .cart-action-menu {
		 @media screen and (max-width: 767px) {
          padding: 0;
        }
	  }
      ul{
        margin:0;
      }
      li{
        float:left;
        width:47%;
        margin-left:6%;
        border:1px solid $light-grey;
        height: 36px;
        text-align: center;
        color:$black;
        text-transform: uppercase;
        font-family:$franklin-med;
        font-size:12px;
        box-sizing: border-box;
        display: table;
        &:hover {
        	@include transition(.2s);
        	border:1px solid $black;
        }
        &:first-child{
          margin-left:0;
        }
        &.wishlist{
          display: none;
        }
        a,
        button{
          display: table-cell;
          vertical-align: middle;
          	&:hover {
        		@include transition(.2s);
        		color:$black;
        	}
        }
        button{
          text-transform: uppercase;
          color:$black;
          font-size:12px;
          width:100%;
          height:100%;
        }
        @media screen and (min-width: 768px) {
          width:32%;
          margin-left:2%;
          :first-child{
            margin-left:0;
          }
          &.wishlist{
            display: table;
          }
        }
      }
    }
  }

  .cart-promo {
    background: url("../images/interface/ui-promo-bg-gray-diag.png") repeat scroll 0 0 transparent;
    color: $night-rider;
    font-style: italic;
	margin-left: 150px;
    padding: 0.4em;
	@media screen and (max-width: 768px) {
	  margin-bottom:20px;
	  margin-left: 0px;
	 	}
    .bonus-item-actions {
      font-size: 1em !important;
      text-align: right;
      vertical-align: middle;
    }
  }

  .cart-footer{
    padding:0 3% 0 3%;
    @extend %clearfix;
    @media screen and (min-width: 768px) {
      padding:0 0 0 3%;
      margin: 0 0 0 4%;
      width:28%;
      float:left;
    }
    .error-message{
      margin-bottom:10px;
    }
    .order-totals-table {
      margin-bottom: 20px;
      thead {
        display: none;
      }
      td {
        font-size: 14px;
          color: $black;
          padding: 0 0 10px 0;
          min-width: 50px;
          .opcInternationalShip{
            color:#999;
            float:right;
            img{
              position: relative;
              top:2px;
            }
            span{
              text-decoration: underline;
            }
          }
      }
      tr:last-child td{
        font-weight: bold;
        color:#000;
      }
    }

    .cart-coupon-code {
      padding-bottom:30px;
      @extend %clearfix;
      label {
          line-height: 2em;
          font-size:14px;
          padding: 25px 0 0 0;
          border-top: 1px solid $black;
          font-family: $franklin-book;
          text-transform: uppercase;
          margin:0;
          font-color:#000;
          text-align: center;
          &:before{
            content:"\f02b";
          font-size:16px;
          font-family: FontAwesome;
          }
      }
      .toShow{
        display: none;
        padding:20px 0 0 0;
        @extend %clearfix;
        input#dwfrm_cart_couponCode {
          border: 1px solid $black;
          border-right:0;
            padding: 0.2em 0 0.2em 10px;
            width:55%;
            float:left;
            background:#fff;
            height:36px;
            outline: none;
            font-size:12px;
            @media screen and (min-width: 768px) {
            width:58%;
            }
        }
        button {
          display: block;
              height: 36px;
              background: $black;
              border:1px solid #000;
              color:#fff;
              font-family: $franklin-book;
              font-size:13px;
              border-radius:0;
              padding:0;
              text-transform: uppercase;
              line-height: 36px;
              width:45%;
              float:left;
              @media screen and (min-width: 768px) {
                width:42%;
                font-size:12px;
              }
              @media screen and (min-width: 1024px) {
                font-size:13px;
              }
        }
        button:hover {
          background:$charcoal;
          border-color:$charcoal;
        }
        .error {
          padding-top:10px;
          clear:both;
        }
        .appliedCoupon{
          padding-top:30px;
          text-align: center;
          line-height:150%;
          clear:both;
          @media screen and (max-width: 767px) {
            width:100%;
          }
          .cartcoupon{
            text-transform: uppercase;
            font-weight: bold;
          }
          button{
            text-decoration: underline;
            color:#999999;
            height:auto;
            border:0;
            font-family: $sans-serif;
            text-align: center;
            display: inline;
            float:none;
            text-transform: none;
            background:transparent;
          }
        }
      }
      &.active{
        .toShow{
          display: block;
        }
      }
    }
  }
  .cart-actions{
    padding:0 3% 3% 3%;
    @media screen and (min-width: 768px) {
      width:28%;
      padding:0 0 3% 3%;
      float:right;
    }
    .cart-checkout-button{
      display: block;
          background:#F98017;
          height: 46px;
          color:#fff;
          font-family: $franklin-book;
          font-size:13px;
          width:100%;
          border-radius:0;
          text-indent: 0;
          margin:0;
          padding:0;
          text-transform: uppercase;
          line-height: 46px;
          margin-bottom:16px;
          border:0;
          @media screen and (min-width: 768px) {
            font-size:12px;
          }
          @media screen and (min-width: 1024px) {
            font-size:13px;
          }
    }
    .cart-checkout-button:hover {
      background-color:#ea6d00;
    }
    .checkoutOptions {
        button {
          padding: 0;
          width:100%;
          height:46px;
          border-radius:0;
          color:#000;
          line-height: 46px;
          font-size:13px;
          font-family: $franklin-book;
          text-transform: uppercase;
          background:#e8e8e8;
          @media screen and (min-width: 768px) {
              font-size:12px;
            }
            @media screen and (min-width: 1024px) {
              font-size:13px;
            }
          img{
          width:76px;
          display: inline-block;
          position:relative;
          top:7px;
          @media screen and (min-width: 768px) {
                width: 58px;
                top:4px;
              }
          }
      }
      button:hover {
        background:$light-grey;
      }
    }
  }
}

//Figure out what is still needed below here

.cart-recommendations {
  margin-top: 1rem;
  .product-listing {
    @extend %clearfix;
    background-color: $white-smoke;
    padding: 1rem 0;
    h2 {
      margin-left: 1.3rem;
    }
    .search-result-items {
      margin-top: 1em;
    }
  }
}

.cart-actions-top {
  margin-top: .5rem;
  padding-bottom: 1em;
  .cart-action-continue-shopping {
    float: none;
  }
}

.empty-cart .checkout-progress-indicator {
  margin: -40px 0 0;
}

.cart-empty {
  clear: left;
  float: left;
  margin: 10px 0 0;
  h1 {
    text-align: center;
  }
  .cart-action-continue-shopping {
    float: none;
    text-align: center;
    margin-bottom: 4rem;
  }
  .product-listing {
    @extend %clearfix;
    background-color: $white-smoke;
    padding: 1rem 0;
    h2 {
      margin-left: 1.3rem;
    }
    .search-result-items {
      margin-top: 1em;
    }
  }
}

.promo-adjustment {
  color: $venetian-red;
}

ul.product-availability-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none outside none;
  }
  .on-order, .not-available {
    color: $venetian-red;
    font-size: 0.9em;
  }
}

.account-welcome {
  .welcome-message {
    font-size: 1.2em;
    font-style: italic;
  }
  .not-user {
    margin: .83em 0;
  }
}

#password-reset{
  white-space: nowrap;
  text-decoration:underline;
}

.contactClick {
  cursor: pointer;
    display: inline-block;
    background: url(../images/sprite-main-BCBG.png) -535px 0 no-repeat;
    width: 15px;
    height: 16px;
    margin-right: 15px;
    clear: both;
    text-align: right;
    position: relative;
    float: right;
}

.contactinfo {
  display: none;
  position: absolute;
  background: url('../images/pdp_phone_bg_right.png') no-repeat;
  background-size: contain;
  color: $black;
  border: 0;
  font-size: 0.8em;
  width: 210px;
  height: 131px;
  padding: 20px;
  top: 25px;
  right: 50px;
  z-index: 999;
  
  .phone {
    padding-bottom: 10px;
  }
  .content-header {
    font-family: $franklin-book;
    font-size: 1.2em;
    width: 95px;
    font-style: normal;
    margin: 0 !important;
    text-transform: uppercase;
  }
  ul {
    display: inline-block;
    padding-left: 10px;
    
    li {
      list-style: none outside none;
    }
  }
}
.pt_cart {
  .mybuys {
    padding: 2em 0;
    clear:both;
    .tooltip{
      cursor: default;
    }
    .recommendationText {
      font-size: 1em;
      font-weight: bold;
      margin-left: 14px;
      font-family: $franklin-book;
    }
    .product-tile .product-image img{
      z-index: 1;
    }
  }
  .jcarousel-mb {
    position: relative;
    overflow: hidden;
    width: 406px;
    @media screen and (max-width: 480px) {
      width: 300px;
    }
    ul {
      position: relative;
      width: 2000em;
    }
    li {
      float: left;
      width: 100px;
      margin: 0;
    }
    .product-tile {
      padding: 0 8px;
    }
    .product-image {
      height: 140px;
      
      .thumb-link {
        width: auto;
        height: auto;
      }
    }
    .product-name,
    .product-price {
      display: none;
    }
    .jcarousel-clip {
      margin: auto;
      overflow: hidden;
      width: 300px;
    }
    
    .product-tile:hover .recommendation-tooltip {
      display: block !important;
    }
    .jcarousel-control-prev-mb,
    .jcarousel-control-next-mb {
      display: none; /* removing till slider function works */
      cursor: pointer;
      position: absolute;
      width: 9px;
      height: 17px;
      top: 40%;
      z-index: 100;
      &.inactive {
        opacity:0.2;
      }
      &:before { 
              font-family: FontAwesome;
              font-size: 20px;
              display: inline-block;
              color:#221E1F;
          }
    }
    .jcarousel-control-prev-mb{
      left: 0;
      &:before {
              content:"\f104";
          }
    }
    .jcarousel-control-next-mb {
      right: 0;
      &:before {
              content:"\f105";
      }
    }
    .MB_PRODUCTIMAGE {
        display: inline;
    }
  }
}

#PackagingDialog {
  overflow:hidden;
  padding: 0 5%;
  text-align:center;
  h1 {
    font-family: $franklin-med;
    font-size: 2.5em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    font-weight:400;    
  }
  .item {
    text-transform: capitalize;
    font-family: $franklin-book;
    font-size: 1em;
    border-bottom: 1px dotted #d6d6d6;
    border-top: 1px dotted #d6d6d6;
    margin: 0 ;
    padding:1em 0;
    .name {
      font-size: 14px;
      font-family:$franklin-med;
    }
    .id {
      color: #7f7f7f;
      margin: 0.2em 0;
    }
    .quantity {
      margin: 0;
    }
  }
  .giftPackagingHeader {
    margin:0 0 0.4em 0;;
    padding: 4px 0;
  font-family:$franklin-med;
    clear:both;
    text-align: left;    
  } 
  .giftPackagingOption {
    width: 100%;
    margin: 8px 0;
    display: table;
    clear: both;
    label {
      position: relative;
      top: -2px;
    }
    input,label {
      float:left;
      padding-left:5px;
      white-space:nowrap;
      margin:0;
      font-size: 1em;
    }
  }  
  .giftPackagingTextArea {
    width:100%;
  } 
  .leftcolumn {
    padding: 0;
    margin: 30px 0;
    width: 47%;
    float: left;
    .tooltip-packaging {
      color: #999;
      clear:left;
      font-size: 0.9em;
      padding-left: 18px;
      text-align: left;
      display: block;
    }
  }
  .rightcolumn {
    padding: 0 0 0 5%;
    margin: 30px 0;
    width: 47%;
    float: right;
    border-left: 1px dotted #d6d6d6;
    #giftMessage {
      float:left;
      clear:left;
      width:100%;
      height:40px;
    }
    .caption {
      clear:left;
      float:left;
      padding-top:5px;
    }
  }
  #actions {
    width:100%;
    clear: both;
  }
  .saveContinue {
    margin: 0;
    background: $black;
    color: #FFF;
    border: none;
    text-transform:uppercase;
    font-family: $franklin-book;
  &:hover {
    background:$charcoal;
  }
  }
}

@media screen and (max-width: 767px) {
  #PackagingDialog {
    h1 {
      font-size:2em;
    }
    .leftcolumn, .rightcolumn {
      float:none;
      width:100%;
      margin: 20px 0;
    }
    .rightcolumn {
      border:none;
      padding:0;
      clear: both;
        display: table;
    }
    .giftPackagingOption {
      label, input {
        font-size: 0.9em;
      }
    }
  }
}
