// mixins
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

// colors
// names taken from http://www.color-blindness.com/color-name-hue/
$black: #1e1e1e;
$cerulean: #0167af;
$charcoal: #464646;
$citrus: #84bd00;
$dark-gray: #aaa;
$dim-gray: #666;
$gainsboro: #e0e0e0;
$gainsboro-two: #e8e8e8;
$ghost: #cdcdce;
$grayish-blue: #d1d2d4;
$grayish-red: #d3d2d2;
$grey: #7f7f7f;
$islamic-green: #019328;
$light-grey: #d6d6d6;
$night-rider: #333;
$nobel: #999;
$pacific-blue: #00a4e4;
$pink: #f09;
$rain-forest: #64772d;
$red: #f00;
$sangria: #990000;
$stark-white: #cebdb3;
$tutu: #faeded;
$venetian-red: #9c0000;
$very-dark-gray: #4d4d4d;
$very-light-gray: #ccc;
$white-smoke: #efefef;
$white: #fff;
$zircon: #e7e8e9;
$shuttle-grey: #636466;
$swatch-types: black #000000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #ffffff, yellow #ffff00, navy navy;

// fonts
$sans-serif: Arial, sans-serif;
$serif: Georgia, serif;
$sackers-heavy: SackersGothicW01-Heavy;
$sackers-medium: SackersGothicW01-Medium;
$sackers-light: SackersGothicW01-Light;

$helvetica-45: 'HelveticaNeueETW01-45Lt'; //light
$helvetica-55: 'HelveticaNeueETW01-55Rg'; //roman
$helvetica-65: 'HelveticaNeueETW01-65Md'; //medium
$helvetica-75: 'HelveticaNeueETW01-75Bd'; //bold
$helvetica-45-it: 'HelveticaNeueETW01-46Lt'; //light italic
$helvetica-55-it: 'HelveticaNeueETW01-56It'; //roman italic
$helvetica-65-it: 'HelveticaNeueETW01-66Md'; //medium italic
$helvetica-75-it: 'HelveticaNeueETW01-76Bd'; //bold italic

$franklin-book: 'ITCFranklinGothicW01-Bk 812647';
$franklin-med: 'ITCFranklinGothicW01-Md 812695';
$franklin-demi: 'ITCFranklinGothicW01-Dm 812668';
$franklin-it: 'ITC Franklin Gothic LT W01BkIt';

$dietdidot: 'DietDidot W01 Regular'; //regular
$dietdidot-it: 'DietDidot W01 Italic'; //italic

// flag-icon-css
$flag-icon-css-path: '../lib/flag-icon-css/flags';

// global classes
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.menu {
  float: left;
  margin: 0;
  padding: 0;
  li {
    float: left;
    list-style: none outside none !important;
  }
}

// brand logo
$white-logo: '../images/HL_LOGO_WHITE.svg';
$black-logo: '../images/homepage/HL_Logo2016.svg';

// search icon
$search-icon-white: '../images/icon-search-white.svg';
$search-icon-black: '../images/icon-search-blk.svg';

// minicart icon
$minicart-icon-white: '../images/icon-bag-white.svg';
$minicart-icon-black: '../images/icon-bag-blk.svg';

// store location icon
$storelocation-icon-white: '../images/icon-location.svg';

// navigation icon
$navigation-icon-white: '../images/icon-nav-white.svg';
$navigation-icon-black: '../images/icon-nav-blk.svg';
