.pt_wish-list {
  .list-table-header {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $white-smoke;
    overflow: hidden;
    padding: 2em;
    p {
      color: $nobel;
      float: right;
      margin: 0;
      overflow: hidden;
      width: 40%;
    }
  }
  .primary-content .list-table-header h2 {
    float: left;
  }
}

.list-share {
  @extend %clearfix;
  margin: 0 -24px;
  padding: 2em;
  .list-title {
    float: left;
  }
  .print-page {
    float: right;
  }
}

.event-info {
  margin: 1em;
}

.wishlist-search,
.registry-search {
  .form-row {
    clear: none;
    margin: .5rem 0 .5rem 1%;
    float: left;
    width: 32.666666667%;
    &:nth-of-type(3n + 1) {
      margin-left: 0;
    }
  }
  .form-row-button {
    margin-left: 0;
  }

}

.checkoutbag {
    background: $black;
    border: none;
    color: #fff;
    float: right;
    font-family: $franklin-book;
    font-size: .9em;
    font-weight: 400;
    margin: 10px 0;
    padding: 0.7em 2em;
    text-transform: uppercase;
    &:hover {
      background:$charcoal;
    }
}
