
$boulder: #797979;

.afterpay-checkout-pbi {
    margin-bottom: 40px;
    padding-left: 200px;

    ul {
        list-style-type: none;
        margin:  20px 0;
        padding-left: 0;

    }

    li {
        margin-top: 15px;

        &:last-child {
            padding-left: 20px;
        }

        img {
            padding-right: 9px;
        }
    }
}

.payment-image{
	height: 18px;
    width: 97px;
    padding: 0 0 4px 0;
}

.afterPayMethodLabel {
    .afterpay-image {

        @media screen and (max-width: 450px){
            float: right;
            padding: 0;
            width: 75px;
        }
        
        @media screen and (max-width: 750px){
            float: right;
            padding: 5px 0 0 10px;
        }
    
        margin: -5px 0;
        padding-left: 10px;
        vertical-align: middle;
        width: 80px;
    }

    .afterpay-link {
        display: block;
        margin: 0 auto;
        width: 80%;

        @media screen and (min-width: 450px) {
            display: inline-block;
            margin: 0;
            width: 100%;
        }

        a {
            &:before {
                font-size: 10px;
            }
        }
    }
}

.afterpay-dialog {
    background: #FFF9F8;
    padding: 0 0 1em 0 !important;

    .ui-dialog-titlebar-close {
        z-index: 55;
    }

    .open-afterpay {
        margin-top: 28px;
		.payment-link{
			text-decoration: underline;
    		color: #878787;
		}
    }
}

.checkout-afterpay-message {
    display: inline-block;
    font-size: 0.85em;
}

.product-detail {
    .product-afterpay-message {
        .afterpay-link {
            display: inline-block;
            padding: 10px 0;

            @media screen and (max-width: 767px){
                padding: 10px;
            }
        }

        @media screen and (max-width: 767px){
            text-align: center;
            font-size: 12px;

            .afterpay-link a {
                &:before {
                    font-size: 10px;
                }
            }
        }
    }
}

.afterpay-link a {
  &:before {
        background: url('../images/learn-more.svg') no-repeat rgb(255, 255, 255);
        content: "";
        display: inline-block;
        height: 16px;
        width: 16px;
        vertical-align: middle;
  }
}

.cart-afterpay-message {
    display: inline-block;
    font-size: .8em;
    line-height: 1.5em;
    padding: 10px 0px;
    text-align: center;
    width: 94%;
}
  
.terms-content {
    color: #878787;
    font-size: 10px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;

    p {
        margin: 0;

        @media screen and (max-width: 767px){
            display: inline;
        }
    }

    a {
        @media screen and (max-width: 767px){
            display: inline;
        }
    }
}
      
.copy-rights {
    text-align: center; }

.open-afterpay {
    text-align: center;

    picture {
        width: 100%;
    }
}

 .product-afterpay-message {
    .afterpay-image {
        vertical-align: middle;
        width: 80px; 
    }
}
 
.loader-image{
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 101;
	background: 50% 50% no-repeat white;
	opacity: .8;
	background: url('../images/Loading_icon.gif') 50% 50% no-repeat rgb(255, 255, 255);
}

.redirect-text{
	padding: 80px 36px 80px 100px;
	font-size: 23px;
	font-style: italic;
	margin: 0 auto;
	float: right;
}

.notify-message{
	padding-left: 122px;
} 

.no-padding {
    padding: 0;
}

.afterpay-terms-close {
    height: 65px;
    position: absolute;
        top: 0;
        right: 0;
    width: 100px;
    z-index: 5;
}

