.ui-dialog .forgotten-password-h1 {
    font-family: $dietdidot-hl;
    color: #606060;
    font-size: 32px !important;
	letter-spacing: 0.01em;
    line-height: 1.05em;
    margin: 20px 0 20px;
    text-align:center;
}
.ui-dialog .forgotten-password-p {
	font-family: "HelveticaNeueETW01-45Lt";    
    font-size: 0.8em;
	color: #606060;
    text-align:center;

    letter-spacing: .01em;
	line-height: 1.7em !important;
    margin: 0 auto 3% !important;
	width: 70%;
}

.ui-dialog .forgot-password-error{
 	display: none;
}
.requestpasswordreset-confirm-container {
	text-align: center;
	p{
		font-family: "HelveticaNeueETW01-45Lt";
    	font-size: 0.8em;
    	color: #606060;
    	letter-spacing: .01em;
    	line-height: 1.7em;
	}
    button {
        background: $black;
        font-family: $helvetica-55;
        cursor: pointer;
        border: none;
        margin: 0;
        text-transform: uppercase;
    }
}

#PasswordResetForm {
	text-align:center;
	margin:30px 15px 0 15px;
	.form-row {
		max-width: 286px;
    	margin: 0 auto;
	}
	.form-row label, span.error {
		text-align:left;
    	font-size: 0.8em;
    	letter-spacing: 0.01em;
	}
	.form-row label{
		color: #696969;
		margin-bottom: 2px;
	}
	.error {
		color: #e10404;
		margin-top: 2px;
	}
	input[type="text"] {
		border: 1px solid #696969;
    	padding: 10px 5px;
    	font-size: 14px;
    	font-family: $helvetica-55;
	}
	.signinagain {
		font-size: 0.8em;
		letter-spacing: 0.01em;
		cursor: pointer;
		text-decoration: underline;
		font-family: $helvetica-55;
		margin-top: 1.5em;
		color: #696969;
	}
    .form-caption.error-message{
		position: absolute;
    	top: 65%;
		color: #e10404;	
    }
    button {
        background: $black;
        font-family: "HelveticaNeueETW01-65Md";
        cursor: pointer;
        border: none;
		font-size: 0.8em;
		line-height: 36px;
    	padding: 0.5em 2em;
        margin: 15px auto 15px auto;
        text-transform: uppercase;
		width:100%;
        &:hover {
        	background:$charcoal;
        }
    }
    a {
        color: $black;
        display: block;
        margin-bottom: 10px;
        text-decoration:underline;
        &:hover {
        	color:$grey;
        }
    }
}

#NewPasswordForm{
	width: 48%;
	@media screen and (max-width: 767px) {
		width: 100%;
		padding: 0 10px;
	}
	.form-row label {
		display:inline;
	}
	button {
		margin-top:15px;
	}
	.password-error, .password-len-error{
		color: #e10404;
		font-size: 0.8em;
		margin: 0;
	}
}

.pt_account {
	#secondary {
		width: 15.3846%;
		nav {
			padding:0;
			margin:0;
		}
	}
	.secondary-navigation {
		.guest {
			text-transform: capitalize;
			font-weight: 400;
		}
		.content-asset {
			p {
				margin:0 0 4px 0;
			}
		}
	}
	.page-content {
		.primary-content {
			@media screen and (max-width: 1023px) and (min-width: 768px) {
				width: 100%;
			}
		}
	}
	.breadcrumb {
		display:none;
	}
	.primary-content {
		margin: 0;
		padding: 20px 0 20px 1.5385%;
		border: 0;
		width: 83.0769%;
		p.welcome {
			width: auto;
			margin: 0 0 20px 10px;
		}
		.section-addnew a {
  			border: none;
  			display: inline-block;
  			margin: 10px 0 0;
  			background:$black;
  			color:$white;
  			padding:0.7em 2em;
  			text-transform:uppercase;
  			&:hover {
  				background:$charcoal;
  			}
		}
		h1 {
			font-size:2.15em;
			@media screen and (max-width: 767px) {
				margin:0.5em 0.3em 0;
			}
		}
		h2.section-header{
			text-transform: capitalize;
			font-size: 1.2em !important;
		}
	}
	h2.section-header {
		background-color: $white;
		color: $black;
		font-family: $helvetica-55;
		font-weight: 400;
		margin: 0;
		text-align: left;
		padding: 5px 0;
	}
	span.error {
		display: block;
		font-size: 0.8em;
		margin-bottom: 5px;
	}
	.col-1 {
		width: 48%;
		border-right:none;
		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}
	.col-2 {
		width: 48%;
		margin: 0 0 0 4%;
		@media screen and (max-width: 767px) {
			width: 100%;
			margin:0;
		}
	}
	.registration {
		width: 80%;
	}
	p.details, .privacy-policy {
		width: 75%;
	}
	.regform {
		input[type=password],
		input[type=text], 
		textarea {
			width: 50%;
			margin: 0.2em 0 0.4em 0;
		}
		.form-caption {
			float: left;
			margin: -17px 0 0 94px;
			font-size:0.9em;
		}
		.form-row {
			margin: 12px 0 0;
		}
		.email-updates {
			.input-checkbox, label {
				vertical-align: middle;
			}
		}
		.requiredmessages {
			margin: 10px 0;
		}
		.error-message {
			float: none;
			margin: 5px 0;
			display: block;
		}
	}
	.privacy-policy {
		a {
			font-weight: 700;
		}
	}
	.accountsubhead {
		li {
			background-color: $black;
		  	color: $white;
			float: left;
		  	height: 165px;
		  	margin: 0 0 1% 1.2%;
		  	padding: 20px 5px 0 5px;
		  	position: relative;
		  	width: 22.8%;
		  	text-align: center;
		  	box-sizing: border-box;
		  	a {
		  		display: block;
		  		font-size: 1.5em;
		  		line-height: 30px;
		  		
		  		span {
		  			margin: 0 auto;
		  			display: block;
		  			text-indent: -9999px;
		  		}
		  	}
		  	&:hover {
		  		opacity: 0.8;
  				transition: opacity .25s ease-in-out 0s;
		  	}
		}
		span {
			&.myprofileimage {
				background: url('../images/sprite-main-BCBG.png') -6px -134px no-repeat;
	  			height: 29px;
	  			width: 24px;
			}
			&.myemailimage {
				background: url('../images/sprite-main-BCBG.png') -50px -134px no-repeat;
	  			height: 29px;
	  			width: 24px;
			}
			&.mycalendarimage {
			  	background: url('../images/sprite-main-BCBG.png') -47px -135px no-repeat;
			  	height: 28px;
			  	width: 29px;
			}
			&.mywishlistimage {
			  	background: url('../images/sprite-main-BCBG.png') -92px -135px no-repeat;
			  	height: 29px;
			  	width: 26px;
			}
			&.myordersimage {
			  	background: url('../images/sprite-main-BCBG.png') -134px -134px no-repeat;
			  	height: 28px;
			  	width: 24px;
			}
			&.myaddressbookimage {
			  	background: url('../images/sprite-main-BCBG.png') -218px -132px no-repeat;
			  	height: 32px;
			  	width: 23px;
			}
			&.myguessserviceimage {
  				background: url('../images/sprite-main-BCBG.png') -173px -132px no-repeat;
 			 	height: 34px;
  				width: 31px;
			}
		}
		p {
  			color: $white;
  			margin: 10px 0 0;
		}
		a p {
			font-family: $helvetica-55;
  			font-size: 0.7em;
  			text-transform: uppercase;
		}
		.tfc-fitrec-account {
			.tfc-title-wrapper {
				padding: 35px 0 0;
				
				.tfc-cfg-link {
					text-transform: uppercase;
				    padding: 0;
		    		margin: 0;
				}
				.tfc-cfg-account-title, 
				.tfc-cfg-link {
				    color: $white;
				    width: 100%;
				    display: block;
				    font-size: 12px;
				    font-family: $helvetica-55;
		    		font-weight: 400;
				}
			}
			.tfc-message-wrapper {
			    position: static;
			    margin: 0;
			    padding: 0;
			    
			    .tfc-company-icon {
				    position: absolute;
				    top: 12px;
				    left: 50%;
				    margin-left: -17px;
				}
				.tfc-message .tfc-valign {
				    color: $white;
				    padding: 5px 0 0;
				    margin: 0;
				}
			}
		}
	}
	select#editAddress {
		width: 52%;
	}
	form#RegistrationForm .checkoutbuttonhome {
		background: $black;
		border: 0;
		height: auto;
		text-indent: 0;
		text-transform:uppercase;
		&:hover {
			background:$charcoal;
		}
		@media screen and (max-width: 767px) {
			width:100%;
		}
	}
	.wishlist-find {
  		border: none;
		font-size:1em;
		padding: 0.7em 2em;
		text-transform: uppercase;
   		margin: -15px 0 0 0;
   		&:hover {
  			background:$charcoal;
  		}
	}
	.publicbutton {
  		border: none;
  		float: left;
		color:$white;
		font-size:1em;
		padding:0.7em 2em;
		text-transform:uppercase;
		&:hover {
  			background:$charcoal;
  		}
	}
	 #send-to-friend {
  		border: none;
  		display: inline-block;
  		float: none;
  		margin: 0 0 0 1.8em;
		padding:0.7em 2em;
		background:$black;
		color:$white;
		text-transform:uppercase;
		&:hover {
  			background:$charcoal;
  		}
	}
	.primary-content h2 {
  		text-transform: none;
  		font-weight:400;
	}
	.continueshopping {
  		border: none;
  		display: inline-block;
  		margin: 15px 0 0;
  		background:$black;
  		color:$white;
  		padding:0.7em 2em;
  		text-transform:uppercase;
  		font-size:1em;
  		&:hover {
  			background:$charcoal;
  		}
	}
	.privatebutton {
  		border: none;
  		float: left;
  		font-size: 1em;
   		text-transform: uppercase;
    	padding: 0.7em 2em;
	}
	#addresses {
		.address-create {
		  	bottom: 0;
		  	display: inline-block;
		  	position: relative;
		  	margin: 10px 0 15px 10px;
		  	background:$black;
		  	color:$white;
		  	text-transform:uppercase;
		  	padding:0.8em 2em;
		  	font-size:1em;
		  	&:hover {
		  		background:$charcoal;
		  	}
		}
		a.actions {
	  		display: inline-block;
	  		margin-top: 20px;
	  		padding-right: 20px;
	  		text-decoration: underline;
	  		color: $black;
		}
	}
	ul.payment-list {
		button {
  			border: none;
  			display: block;
  			margin: 9px 0;
			color: $white;
   			background: $black;
    		font-size: 1em;
    		padding: 0.7em 2em;
    		text-transform:uppercase;
    		&:hover {
    			background:$charcoal;
    		}
		}
	}
	.ordertrackform {
  		width: 50%;
  		margin:0 0 30px 0;
  		
  		h3 {
  			font-family: $helvetica-55;
  			text-transform: capitalize;
  		}
	}
	.columnone,
	.columntwo {
		.guessbox {
	  		background: $black;
		  	float: left;
		 	height: 150px;
		  	margin: 0 10px 10px 0;
		  	padding: 30px;
		  	text-align: center;
	  		width: 150px;
	  		
	  		a {
	  			color: $white;
	  		}
	  		span {
	  			font-family: $helvetica-65;
  				font-size: 1em;
  				text-transform: uppercase;
	  		}
		}
	}
	.ordertrackform #dwfrm_ordertrack_findorder {
  		border: none;
  		display: block;
  		height: auto;
  		position: relative;
  		text-indent: 0;
  		top: 5px;
  		width: auto;
  		background:$black;
  		color:$white;
  		font-size:1em;
  		text-transform:uppercase;
  		padding:0.7em 2em;
  		&:hover {
  			background:$charcoal;
  		}
	}
	span.myguessserviceimage {
  		background: url('../images/sprite-main-BCBG.png') -173px -132px no-repeat;
  		display: block;
  		height: 34px;
  		text-indent: -9999px;
  		width: 31px;
	}
	.confirmation-message {
		padding: 0 10px;
	}
} 

h1 .account-logout {
	font-size: 0.6em;
	float: none;
}

.registration-selection {
	input, label {
		display: inline;
		float: none;
	}
}

.address-list {
	padding: 0;
	li {
		float: left;
		list-style: none outside none;
		margin: 0;
		min-height: 135px;
		padding: 1em 0;
		width: 30%;
		&.default {
			border-bottom: 1px solid $white-smoke;
			float: none;
			width: auto;
		}
	}
	.mini-address-title {
		font-weight: 700;
		margin: 0 0 2px;
	}
}
.payment-list {
	overflow: hidden;
	padding: 0;
	li {
		float: left;
		list-style: none outside none;
		margin: 0;
		min-height: 110px;
		width: 33%;
	}
}

.order-history-header {
  	border-bottom: 1px solid $gainsboro;
  	overflow: hidden;
  	padding: 10px;
  	font-weight: 700;
  	text-transform: uppercase;
  	
  	div {
 		width: 20%;
  		float: left;
  	}
}

.order-history-items {
	margin: 20px 0;
}

.order-history-table {
	th, td {
		padding: 5px 10px;
	}
	td {
		width: 20%;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none outside none;
	}
	.order-shipped-to,
	.order-items,
	.order-total-price {
		width: 33%;
	}
	.toggle {
		cursor: pointer;
		display: block;
	}
  	.order-no {
		font-size: 1.1em;
  		
  		button {
 	 		border: none;
  			color: $black;
  			padding: 0;
  			text-align: left;
  			background: none;
  			font-weight: 700;
		}
  	}
	.label {
		font-weight: 700;
	}
}

.orderhistorydetail {
	table.item-list {
		border: 1px solid $gainsboro;
		
		.section-header {
		 	padding: 0 1em;
		 	font-weight: 400;
		 	color: $nobel;
		}
		.order-totals-table {
			tr {
				border: 0;
			}
			th{
				padding: 2px;
				&:nth-child(2){
					text-align: right;
				}
			}
			td {
				font-size: 0.8em;
				color: $night-rider;
				text-transform: uppercase;
				padding: 2px;
				&:nth-child(2){
					text-align: right;
				}
				.opcInternationalShip{
                    float:right;
                    img{
                        position: relative;
                        top:2px;
                    }
                }
                a.opcInternationalShip span{
                    text-decoration: underline;
                }
			}
		}
	}
	#cart-table {
  		margin-top: 20px;
  		margin-bottom: 15px;
  		padding: 0 1em;
  		border-bottom: 1px solid $gainsboro;
  		
  		th {
  			font-weight: 700;
  			border-bottom: 1px solid $gainsboro;
  			color: $nobel;
		}
	}
}

.checkoutbuttonhome {
  	border: none;
  	display: block;
  	margin: 20px 0 0;
	padding:0.7em 2em;
	font-size: 1em;
    text-transform: uppercase;
    &:hover {
    	background:$charcoal;
    }
}

.js .order-history-table .hidden {
	display: none;
}

.addcredit-dialog {
	h1 {
		font-family: $dietdidot;
  		font-size: 2.8em;
  		margin: 0 0 15px;
  		text-align:center;
  		font-weight:400;
	}
	dialog-content {
		padding: 0 5%;
	}
	form#CreditCardForm {
		label {
	  		float: left;
	  		padding: 0;
	  		width: 120px;
	  		font-size:1em;
		}
		input,
		select {
			float: left;
			width: 60%;
		}
		.form-row {
			clear: both;
			padding-bottom: 10px;
			position: relative;
		}
		.form-row-button {
			text-align:center;
			#applyBtn, .cancel-button {
			  	border: none;
			  	font-size:1em;
			  	text-transform:uppercase;
			  	&:hover {
			  		background:$charcoal;
			  	}
			}
		}
		.form-caption.error-message {
	  		position: absolute;
	  		top: 21px;
	  		width: 145px;
		}
	}
}

h1.edit-address-title,
.send-to-friend h1 {
  	margin: 0;
  	font-family: $dietdidot;
  	font-size: 3em;
  	font-style: normal;
  	text-transform: uppercase;
  	font-weight: 400;
  	color: $black;
}

.address-dialog {
	h1, .form-row-button {
		text-align:center;
	}
	.dialog-content {
		padding: 0 5%;
	}
	.form-row {
		span.error {
	  		float: left;
	  		margin-top: 0;
	  		margin-left: 130px;
		}
		label {
		  	float: left;
		  	width: 130px;
		}
	} 
	input[type=text], 
	select {
  		float: left;
  		width: 60%;
  		margin:0 0 0 130px; 
	}
	.apply-button,
	.cancel-button,
	.delete-button {
		border: none;
		font-size:1em;
		text-transform:uppercase;
	}
} 

.pt_content {
	.primary-content {
		width: 83.0769%;
		padding: 20px 0 50px 1.5385%;
		@media screen and (max-width: 1023px) and (min-width: 768px) {
			width:100%;
		}
		.guest_services_content {
  			h2 {
  				text-transform: none;
  				border-top: 1px dotted $light-grey;
  				font-size: 1em;
  				padding-top: 10px;
  				font-family: $helvetica-65;
  				font-weight:400;
  				
  				img {
					width: 11px;
				  	height: 11px;
				  	margin: 0 4px 0 0;
				  	
				 	&.arrow_image {
					  	background: url('../images/cs_arrow_right.png') no-repeat;
					}
					&.below_arrow {
					  	background: url('../images/cs_arrow_below.png') no-repeat;
					}
  				}
  			}
			.togglebox {
			  	clear: both;
			  	margin: 0;
			  	width: 90%;
			  	font-size:12.6px;
			  	.content {
 		 			padding: 12px;
				}
			}
			p {
				font-size:12.6px;
			}
		}
	}
	.breadcrumb {
		display:none;
	}
	.columnone {
  		width: 100%;
  
		.guessbox {
  			background-color: $black;
  			float: left;
  			height: 150px;
  			margin: 0 10px 0 0;
  			padding: 30px;
  			text-align: center;
  			width: 150px;
  			
  			span {
				font-family: $helvetica-65;
			  	font-size: 1.3em;
			  	text-transform: capitalize;
			  	color: $white;
  			}
  			p, a  {
  				color: $white;
  			}
		}
	}
}

.onlinePurchaseContact,
.inStorePurchaseContact {
    float: left;
    width: 50%;

    input,
    select,
    textarea {
		margin-left: 0;
   	 	width: 90%;
    }
    .form-row {
  		width: 80%;
	}
	.requiredMsg {
	  	margin: 10px 0 0;
	}
	.contactUsButton {
	  	margin-top: 10px;
	  	display:block;
	  	&:hover {
    		background:$charcoal;
    	}
	}
}
.pt_error {
	.page-content .primary-content {
		width: 83.0769%;
    	padding: 20px 0 50px 1.5385%;
    	@media screen and (min-width: 768px) and (max-width: 1023px) {
    		width: 100%;
    	}
	}
}
#MCPreferencesForm {
	@media(max-width: 768px){
		padding: 0 20px 10px;
	  }
	.form-indent {
		margin-left: 0;
		@media screen and (min-width: 768px){
			margin-left: 0;
		}
	}
	.form-row {
		margin-left: 20px;
		margin-top: 5px;
		.input-checkbox {
			height: 20px;
			width: 20px;
			margin-right: 5px;
			margin-top: 1px;
			font-size: 20px;
		}
		label {
			font-size: 14px;
		}
	}
	button {
		background: #1e1e1e;
		margin-top: 30px;
		color: #fff;
		width: auto;
		height: auto;
		line-height: 36px;
		font-family: "HelveticaNeueETW01-65Md";
		font-size: 14px;
		text-transform: uppercase;
		padding: 0.5em 2em;
		&:hover{
			background: #464646;
		}
	}
}