.tooltip {
	cursor: help;
	position: relative;
	font-size: 0.9em;
	&.product-tile {
		cursor: pointer;
	}
	
	.detailtxt {
	  text-decoration: underline;
	  float: right;
	  color:$black;
	}
}

.tooltip-content {
	display: none;
}

.ui-tooltip.ui-widget-content {
	background: #dedede;
	width:auto;
    min-width:400px;
    max-width:400px;
    display:inline;
}

.ui-tooltip-content {
	padding: 0.3em;
	width:400px;
	.recommendation-tooltip-header {
		font-size: 1.2em;
		font-weight: bold;
		padding: 0.5em;
		.product-price {
			font-weight: 400;
			.price-standard {
				color: $nobel;
				text-decoration: line-through;
			}
		}
	}
	.recommendation-tooltip-description,
	.recommendation-tooltip-attributes {
		padding: 0.8em;
	}
	.shipping-method-cost {
		float: right;
		.value {
			border-bottom: 1px solid $charcoal;
			display: inline-block;
			padding-bottom: 0.3em;
		}
	}
	.shippingtotal {
		clear: right;
		float: right;
		margin-top: 0.3em;
	}
}

.ui-tooltip, .arrow:after {
  background: #dedede;
}
.ui-tooltip {
    color: $black;
    font-size: 0.9em;
    line-height: 1.1;
    font-family: "HelveticaNeueETW01-65Md";
    border: none;
    /*padding: 10px;
     padding: 10px 20px; */
    opacity: 1;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 100%;
  margin-left: -45px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
