html{
	font-size: 62.5%;
}
body {
	background: none repeat scroll 0 0 $white;
	color: $black;
	font-family: $helvetica-55;
	font-size: 14px;

    @media screen and (max-width: 767px) {
        overflow-x: hidden;
    }
}

a {
	color: $nobel;
	outline: medium none;
	overflow: hidden;
	text-decoration: none;
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

ul {
 	padding: 0;
 	list-style-type: none;
}

button,
.button,
.buttonstyle,
input[type="button"] {
	background-color: $black;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1em;
	font-weight: 400;
	padding: 0.5em 2em;
	text-align: center;
	transition: all 0.3s ease;
	border:0;
	outline:0;
	letter-spacing: 0.8px;
	&.large {
		font-size: 1.35em;
		text-transform: uppercase;
	}
	&[disabled],
	&.disabled {
		background-color: $very-light-gray;
		color: $dim-gray;
		opacity: 0.5;
	}
	a {
		color: $white;
		&:hover {
			color: $citrus;
		}
	}
	i {
		&.left {
			margin-right: 0.6em;
		}
		&.right {
			margin-left: 0.6em;
		}
	}
	&.ui-button:focus{
		outline:none;
	}
}

.button-fancy-small {
}

.button-fancy-medium {
}

.button-fancy-large {
	@extend .button.large;
}

.button-text {
	background-color: transparent;
	border-width: 0;
	color: $dim-gray;
	padding: 0;
}

.button-full-width {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}

.mobile-show {
	display: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

.quickViewOpen{
	cursor:pointer;
}
