#bonus-product-dialog{
	max-height: 90vh !important;
	overflow:hidden;
	@media screen and (max-width: 767px){
		max-height: none !important;
	}
}

body.bonusopen{
	overflow: hidden !important;
}

#bonus-popup-main-title{
	font-family: "HelveticaNeueETW01-45Lt";
    font-size: 1.5em;
    text-align: center;
	letter-spacing: .01em;
}

#bonus-popup-subtitle{
	font-family: "HelveticaNeueETW01-45Lt";
    font-size: 1em;
    text-align: center;
	letter-spacing: .01em;
	text-transform: unset;
	@media screen and (min-width:375px) and (max-width:400px){
		font-size: .85em;
	}
}

#bonus-product-list {
	width: 96%;
    margin: 2%;
	margin-bottom: 8%;
	overflow-y: auto;
	max-height: 70vh;
	@media screen and (max-width: 767px){
		max-height: 80vh;
		margin-bottom: 0;
	}
	.bonus-product-item:not(:first-child){
		display:none;
	}
	.bonus-product-item:last-of-type {
	  padding-bottom: 80px;
	}
	.bonus-product-item {
		@extend %clearfix;
		padding-bottom: 1.5em;
		margin-top: 1em;
		.product-col-1,
		.product-col-2 {
			@media screen and (max-width: 768px) {
				width: 48%;
    			display: inline-block;
			}
			@media screen and (min-width: 768px) {
				width: 45%;
			}
			@media screen and (max-width: 767px){
				clear: none;
			}
		}
		.product-col-2{
			padding: 0;
			margin-top: 30px;
			@media screen and (max-width: 767px){
				padding:0;
				float: right;
				margin-top: 0;
			}
			@media screen and (max-width: 1023px) and (min-width: 768px){
				padding: 10px 0;
			}
			.review-actions-container{
				display:none;
			}
		}
		.product-col-2.top40 {
			@media screen and (min-width: 768px) {
				width: 45%;
				top: 0;
    			margin-top: 0;
			}
		}
		.primary-image{
			max-width: 50%;
			@media screen and (max-width: 767px){
				max-width: 80%;
			}
		}
		.product-primary-image{
			width: 140px;
    		max-width: 140px;
			float: right;
			@media screen and (max-width: 1023px) and (min-width: 768px){
				padding: 5px 0 0;	
			}
			@media screen and (max-width: 767px){
				float: right;
			}
			img{
				width:100%;
			}
		}
		.inv-availability{
			display: none;	
		}
		.product-add-to-cart{
			.quantity{ 
				label{
					display: inline-block;
					width: unset;
					font-size:0.8em;
				}
				input {
					margin: 0;
					border: none;
					font-size:0.8em;
				}
			}
		}
		.product-add-to-cart:first-of-type{
			display:none;
		}
		.product-variations .attribute#swatchAttrib {
			display: none;
		    @media screen and (max-width: 768px) {
				text-align: left;
			}
		}
		.pdp-main .product-variations .attribute .label {
			@media screen and (max-width: 768px) {		    
				float: none;
			}
		}
		.product-variations{
			float: none;
			display: none;
		}
		.product-variations .ul-size li{
			display: block;
    		margin: 0 0 0.4em;
		}
		.product-variations .ul-size li .size-variation{
			display:none;
		}
		.product-variations .ul-size li .size-variation.selected{
			display:block;	
		}
	}
	
	.product-add-to-cart {
		padding-bottom: 0;
		width: 5em;
    	display: inline-block;
		margin: .5em 0 0 .5em;
		.inventory {
			width: auto;
			display: none;
		}
		.select-bonus-item{
			margin-top: 0.8em;
			display: inline-block;
		    font-size: 0.9em;
		    font-weight: 700;
		    text-decoration: none;
		    color: #1e1e1e;
			background-color: white;
		    border: 1px solid #d6d6d6;
		    padding: 1.2em 0.8em 0.8em 0.8em;
		    text-align: center;	
			width: 5em;
    		height: auto;
		}
		.select-bonus-item[disabled]{
			color: #d6d6d6;
		}
	}
	
	.product-name {
		float: none;
		margin: 0 0 0 .5em;
		font-size: 1.3em;
		@media screen and (max-width: 767px){
			display: block;
		}
	}
	.quantity-error {
		color: red;
		text-transform: inherit;
	}
	
	.bonus-product-list-footer {
		@extend %clearfix;
		width: 96%;
	    margin: 2%;
		padding-top: 1em;
		padding-bottom: 1em;
		&.promotion{
			display:block;	
		}
		@media screen and (max-width: 767px){
			
		}
		.add-to-cart-bonus {    
			float: right;
			@media screen and (max-width: 767px){
				margin-top: 10px;
			}
		}
		.add-to-cart-bonus[disabled]{
			color: #fff;
		}
		.bonus-product-summary h2{
			font-family: "HelveticaNeueETW01-45Lt";
		    font-size: 0.8em;
			letter-spacing: .01em;
			text-transform: unset;
		}
		.summary-edit-msg, .summary-error-msg{
			display:none;
		}
		.summary-edit-msg.isActive, .summary-error-msg.isActive{
			display: block;
			margin-top: 10px;
		}
		.summary-error-msg{
			color: red;
		}
		
	}
	.bonus-product-list-footer.promotion{
		display:none !important;
		position: absolute;
	    bottom: -26px;
	    background-color: white;
		@media screen and (max-width: 767px){
			position: relative;
    		bottom: unset;
			padding-top: 0;
		}
	}
	
	.bonus-product-list-footer.promotion.isActive {
		@media screen and (max-width: 767px){
			position: absolute;
    		bottom: 4px;
			padding-top: 0;
			padding-bottom: 0;
			margin: 0;
		}
		.add-to-cart-bonus{
			@media screen and (max-width: 767px){
				margin-right: 4%;
			}
		}
	}
	
	.selected-bonus-item {
		margin: 1em 0 1em 1em;
		position: relative;
		.item-name {
			font-weight: bold;
		}
		.remove-link {
			cursor: pointer;
			color: #c8b3ab;
			font-family:"HelveticaNeueETW01-55Rg";
			text-decoration:underline;
			&:hover {
				color: $charcoal;
			}
		}
		[data-attribute-id="color"] {
		    display: none;
		}
	} 
}

.bonus-discount-container {
	.bonus-product-alert-title{
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 5px;
	}
	.bonus-product-alert{
		text-align: center;
		font-size: .85em;
	}
	.tooltip-content{
		display: none;
		&.visible {
			display: block;
		}
	}
	.promo-details {
		display: none;
		&.visible {
			display: block;
		}
	}
}
