.breadcrumb {
	@extend %clearfix;
	font-size: 10px;
	line-height: 14px;
	margin: 0 0;
	@media screen and (max-width: 768px){
		/*margin-left:10px;*/
	}
	li {
		display: inline;
		list-style: none outside none;
	}
	
	ul .breadcrumb-element:hover {
	  color: $grey;
	}
  
  span.breadcrumb-element:last-child:after {
   content: '';
   background-image: none;
  }
}

.paging-current-page {
	left: -999em;
	position: absolute;
}

.pt_product-search-result {
	.breadcrumb-element {
		text-transform: capitalize;
		float: left;
		color: $nobel;
		letter-spacing: 0.01em;
	
		&:last-child {
		  > span {
		   color: $black;  
		  }
			font-weight: 400;
		}
		h1{
			font-size: 13px;	
			display: inline;
			font-weight: 400;
			@media screen and (max-width: 480px){
				font-size: 11px;
			}
			
		}
		&.breadcrumb-home{
			float: left!important;
			margin-left: 5px;
		} 
		
		&:last-of-type {
			color: $black;
			padding: 0px; 
			font-family: $helvetica-65;
			font-weight: 600;
			position: relative;
			float: right;
			&:after{
				content: none;
			}
		}
		&:not(:last-child):after {
			color: #999; 
			font-family: FontAwesome;
	    	content: '/';
			@media screen and (min-width: 768px){
	    	margin: 0 6px;  
			}
		}
		&.breadcrumb-result-text:after{
			@media screen and (min-width: 768px){
	    		margin: 0 6px 0 2px;  
			}
			@media screen and (max-width: 480px){
				 margin: 0 3px 0 0 !important;
			}
		}
		
		@media screen and (max-width: 480px){
	    	&:not(:last-child):after {
	      		width: 2px;
	      		height: 18px;
				margin: 0 3px;
	    	}
	  	} 	
	}
	
}

.pt_product-details {
	.breadcrumb-element {
		text-transform: capitalize;
		float: left;
		color: $black;
		
		&:after {		 
			font-family: FontAwesome;
	    	content: '\f105';
	    	margin: 0 6px;  
		}
		&:last-child {
		  > span {
		   color: $black;  
		  }
			font-weight: 400;
		}
		@media screen and (max-width: 480px){
	    &:not(:last-child):after {
	      width: 2px;
	      height: 18px;
	    }
	  }
	}
}

.breadcrumb-refined-by, .breadcrumb-refinement-name {
	display: none;
}

.breadcrumb-refinement {
	font-weight: 400;
	
	&:after {
		content: attr(data-divider);
		font-style: normal;
	}
	&:last-of-type {
		&:after {
			content: '';
		}
	}
}

.breadcrumb-refinement-bar {
	display: inline-block;
	margin: 15px 20px 0 0;
	@media screen and (max-width: 480px){
   display: none; 
  }
}

.breadcrumb-refinement-value {
	display: inline-block;
	border-radius: 3px;
	margin: 0 5px 5px 0;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 0.8em;
}

a.breadcrumb-relax {
	color: $nobel !important;
	font-style: normal;
	padding: 0 0 0 3px;
}

.breadcrumb-result-text a,
.breadcrumb .searchphraselink {
	background: none;
	color: $citrus;
	padding: 0;
}

.primary-content {
    .breadcrumb-element {
        display: none;
    }
}