.checkout-progress-indicator {
	font-size: 1.2em;
	float:right;
	margin-top:0px;
	@media screen and (max-width: 768px) {
	  margin: 0 14px 0 0;
	  width: 100%;
	}
	ul {
	background: #d1d2d4;
    width:100%;
    height:17px;
    li {
      float:left;
      width:auto;
      padding:0 12px;
      color: $night-rider;
      font-size:0.7em !important;
      line-height:17px;
      position: relative;
      
      &:after {
		content: '';
		display: block;
		width: 12px;
		height: 17px;
		background: #d1d2d4 url("../images/sprite-main-BCBG.png") no-repeat -69px -218px;
		position: absolute;
		top: 0;
		right: -7px;
		z-index: 1;
      }
      
       &:before {
		content: '';
		display: none;
		width: 12px;
		height: 17px;
		background: #d1d2d4 url("../images/sprite-main-BCBG.png") no-repeat -69px -200px;
		position: absolute;
		top: 0;
		left: -5px;
		z-index: 1;
      }
      
      &.step-active {
      	&:before {
      	    display: block;
      		background: #d1d2d4 url("../images/sprite-main-BCBG.png") no-repeat -69px -200px;
      	}
      	&:after {
      		background: #d1d2d4 url("../images/sprite-main-BCBG.png") no-repeat -69px -182px;
      	}
      	background: #000;
      	color:#fff;
      	a{
	 		color:#fff;
	 	}
      }
      
      &.step5-mobile {
      	color: #d1d2d4;
      	width: 12px;
      	white-space: nowrap;
      	overflow: hidden;
      	
      	&:after {
      		background: #d1d2d4;
      	}
      }
    }
	}
	ul.step-1-active {
	 li.step-active {
	 	a{
	 		color:#fff;
	 	}
		 &:before {
		 	display: none;
		 }
	 }
	}
	ul.step-5-active {
		li.step5-mobile.step-active {
			width: auto;
			color: #fff;
			white-space: normal;
			overflow: visible;
			&:after {
				background: #000;
			}
		}
	}  	
	span {
		font-weight: 700;
		text-transform: uppercase;
	}
}

.shipping-method {
	margin-top: 1.83em;
	label {
		display: inline;
		float: none !important;
		padding-right: .42em !important;
	}
	.shipping-description {
		display: inline;
	}
}

.gift-message-text {
	&.hidden {
		display: none;
	}
}

.billing-coupon-code {
	.form-row {
		width: 50%;
	}
}

.redemption {
	.success {
		color: $islamic-green;
	}
	color: $sangria;
	span.error {
		margin-left: 0;
	}
}

.payment-method-options {
	.form-row {
		clear: none;
		float: left;
		width: 30%;
	}
}

.payment-method {
	clear: both;
	display: none;
}

.payment-method-expanded {
	display: block;
}

.month,
.year,
.day {
	clear: none;
	float: left;
	margin: 0 0 2% 2%;
	select {
		width: auto;
	}
}

.month .form-caption {
	margin-left: 0;
}

.cvn {
	clear: left;
	.field-wrapper {
		width: 50px;
	}
}

.ssn {
	clear: left;
}

.bml-terms-and-conditions {
	border: 1px solid $dark-gray;
	font-size: 0.8em;
	height: 400px;
	overflow: auto;
	padding: 1em;
}

.bml-table-col-1 {
	width: 25%;
}

@media screen and (max-width: 768px) {
    .pt_checkout #main #primary {
        width:67%
    }
}

.pt_checkout {
	span.error {
	    margin-left: 0
	}
	.error-form {
		clear: both;
		float: left;
		margin-left: 20px;
	}
	#primary {
		float: right;
		padding: 0 0 50px;
		
		.item-list {
		    float: right;
		}
		#borderfree-terms {
			float: left;
			width: 85%;
			font-size: 13px;
			padding-top: 75px;
			text-align: center;
			
			a {
				text-decoration: underline;
			}
		}
	}
	#secondary {
   		float: left;
		padding: 15px 0 50px 0;
   		width: 210px;
   		display: block;
   		h1 {
	    	font-family: 'Didot W01 Headline';
   			font-size: 2.7em;
   			font-style: normal;
   			@media screen and (max-width: 1023px) {
   				display: none;
   			}
   			&.order-confirmation {
 				width: 400px;
  				margin: 0 0 22px;
   			}
   		}
	}
 	h3 {
		padding-bottom: 1em;
	}
	.checkout-shipping,
 	.checkout-billing {
   	 	width: 100%;
   	 	
		.billing-buttons,
		.shipping-buttons {
		    width: 100%;
		    margin-top: 10px;
		    float: left;
		    
		   	.billing-prev-button,
			.shipping-prev-button { 
			    background: url('../images/sprite-main-BCBG.png') -613px -270px no-repeat;
			    width: 136px;
			    float: left;
			    padding: 5px;
			    text-indent: -9999px;
			}
			.billing-continue-button,
			.shipping-continue-button {
			    background: url('../images/sprite-main-BCBG.png') -608px -173px no-repeat;
			    width: 139px;
			    border: none;
			    text-indent: -9999px;
			    float: right
			}				
		}
		
		fieldset {
		    width: 520px;
		    
		    .shipping-address-title,
		    .shipping-methods-title,
		    .billing-title {
			    padding: 5px;
			    background-color: $black;
			    color: $white;
			    width: 150px;
			    font-family: $helvetica-55;
			    font-size: 0.9em;
			    text-transform: uppercase;
			    margin-bottom: 20px;
			    margin-top: 20px;
			    text-align: center;
			}
			.form-row {
				float: left;
				width: 80%;
				
		    	label {
				    padding-left: 5px;
				}
				&.label-inline {	
				    margin-top: 15px;
				    margin-bottom: 15px;
				}
				.input-checkbox,
				.input-radio {
				    float: left;
				}
				select {
					width: 100%;
				}
			}
			.firstName {
			    width: 212px;
			    float: left;
			    padding-right: 10px;
			}
			.lastName {
			    width: 212px;
			    float: left;
			    padding-left: 10px
			}
			.city,
			.country {
			    width: 140px;
			    padding-right: 5px;
			}
			.region,
			.state,
			.stateCA,
			.postal,
			.phone,
			.email {
			    width: 140px;
			    padding-left: 5px;
			    padding-right: 5px;
			}
			.bf-billing-error {
			    color: $red;
			    padding-top: 15px;
			    padding-bottom: 15px;
			}
			.payment-method-options {
				.form-row {
					img {
						height: 23px;
					}
					input[type=checkbox],
					input[type=radio] {
						margin: 0 10px 0 0;
						vertical-align: top;
					}
				} 
			}
			.payment-method-expanded {
				@extend %clearfix;
			    width: 250px;
			}
			.month {
			    margin: 0;
			    width: 120px;
			    padding-right: 5px;
			}
			.year {
			    width: 120px;
			    margin: 0;
			}
			.postal #dwfrm_singleshipping_shippingAddress_addressFields_postal-error {
			    width: 160px;
			}
			.expirationLabel {
			    width: 100%;
			    clear: left;
			    float: left;
			    margin-top: 10px;
			}
			.checkoutCouponApply {
			    background: url('../images/sprite-main-BCBG.png') -611px -203px no-repeat;
			    width: 63px;
			    text-indent: -9999px;
			    border: none;
			}
			.couponCode {
				label {
				    font-weight: 700;
				}
				.input-text {
				    width: 50%;
				}
			}
			.addtoemaillist {
			    color: #999;
			    font-size: 0.8em;
			}
		}
		.cvn-tip {
			position: relative;
  			margin: -36px 0 0 44%;
  			width: auto;
  			color: $nobel;
  			
  			a {
  				color: $nobel;
  			}
		}
	 	#shipping-method-list {
		    .form-row.label-inline > label {
			    margin-left: 5px;
			}
			.borderfree-error {
			    color: $red;
			    font-size: 14px;
			}
			fieldset .label-inline {
			    margin: 5px;
			}
		}
	}
}

.order-summary-container {
	border: 1px solid $nobel;
	
	.section-header {
		font-family: $helvetica-55;
		color: $night-rider;
 			
		a {
			font-family: $helvetica-55;
			color: $nobel;
		}
	}
	.mini-cart-name {
		line-height: 1.1em;
	}
	.mini-cart-sku {
		font-size: 0.9em;
	}
	.mini-cart-pricing {
		font-size: 0.9em;
		padding: 5px 0;
	}
	.mini-cart-attributes,
	.mini-cart-qty {
		font-size: 0.8em;
		text-transform: uppercase;
	}
	.checkout-mini-cart .mini-cart-product {
		mini-cart-image {
		    width: 30%;
		}
	}
	.checkout-order-totals .order-totals-table {
		td, th {
			padding: 3px 10px;
		}
		.order-total td {
			background: $black;
			color: $white;
		}
	}
	.confirmation-order-no {
	    padding-top: 1em;
	    padding-left: 1em;
	} 
	.confirmation-order-date {
	    padding-left: 1em;
	    padding-bottom: 1em;
	    font-size: 0.9em
	}
}

.order-shipping-payment-container,
#secondary .order-shipping-payment-container {
	.section-header a {
		color: $nobel;
	}
}

.checkout-mini-cart {
	max-height: 330px;
	overflow: auto;
}

.order-shipping-payment-container {
  	margin-top: 15px;
  	border: 1px solid #999;
  	padding-bottom: 15px;
  		
	.section-header {
  		font-weight: 400;
  		color: $nobel;
  		margin: 0;
  		padding: 1em 5% 1em 1em;
  		
  		a {
  			color: $nobel;
  		}
	}
	.details {
		padding: 0 10px;
		color: $nobel;
	}
}

.place-order-totals {
	float: right;
	width: 250px;
}

.order-summary-footer {
	clear: both;
	position: relative;
	h2 {
		font-size: 2em;
		font-style: italic;
		font-weight: normal;
	}
}

.summary-help {
	float: right;
	font-size: 0.8em;
	margin: 1em 0;
}

.checkout-submit {
 	background: url('../images/sprite-main-BCBG.png') -613px -233px no-repeat;
 	width: 136px;
 	text-indent:-9999px;
}

.submit-order {
	clear: both;
	display: block;
	padding: 1.67em 0 0;
	text-align: right;
	.back-to-cart {
		font-size: 1.1em;
		&:hover {
			text-decoration: underline;
		}
	}
	button {
		margin-left: 1.5em;
	}
}

.order-discount {
	color: $sangria;
}

.gift-cert-used {
	padding: .83em 0;
}

.order-detail-options {
	@extend %clearfix;
	li {
		padding: 5px 5px 5px 0;
  		width: auto;
  		float: left;
  		
		a.btn_continue {
 			background: url('../images/sprite-main-BCBG.png') -616px -362px no-repeat;
  			border: none;
  			height: 24px;
  			text-align: left;
  			text-indent: -9999px;
  			display: inline-block;
  			width: 154px;
		}
		.returnitembutton {
		  	background: url('../images/sprite-main-BCBG.png') -616px -390px no-repeat;
		  	border: none;
		  	display: inline-block;
		  	width: 97px;
		  	height: 24px;
	  		text-indent: -9999px;
		}
		&.continue-shopping {
  			float: right;
		}
		a.btn_return {
	 		background: url('../images/sprite-main-BCBG.png') -608px -55px no-repeat;
		  	border: none;
		  	height: 24px;
		  	text-align: left;
		  	text-indent: -9999px;
		  	display: inline-block;
		  	width: 128px;
		  	float: left;
		}
	}
}

.summary .edit {
	position: absolute;
	text-transform: uppercase;
	right: 10px;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pt_cart .breadcrumb {
	padding-left: 0;
}

.order-shipment-details {
	.label,
	.firstname,
	.lastname {
		font-weight: bold;
	}
}

.item-shipping-address {
	min-width: 120px;
}

.order-shipment-gift-message-header {
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 0px;
}

.order-shipment-gift-message {
	font-size: 1.1em;
}

.billing-error {
	color: red;
	margin: 0 0 .83em 24%;
}

#addressSelectGoButton {
	display: none;
}
#shipping-method-error {
    display: none;
}


//THIS IS ONLY EVER SEEN WHEN AN INTERNATIONAL USER (non OPC) HAS AN ERROR ON CHECKOUT
.pt_checkout{
	#cart-table.summary{
		width:100%;
		thead{
			display: none;
			@media screen and (min-width: 1024px) {
				display: table-header-group;
			}
		}
		tbody{
			td{
				display: block;
				float:right;
				text-align: right;
				padding:0 1em;
				width:70%;
				&.item-image{
					width:30%;
					float:left;
					img{
						width:auto;
						max-width: none;
					}
				}
				@media screen and (min-width: 768px) {
					float:none;
					width:auto;
					display: table-cell;
					padding:1em;
				}
			}
		}
	}
}