#footer {
    clear: both;
    font-size: 12px;
    font-family: $helvetica-55;
    padding: 20px 33px;
    border-top: 2px solid $black;

    @media screen and (min-width: 1024px){
//     	margin: 0 -33px 10px -33px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    	margin: 0;
    	padding: 20px 15px;
    }
    footer{
        max-width: 1300px;
        width: 100%;
        margin:auto;
    }
    h4{
        font-family: $helvetica-65;
        color:$black;
        margin:0;
        clear:both;
        font-weight: 400;
    }
    a{
        color: $black;
        white-space: normal;
        &:hover{
            color:#7f7f7f;
        }
    }
    .socialCol{
        .error{
            color: #1e1e1e;
            &::placeholder {
                color: $venetian-red;
            }
            .valid.error {
                border-top: 1px solid $venetian-red;
                border-bottom: 1px solid $venetian-red;
                border-left: 1px solid $venetian-red;
                &::placeholder {
                    color: $venetian-red;
                }
            }
        }
        form{
            position:relative;
            .emailAlreadyUsed{
                display: none;
                font-size: 12px;
                font-family: $helvetica-55;
                cursor: default;
                padding:20px;
                position:absolute;
                bottom:45px;
                color:$white;
                background:$black;
                text-align: center;
                -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
                .alreadySignedUp &{
                    display: block;
                }
                &:after{
                    content:"";
                    position:absolute;
                    bottom:-13px;
                    right:21px;
                    border-top:13px solid $black;
                    border-left:12px solid transparent;
                    border-right:12px solid transparent;
                }
                h2{
                    margin:0 0 10px 0;
                    line-height: 30px;
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight:normal;
                    font-family: "DietDidot W01 Regular";
                }
                p{
                    margin:0;
                }
                .close{
                    position:absolute;
                    top:10px;
                    right:10px;
                    height:20px;
                    width: 20px;
                    cursor: pointer;
                    display: block;
                    background:url(../images/icon_close_white.svg) no-repeat;
                }
            }
            @extend .clearfix;
            margin:15px 0 15px 0;
            input[type="text"]{
                border:1px solid $black;
                height:30px;
                width:70.9677%;
                line-height: 28px;
                float:left;
                &.error{
                    border-top:1px solid $venetian-red;
                    border-bottom:1px solid $venetian-red;
                    border-left:1px solid $venetian-red;
                }
            }
            span.error{
                position:absolute;
                bottom:-20px;
                color:$venetian-red;
                display:none !important;
            }
            button{
                height:30px;
                width:29.0323%;
                padding:0;
                background:$black;
                color:$white;
                font-size: 14px;
                font-family: $helvetica-65;
                float:left;
                &:hover{
                    background:#464646;
                }
            }
            @media(max-width: 768px){
                width: 60%;
                margin: auto;
                padding: 15px 0 15px 0;
            }
        }
        .socialIcons{
            margin-top:15px;
            text-align: justify;
            -moz-text-align-last: justify;
            -webkit-text-align-last: justify; /* not implemented yet, and will not be */
            text-align-last: justify; /* IE */
            @media screen and (max-width: 767px) {
            	margin:15px auto 0 auto;
            	text-align:center;
            }
            a{
                display: inline-block;
                font-size:0;
                @media screen and (max-width: 767px) {
            		margin:0 0.2em;
          		}
                &:before  { 
                    font-family: FontAwesome; 
                    font-size: 22px; 
                    display: inline-block; 
                }
                &.facebook:before {content: '\f230';}
                &.twitter:before {content: '\f099';}
                &.tumblr:before {content: '\f173';}
                &.instagram:before {content: '\f16d';}
                &.pinterest:before {content: '\f0d2';}
                &.youtube:before {content: '\f16a';}
                &.googleplus:before {content: '\f0d5';}
                &.facebook:hover {color:#3b5999;}
                &.twitter:hover {color:#55acee;}
                &.tumblr:hover {color:#36465d;}
                &.instagram:hover {color:#E4405F;}
                &.pinterest:hover {color:#bd081c;}
                &.youtube:hover {color:#e52d27;}
                &.googleplus:hover {color:#C33726;}
            }
        }
        .email-policy-link{
		    margin-bottom: 15px;
		}
    }
    .footer-logos{
        clear:both;
        text-align: center;
        padding-top:40px;
        margin-bottom:10px;
        @media screen and (min-width: 767px) {
          padding-top:10px;
        }
        li{
            a{
                display: block;
                background-size:contain;
                background-repeat:no-repeat;
                height:23px;
                font-size: 0;
            }
            &.bcbg a{
                width:197px;
                background-image: url(../images/bcbg-logo.svg);
            }
            &.herveleger a{
                width:147px;
                background-image: url(../images/hl-logo.svg);
            }
            &.bcbgeneration a{
                width:145px;
                background-image: url(../images/gen-logo.svg);
            }
        }
    }
    .footer-bottom{
        text-align:center;
    }

    @media screen and (min-width: 768px) {
        .linkCol{
            width:15.384%;
            margin:0 0 0 1.538%;
            float:left;
            &:first-of-type{
                margin-left:0;
            }
            ul{
                margin:0;
                padding:0;
                li{
                    margin-top:5px;
                    &.mobileLink{
                        display: none;
                    }
                }
            }
        }
        .socialCol{
            width:23.846%;
            float:right;
        }
        .footer-logos{
            li{
                display: inline-block;
                margin-left:90px;
                &:first-child{
                    margin-left:0;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding:0 0 50px 0;
        .linkCol, .socialCol{
            text-align: center;
            border-bottom:1px dotted $light-grey;
            padding:0;
            .hideable{
                display: none;
                li>a {
                	padding: 0.2em 0;
   					display: block;
                }
            }
            > h4{
                font-weight: 400;
                color: #000;
                text-align: center;
                text-transform: capitalize;
                font-style: normal;
                font-family: $helvetica-65;
                font-size: 14px;
                padding: 28px;
                &:hover{
                    color:#7f7f7f;
                }
                &:after{
                  content: "+";
                  float: right;
                  width: 10px;
                  line-height: 16px;
                  font-size:16px;
                  position:relative;
                  top:-3px;
                }
            }
            &.open{
                > h4:after{
                    content: "-";
                }
                .hideable{
                    display: block;
                    font-size: 1.167em;
                    line-height: 1.4em;
                    margin: 0 auto 1em auto;
                }
            }
        }
        .socialCol{
            margin-bottom:20px;
            .hideable{
                width:310px;
                margin:auto;
            }
            > h4{
                &:after{
                  content: " ";
                }
            }
            &.open{
                > h4:after{
                    content: " ";
                }
            }
            form{
            	margin: auto;
    			padding: 15px 0 15px 0;
            }
            .email-policy-link{
			    margin-bottom: 0;
			}
        }
        
        .footer-logos{
            li{
                a{
                    margin:auto;
                    margin-bottom:20px;
                }
            }
        }
    }
}



.js .ui-dialog-content .emailSignupThanksContainer {
    h1{
        font-family: "DietDidot W01 Regular";
        font-size:60px;
        color:$black;
        text-align: center;
        margin-bottom:0;
        @media screen and (max-width: 767px){
            font-size:40px;
        }
    }
    p{
        margin-bottom:15px;
        font-family: $helvetica-55;
        font-size: 12px;
        line-height: 16px;
        color:$black;
        text-align: center;
        &.subtitle{
            font-family: "DietDidot W01 Italic";
            font-size:16px;
            line-height: 24px;
            width:100%;
            max-width: 340px;
            margin:0 auto 35px auto;
        }
        &.notice{
            margin-bottom:40px;
        }
    }
    a {
        color: $black;
        text-decoration:underline;
        &:hover{
            color: #7F7F7F;
        }
    }
    .formHolder{
        margin-bottom:50px;
        .form-row{
            float:left;
            margin-right:10px;
            &:nth-child(2),
            &:nth-child(3){
                margin-right:30px;
            }
            &:last-child{
                margin-right:0;
            }
            label{
                display: block;
                font-size:12px;
                font-family: $helvetica-55;
                color:$black;
                margin-bottom:5px;
                height:15px;
                &.error{
                    color:$venetian-red;
                    padding-left:22px;
                    position:relative;
                    &:before{
                        content:"";
                        display: block;
                        position: absolute;
                        top:-2px;
                        left:0;
                        width:20px;
                        height:18px;
                        background-image:url("../images/icon_error.svg");
                        background-position: left;
                        background-repeat: no-repeat;
                        background-size:contain;
                    }
                }
            }
            select{
                position: relative;
                background:$white;
                padding:0 5px;
                max-width: 148px;
                border:1px solid #d3d2d2;
                height:28px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background:transparent;
                border-radius:0;
                outline:0;
                background:url("../images/down-arrow.svg");
                background-position: right 3px top 12px;
                background-repeat: no-repeat;
                background-size:6px;
                &.error{
                    border-color:$venetian-red;
                    color:$black;
                }
                &:before{
                    content:"\f0d7";
                    font-size:16px;
                    font-family: FontAwesome;
                    position:absolute;
                    right:10px;
                    top:8px;
                }
            }
            input[type="text"]{
                border:1px solid #d3d2d2;
                height:28px;
                width:183px;
            }
        }
    }
    .form-row-button{
        text-align: center;
        float:none;
        button{
            background:$black;
            color:$white;
            width:90px;
            height:36px;
            line-height: 36px;
            font-family: $helvetica-65;
            font-size: 14px;
            text-transform: uppercase;
            padding:0;
            &:hover{
                background:#464646;
            }
        }
    }
}
.emailSignupDone{
    text-align: center;
}

.emailUnsubContainer {
  margin: 0 10px; 
}

#backtotop {
    position: absolute;
    bottom: 10px;
    right: 30px;
    z-index: 11;
    position: fixed;

    span {
        background: url("../images/sprite-main-BCBG.png") no-repeat scroll -515px -42px transparent;
        cursor: pointer;
        display: block;
        height: 34px;
        text-indent: -999em;
        width: 34px;
        z-index: 9999;
        @media screen and (max-width: 767px) {
        	display:none;
        }
    }
}

.internationalDialog {
    .ui-dialog-titlebar {
        display: none;
    }
}

#checkouttermsdiv {
    font-family: Arial;
    font-size: 12px;

    a {
        color: #333;
    }

    .cspic {
        float: right;
        margin-left: 1em;
        width: 300px;
        height: 479px;
    }

    #continuebuttons {
        width: 45%;

        @media screen and (max-width: 736px) and (min-width: 320px) {
            width: 100%;
            clear: both;
        }

        float: left;

        button {
            width: auto 0;
            cursor: pointer;
            color: white;
            background-color: black;
            padding: 5px 35px;
            text-align: center;
            font-size: 14px;
            font-weight: normal;
            border: none;
            font-family: sans-serif;
            text-transform: uppercase;
            display: block;
            margin: 30px;
            margin-left: auto;
            margin-right: auto;
            width: 142px;
        }
    }

    #is_leftside {
        float: left;
        width: 5%;
    }

    #is_rightside {
        float: right;
        width: 40%;

        @media screen and (max-width: 736px) and (min-width: 320px) {
            width: 80%;
        }

        padding-bottom: 30px;

        .smaller {
            font-size: .75em;
        }
    }
}

.mobile-sign-up {
    border: 1px solid #e0e0e0;
    width: 95%;
    margin: 0 2.5%;
    float: left;
    position: relative;

    @media screen and (max-width: 767px) {
      border: 0;
    }

    .signupemail {
        margin: 5px 2.5%;
        width: 95%;
        text-transform: uppercase;
        display: block;
        float: left;
        text-align: center;
        color:$black;
        @media screen and (max-width: 767px) {
          display: none;
        }
    }

    .esformfooter {
        width: 96%;
        margin: 0 2%;
        float: left;
        text-align: left;

        #email-alert-signup-footer {
            float: left;
            width: 100%;
        }

        label[for="es-email-address-footer"] {
            margin: 0;
            padding: 0;
        }

        input#es-email-address-footer {
            background-color: #fff;
            height: 42px;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-right: none;
            border-radius: 0;
            margin-left: 8%;
            width: 80%;
            -webkit-appearance: none;
            outline:0;
        }

        button[type="submit"] {
            background-color: #fff;
            width: 20px;
            height: 26px;
            font-size: 0;
            border-left: none;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            height: 42px;
            position: absolute;
            -webkit-appearance: none;
            border-radius:0;
            outline:0;
            &:before { 
                font-family: FontAwesome;
                font-size: 15px;
                line-height: 18px;
                display: inline-block;
                color:#221E1F;
                content:"\f105";
            }
        }

        span.error {
            position: absolute;
            float: left;
            margin: 0 2.5%;
            text-align: center;
            width: 84%;
        }

        input#es-email-alert-button-footer {
            background: #e8e8e8 url("../images/sprite-main-BCBG.png") no-repeat scroll -229px -36px;
            margin: 0 0 10px;
            border: none;
            height: 26px;
            width: 23px;
            text-indent: -999px;
            border-radius: 0;
        }

        .promo {
            display: block;
            color: red;
            text-align: center;
            width: 95%;
            margin-bottom: 4px;
            margin-top: 20px;
        }
        @media screen and (max-width: 767px) {
          margin: 2%;
        }
    }
}
#MCSubscriptionForm{
    .emailAlreadyUsed{
        display: none;
        font-size: 12px;
        font-family: $helvetica-55;
        cursor: default;
        padding:20px;
        position:absolute;
        bottom: 190px;
        left: 50px;
        color:$white;
        background:$black;
        text-align: center;
        -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
        .alreadySignedUp &{
            display: block;
        }
        &:after{
            content:"";
            position:absolute;
            bottom:-13px;
            right:21px;
            border-top:13px solid $black;
            border-left:12px solid transparent;
            border-right:12px solid transparent;
        }
        h2{
            margin:0 0 10px 0;
            line-height: 30px;
            font-size: 30px;
            text-transform: uppercase;
            font-weight:normal;
            font-family: "DietDidot W01 Regular";
            color: white;
        }
        p{
            margin:0;
        }
        .close{
            position:absolute;
            top:10px;
            right:10px;
            height:20px;
            width: 20px;
            cursor: pointer;
            display: block;
            background:url(../images/icon_close_white.svg) no-repeat;
        }
    }
}
#cookiepopup {
    position: fixed;
    bottom: 5px;
    left: 10px;

    width: 300px;

    background: #fff;
    border: 1px solid #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    padding: 15px;
    text-align: left;

    z-index: 3;

    .content-asset {
        h2 {
            margin: 5px 0 0 0;
            text-transform: uppercase;
            font-size: 1.2em;
        }

        p {
            margin: 5px 0 0 0;
            line-height: 1.4em;

            a {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    #cookieclose {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 1.6em;
    }
}
.non-cookie-subscribe {
    width: 50%;
    @media (max-width: 500px) {
        width: 70%;
    }
    .error{
        color: #1e1e1e;
        &::placeholder {
            color: $venetian-red;
        }
        .valid.error {
            border-bottom: 2px solid $venetian-red;
            &::placeholder {
                color: $venetian-red;
            }
        }
    }
    .required {
        width: 100% !important;
    }
    #mc-subscribe-submit-email{
        width: 100% !important;
    }
}
.responsys-first-time {
    .subscribed-thankyou {
        text-align: center;
        font-size: 15px;
        margin-top: 25px;
    }
    .ui-dialog-titlebar{
        .ui-icon-closethick {
            top: 5px;
            left: -10px;
        }
    }
	#dialog-container {
        .sub-join-list{
            font-size: 42px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 0;
        }
        .sub-offers{
            font-size: 15px;
            font-family: "DietDidot W01 Italic";
            text-align: center;
            margin-bottom: 10px;
            width: 60%;
            margin: auto;
            @media (max-width: 540px) {
                width: 80%;
            }
            @media (max-width: 440px) {
                width: 100%;
            }
        }
        .sub-discount {
            padding-top: 30px;
            font-size: 12px;
        }
        .sub-percent,
        .sub-offers2 {
            line-height: 0 !important;
            margin: 0 !important;
        }
        #dwfrm_mcsubscribe_email {
            border: 1px solid #969696;
            padding: 10px 5px;
            font-size: 14px;
            font-family: "HelveticaNeueETW01-55rg";
        }
        label[for=dwfrm_mcsubscribe_email] {
            display: none;
        }
        p {
            line-height: 20px;
        }
        .sub-h1 {
            font-family: "HelveticaNeueETW01-65Md";
            color: #1e1e1e;
            text-align: center;
            margin-bottom: 40px;
            font-size: 36px;
            letter-spacing: 5px;
        }
        .sub-cta {
            margin-bottom: 0;
            width: 55%;
            margin: auto;
            text-align: center;
            font-size: 1.1rem; 
            font-family: "HelveticaNeueETW01-55rg";
            letter-spacing: .4px;
            @media(max-width: 540px) {
                width: 70%;
            }
        }
        .sub-percent-off {
            width: 80%;
            margin: auto;
            text-align: center;
            font-size: 1.1rem; 
            font-weight: 900;
            margin-bottom: 20px;
            font-family: "HelveticaNeueETW01-65Md";
            letter-spacing: .4px;
            color: black;
        }
        .sub-please-add {
            width: 80%;
            margin: auto;
            text-align: center;
            font-size: 1.1rem; 
            padding-bottom: 30px;
            font-family: "HelveticaNeueETW01-55rg";
            letter-spacing: .4px;
        }
		h1{
			font-family: "DietDidot W01 Headline";
			color: #606060;
			text-align: center;
			margin-bottom: 15px;
			font-size: 24px;
		}
        #MCSubscriptionForm,
        #MCSubscriptionFormInfo {
            margin: auto;
            .sub-name {
                width: 75%;
                margin: auto;
                padding-bottom: 40px;
                @media(max-width: 540px) {
                    width: 85%;
                }
                #dwfrm_mcsubscribe_lastname-error,
                #dwfrm_mcsubscribe_firstname-error {
                    color: red;
                    width: 100%;
                    text-align: center;
                    position: absolute;
                }
                .form-row.required{
                    float: left;
                    width: 47%;
                    position: relative;
                    padding-bottom: 15px;
                    label {
                        span{
                            &:first-child {
                                display: none;
                            }
                        }
                        .required-indicator {
                            display: none;
                        }
                    }
                    input {
                        border: 0;
                        border-bottom: 1px solid #969696;
                        padding-bottom: 0.8em;
                        font-size: 1.1rem; 
                        text-indent: 7px;
                        font-family: "HelveticaNeueETW01-55rg";
                        color: inherit;
                        &:focus {
                            outline: 0;
                        }
                        &#dwfrm_mcsubscribe_firstname {
                            margin-right: 10px;
                        }
                        &#dwfrm_mcsubscribe_lastname{
                            margin-left: 10px;
                        }
                        &::placeholder {
                            color: #1e1e1e;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .sub-location {
                width: 75%;
                margin: auto;
                padding-bottom: 40px;
                @media(max-width: 540px) {
                    width: 85%;
                }
                .form-row {
                    float: left;
                    width: 47%;
                    label {
                        display: none;
                    }
                     input {
                        border: 0;
                        border-bottom: 1px solid #969696;
                        padding-bottom: 0.8em;
                        font-size: 1.1rem; 
                        margin-right: 10px;
                        text-transform: uppercase;
                        text-indent: 7px;
                        font-family: "HelveticaNeueETW01-55rg";
                        &:focus {
                            outline: 0;
                        }
                        &::placeholder {
                            color: #1e1e1e;
                            margin-left: 5px;
                        }
                    }
                }
                .form-row.required{
                    float: left;
                    width: 47%;
                    label {
                        display: none;
                    }
                    input,
                    select {
                        border: 0;
                        border-bottom: 1px solid #969696;
                        font-size: 1.1rem; 
                        text-transform: uppercase;
                        font-family: "HelveticaNeueETW01-55rg";
                        &:focus {
                            outline: 0;
                        }
                        &::placeholder {
                            color: #1e1e1e;
                            margin-left: 5px;
                        }
                        &#dwfrm_mcsubscribe_country {
                            margin-left: 10px;
                            padding: 0px 0 9.2px 10px;
                            height: auto;
                            background-size: 8px;
                        }
                    }
                }
            }
            .sub-dob{
                width: 75%;
                margin: auto;
                display: flex;
                @media(max-width: 540px) {
                    width: 85%;
                }
                label {
                    font-size: 1.1rem; 
                    text-transform: uppercase;
                    margin-left: 5px;
                    font-family: "HelveticaNeueETW01-55rg";
                }
                .form-row {
                    float: left;
                    margin-right: 10px;
                    &:nth-of-type(1) {
                        width: calc(40% - 10px);
                    }
                    &:nth-of-type(2) {
                        width: calc(20% - 10px);
                    }
                    &:nth-of-type(3) {
                        width: calc(40% - 10px);
                        margin-right: 13px;
                    }
                    #dwfrm_mcsubscribe_dobmonth,
                    #dwfrm_mcsubscribe_dobday,
                    #dwfrm_mcsubscribe_dobyear {
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                        padding: 15px 10px;
                        text-transform: uppercase;
                        background-position: right 10px top 22px;
                        background-size: 8px;
                        border: 1px solid #969696;
                        margin-top: 5px;
                        font-family: "HelveticaNeueETW01-55rg";
                        font-size: 1.1rem; 
                        @media(max-width: 768px) {
                            background-position: right 4px top 22px;
                            background-size: 8px;
                        }
                    }
                }
                .form-row.required{
                    float: left;
                    width: 100%;
                    input {
                        border: 0;
                        border-bottom: 1px solid #969696;
                    }
                }
            }
            #mc-subscribe-submit-info {
                margin-top: 30px;
                margin-bottom: 20px;
                width: 40%;
                padding: 0.5em 2em;
                font-size: 1.1rem; 
                font-family: "HelveticaNeueETW01-55rg";
                @media(max-width: 540px) {
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
            }
            .sub-privacy {
                color: #1e1e1e;
                font-size: 1.1rem; 
                border-bottom: 1px solid #999;
                font-family: "HelveticaNeueETW01-55rg";
            }
			.form-row.required {
				width: 50%;
				float: none;
				display: block;
				margin: auto;
				@media(max-width: 768px){
					width: 60%;
				}
				@media(max-width: 560px){
					width:75%
				}
				@media(max-width: 500px){
					width:100%
				}
			}
			.form-row {
				width: auto;
				float: left;
				display: block;
				margin: auto;
				padding-bottom: 10px;
				@media(max-width: 768px){
					width: 60%;
				}
				@media(max-width: 560px){
					width:75%
				}
				@media(max-width: 500px){
					width:100%;
				}
				.form-caption{
					display: none;
				}
				&:nth-of-type(4){
					float: none;
					width: 50%;
					@media(max-width: 768px){
						width: 60%;
					}
					@media(max-width: 560px){
						width:75%
					}
					@media(max-width: 500px){
						width:100%;
					}
				}
				&:nth-of-type(5){
					margin-left: 25%;
					padding-right: 10px;
					@media(max-width: 768px){
						margin-left: 20%;
						width: auto;
					}
					@media(max-width: 560px){
						margin-left: 12%;
						width: auto;
					}
					@media(max-width: 500px){
						width: auto;
						margin-left: 0;
					}
				}
				&:nth-of-type(6){
					padding-right: 10px;
					@media(max-width: 768px){
						width: auto;
					}
					@media(max-width: 560px){
						width: auto;
					}
					@media(max-width: 500px){
						width:auto;
					}
				}
				&:nth-of-type(7){
					margin-right: 25%;
					width: 90px;
					@media(max-width: 768px){
						width: 90px;
					}
					@media(max-width: 560px){
						width: 90px
					}
					@media(max-width: 500px){
						width:90px
					}
				}
				select {
					position: relative;
					background: #fff;
					padding: 0 5px;
					max-width: 148px;
					border: 1px solid #d3d2d2;
					height: 28px;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background: transparent;
					border-radius: 0;
					outline: 0;
					background: url(../images/down-arrow.svg);
					background-position: right 3px top 10px;
					background-repeat: no-repeat;
					background-size: 6px;
				}
			}
			label {
				text-align: left;
				font-size: 12px;
				font-family: "HelveticaNeueETW01-55Rg";
				color: #1e1e1e;
				margin-bottom: 5px;
			}
			label[for=dwfrm_mcsubscribe_dobday],
			label[for=dwfrm_mcsubscribe_dobyear]
			{
				margin-top: 15px;
			}
			label[for=dwfrm_mcsubscribe_dobyear] span{
				display: none;
			}
			label[for=dwfrm_mcsubscribe_postalcode]{
				width: 100%;
			}
			label[for=dwfrm_mcsubscribe_country]{
				width: 100%;
			}
			#dwfrm_mcsubscribe_country {
				max-width: 100%;
			}
			#dwfrm_mcsubscribe_dobday {
				width: 48px;
			}
			.form-row-button {
				width: 100%;
				text-align: center;
				padding-top: 20px;
				button {
					background: #1e1e1e;
					color: #fff;
					width: auto;
					height: auto;
					line-height: 36px;
					font-family: "HelveticaNeueETW01-65Md";
					font-size: 14px;
					text-transform: uppercase;
                    padding: 0.5em 2em;
                    &:hover{
                        background: #464646;
                    }
				}
			}
		}
	}
}
#primary {
    	@media (max-width: 690px){
	    	h1.sub-join-list{
	    		margin: 10px;
	    	}
	    	p.sub-offers {
   				 margin: 10px;
			} 	
    	}
    #MCSubscriptionFormUnsubscribe {
        .form-row {
            margin: 0px;
            label {
                text-align: left;
                font-size: 18px;
                padding-bottom: 5px;
            }
            button {
                margin: 10px 0;
            }
        }
        @media (max-width: 690px){
        	margin: 10px;
            button {
                width: 100%
            }
        }
    }
}
.ui-dialog.responsys-first-time{
    max-width: 520px;
    max-height: 600px;
    box-sizing: border-box;
    @media(max-width: 540px) {
        max-height: 667px;
        width: 100% !important;
    }
}
