.slotTitle{
	text-align: center;
	color:$black;
	margin-bottom:20px;
	h1{
		font-family: DietDidot W01 Regular;
		font-size: 30px;
		margin:0 0 6px 0;
		text-transform: uppercase;
		letter-spacing: 0.8px;
		font-weight:400;
	}
	span{
		font-family: DietDidot W01 Italic;
		font-size:20px;
	}
}
.asset{
	float:left;
	margin-bottom:20px;
	text-align: center;
	a>span{
		font-family: DietDidot W01 Italic;
		font-size:16px;
		color:$black;
		display: inline-block;
		border-bottom:2px solid $black;
		margin-bottom:18px;
		text-transform:capitalize;
		&:hover{
			color:#7f7f7f;
			border-color:#7f7f7f;
		}
	}
	h2{
		font-family: DietDidot W01 Regular;
		font-size: 20px;
		color:$black;
		text-transform: uppercase;
		line-height: 26px;
		margin:0 0 6px 0;
		letter-spacing: 0.8px;
		font-weight:400;
	}
	img{
		max-width:100%;
		display: block;
		margin:auto;
	}
	@media screen and (min-width: 475px) {
		h2{
			font-size: 24px;
		}
		a>span{
			font-size:16px;
		}
	}
	@media screen and (min-width: 1024px) {
		h2{
			font-size: 20px;
		}
		a>span{
			font-size:16px;
		}
	}
	@media screen and (min-width: 1150px) {
		h2{
			font-size: 24px;
		}
		a>span{
			font-size:16px;
		}
	}
}

#main {
	max-width: 1300px;
	margin: 0 auto;
	@media screen and (min-width: 768px) and (max-width: 1023px) {
		max-width: 760px;
		margin: 0 auto;
	}
}

.home-a{
	position:relative;
	margin-bottom:40px;
	max-height: 730px;
// 	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	img{
		width:100%;
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%;
	}
	a{
		display: block;
	}
	span{
		display: block;
		color:$white;
		font-family: $dietdidot;
		font-size:30px;
		max-width:500px;
		width:100%;
		position:absolute;
		bottom:1em;
		left:1em;
		text-transform:uppercase;
		&.background--dark{
			color:$white;
		}
		&.background--light{
			color:$black;
		}
		&.lower{
			top:75%;
		}
	}
}
.home-b{
	@extend .clearfix;
	.asset{
		width:47.5%;
		margin-left: 5%;
		&:first-child{
			margin-left:0;
		}
		&:nth-child(1),
		&:nth-child(4){
			h2{
				height:75px;
				position:relative;
				span{
					position:absolute;
					bottom:0;
					width:100%;
					left:0;
				}
			}
		}
		&:nth-child(3){
			width:100%;
			margin-left:0;
		}
		&:nth-child(4){
			margin-left:0;;
		}
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(5){
			h2{
				margin-top:15px;
			}
		}
		@media screen and (min-width: 768px) {
			width:calc(200/1300*100%);
			margin-left: calc(20/1300*100%);
			margin-bottom:40px;
			&:nth-child(3){
				width:calc(380/1300*100%);
				padding:0 calc(20/1300*100%);
				margin-left: calc(20/1300*100%);
			}
			&:nth-child(4){
				margin-left: calc(20/1300*100%);
			}
		}
	}
	@media screen and (max-width: 767px) {
		display:none;
	}
}
.home-c{
	@extend .clearfix;
	margin-bottom:20px;
    @media screen and (max-width: 767px) {
      margin-bottom:0;
    }
	.asset{
		width:47.5%;
		@media screen and (max-width: 767px) {
			width:100%;
			margin-bottom: 0;
		}
		h2{
			margin:15px auto 6px auto;
			max-width: 90%;
      position: relative;
      top: -45px;
      span {
        background: #fff;
        padding: 10px 20px 5px 20px;
        display: inline-block;
      }
		}
		a>span{
			margin-bottom:0;
			position: relative;
      top: -40px;
		}
		&:nth-child(1){
			margin-right: 5%;
			@media screen and (max-width: 767px) {
				margin-right: 0;
				margin-bottom: 0;
			}
		}
		&:nth-child(2){
			margin-bottom:0;
		}
	}
	@media screen and (min-width: 768px) {
		margin-bottom:50px;
		.asset{
			margin-bottom:0;
			&:nth-child(1){
			margin:55px 0 0 0;
			width: calc(600/1300*100%);
			margin-right: calc(98/1300*100%);
			}
			&:nth-child(2){
				margin:0 auto 10px 4%;
				width: calc(485/1300*100%);
			}
			&:nth-child(3){
				width: calc(600/1300*100%);
			}
		}
	}
}

.now-trending{
	font-family: DietDidot W01 Regular;
	font-size: 30px;
	text-align:center;
	opacity:.5;
	margin-bottom:90px;
}

.home-d{
  @extend .clearfix;
  margin-bottom:20px;
    @media screen and (min-width: 768px) {
      margin-bottom:0;
    }
  .asset{
    width:100%;
    float:none;
      @media screen and (min-width: 768px) {
        margin-bottom:50px;
      }
    h2{
      margin:15px auto 6px auto;
      max-width: 90%;
      position: relative;
      top: -45px;
      span {
        background: #fff;
        padding: 10px 20px 5px 20px;
        display: inline-block;
      }
    }
    a{
      margin-bottom:0;
    }
    &:nth-child(1){
      @media screen and (max-width: 767px) {
        margin-bottom: 40px;
      }
    }
      
  }
  @media screen and (min-width: 768px) {
    margin-bottom:90px;
    .slotTitle{
      padding-bottom:calc(90/558*100%);
      width: 100%;
      max-width: 558px;
      margin:0 auto 50px auto;
      position:relative;
      .positioner{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
      }
    }
    .asset{
      //width:48%;
      width: calc(640/1300*100%);
      float:left;
      margin-bottom:0;
      &:nth-child(1){
        margin-right:calc(20/1300*100%);;
      }
    }
  }
}

.home-e{
  @extend .clearfix;
  margin-bottom:20px;
  margin-left: calc(98/1300*100%);
  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-bottom: 0;
  }
  .asset{
    width:47.5%;
    @media screen and (max-width: 767px) {
      width:100%;
    }
    .slotTitle .positioner h2 {
      top: 0;
    }
    h2{
      margin:15px auto 6px auto;
      max-width: 90%;
      position: relative;
      top: -45px;
      span {
        background: #fff;
        padding: 10px 20px 5px 20px;
        display: inline-block;
      }
    }
    a>span{
      margin-bottom:0;
      position: relative;
      top: -40px;
    }
    .asset_left:nth-child(1) {
      @media screen and (min-width: 768px) {
        margin-bottom: 55px;
        width: calc(435/530*100%);
        margin: 0 auto 55px;
      }
    }
    .asset_left:nth-child(2) {
      @media screen and (min-width: 768px) {
        width: calc(532/530*100%);
      }
    }
    &:nth-child(1){
      margin-right: 5%;
      @media screen and (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
    &:nth-child(2){
      margin-bottom:20px;
      @media screen and (max-width: 767px) {
        margin-bottom: 0;
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom:50px;
    .asset{
      margin-bottom:0;
      &:nth-child(1){
      margin:50px 0 0 0;
      width: initial;
      margin-right: calc(45/1300*100%);
      width: calc(600/1300*100%);
      }
      &:nth-child(2){
        width: calc(500/1300*100%);
        margin-top: 30px;
        .slotTitle {
          margin-bottom: 55px;
        }
      }
      &:nth-child(3){
        width: calc(600/1300*100%);
      }
    }
  }
}