@mixin shorthand($weight: normal, $size: 1.0, $lineHeight: 1) {
	font-size: ($size * 10) + px;
	font-size: $size + rem;
	font-weight: $weight;	
	line-height: $lineHeight;
}

@mixin transition($duration) {
	-webkit-transition: $duration;
	-moz-transition: $duration;
	-ms-transition: $duration;
	-o-transition: $duration;
	transition: $duration;
}