.pt_order-confirmation{
	color:#000;
	h1{
        text-align: center;
        position: relative;
        color:#000;
        font-family: $helvetica-55;
        font-size:18px;
        padding:17px 0 13px 0;
        text-transform: uppercase;
        margin:0;
        clear:both;
	}
	.section{
		border-bottom:solid 1px #ebebeb;
		max-width:700px;
		margin:0 auto 20px auto;
		font-size:14px;
		h2{
			color: #000;
			margin-top:0;
			font-size:18px;
			text-align: center;
			text-transform: uppercase;
			font-family: $helvetica-55;
		}
		.print{
			cursor: pointer;
			background: transparent;
			color:#000;
			font-family: $helvetica-55;
			font-size:12px;
			border:1px solid #cccccc;
			border-radius:0;
			text-indent: 0;
			margin:10px auto 0 auto;
			padding:0;
			text-align: center;
			line-height: 46px;
			text-transform: uppercase;
			width:304px;
			height:46px;
			display: inline-block;
			@media (max-width: 767px){
				display: none;
			}

		}
		.sectionContent{
			&.centered{
				text-align: center;
			}
			margin:20px 0;
			@extend %clearfix;
			.order-component-block{
				width:100%;
				text-align: center;
				@media (min-width: 768px){
					width:33%;
					float:left;
					text-align: center;
				}
			}
			.section-header{
				font-family: $helvetica-55;
                padding-left:0;
                color:#000;
			}
			.details{
				padding-left:0;
				color:#000;
			}
			.orderNo{
				font-weight: bold;
				font-size: 14px;
			}
		}
		.order-shipping-payment-container,
		.order-summary-container{
			border:0;
		}
		.checkout-mini-cart{
			max-height: none;
			@media (max-width: 767px){
				padding:0 10px;
			}
			.mini-cart-product{
				border-bottom:dashed 1px #cecece;
				padding:0;
				float:none;
				&:before{
					display: none;
				}
				.col1,
				.col2,
				.col3{
					padding:1em;
				}
				.col1{
					padding-left:0;
				}
				.col3{
					padding-right:0;
				}
				.mini-cart-image{
					width:142px;
					height:auto;
					float:none;
				}
				.mini-cart-rightside{
					float:none;
					width:auto;
					.mini-cart-name{
						float: none;
						font-family: $sans-serif;
						text-transform: uppercase;
						margin-bottom:10px;
						font-size:1em;
					}
					.mini-cart-sku{
						margin-bottom:10px;
						font-size:14px;
					}
					.mini-cart-attributes,
					.mini-cart-qty{
						font-size:14px;
						color:#000;
						line-height:150%;
					}
				}
				
				.mini-cart-pricing{
					float:none;
					text-align: right;
					width:auto;
					font-size:14px;
					.price-sales{
						float:right;
					}
					.mini-cart-price{
						span{
							display: block;
							float:none;
							line-height: 130%;
							&.price-standard{
								text-decoration: line-through;
							}
						}
					}
				}
			}
		}
		.checkout-order-totals{
            width:305px;
            margin:20px auto 0 auto;
            @media (min-width: 768px){
            	float:right;
            	margin:20px 0 0 0;
            }
            thead {
                display: none;
            }
            td {
                font-size: 14px;
                color: #999;
                padding: 0 0 10px 0;
                min-width: 50px;
                .opcInternationalShip{
                    color:#999;
                    float:right;
                    img{
                        position: relative;
                        top:2px;
                    }
                }
                a.opcInternationalShip span{
                    text-decoration: underline;
                }
            }
            tr:last-child td{
                font-weight: bold;
                color:#000;
                background:#fff;
            }
        }
	}
	.actions{
		max-width:700px;
		margin:auto;
		.continue-shopping,
		.register{
			background: #000;
			height:46px;
			text-align: center;
			line-height: 46px;
			color:#fff;
			display: block;
			width:305px;
			font-family: $helvetica-55;
			text-transform: uppercase;
            margin:0 auto 20px auto;
            @media (min-width: 768px){
            	float:right;
            	margin:0 0 20px 0;
            }
		}
		.register{
			@media (min-width: 768px){
            	float:left;
            	margin:0 0 20px 0;
            }
		}
	}
}