body{
	position:relative;
	@media screen and (min-width: 1024px) {
// 		padding:0 33px;
	}
}

@media screen and (min-width: 1024px) {
	.pt_product-search-result {
		#primary {
			&.primary-content {
				width:83.0769%;
			}
		}
	}
}

.body-overlay{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index: 10;
	display: none;
	background:rgba(0,0,0,.4);
	.search-open &{
		display: block;
	}
	.miniHeader &{
		position:fixed;
		top:0 !important;
	}
	.nav-open &{
		position:fixed;
		display: block;
	}
}
#wrapper {
	background: none repeat scroll 0 0 $white;
	left: 0;
	margin: auto;
// 	max-width: 1300px;
	position: relative;
	transition: left 0.2s ease-in;
	width: 100%;
	@media screen and (min-width: 768px) {
		&.menu-active {
			left: auto;
		}
	}
}

.primary-content {
	float: right;
	padding: 0 0 20px 0; 
	position: relative;
	width:100%;
	@media screen and (min-width: 1024px) {
        width: 83.0769%;
        padding: 0 0 20px 1.5385%;
    }
	.primary-focus & {
		border: 0 none;
		float: left;
		margin: 0;
		width: 740px;
	}
	.full-width & {
		border: 0 none;
		width: 100%;
	}
	.page-content & {
		padding-left: 3%;
		width: 758px;
	}
	a {
		color: $black;
	}
}

.stickypdp {
  float: left;
  width:100%;
  @media screen and (min-width: 768px) {
        -webkit-transform: translateZ(0);
    }
}

#secondary {
	float: left;
	width: 15.3846%;
	position: relative;
    display: none;
    @media screen and (min-width: 1024px) {
        display: block;
        padding-top: 52px;
    }
	nav {
		padding-left: 10px;
		padding-right: 10px;
		a {
			color: $black;
			padding:0.08em 0;
			display:inline-block;
			line-height: 1.6;
			&:hover {
				text-decoration:underline;
			}
		}
		.content-asset{
			ul{
				margin:0 0 0 20px;
				padding:0;
			}
		}
	}
	.primary-focus & {
		background: none repeat scroll 0 0 transparent;
		border: 0 none;
		float: right;
		width: 210px;
	}
	.guest {
		text-transform: capitalize;
		font-weight: 400;
		font-family:$helvetica-65;
	}
	
.folder-content {
    line-height: 14px;
    padding-left: 0.8em;
    margin: 10px 0;
    &.active a {
      text-decoration: underline;
    }
 }
 .folder-level-1 {
    text-transform: capitalize;
    font-weight: 400;
    font-family:$helvetica-65;
    line-height: 14px;
    
  }
  .folder-level-2 {
    color: #1e1e1e;
    margin: 10px 0;
    line-height: 14px;
 }
  
	.refinement:not(.category-refinement) {
		display: none;
	}
	.refinementsFooter{
		display: none;
	}
	.leftsidenav {
		li {
			margin: 0;
   			line-height: 1;
   			a {
   				padding:0;
   			}
		}
		span {
			display: block;
			margin: 0;
		}
		span.myaccount {
			display: block;
			font-family:$helvetica-65;
		}
		.toggle.myprofile {
			cursor: pointer;
			line-height:1.6;
			&:hover {
				text-decoration:underline;
			}
		}
		.leftsidenavbody {
			width: auto;
			margin: 2px 0 2px 20px;

			ul {
				margin: 0 0 0 10px;
			}
		}
	}
}