.product-tile {
	@extend %clearfix;
	color: $black;
	position: relative;
	text-align: center;
	.product-price {
		.price-standard.line-through {
			color: #7f7f7f;
			text-decoration: line-through;
		}
		.price-sales {
			color: #9c0000;
			font-size: 1em;
		}
	}
	.product-image {
		height: auto;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			display: none;
			max-width: 100%;
			&.active {
			    z-index: 1;
			}
		}
		.thumb-link {
				display: block;
			width:100%;
			padding-bottom:157.101449275%;
		}
		@media screen and (min-width: 767px) {
			&:hover .quickviewbutton{
			display: block;
			}
		}
	}
	.product-name {
		font-size: 1em;
	    margin-top: 15px;
	    text-align: center;
	    text-transform: capitalize;
	    height:unset !important;
	    &:hover{
	    	text-decoration: underline;
	    }
	}
	.product-pricing {
		margin: 8px 0;
	    text-align: center;
	    font-size: 1em;
		
		.product-standard-price {
			color: $black;
		}
		span.product-sales-price {
			color: $venetian-red;
			font-size: 1em;
		}
		.product-original-price{
			color: #7f7f7f;
			text-decoration: line-through;
		}
	}
	.grid-tile
	&.product-swatches {
		float: right;
	}
	.product-swatches-all {
		cursor: pointer;
		font-size: 0.9em;
	}
	.product-swatches {
		ul {
			list-style: none outside none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			&.swatch-toggle {
				background: none repeat scroll 0 0 $white;
				display: none;
				position: absolute;
			}
		}
		&:hover ul.swatch-toggle {
			display: block;
		}
		li {
			float: left;
		}
		.swatch {
			display: block;
			width: 16px;
			img {
				border: 1px solid $white;
				height: 12px;
				padding: 1px;
				width: 12px;
			}
		}
		.selected img, img:hover {
			border-color: $citrus;
		}
	}
	.product-promo {
	    color:$venetian-red;
	    font-size: 0.9em;
	}
	.product-compare {
		float: left;
		line-height: 11px;
		label {
			font-weight: 400;
			line-height: 1;
			padding: 0 0 0 .5em;
			width: auto;
		}
		input {
			float: left;
			margin: 0;
		}
	}
	.product-review {
		margin-bottom: 1em;
		.rating-title {
			display: inline-block;
			margin-right: 1em;
		}
		.rating {
			display: inline-block;
		}
	}
	.overlaysHolder{
		color: $white;
		font-size: 13px;
		.overlay-message {
		    background-color: rgba(0, 0, 0, 0.7);
		    color: $white;
		    width: 100%;
		  	padding: 4px 0;
		  	display: block;
		  	bottom:0;
		  	position:absolute;
		  	z-index: 3;
		  	font-family: $dietdidot-it;
		  	font-size: 1em;
		  	text-transform: capitalize;
		  	letter-spacing: 0.8px;
		}
		.quickviewbutton {
			display: none;
		 	background: rgba(256, 256, 256, 0.85);
		 	color:$black;
		  	border:1px solid $black;
		  	position:absolute;
		  	bottom:50px;
		  	left:25%;
		  	font-family: "Didot M16 Headline", Didot, Didot LT STD, Times New Roman, serif;
		  	font-style: italic;
		  	font-weight: 400;
		  	font-size:14px;
		  	height:36px;
		  	line-height: 34px;
		  	width: 50%;
		  	z-index: 3;
		  	transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			box-sizing:border-box;
		  	&:hover{
		  		background:rgba(30, 30, 30, 0.85);
		  		color:$white;
		  	}
		}
	}
	.wide-tiles & {
		height: auto !important; // overwrite synced heights set on element
		.product-image {
			float: left;
			padding-right: 2em;
		}
		.product-name,
		.product-pricing,
		.product-promo,
		.product-swatches,
		.product-review {
			float: left;
			text-align: left;
			width: 65%;
		}
		.product-name {
			font-size: 1.5em;
			height: auto;
			margin-top: 0;
		}
		.product-pricing {
			font-size: 1.3em;
		}
		.product-swatches {
			margin-bottom: 1em;
		}
	}
}

.capture-product-id {
	left: -999em;
	position: absolute;
}