.item-list {
	margin-bottom: 1em;
	tr {
		border-bottom: 1px solid $gainsboro;
		&.last {
			border: 0 none;
		}
		&.headings {
			display: none;
		}
	}
	td {
		padding: 1em;
		vertical-align: top;
	}
}

.section-header {
	padding: 1em;
}

.item-details .product-list-item {
	.name {
		font-size: 1em;
    	text-transform: capitalize;
   		font-family: "HelveticaNeueETW01-65Md";
		margin-bottom: 10px;
	}
	.sku{
		display:none;
	}
	.value {
		font-weight: 700;
	}
	.promo {
		color: $sangria;
	}
	.price-standard {
		color: $nobel;
		text-decoration: line-through;
	}
}
.item-availability ul,
.item-quantity-details ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.item-dashboard {
	color: $dark-gray;
	width: 170px;
	label {
		font-weight: normal;
		width: auto;
	}
	.field-wrapper {
		width: auto;
	}
	.option-quantity-desired {
		input {
			width: 3rem;
		}
	}
	.value {
		margin-top: .5rem;
	}
	.form-row {
		margin: 12px 0;
	}
	input,
	.value,
	select
	.option-toggle-public label {
		color: $night-rider;
	}
    select {
        border: 1px solid #e0e0e0;
        border-radius: 0;
    }
	.input-checkbox {
		margin: 0 5px;
	}
	.option-add-to-cart {
		margin-top: .5rem;
		label {
			color: $night-rider;
			float: left;
			font-weight: 700;
			margin: .5rem .5rem 0 0;
			text-transform: uppercase;
			width: auto;
		}
		input {
			width: 3rem;
			margin-right: 1em;
		}
	}
	.option-quantity-purchased span.exceeded {
		color: $sangria;
	}
}
