.pt_product-details {
    .full-width {
        padding: 0 2%;
    }

    .breadcrumb {
        float: left;
        width: 64%;
        font-size: 1em;
        display: inline;

        @media screen and (min-width: 768px) {
            float: none;
            width: 100%;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            margin: 15px auto 0 auto;

            ul {
                display: table;
                margin: 0 auto;
            }
        }
    }

    .price_for_mobile {
        @media screen and (min-width: 768px) {
            display: none;
        }

        @media screen and (max-width: 767px) {
            text-align: center;
            font-size: 1.167em;
            margin: 0 0 0.6em 0;

            .price-sales {
                color: #f00;
                margin: 0 8px;
            }

            .line-through {
                text-decoration: line-through;
                color: $grey;
            }
        }
    }

    @media screen and (max-width: 767px) {
        .product-thumbnails-carousel, #nextprev, .product-name, .product-number, .product-price, .selected-value, .attribute.quantity, .quantity-selection, .product-variations .size-chart-div, #reviewsnip, .availability-block, .availability {
            display: none;
        }

        .breadcrumb-element {
            text-transform: lowercase;
            font-size: 12.6px;

            &:first-letter {
                text-transform: uppercase;
            }

            &:not(:last-child):after {
                color: $black;
                content: '\f105';
            }
        }

        .breadcrumb span.breadcrumb-element {
            width: 100%;
            text-align: center;
            font-size: 1.4em;
            text-transform: capitalize;
            line-height: 1.3em;
            margin: 10px auto;
            color: $black;
            font-family: $dietdidot-it;
        }

        .product_nav {
            float: left;
            width: 100%;
        }
    }
}

#product-nav-container {
    float: right;
    margin: -20px 0 8px 0;

    .product-previous {
        float: left;
        margin-right: 22px;

        &:before {
            font-family: FontAwesome;
            font-size: 15px;
            display: inline-block;
            color: #221E1F;
            content: "\f104";
            position: relative;
            top: 0;
            left: -5px;
        }

        span {
            padding-left: 0px;
            text-transform: none;
        }
    }

    .product-previous:hover a,
    .product-previous:hover:before {
        color: #7F7F7F;
    }

    .product-next:hover a,
    .product-next:hover:after {
        color: #7F7F7F;
    }

    .product-next {
        float: left;
        padding-left: 5px;

        &:after {
            font-family: FontAwesome;
            font-size: 15px;
            display: inline-block;
            color: #221E1F;
            content: "\f105";
            position: relative;
            top: 0;
            left: 5px;
        }

        span {
            padding-right: 0px;
            text-transform: none;
        }
    }
}

@media screen and (max-width: 767px) {
    #product-nav-container {
        margin: unset;
    }
}

.pdp-main {
    @extend %clearfix;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    label {
        padding: 0;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
    }

    .product-col-1 {
        float: left;
        margin-left: 0;
        width: 40%;
    }

    .product-primary-image {
        padding: 5px 0 0;
        text-align: center;
        width: 100%;
        float: right;

        .product-image {
            width: 100%;
            margin: 0 0 30px 0;
        }

        .prodSocialIcons {
            text-align: right;
            margin: -1em 0 1em 0;

            li {
                display: inline-block;
                margin: 0 0.3em;

                a {
                    color: #1e1e1e;
                    transition: all 0.2s ease;
                    -webkit-transition: all 0.2s ease;
                    -moz-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                }
            }

            li a.tweet:hover {
                color: #55acee;
            }

            li a.facebook:hover {
                color: #3b5999;
            }

            li a.addthis_button_pinterest_share:hover {
                color: #bd081c;
            }

            li a.addthis_button_tumblr:hover {
                color: #36465d;
            }
        }
    }
}

.mobile-prev-image-nav,
.mobile-next-image-nav {
    display: none;
}

.main-image {
    display: block;
}

.primary-image {
    max-width: 100%;
}

.product-thumbnails {
    ul {
        @extend %clearfix;
    }

    // thumbnail
    .thumb {
        margin-right: .5rem;
        padding-top: 1px;
        width: 3.4375rem;
    }

    // thumbnail image
    img {
        cursor: pointer;
        max-width: 100%;
        height: auto;
    }

    h2 {
        margin: 1rem 0 .3rem;
    }
}

.pdp-img-nav {
    position: absolute;
    float: left;
    margin: 10vh 0 0 -2em;
    z-index: 1;

    ul {
        overflow: auto;
    }

    li {
        height: 20px;
    }

    a {
        display: block;
        width: 1em;
        height: 1em;
        text-indent: -9999px;
        background-color: #FFF;
        border: 1px solid #d6d6d6;
    }

    a:hover {
        border-color: #7f7f7f;
    }

    a.active {
        background-color: #d6d6d6;
    }

    &.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 300px;
    }
}

.product-thumbnails-carousel {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 23px;

    .product-thumbnails {
        position: relative;
        overflow: hidden;
        width: 67px;
        height: 380px;

        ul {
            position: relative;
            height: 10000em;

            li {
                padding-top: 5px;
                width: 100%;
                margin: 0 0 17px;
            }
        }
    }

    .jcarousel-nav-image {
        cursor: pointer;
        position: absolute;
        width: 14px;
        height: 17px;

        &.inactive {
            opacity: 0.2;
        }
    }

    .jcarousel-prev-image,
    .jcarousel-next-image {
        left: 26px;

        &:before {
            font-family: FontAwesome;
            font-size: 20px;
            display: inline-block;
            color: #221E1F;
        }
    }

    .jcarousel-prev-image {
        top: -20px;

        &:before {
            content: "\f106";
        }
    }

    .jcarousel-next-image {
        top: 380px;

        &:before {
            content: "\f107";
        }
    }
}

.pdp-main {
    .product-col-2 {
        float: right;
        width: 47%;

        @media screen and (max-width: 767px) {
            top: auto !important;
        }

        @media screen and (min-width: 768px) {
            position: relative;
            right: 50px;

            &.sticky {
                position: -webkit-sticky;
                position: sticky;
                top: 0px;
            }

            &.top40 {
                top: 40px;
                margin-top: 30px !important;
            }

            &.sticky-details {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
            }
        }
    }

    .product-name {
        font-family: $dietdidot-it;
        font-size: 1.714em;
        margin: 0 0 0.3em 0;
        padding: 0;
        text-transform: capitalize;
        letter-spacing: 0.8px;
        @media screen and (max-width: 768px) {
                display:none;
                }
    }

    .product-number {
        color: #7f7f7f;
        font-size: 0.9em;
    }

    .product-price {
        font-size: 1.429em;
        font-weight: 400;
        padding: 0.6em 0;
         @media screen and (max-width: 768px) {
                display:none;
                }

        .price-standard {
            color: $black;
        }

        .line-through {
            text-decoration: line-through;
            color: #7f7f7f;
        }

        .price-tiered {
            color: $sangria;
            font-size: 0.6em;
            line-height: 1.5em;
        }

        .price-sales {
            color: #e10404;
            padding: 0 0 0 0.6em;

            .price-sale-msg {
                float: right;
                font-size: 0.63em;
                @media screen and (min-width: 768px) {
                display:none;
                }
            }
        }
    }

    .product-content-holder {
        position: relative;

        #reviewsnip {
            margin: 0.9em 0;
            width: 100%;
            height: 0px;
        }

        @media screen and (min-width: 768px) {
            #reviewsnip {
                left: auto;
                margin-left: 0;
            }
        }

        @media screen and (min-width: 1024px) {
            #reviewsnip {
                bottom: 30px;
            }
        }
    }

    .product-review {
        @extend %clearfix;

        margin-bottom: .5rem;

        .rating {
            color: $sangria;
        }
    }

    .product-main-attributes {
        .attribute {
            padding: 0.2em 0;
        }

        .label {
            padding: 0;
        }
    }

    .bcVideo {
        display: block;
        margin-left: -9999px;
        width: 0;
        height: 0;
    }

    .review-actions-container {
        @extend %clearfix;
        text-align: center;
        display: block;
   
     .finalSale-msg {
        color: #e10404;
        padding-bottom:10px;
        font-size: 10px;
        text-transform: uppercase;
        float:left;
        font-weight:600;
		letter-spacing:0.1em;
		 @media screen and (max-width: 767px) {
                    display:none;
                }
       }
        .actions-container {
            display: inline-block;
            width: 100%;

            button {
                width: 18em;
                background: #1e1e1e;
                border: none;
                font-weight: 500;
                font-size: 1.143em;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.2s ease;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                cursor: pointer;
                float: left;
                padding: 1em 0;               
                &:hover {
                   background: #464646;
                }
                @media screen and (max-width: 767px) {
                    padding: 0;
                }
            }

            .add-to-wishlist {
                display: inline-block;
                margin: 1.1em 0 0 2em;

                a {
                    color: #1e1e1e;
                    text-decoration: none;
                    margin: 0 0 0 0.3em;

                    &:hover {
                        color: $grey;
                    }
                }

                @media screen and (max-width: 767px) {
                    display: none;
                }
            }

            .add-fav-icon {
                display: inline-block;
                width: 1.3em;
                vertical-align: middle;
                fill: #fff;
                stroke: #1e1e1e;
                stroke-width: 2;
                margin: 0 0.6em 0 0;
                transition: all 0.2s ease;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
            }

            .add-to-wishlist:hover .add-fav-icon, .add-to-wishlist:active .add-fav-icon {
                fill: #1e1e1e;
            }
        }

        @media screen and (min-width: 1024px) {
            //float: right;
            text-align: left;
            width: 100%;
            padding: 0 0 2em;

            button {
                //width: 148px;
                //margin: 25px 0 15px 0;
           
            }
        }

        @media screen and (max-width: 767px) {
            padding: 0;
            margin: 0;
        }

        .truefit-widget-wrapper {
            margin: 0 0 2.8em;
            .tfc-cfg-widget.tfc-fitrec-result .tfc-cfg-basic-button {
               
                :hover {
                    color: $grey !important;
                }
            }

            .tfc-cfg-widget.tfc-fitrec-result .tfc-cfg-basic-button:hover {
                color: $grey !important;
            }
           
        }
    }

    .add-this-toolbox .add-to-wishlist {
        display: none;
    }

    .availability {
        .label, .value {
            display: inline-block;
            color: $nobel;
        }

        .label {
            text-transform: uppercase;
        }
    }

    @media screen and (max-width: 767px) {
        #add-to-cart-container {
            z-index: 9;
            width: 100%;
            padding: 0px;
            background-color: white;
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }
}

.product-options {
    margin-bottom: 25px;

    @media screen and (max-width: 767px) {
        margin: 0;
    }
}

.product-variations,
.product-options {
    /*margin-bottom: 25px;*/
    .color-wrap {
        margin: 1.5em 0;

        .label {
            font-family: "HelveticaNeueETW01-65Md";
        }

        .value {
            display: inline-block;
        }

        @media screen and (max-width: 767px) {
            margin: 0;
        }
    }

    .size-wrap {
        .size-chart-link {
            display: inline-block;
            float: right;
            text-decoration: underline;
            padding: 0 10%;

            a {
                font-size: 0.9em;
                color: #1e1e1e;
                transition: all 0.2s ease;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
            }

            a:hover {
                color: #7f7f7f;
            }
        }
    }

    .attribute {
        display: inline-block;
        overflow: hidden;
        padding: 0;
        position: relative;
        vertical-align: top;

        &#swatchAttrib {
            width: 100%;

            @media screen and (max-width: 767px) {
                ul {
                    .selected {
                        float: left;
                    }

                    .selected-value {
                        margin-top: 4px;
                    }
                }
            }
        }

        &.select-size {
            width: 100%;
            font-family: "HelveticaNeueETW01-65Md";

            select {
                display: inline-block;
                height: 29px;
                width: 20.5em;
                border: 1px solid #d6d6d6;
                background: transparent;
                font-size: 0.9em;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-appearance: none;
                -moz-appearance: none;
                padding: 0.4em 0.6em;
                margin: 0.6em 0;
                border-radius: 0;
                cursor: pointer;
                position: relative;
                background: url(../images/arrow_down.svg) no-repeat 97% center;
                background-size: 0.8em;

                @media screen and (min-width: 768px) and (max-width: 1023px) {
                    width: 17em;
                }
            }

            span.error {
                display: block;
                font-size: 0.9em;

                i {
                    margin: 0 5px 10px 0;
                }
            }
        }

        @media screen and (max-width: 767px) {
            &.quantity-selection {
                display: none;
            }
        }

        @media screen and (max-width: 767px) {
            &.select-size, &.select-size select {
                width: 100%;
                margin-top: 10px;

                .variation-select {
                    height: 42px;
                    padding-left: 5px;
                }
            }
        }

        &.quantity,
        &.quantity-selection {
            width: 30%;
        }

        h3, .label, &.select-size label, &.dropdown:nth-child(3) label {
            font-size: 1em;
            font-weight: 400;
            text-transform: capitalize;
            display: inline-block;
            margin: 5px 10px 0 0;
        }

        &.dropdown:nth-child(3) label {
            margin: 0;
        }

        &.select-size label {
            display: block;
            margin: 5px 5px 5px 0;
        }

        .selected-value {
            border: 0 none;
            text-transform: capitalize;
        }

        .size-chart-div {
        	a{
            margin-bottom: 10px;
            margin-left: 5px;
            position: relative;
            text-align: left;
            top: 0;
            text-decoration: underline;
            font-family: "HelveticaNeueETW01-55Rg";
            font-size: 0.9em;
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                width: 17em;
            }
        }

            /*
                .size-chart-div {
                 position: absolute;
                 top: 6px;
                 width: 20.5em;
                 text-align: right;
                 text-decoration: underline;
                 font-family: "HelveticaNeueETW01-55Rg";
                 font-size: 0.9em;
                 @media screen and (min-width: 768px) and (max-width: 1023px) {
                   width:17em;
                 }
            
            */
            a.size-chart:hover {
                color: $grey;
            }
        }
    }

 /*
  .swatches li {
    display:inline-block;
    &.unselectable {
      a {
        color: $gainsboro;
        opacity: 0.8;
      }
      &:hover {
        a {
          border-color: $gainsboro;
        }
      }
    }
   
    a {
      border-color: $gainsboro;
      border-style: solid;
      border-width: 1px;
      display: block;
      width: 24px;
      height: 14px;
      margin: 0 .5rem .5rem 0;
      padding: 3px;
      text-align: center;
      white-space: nowrap;
    }
      
  }
*/

    .ul-color {
        font-size: 0.9em;

        li {
            display: inline-block;
        }

        img {
            width: 1.5em;
            height: 1.5em;
            -moz-border-radius: 0.9em;
            -webkit-border-radius: 0.9em;
            border-radius: 0.9em;
            display: inline-block;
            vertical-align: middle;
            padding: 0.15em;
        }

        .swatchanchor {
            border: 1px solid #d6d6d6;
            width: 1.8em;
            height: 1.8em;
            margin: 0 0.2em;
            -moz-border-radius: 0.9em;
            -webkit-border-radius: 0.9em;
            border-radius: 0.9em;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .ul-size {
        li {
            display: inline-block;
            margin: 0 0.6em 0.6em 0;
            font-weight: 500;

            .in-stock-msg,
            .preorder-msg {
                display: none;
            }

            .swatchanchor {
                display: inline-block;
                font-size: 0.8em;
                text-decoration: none;
                color: #1e1e1e;
                border: 1px solid #d6d6d6;
                padding: 0.4em 0;
                width: 8em;
                text-align: center;
            }

            &.selected {
                border: 2px solid #1e1e1e;

                .in-stock-msg,
                .preorder-msg {
                    border: 3px solid #1e1e1e;
                    font-size: 0.8em;
                    color: #fff;
                    background: #1e1e1e;
                    position: absolute;
                    display: block;
                    width: 8em;
                    padding: 0.3em 0;
                    text-align: center;
                    text-transform: uppercase;
                    margin: -0.4em 0 0 -0.2em;
                }
            }

            .size-variation {
                display: inline-block;
                font-size: 0.9em;
                font-weight: 400;
                text-decoration: none;
                color: #1e1e1e;
                border: 1px solid #d6d6d6;
                padding: 1.2em 0.8em 0.8em 0.8em;
                width: 2.5em;
                height: 1.5em;
                text-align: center;

                &.selected {
                    border: 2px solid #1e1e1e;
                    background-color: #1e1e1e;
                    color: #fff;
                }
            }
        }
    }

    .inv-availability {
        background-color: #ebebeb;
        margin-left: 10px;
        display: inline;

        @media screen and (max-width: 767px) {
            margin: 5px 0 0 -12px;
        }

        .inv-arrow {
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 9px solid #ebebeb;
            display: inline-block;
            position: relative;
            left: -7px;
            top: 4px;

            @media screen and (max-width: 767px) {
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #ebebeb;
                border-top: none;
                left: 0px;
                top: -13px;
            }
        }

        .in-stock-msg,
        .preorder-msg {
            color: #020202;
            margin: 0 10px 0 2px;
            display: inline-block;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            font-size: 0.9em;
        }
    }

  /*
  select {
    border: 1px solid $gainsboro;
    border-radius: 0;
    height: 42px;
    width: 40%;
    margin-left: 0;
    @media screen and (min-width: 768px) {
      height: 23px;
    }
  }
*/
}

.product-set .product-add-to-cart {
    display: block;
}

.pdp-main .product-add-to-cart {
    .inventory {
        input {
            margin-left: 0.8em;
            padding: 0.3em;
            width: 2em;
        }
    }

    .product-price {
        float: left;
        font-size: 2.2em;
        margin: 0;
        text-align: right;
        width: 47%;
    }

    .pdpForm fieldset {
        @media screen and (min-width: 768px) {
            display: inline-block;
            width: 100%;
        }
    }
}

.pdp-main {
    .product-actions {
        clear: both;
        padding: 1.5em 0;
        position: relative;
        display: none;

        @media screen and (max-width: 767px) {
            display: block;
            padding: 30px 0;
        }

        li {
            margin: 0 1em 0 0;
            cursor: pointer;
        }

        .menu li {
            &.share {
                font-size: 1em;
                height: 24px;
                text-transform: uppercase;
                font-family: Arial, sans-serif;
            }

            &.share-mobile {
                display: none;
            }
        }

        a {
            color: $black;

            &.print {
                background: url("../images/sprite-main-BCBG.png") -508px 0 no-repeat;
                width: 20px;
                height: 12px;
                float: left;
            }

            &.contactClick {
                background: url("../images/sprite-main-BCBG.png") -535px -2px no-repeat;
                width: 15px;
                height: 11px;
                float: left;
            }

            &.share-icon {
                margin-left: 0;
                margin-right: .1em;
            }

            i {
                font-size: 1.4em;
            }
        }

        #addThisDiv {
            clear: left;
            float: left;
            width: 215px;
            border: 1px solid $gainsboro;
            box-shadow: 2px 4px 10px 0 rgba(66, 66, 66, 0.1);
            padding: 7px 0 3px 8px;
            text-align: center;

            a img {
                width: 20px;
                margin: 0 10px;
            }
        }

        .contactinfo {
            display: none;
            position: absolute;
            background: url("../images/pdp_phone_bg.png") no-repeat;
            background-size: contain;
            color: $black;
            border: 0;
            font-size: 0.8em;
            width: 210px;
            height: 131px;
            padding: 20px;
            top: -15px;
            left: 110px;
            z-index: 999;

            .phone {
                padding-bottom: 10px;
            }

            .content-header {
                font-family: $helvetica-55;
                font-size: 1.2em;
                width: 95px;
                font-style: normal;
                margin: 0 !important;
                text-transform: uppercase;
            }

            ul {
                display: inline-block;
                padding-left: 10px;
            }
        }
    }

    .recommendations,
    .jcarousel-mb {
        h2 {
            font-size: 1em;
            font-weight: bold;
            margin-left: 14px;
        }

        ul {
            position: relative;
            width: 2000em;
        }

        li {
            float: left;
            width: 100px;
            margin: 0;
        }

        .product-tile {
            padding: 0 0.5em;

            .product-name {
                overflow: visible;
            }
        }

        .product-image {
            height: 140px;
        }

        .product-name,
        .product-price {
            display: none;
        }

        .jcarousel-clip {
            margin: auto;
            overflow: hidden;
            width: 300px;
        }

        .jcarousel-nav {
            cursor: pointer;
            position: absolute;
            width: 9px;
            height: 17px;
            top: 40%;

            &.inactive {
                display: none;
            }
        }

        .jcarousel-prev,
        .jcarousel-control-prev-mb {
            left: 0;

            &:before {
                font-family: FontAwesome;
                font-size: 20px;
                display: inline-block;
                color: #221E1F;
                content: "\f104";
            }
        }

        .jcarousel-next,
        .jcarousel-control-next-mb {
            right: 0;

            &:before {
                font-family: FontAwesome;
                font-size: 20px;
                display: inline-block;
                color: #221E1F;
                content: "\f105";
            }
        }

        .product-tile:hover .recommendation-tooltip {
            display: block !important;
        }

        .complete-my-look {
            font-family: $helvetica-55;
            background-color: $gainsboro;
            width: 160px;
            text-align: center;
            padding: 5px 0;
            text-transform: uppercase;
            font-size: 0.9em;
            margin-left: 233px;
        }
    }

    .complete-the-look {
        width: 100%;
        margin: 30px auto;
        display: inline-block;
        border-top: 1px dotted #d6d6d6;

        @media screen and (max-width: 767px) {
            margin: 0 auto;
        }

        ul {
            position: relative;
            width: 2000em;
        }

        li {
            display: inline-block;
            margin: 0;
        }

        .product-tile {
            .product-name {
                margin: 0.6em 0 0 0;
                text-transform: unset;
                text-align: center;
                font-weight: unset;
                margin: 1em 0 0 0;
                font-size: 1em;
                font-style: normal;
                font-family: 'HelveticaNeueETW01-55Rg';
            }

            .product-image {
                img {
                    display: block;
                    z-index: 0;
                    position: inherit;
                    width: 100%;
                }
            }

            .product-price {
                font-size: 1em;

                .price-sale-msg {
                    font-size: 1em;
                    display: block;
                    margin: 0.6em 0;
                    float: none;
                }
            }
        }

        .jcarousel-clip {
            margin: auto;
            overflow: hidden;
            width: 300px;
        }

        .jcarousel-nav {
            cursor: pointer;
            position: absolute;
            width: 3%;

            &.inactive {
                display: none;
            }
        }

        .jcarousel-prev,
        .jcarousel-control-prev-mb {
            float: left;
            position: relative;
            bottom: 26em;

            &:before {
                font-family: FontAwesome;
                font-size: 20px;
                display: inline-block;
                color: #221E1F;
                content: "\f104";
            }
        }

        .jcarousel-next,
        .jcarousel-control-next-mb {
            float: right;
            position: relative;
            bottom: 26em;
            text-align: right;

            &:before {
                font-family: FontAwesome;
                font-size: 20px;
                display: inline-block;
                color: #221E1F;
                content: "\f105";
            }
        }

        .product-tile:hover .recommendation-tooltip {
            display: block !important;
        }

        h2 {
            text-align: center;
            text-transform: uppercase;
            font-family: $dietdidot;
            font-size: 24px;
            color: #1E1E1E;
            letter-spacing: 0.8px;
            margin: 1.25em 0;
            font-weight: 400;
        }

        #carousel-recommendations {
            overflow: hidden;
            width: 100%;

            .jcarousel-nav {
                display: none; /* temp remove arrows to display more*/
            }
        }

        .recommendation-item {
            vertical-align: top;
            margin-right: 6px;
        }

        @media screen and (max-width: 767px) {
            height: unset;
            border-top: 0;

            .recommendation-item {
                width: 150px;
                margin: unset;
            }

            .jcarousel-next {
                bottom: 28em;
                right: 0;
                padding: 1em;
                position: absolute;
            }

            .jcarousel-prev {
                bottom: 28em;
                left: 0;
                padding: 1em;
                position: absolute;
            }

            #carousel-recommendations {
                width: 480px;
                margin: 0 auto;
            }
        }

        @media screen and (max-width: 480px) {
            #carousel-recommendations {
                width: 300px;
            }
        }
    }

    .mybuys {
        clear: left;
        float: left;
        width: 100%;
        border-top: 1px dotted #d6d6d6;

        @media screen and (max-width: 767px) {
            position: relative;
            margin: 60px 0 30px 0 !important;

        }

        .recommendationText {
            text-align: center;
            margin: 1.25em 0;
            text-transform: uppercase;
            font-family: $dietdidot;
            font-size: 24px;
            color: #1E1E1E;
            letter-spacing: 0.8px;
            font-weight: 400;
        }

        #recommendations {
            text-align: justify;
            font-size: 0;
        }

        .recommendations-item {
         @media screen and (min-width: 768px) {
            font-size: 14px;
            width: 24% !important;
            vertical-align: top;
            margin-right: 1.3%;
            display: inline-block;

            

            .product-name {
                margin: 1em 0 0 0;
                font-size: 1em;
                font-style: normal;
                font-family: 'HelveticaNeueETW01-55Rg';
                text-transform: unset;
                text-align: center;
                font-weight: unset;
                color: #000;
            }

            .product-price {
                font-size: 1em;
                font-weight: 400;
                padding: 0.3em 0;

                .price-sale-msg {
                    font-size: 1em;
                    display: block;
                    margin: 0.6em 0;
                    float: none;
                }
            }
		}
            
        }

        .recommendations-item:nth-of-type(4) {
            margin-right: 0;
        }

        .recommendations-item:nth-of-type(n+5) {
            @media screen and (min-width: 767px) {
        		display: none;
        	}
            @media screen and (max-width: 480px) {
              //display: none;
            }
        }

        .product-tile {
            @media screen and (max-width: 767px) {
                margin: 0;
            }

            .product-image img {
                z-index: 1;
                width: 100%;
                display: inherit;
                position: inherit;
            }
        }

        .recommendations-product-name .recommendations-product-price {
            border: 1px solid;
        }

        .mobile-show {
            @media screen and (min-width: 768px) {
                display: none;
            }
        }
    }
}

.js .pdp-main .recommendations .product-tile .recommendation-tooltip {
    display: none !important;
}

.pdp-main {
    .recommendations .recommendation-tooltip {
        background: none repeat scroll 0 0 $white;
        border: 1px solid;
        left: 50%;
        position: absolute;
        text-align: left;
        top: 50%;
        width: 300px;
        z-index: 100;
    }

    .promotion {
        .promo-callout-message {
            color: $venetian-red;
            font-size: 0.9em;
            display: inline-block;
        }

        .priceincart {
            display: block;
            color: $venetian-red;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .product-tabs {
        margin: 40px 0;
        border-top: 1px dotted #d6d6d6;
        padding: 20px 0;

        @media screen and (min-width: 768px) {
            width: 100%;
        }

        .print-page {
            display: none;
        }

        .tabs-menu {
            height: auto;

            li {
                margin-right: 50px;
                margin-top: 0;
                border: 0;
                border-bottom: 0;
                color: #fff;
                background: #fff;

                a {
                    text-align: left;
                    font-style: normal;
                    padding: 0;
                    color: $black;
                }

                &.ui-state-active {
                    position: relative;
                    border-bottom: 1px solid;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -1px;
                        height: 1px;
                    }
                }

                &.ui-state-active a {
                    text-decoration: none;
                    border-bottom: 2px solid #1e1e1e;
                    color: #1e1e1e;
                }
            }
        }

        .tab-content {
            min-height: 100px;
            padding: 0;
            border: 0;
            box-shadow: none;

            ul {
                list-style-type: disc;
                margin-left: 2rem;
                margin-top: 10px;
            }

            ol {
                list-style-type: decimal;
                margin-left: 2rem;
                padding: 0;
            }
        }

        @media screen and (max-width: 767px) {
            margin: 0;
            display: none;
        }
    }

    .product-set-list {
        border-top: 1px solid $gainsboro;
        margin: 0 0 0 6px;

        .product-set-item {
            border-bottom: 1px solid $gainsboro;
            clear: both;
            margin: 1em 0;
            overflow: hidden;
            padding: 1em 0 0;
        }

        .product-set-image {
            float: left;
            width: 22%;
        }

        .product-set-details {
            float: left;
            width: 78%;
        }

        .attribute {
            h3, .label {
                width: 25%;
            }
        }

        .product-name {
            font-family: $dietdidot-it;
            font-size: 1.714em;
            margin: 0 0 0.3em 0;
            padding: 0;
        }

        .promotion-title {
            font-size: 1.2em;
        }

        .block-add-to-cart {
            background: none repeat scroll 0 0 $white-smoke;
            clear: both;
            overflow: hidden;
            padding: 0.5em 0;

            .inventory {
                float: left;
                margin-left: 22%;
                width: 20%;
            }

            label {
                padding: 0.7em 0;
                text-align: left;
                width: 40%;
            }

            .input-text {
                width: 35px;
            }

            .product-price {
                float: left;
                font-size: 1.6em;
                margin: 0;
                padding: 6px 0 0;
                text-align: right;
                width: 35%;
            }

            button {
                float: right;
                font-size: 0.9em;
                margin: 3px 5px 0 0;
                padding-left: 1em;
                padding-right: 1em;
            }
        }
    }

    .product-set .product-add-to-cart .product-price {
        width: 54%;
    }

    .product-accordion {
        display: none;

        @media screen and (max-width: 767px) {
            display: block;
            border-bottom: 1px dotted $light-grey;

            pre {
                border-top: 1px dotted $light-grey;
                font-weight: 400;
                color: #000;
                text-align: center;
                text-transform: capitalize;
                font-style: normal;
                font-family: $helvetica-65;
                font-size: 14px;
                padding: 26px;

                .plus {
                    &:before {
                        float: right;
                        content: "";
                        background: url("../images/svg/icon-plus.svg") no-repeat;
                        width: 10px;
                        height: 10px;
                    }
                }

                &.ui-state-active {
                    .plus {
                        &:before {
                            float: right;
                            content: "";
                            background: url("../images/svg/icon-minus.svg") no-repeat;
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        #ui-id-3,
        #ui-id-5,
        #ui-id-7 {
            outline: none;
        }

        .ui-accordion .ui-accordion-content {
            padding: 0 1.6em;
            font-size: 1em;
            line-height: 1.4em;

            & ul {
                list-style: disc;
                margin: 0 0 0 20px;
            }
        }

        .ui-accordion .ui-accordion-header {
            margin: 0;
        }

        #reviewsAnswers-mobile {
            padding: 10px;
        }

        #reviewsAnswers-mobile #reviewsAnswers {
            display: initial;
            padding: 0;
        }

        #reviewsAnswers {
            display: none;
        }

        #pdpReviewsTab {
            margin: 0;
            border: 0;
            padding: 0;
        }

        .pr-review-engine .pr-write-review-link {
            font-size: 1em;
        }

        .product-variations .attribute#swatchAttrib {
            text-align: center;
        }

        .product-variations .attribute .label {
            float: left;
            font-size: 1em;
        }

        .product-variations .attribute .value {
            margin-right: 10%;
            width: initial;
        }

        a.size-chart {
            text-transform: capitalize;
            font-style: normal;
            font-family: $helvetica-55;
            font-size: 14px;
            border: 1px solid $black;
            width: 100%;
            margin: 20px auto;
            line-height: 36px;
            text-align: center;
            background-color: #fff;
            display: block;
        }

        #size-chart-mobilewrap .error-message {
            display: none;
        }

        .jcarousel-mb .product-image {
            height: 220px;
        }

        .jcarousel-mb li {
            width: 150px;
        }

        .mobile-prev-image-nav,
        .mobile-next-image-nav {
            display: block;
            position: absolute;
            opacity: 0.2;
            top: 17%;
            z-index: 9;

            &.is-hidden {
                display: none;
            }

            &:before {
                font-family: FontAwesome;
                font-size: 4em;
                display: inline-block;
                color: #221E1F;
            }
        }

        .mobile-prev-image-nav {
            left: 0px;
            width: 50px;

            &:before {
                content: "\f104";
            }
        }

        .mobile-next-image-nav {
            right: 0px;
            width: 50px;

            &:before {
                content: "\f105";
            }
        }
    }
}

button {
    &.add-to-cart[disabled] {
        opacity: 0.5;
    }

    &.add-all-to-cart {
        &[disabled] {
            opacity: 0.5;
        }

        display: none;
    }
}

.js button.add-all-to-cart {
    display: inherit;
}

.mz-expand.dark-bg {
    background-color: #000 !important;
}

#affirm-learn-more {
    display: block;
    padding: 1px 0 19px 0;
    color: #000;
    font-weight: 400 !important;
    color: #04c8e5;
    font-family: "HelveticaNeueETW01-65md";
    font-size: 0.9em;

    span {
        text-decoration: underline;
        font-family: "HelveticaNeueETW01-55Rg";
        color: $black;

        &:hover {
            color: $grey;
        }
    }
}

#product-content #affirm-learn-more br {
    display: none;
}

.order-totals-table #affirm-learn-more {
    padding: 0;
    text-align: right;
    font-size: 12px;
}

.dt-hide {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.non-dt-hide {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

._SRD .srd_a:hover {
    color: $grey;
}



.rec-wrapper{
	@media screen and (max-width: 767px) {
		margin: 0 auto;
	    position: relative;	
	}
	.jcarousel {
			text-align: justify;
	        font-size: 0;
		@media screen and (max-width: 767px) {
		    position: relative;
	    	overflow: hidden;
	    	font-size: inherit;
	    	width: 300px;
    		margin: 0 auto;
	    }	
    	ul{
    		@media screen and (max-width: 767px) {
	    		width: 10000em;
			    position: relative;
			    list-style: none;
			    margin: 0;
			    padding: 0;
		    }
		    li{
		    	@media screen and (max-width: 767px) {
				    width: 150px !important;
			    	float: left;
			    .product-tile{
			    	margin: 0 5px;
			    }
			    	
				}
		    }
    	}
	}
	/** Carousel Controls **/
	
	.jcarousel-control-prev,
	.jcarousel-control-next {
	    position: absolute;
	    top: 60%;
	    margin-top: -45px;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    color: #fff;
	    text-decoration: none;
	    font: 50px/27px Arial, sans-serif;
	    -webkit-border-radius: 30px;
	    -moz-border-radius: 30px;
	    border-radius: 30px;
	}
	
	.jcarousel-control-prev {
    @media screen and (min-width: 767px) {
			display: none;
		}
	    left: 0px;
	}
	a.jcarousel-control-next{
		color: #CCCC;
	}
	
	a.jcarousel-control-prev{
		color: #CCCC;
	}
	.jcarousel-control-next {
    @media screen and (min-width: 767px) {
			display: none;
		}
	    right: 0px; 
	}
}
