@media screen and (max-width: 767px) {
  div, img {
    max-width: 100%;
    
  }   
    
  input {
    -webkit-border-radius:0px;
  }

  .print-page,
  .tooltip:not(.product-tile):not(.price-sale-msg),
  #tooltip {
    display: none !important;
  }

  .tooltip {
    font-size: 11px;
    text-transform:uppercase;
    font-weight:600;
  }

  .form-field-tooltip {
    float: none;
    margin: 0 0 10px 5px;
    width: auto;
  }

  .ui-dialog {
    max-width: 98%;
    

    .ui-dialog-content {
      height: auto !important;
      overflow: visible;
    }
  }
  .ui-dialog {
    .ui-dialog-titlebar-close {
      z-index: 10;
    }
  }

  #wrapper {
    border: 0;
    max-width: 100%;
    min-width: 320px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;   
  }

  #primary {
    background: none;
    border: 0 !important;
    float: none;
    margin: 0;
    padding: 0 !important;
    width: 100% !important;
  }

  #secondary {
    border: 0;
    float: none;
    font-size: 1.1em;
    width: 100% !important;
  }

  .pt_account {
    #secondary {
      display: none;
    }
    .registration, p.details, .privacy-policy {
      width: auto;
    }
    .registration {
      padding: 0 10px;

      h1, p.details {
        margin: 15px 0;
      }

      input[type=password],
      input[type=text],
      textarea {
        width: 100%;
      }

      .form-row-button {
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .primary-content {
      p.welcome {
        margin: 10px;
      }
      h2 {
        margin: 10px 0 0 10px;
        text-transform:capitalize;
        font-size:1.286em;
      }
      .continueshopping {
          margin: 20px auto;
          transform: translate(-50%, -50%);
        position: relative;
        left:50%;
      }
      form#dwfrm_orders .order-history-header div {
          font-size: 9px;
          width: 18%;
          margin: 0 1%;
      }
      .checkoutbuttonhome {
          margin: 0 auto 20px;
      }
      #addresses {
        ul.address-list {
          margin: 0 4%;
        }
        .address-create {
            margin: 10px auto;
        }
      }
      form#dwfrm_wishlist_shipping .form-row.label-above {
          width: 96%;
          margin: 0 2%;
          
          label {
            margin: 2% 0;
          }
      }
    }
    .accountsubhead li {
      margin: 1%;
    }
    .section-addnew {
      padding: 0 10px 10px;
    }
    #main .primary-content {
      .form-inline {
        width: 96%;
        margin: 0 2%;
        
        form,
        .form-row,
        input,
        select {
          width: 100%;
        }
        label {
          margin: 2% 0;
        }
      } 
      .list-share {
        margin: 10px 2%;
        padding: 0;
        text-align: center;
        
        #send-to-friend {
            margin: 1em auto;
            display: block;
        width: auto;
        }
        .publicbutton {
          float:none;
          display: block;
        margin: 0 auto;
        width: 100%;
        }
      }
    }
    .ordertrackform {
        float: none;
        width: auto;
    }
    .columnone,
    .columntwo {
        float: none;
        height: auto;
        margin: 0;
        width: auto;
        
        .guessbox {
          float: none ;
          width: 80%;
          height: auto;
          margin: 0 auto 10px;
        }
    }
    span.myguessserviceimage {
        background: 0 0;
        color: $white;
        text-indent: 0;
      width: 100%;
    }
  }

  .col-1,
  .col-2,
  .checkoutlogin .col-1,
  .checkoutlogin .col-2,
  .checkoutlogin .col-3 {
    float: none;
    width: 100%;
    margin: 0;
    border: 0;
    min-height: 0;
  }
  
  .checkoutlogin {
    h1,
    .section-header {
      width: auto;
    }
    .col-1,
    .col-2 {
      padding: 0;
      .login-box-content {
        width: auto;
        padding: 0 10px;
      }
    }
    .col-2 {
      .registration p.details {
        margin-top: 1em;
      }
      .form-row {
        float: none;  
      }
      .form-row.title,
      .form-row.firstname {
        float: none;
        width: 100%;
      }
    }
    .col-3 {
      margin-bottom: 20px;
    }
  }
  
  .pt_checkout {
    .checkout-shipping,
    .checkout-billing {
      fieldset {
        width: auto;
        
          .shipping-address-title,
        .shipping-methods-title,
        .billing-title {
            width: auto;
            text-align: left;
            margin: 0;
        }
        .form-row {
          width: 96%;
          margin-left: 2%;
          margin-right: 2%;
          float: none;
          padding: 0;
        }
        .postal,
        .phone,
        .email {
          input {
            width: 100%;
            padding: 0; 
          }
        }
        .billing-note {
          padding: 10px 10px 0;
        }
      }
    }
    #shipping-method-list {
      margin-bottom: 20px;
    } 
    #primary {
      .item-list {
        float: none;
      }
      #borderfree-terms {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
      }
      .order-summary-footer .submit-order {
        text-align: center;
        
        button {
          margin: 0;
        }
      }
    }
    #secondary {
      clear: both;
      float: none;
      width: 96% !important;
      padding-top: 15px;
      margin: 0 2%;
      
      h1  {
        display: none;
      }
    }
    .checkout-mini-cart {
      max-height: 100%;
    }
  }
  
  .order-shipping-payment-container {
    float: none;
  }

  .login-box-content {
    padding: 0 10px;

    input[type=password],
    input[type=text],
    textarea {
      width: 100%;
    }
  }

  .pt_store-locator {
    .login-box-content {
      padding: 1em 10px 0;
    }

    .col-1 .login-box h2.section-header {
      width: auto;
    }
  }

  .scrollable {
    height: auto;

    li {
      float: left;

      a {
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        display: block;
        padding: .2em .8em;
      }
    }
  }

  #header {
    height: auto;
    padding: 1% 1% 30px;

    .primary-logo {
      float: left;
      position: relative;
      top: auto;
      width: 65%;

      img {
        max-width: 100%;
      }
    }
  }

  .primary-content {
    h1 {
      margin: 0 10px;
      font-size: 2em;
    }
    h2 {
      font-family: $helvetica-55;
        font-size: 1em;
        text-transform: uppercase;
    }
  } 

  #quickviewbutton {
    display: none !important;
  }

  .pt_product-search-result .breadcrumb {
    float: none;
    @media (max-width: 767px) {
    	display: inline;
    	position: absolute;
    	z-index: 9;
    	padding-top: 6px;
    	padding-left: 14px;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .refinement h3 {
    font-size: 0.9em;
  }
  .product-tile {
    height: auto !important;
    margin: 0 7px;
    
    .product-name, .product-pricing {
      text-align: center;
    }
    .overlay-message {
      width: 80%;
      right: 0;
      margin: 0 auto;
    }
  }
  .wide-tiles .product-tile {
    .product-image {
      width: 41%;
    }

    .product-name,
    .product-pricing,
    .product-promo,
    .pr_stars,
    .product-swatches {
      float: right;
    }

    .product-name h2 {
      margin-top: 0px;
    }
  }

  .product-tile .product-swatches .swatch img {
    height: 2em;
    width: 2em;
  }
  .search-result-items {
    .view-product {
      display: none;
    }
  }
  .attribute-sorting-refinements .refinement.Sort-by ul {
    left: auto;
    right: 10px;
  }
  .product-compare,
  .compareitems {
    display: none !important;
  }

  .pt_product-details {
    .primary-content {
      padding-bottom: 68px;
      pointer-events: none;
      #pdpMain {
          > div {
              pointer-events: auto;
          }
      }
    }

    .breadcrumb .last {
      display: none;
    }
  }

  #product-nav-container {
    font-size: 15px;
    width: 100%;
    margin-top: 8px;

    .product-previous {
        margin-left: 7px;
    }

    .product-next {
        margin-right: 7px;
        float: right;
    }
    
    a {
      color: #1e1e1e;
    }
  }
    
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
     /* IE10+ specific styles go here */  
    #product-nav-container {
      margin-top: 18px;
    }
  }

  .pdp-main {
    .product-col-1,
    .product-col-2 {
      clear: both;
      float: none;
      margin: 0;
      width: 100%;
    }

    .product-primary-image {
      float: none;
      width: auto;
      position: relative;
    }

    .product-thumbnails-carousel {
      float: none;
      width: 300px;
      margin: 10px auto 0;

      .product-thumbnails {
        width: auto;
        height: auto;
        margin: 0 auto;

        ul {
          width: 2000em;
          height: auto;

          li {
            float: left;
            width: 100px;
            text-align: center;
          }
        }
      }

      .jcarousel-nav-image {
        cursor: pointer;
        position: absolute;
        width: 9px;
        height: 17px;
        top: 33%;
      }

      .jcarousel-prev-image {
        left: -8px;
        right: auto;
        &:before { 
                content:"\f104";
            }
      }

      .jcarousel-next-image {
        left: auto;
        right: -8px;
        &:before { 
                content:"\f105";
            }
      }
    }

    #product-content {
      margin: 10px auto 30px;
      width: 90%;
    }

    .promotion .promotion-title {
      font-size: 86%;
    }

    .attribute {
      span.value {
        padding-top: 5px;
      }
    }

    .product-add-to-cart {
      .inventory {
        width: 100%;

        label {
          display: inline-block;
          width: 36%;
        }
      }

      .product-price {
        font-size: 2em;
        padding: 30px 10px;
        text-align: left;
        width: 100%;
      }
      
      .actions-container {
          width: 100%;
          #add-to-cart {
            width: 100%;
            height: 42px;
            border-radius: 0;
            float: unset;
          }
      }
    }

    .availability-block {
      float: none;
      margin: 10px 0 0;
      text-align: center;
    }

    .product-tabs {
      padding: 0 10px;
    }

    .product-actions {
      padding-left: 10px;
      padding-right: 10px;
      
      .contactinfo {
        width: 190px;
        left: 120px;
      }
      
      .add-this-toolbox {
        
          .menu li.print, .menu li.contact {
              display: none;
          }
          
          .menu {
            border: 1px solid $black;
            width: 45%;
            font-size: 1em;
            font-family: $helvetica-55;
            height: 36px;
            line-height: 36px;
            margin: 0 0 0 10px;
          }
          
          .menu li {
            text-align: center;
            width: 100%;
            &.share {
              font-family: $helvetica-55;
              text-transform: capitalize;
            }
          }
          
          .add-to-wishlist {
            border: 1px solid $black;
            float: right;
            text-transform: capitalize;
            display: block;            
            width: 45%;
            font-size: 0.9em;
            font-family: $helvetica-55;
            height: 36px;
            line-height: 36px;
            margin: 0 10px 0 0;
            text-align: center; 
            .add-fav-icon {
              display: none;
            }
            
           }
      }
      
      #addThisDiv {
            display: none;
            a img {
              width: 40px;
            }
          }
          
          .addThisDiv-mobile {
            position: fixed;
            left: 0;
            top: 0;
            background-color: rgba(255, 255, 255, 0.8);
            width: 100% !important;
            height: 100%;
            z-index: 99;
            padding: 0 !important;
            
            a {
              width: 100%;
              text-align: center;
              margin-bottom: 10%;
            
              &.addthis_button_close {
                padding: 10px;
                float: right;
                margin: 0 5% 20%;
                width: 15px;
                
                &:before {
                  font-family: FontAwesome;
                  content: "\f00d";
                  font-size: 28px;
                }
                
              }
              
            }            
          }
      
    }
  }

  .product-variations {
    select {
      height: 24px;
    }
  }

  .ui-tabs .ui-tabs-nav li {
    display: block;
    font-size: .8em;
    margin: 0;

    a {
      width: auto;
    }
  }

  .pdp-main {
    .product-set-list {
      .product-set-image img {
        max-width: 90%;
      }

      .block-add-to-cart {
        .inventory {
          margin: 0;
          width: 23%;
        }

        .product-price {
          font-size: 1em;
          width: 44%;
        }

        button {
          font-size: .7em;
        }
      }
    }

    .product-review-links {
      margin-left: 6%;
    }

    .prSnippetTitle,
    .prSnippetRatingUnclickable {
      float: left;
    }
  }

  .sizinginformation {
    padding: 0;

    th {
      font-weight: normal;
      padding: 0 0 0 2px;
    }

    td {
      background: #ffffff;
      padding: 5px;
      text-align: center;
    }

    .sizechart {
      padding: 0 !important;
    }
  }

  .ui-dialog .ui-dialog-content {
    padding: .25em;
  }

  

  .pdp-main .product-col-1 {
    margin-left: 0;
  }

  .checkout-progress-indicator {
    clear: both;
    font-size: .8em;
    position: relative;
    overflow: hidden;
    text-align: left;
    top: auto;
    width: 100%;
    background-color: $grayish-blue;
    height: 17px;
    margin: 10px 0;
    
    ul {
      margin: 0;
    }
  }

  .order-summary-footer h2 {
    width: 50%;
  }

  .place-order-totals .order-totals-table {
    width: 100%;
  }

  .payment-method-options {
    padding: 0;

    .form-row {
      width: 100%;

      label {
        float: left;
        margin: 0;
        padding: 0 0 0 1em;
        width: 150px;
      }

      .input-radio {
        margin: 0;
      }
    }
  }
  
  .cart-empty {
    float: none;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .content-asset ul.account-options li {
    float: none;
    width: auto;
  }
  
  .payment-list {
    padding: 0 10px;
  }
  
  .address-list li,
  .payment-list li {
    float: none;
    width: auto;
  }

  .order-history-header button {
    font-size: 1em;
    padding: .25em;
  }

  .gift-certificate-purchase {
    .content-asset, form {
      float: none;
      width: 90%;
    }

    .cert-amount .form-caption {
      width: 80%;
    }
  }

  .page-content-tab-navigaton button {
    width: 100%;
  }

  .pt_gift-registry {
    .add-gift-cert {
      p {
        width: 100%;
      }
    }

    .create-new-registry {
      p {
        display: none;
      }

      overflow: hidden;
    }

    .item-list {
      width: 98%;

      th {
        display: none;
      }
    }
  }

  .order-shipment-table .section-header {
    font-size: .9em !important;
    padding: .3em;
  }

  table.item-list .section-header,
  .order-shipment-table .section-header {
    background-image: none;
  }

  table.item-list {
    .item-image,
    .item-details,
    .item-availability,
    .item-dashboard {
      display: inline-block;
    }

    .item-availability,
    .item-dashboard {
      width: 97%;
    }

    .delete-registry {
      text-align: center;
    }
  }

  .list-table-header {
    padding: 1em !important;

    .button {
      display: block;
      margin: 20px 0;
      width: 196px;
    }

    p {
      display: none;
    }

    button {
      display: block;
      width: 260px;
    }
  }

  .top-banner .header-search {
    background: none;

    input[type=text] {
      width: 90%;
      background: $white;
      border: none;
      &:focus{
        outline: none;
      }
      
    }
  }

  .product-tile .product-image {
    height: auto;
  }

  #email-alert-signup {
    margin: 0;
    width: 100%;

    label {
      text-align: center;
      width: 100%;
    }

    input [type="text"] {
      float: none;
      margin: 0;
      width: 50%;
    }

    input[type="image"] {
      float: none;
      vertical-align: bottom;
    }
  }

  .facebook-registration {
    left: -3px;
    position: relative;
    width: 100.7% !important;

    .fb_iframe_widget {
      position: relative;
      width: 100.7% !important;

      span {
        position: relative;
        width: 100.7% !important;

        iframe {
          position: relative;
          width: 100.7% !important;
        }
      }
    }
  }

  .mobile-show {
    display: block;
    }

    .pt_store-locator .location-heading {
        margin: 5px 10px;
    }

  .mobile-hide {
    display: none;
  }

  .orderhistorydetail {
    th,
    .order-information {
      display: none;
    }
    table.item-list {
        border: 0;
        
        > tbody > tr > td {
          display: block; 
        }
    }
  }
  .order-detail-options {
    padding: 0 10px;
    
    li.continue-shopping {
      clear: both;
    }
  }
  .pt_content {
    .primary-content {
      .content-asset {
        padding: 15px 10px 0;
      }
      .guest_services_content {
        .togglebox {
          width: auto;
          margin: 0;
        }
      }
    }
    #secondary {
      margin-top: 30px;
    }
    .columnone {
        float: none;
        height: auto;
        margin: 0;
      width: auto;
      
      .guessbox {
        float: none;
          height: auto;
          margin: 0 auto 10px;
          width: 80%;
      }
    }
  }
  .onlinePurchaseContact,
  .inStorePurchaseContact {
    float: none;
      width: auto;
      padding: 0 10px;
      fieldset {
        margin:0 0 30px 0;
      }
      p {
        width: auto;
      }
      .form-row,
      p,
      input,
      select,
      textarea {
        width: 100%;
      }
    .contactUsButton {
        margin-right: 0;  
    }
  }
  
.international-header-mobile{
  display:inline;
  list-style: none;
  position: absolute;
  top: 4.9em;
  right: 4.2em;
  img {
    height: 14px;
    width: 21px;
  }
}
        

  
.stickyheader {
  &.active {
    position:fixed;
    top:0px;
    z-index:10;
    width:100%;
    background: $white;
    
    .international-header-mobile {
      display: none;
    }
    
    .menu-toggle {
      padding: 0 0.5em 0 0;
      position: relative;
      top: -0.3em;
    }
    
    .findstore-header{
      margin-right: 2.8em;
    }
    
    .mobile-search {
      float: right;
      margin: -0.3em 0.2em 0 0;
      
      .search-button {
          width:24px;
          height:27px;
          background: url('../images/icon-search.svg') no-repeat center center;
          background-size: 19px 20px;
       }
    }
    
    .header-search {
      fieldset {
        float:right;
        width: 80%;
        height: 35px;
      }
      input[type=text]{
        margin-top: 0px;
        border: 0px solid #000000;
        border-bottom-width: 1px;
        background-color: transparent;
        border-radius: 0;
      }
      img {
        width: 0;
        height: 0;
      }
    }
   
    .mini-cart-label {
      margin-right: 0;
    }
  }
}
.shop-the-collection .mobile-show{
  display:none;
}

.js #QuickViewDialog.ui-dialog-content {
  #nextprev, .product-thumbnails-carousel {
    display:none;
  }
  .product-primary-image {
    float:none;
    .product-image {
      margin: 0 0 10px 0;
    }
  }
  .product-col-2 {
    width:100%;
    .product-name {
      font-size: 1.5em;
    }
    .product-price {
      font-size: 1.2em;
    }
  }
  .pdp-main #product-content {
    text-align: center;
  }
  .product-col-1 .product-image {
    max-width:70%;
  }
}

  #nextprev {
      position:relative;
      top:-97px;
      right:7px;
      float: left;
      width: 100%;
  }
  
  #nextprev .next-product {
  float: right;
  }
  #nextprev .prev-product {
      margin-left: 14px;
  }


}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .product-tile .pr_stars {
    left: 40px;
  }

  .wide-tiles .product-tile {
    .product-name h2 {
      margin-top: 10px;
    }

    .product-image {
      width: 38%;
    }
  }

  .facebook-registration {
    left: 0px;
    position: relative;
    width: 100% !important;

    .fb_iframe_widget {
      position: relative;
      width: 100% !important;

      span {
        position: relative;
        width: 100% !important;

        iframe {
          position: relative;
          width: 100% !important;
        }
      }
    }
  }

  #preferred-store-panel input[type="text"] {
    width: 49.5966%;
  }
  .pt_content-search-result {
    .folder-content-list {
      li {
        float: none;
        width: 100%;
        clear: both;
      }
    }
    .pagination {
      clear: both;
      float: none;

      .results-hits {
        float: none;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
//   #wrapper {
//     width: 760px;
//   }
    .stickyheader {
        padding-left: 15px;
        padding-right: 15px;
    }
  #secondary {
    width: 171px;
  }
  .primary-content,
  .pt_content .primary-content {
    width: 588px;
  }
  .page-content .primary-content {
    padding-left: 14px;
    width: 574px;
  }
  .primary-focus {
    .primary-content {
      width: 540px;
    }
    #secondary {
      width: 190px;
    }
  }
  .html-slot-container img,
  .bottom-banner-cell img {
    max-width: 100%;
  }
  .ui-dialog {
    max-width: 98%;
    .ui-dialog-content {
      height: auto !important;
      overflow: visible;
    }
  }
  .scrollable {
    height: auto;
  }
  .mini-cart-total-label {
    display: none;
  }
  .mini-cart-products {
    max-height: 100%;
  }
  .pdp-main {
    .product-col-1 {
      width: 50%;
      margin-left: 20px;
      
      .product-primary-image {
        width: 280px;
        padding: 0 18px 0 0;
        float: left;
      }
    }
    .product-thumbnails-carousel {
      margin-right: 15px;
    }
    .recommendations {
      margin-left: 40px;
      .jcarousel-clip {
        width: 200px;
      }
      #carousel-recommendations {
        width: 300px;
        padding: 0 5px;
      }
      .complete-my-look {
          margin-left: 183px;
      }
    }
    .jcarousel-mb {
      width: 300px;
      padding: 0 5px;
    }
    .product-set-list .block-add-to-cart button {
      font-size: .9em;
      margin-top: 3px;
    }
    .product-actions .contactinfo {
      width: 205px;
    }
  }
  table .section-header {
    font-size: 1em !important;
  }
  #compare-table td .product-tile {
    width: 79px;
  }
  .pt_gift-registry .add-gift-cert p {
    width: auto;
  }
  #cart-table {
    .item-user-actions {
      width: 72px;
    }
    .item-total .promo-adjustment {
      width: 77px;
    }
  }
  #email-alert-signup {
    margin: 0;
    width: 100%;
    label {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
    }
    input[type="text"] {
      width: 73%;
    }
  }
  .facebook-registration {
    left: 0px;
    position: relative;
    width: 100% !important;
    .fb_iframe_widget {
      position: relative;
      width: 100% !important;
      span {
        position: relative;
        width: 100% !important;
        iframe {
          position: relative;
          width: 100% !important;
        }
      }
    }
  }
  .mini-cart-item-word{
    span{
      display:none;
    }
  }
  .top-banner {
    position: relative;
    
    .header-search {
      margin-bottom: 10px;
    }
  }
  nav.navigation {
    position: static;
  }
  .pt_product-search-result .primary-content {
    width: 100%;
  }
  #cart-table {
    .item-image img {
      max-width: 100%;
    }
    .item-details,
    .size,
    .item-packaging,
    .primary-focus & .item-total {
      width: auto;
    }
  }
  .pt_account {
    .accountsubhead li {
      width: 32%;
    }
  }
  .pt_content {
    .primary-content {
      .columnone {
        margin-left: 130px;
      }
      .guest_services_content {
        .togglebox {
          width: auto;
          margin: 0;
        }
      }
      .size-chart-wrapper {
        img {
          max-width: 100%;
        }
      }
    }
  }
  .onlinePurchaseContact,
  .inStorePurchaseContact {
      width: 50%;
      
      p {
        width: 80%;
      }
    .contactUsButton {
        margin-right: 80px; 
    }
  }
  .pt_product-search-noresult {
      .page-content {
          .primary-content {
              width: 100%;
          }
      }
  }
}

@media screen and (max-width: 480px) {
  #wrapper.pt_gift-registry {
    font-size: 12px;
  }
  #preferred-store-panel input[type="text"] {
    width: 49.5966%;
  }

 
  .pt_content-search-result {
    .folder-content-list {
      li {
        float: none;
        width: 100%;
        clear: both;
      }
    }

    .pagination {
      clear: both;
      float: none;

      .results-hits {
        float: none;
      }
    }
  }

  #store-location-results th.section-header span {
    font-size: 0.8em;
  }

  .pdp-main {
    .recommendations {
      #carousel-recommendations {
        width: 300px;
      }
      li {
        width: 100px;
      }
      .jcarousel-nav {
        top: 50%;
      }
      .jcarousel-prev {
        left: 10px;
      }
      .jcarousel-next {
        right: 10px;
      }
    }
    .recommendations,
    .mybuys {
      padding: 0;
      margin: 20px 0;
    }
  }

  .grid-tile .product-details {
    background: $very-light-gray;
    color: $black;
    font-family: $helvetica-55;
    text-transform: uppercase;
    padding: 5px 10px;
  }
  
  
}