#search-suggestions {
    display: none;
}

.search-suggestion-wrapper {
	@extend %clearfix;
	background-color: $white;
    text-align: left;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    @media screen and (max-width: 767px) {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        padding: 1.15em 1.3em;
        height: 400px;
        overflow-y: scroll;
        width: auto;
    }
    @media screen and (min-width: 768px) {
        position: absolute;
        margin-top: 10px;
        max-width: 749px;
        right: 0;
        width: 80vw;
        border: 1px solid $dusty-gray;
    }
   
	@media screen and (min-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: 820px;
	}

    &:not(.full) {
        margin-left: -12%;
    }

    &.full {
        @media screen and (min-width: 768px) {
            display: flex;
            padding: 30px 29px;
        }

        h4 {
            color: $gray;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: .9px;
            margin: 0;
            margin-bottom: 10px;
            padding: 0;
            text-transform: uppercase;

            &.md-up {
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }

        .phrase-suggestions {
            @media screen and (min-width: 768px) {
                margin-left: 1.5em;
                height: 100%;
               	width: 33%;
            }
        }

        .product-suggestions {
            margin-top: 1.25em;
            max-height: 100%;

            @media screen and (min-width: 768px) {
                border-right: 1px solid $dusty-gray;
                display: flex;
                flex-direction: column;
                height: 100%;
                margin-top: 0;
                padding-right: 1rem;
                max-height: 370px;
            }

            .product-link {
                display: flex;
                @media screen and (max-width: 767px) {
                    align-items: center;
                }
                @media screen and (min-width: 768px) {
                    flex-direction: column;
                }
            }
        }
    }
   
   
    @media screen and (min-width: 767px) and (max-width: 1024px) {
        .product-group {
            width: 75%;
            .product-suggestions {
			    width: 100%;
			    .product-suggestion {
				    width: 29%;
				}
			}
        }
	}

    .d-flex-md-down-col {
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    .product-group {
		width:100%;
        @media screen and (max-width: 767px) {
            order: 2;
        }
    }

	.hitgroup {
		.header {
            text-transform: uppercase;
        }

		.hit {
            color: $gray;
            font-size: 11px;
            text-transform: uppercase;
            padding-bottom: 10px;
            @media screen and (max-width: 767px) {
                margin-bottom: 1.8em;
            }

			&:hover {
				text-decoration: underline;
            }

            &.underline {
                text-decoration: underline;
            }
		}
		.parent-category {
			color: $dusty-gray;
		}
    }

    .view-all-link {
        @media screen and (min-width: 768px) {
            text-align: right;
        }
    }

    hr {
        color: $gray;
    }
}

.view-all-link {
    color: $gray;
    font-size: 11px;
    font-weight: 700;
    margin-right: 1em;
    padding-top: 20px;
    text-decoration: underline;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        padding-top: 5px;
		text-align: right;
    }
}

.phrase-suggestions {
    @media screen and (max-width: 767px) {
        order: 1;
        border-bottom: 1px solid $gray;
		padding-bottom: 1em;
    }

    .header {
        text-transform: uppercase;
    }

    .hitgroup {
        @media screen and (max-width: 767px) {
            margin-top: 0;
        }
    }
}

.product-suggestion {
    @extend %clearfix;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1em;

    @media screen and (max-width: 767px) {
        margin-right: 0;
        margin-bottom: .8em; 
    }
    
    @media screen and (min-width: 768px) {
		max-width: 30%;
		display: inline-block!important;
		vertical-align: top;
    }

	.product-image {
		
        @media screen and (max-width: 767px) {
            width: 25%;
        }
        @media screen and (min-width: 768px) {
            max-width: 180px;
            min-height: 240px;
            min-width: 155px;
        }

		img {
            max-width: 100%;
            width: 100%;
		}
    }

	.product-details {
        display: flex;
            flex-direction: column;
        font-family: $helvetica-55;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.9px;
        padding-top: .5em;

        @media screen and (max-width: 767px) {
            margin-left: 1.8em;
            width: 70%;
        }

        .product-name {
            
            color: $gray;
            
            
            text-align: left;
            
            &:hover {
                text-decoration: underline;
            }
        }

		.product-price {
            color: $gray;
            margin-bottom: auto;
		}
	}
}

@media all and  (min-width: 1025px)  and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	div.search-suggestion-wrapper.full {
		min-height: 40vh;
	}
}


.search-suggestion-wrapper div.hitgroup {
	@media screen and (min-width: 767px) {
        width: 100%;
	}
}
