.container {
	text-align: center;
	padding-top: 5px;
	@media screen and (max-width: 767px) {
		padding: 4rem;
	}
	padding-bottom:70px;
}

.pt_product-search-result {
	#stickyheader {
		@media screen and (min-width: 768px) {
			position: relative!important;
		}
	}
	
	.primary-content h1.content-header {
		padding-left: 15px;
	}
	.header-search {
		margin-bottom: 0;
		padding-bottom: 15px;
		@media screen and (max-width: 767px) {
			padding-bottom: 0px;
		}
		
		input[type=text] {
			border: 1px solid $gainsboro;
		}
	}
	.breadcrumb {
	  @media screen and (max-width: 480px){
      display: table;
      margin: 10px auto;
    }

    @media screen and (min-width: 768px) {
        padding: 0;
        display: inline;
        position: absolute;
				padding-top: 20px;
				z-index: 2;
    }
	}
	.top-resultstext {
	    font-family: $helvetica-55;
	    font-size: 1.3em;
	    color: $black;
	    text-transform: uppercase;
		position: relative;
	    
	}
}

.category-main-banner img {
	max-width: 100%;
}
.pt_product-search-noresult {
	
	.primary-content{
		float: none;
		padding: 0;
    	width: 100%;
	}
	
	#secondary {
	    width: calc(530/1300*100%);
    	padding: 20px 0 50px 100px;
    	@media screen and (max-width: 1380px) {
    		padding: 20px 0 50px 0;
    	}
    	img {
    		width:100%;
    	}
	}
	
	.container {
		padding:4rem;
		@media screen and (max-width: 767px) {
			margin-top: 50px;
			padding:3rem;
		}
	}
	
}
.no-hits-message1{
	font-family: 'DietDidot W01 Regular';
	font-size: 36px;
	color: $black;	
	letter-spacing:1.5px;
	font-weight: 400;
	@media screen and (max-width: 767px){
		font-size: 24px;
	}
}

.no-hits-message2{
     font-size: 16px;
     font-family:'DietDidot W01 Italic';
     color: $black;
     margin:10px 0 30px 0;
     font-weight: 400;
     @media screen and (max-width: 767px){
		font-size: 14px;
		margin: 30px;
	}
}

span{
	&.no-hits-message3{
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.1rem;
		font-size: 1.5rem;
		@media screen and (max-width: 767px){
			width: 100%;
			display: block;
			margin-bottom: 20px;
			
		}
	}
}

.no-hits-search-term,
.no-hits-search-term-suggest {
   color: $sangria;
	font-style: italic;
	
}

.nosearch .pdp-main .mybuys{
	@media screen and (min-width: 768px) {
		width: initial;
		padding: 0 5%;
		position: relative;
	}

	.recommendationText {
		font-size: 36px;
		margin: 1.25em 0 .75em;
		@media screen and (max-width: 767px){
		font-size: 24px;
		}
	}
	a.jcarousel-control-next, a.jcarousel-control-prev {
    top: 50%!important;
		margin: 0!important;
		display: block;
	}
}

.no-hits-menu {
    	list-style: outside none none;
    	font-size: 12px;
    	color: $black;
    	padding-top:60px;
    	a {
   			border-bottom: 1px solid #1e1e1e;
            font-size: 1.5rem;
   			&:hover {
    			color: #7f7f7f; 
                border-color: #7f7f7f;
			}
		}
		ul{
			display: inline;
			padding: 10px;
			text-transform: uppercase;
			li{
				display: inline;
				padding: 10px;
				text-transform: uppercase;
			}
			
		}
		
		@media screen and (max-width: 767px){
			ul{
				li{
					padding: 7px;
					margin: 0;
					font-size: 18px;
				}
				li:nth-child(odd) {
	   				width: 43%;
	   				float: right;
				}
				li:nth-child(even) {
	   				width: 43%;
	   				float: left;
				}
			}
			
		}

}
.page-not-found-message1{
	font-family: 'DietDidot W01 Regular';
	font-size: 36px;
	color: $black;	
	letter-spacing:1.5px;
}

.page-not-found-message2{
     font-size: 16px;
     font-family:'DietDidot W01 Italic';
     color: $black;
}

.no-hits-footer {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	margin: 20px 0;
	padding: 20px 0;
}

.search-result-bookmarks {
	margin: 15px;
	.first {
		border-right: 1px solid $nobel;
		padding-right: 5px;
	}
}

.searchOptionsfloating {
	div.search-result-options {
		top: 37px;
		@media screen and (min-width: 767px) and (max-width: 1024px) {
			top: 40px;
			span.top-resultstext {
				position: relative;
			}
		}
		
		.top-resultstext {
			position: static;
		}
	}
	.simpleSearch{
	    top: 11px;
	    right: 35px;
	    z-index: 10;
	}
	.pt_product-search-result .simpleSearch{
		position: fixed;
	}
	#search-suggestions{
		display: block;
	    position: fixed;
	    top: 41px;
	    right: 20px;
	}
	.mini-cart-link{
		display: none;
	}
}

.pt_product-search-result  {
	#secondary.refinements.search-page {
		margin-top: 60px;
	}
}


div.search-result-options {
	padding:18px 0 15px 0;
	width: 100%;
	font-size: 0.86em;
	top:0;
	margin-top: 40px;
	transition: top 0.3s linear;
	@media screen and (max-width: 767px){
		font-size:12px;
	}
	h4 {
		text-transform: uppercase;
		font-size: 1.3em;
		font-family: $helvetica-55;
		float: left;
		margin: 4px 0 4px 5%;

        @media screen and (min-width: 768px) {
            margin: 0;
        }
	}
	@at-root .searchOptionsfloating &{
		background:rgba(256, 256, 256, 0.8);
		position:fixed;
		left: 0;
		right: 0;
    	width: 100%;
    	max-width: 1300px;
    	margin: 0 auto;
		top: 0px;
		z-index: 9;
		@media screen and (max-width: 1280px){
			/*top: 60px;*/
		}
		@media screen and (max-width: 1023px){
			width: 760px;
			/*padding: 0px 10px 15px 10px;*/
	    	box-sizing: border-box;
		}
		@media screen and (max-width: 767px){
			width: 100%;
		}
	}
}

.top-search-options{
  @media screen and (max-width: 767px){ 
    display: none;
  }
}

.mobile-phone-show{
  display: none;
  @media screen and (max-width: 767px){
    display: block;
  }
}

.mobile-phone-hide{
  display: block;
  @media screen and (max-width: 767px){
    display: none;  
  }
}

.pagination {
	line-height: 19px;
	width:100%;
    /*@media screen and (min-width: 768px){*/
	@media screen and (min-width: 1024px){
		@at-root .searchOptionsfloating &{
		    width: 83.0769%;
		    float:right;
		}
	}
	.results-hits{
		width:36%;
		min-height: 1px;
		float:left;
		visibility: hidden;
		display: none;
		@media screen and (max-width: 1169px){
			width:25%;
		}
		@media screen and (max-width: 767px){
			width:30%;
		}
		.fullPagination{
			display: block;
			float:left;
			margin:0 10px 0 0;
			li{
				float:left;
				margin:0 3px;
				text-align:center;
				cursor: default;
				&.current-page{
					font-family:$helvetica-65;
					text-decoration: underline;
				}
				.ellipsis{
					margin:0 3px;
					display: inline-block;
				}
				a{
					color:$black;
					&:hover{
						color:#7f7f7f;
					}
					&.page-previous,
					&.page-next{
						overflow: hidden;
						text-indent:-9999px;
						&:before { 
							font-family: FontAwesome;
							font-size: 12px;
							display: inline-block;
							text-indent: 0px;
							content:"\f104";
						  @media screen and (max-width: 767px){
						    font-size: 1em;
						  }
						}
						span{
							display: none;
						}
					}
					&.page-next{
						&:before { 
							content:"\f105";
						}
					}
				}
			}
		}
		.items-per-page{
			display:block;
			float:left;
			a,
			span{
				margin:0 3px;
				display: block;
				float:left;
				color:$black;
			}
			a{
				&:hover{
					color:#7f7f7f;
				}
				&.active{
					text-decoration: underline;
					font-family: $helvetica-65;
				}
			}
			@media screen and (max-width: 1169px){
				display: none;
			}
		}  
    &.simple {
     float: right;
     width: initial;
     font-size: 0.86em;
     visibility: visible;
	 display: block;
     @media screen and (max-width: 767px){
       font-size: 1em;
       padding: 0 1em 0 0;
       .fullPagination {
         float: right;
       }
      }
    }
    &.top {
      display: none;
    }
	}
	.viewOptions{
		width:28%;
		float:left;
		text-align: center;
		@media screen and (max-width: 1169px){
			width:34%;
		}
		@media screen and (max-width: 767px){
			width:28%;
		}
		.toggle-grid{
			display:inline-block;
			margin: 0 0 0 10px;
			@media screen and (max-width: 767px){
				display: none;
			}
			a {
				display: inline-block;
				width: 14px;
				height: 12px;
				outline: 0;
				span{
					display: none;
				}
			  	&.two-grid,
			  	&.one-grid {
		  			background-color: $light-grey;
		  			mask: url('../images/icon_view-2.svg') no-repeat;
		  			-webkit-mask: url('../images/icon_view-2.svg') no-repeat;
		  			@at-root .active-two-grid#{&}{
						background-color: $black;
		  			}
		  			background-size:contain;
			  	}
			  	&.three-grid {
			  		background-color: $light-grey;
		  			mask: url('../images/icon_view-3.svg') no-repeat;
		  			-webkit-mask: url('../images/icon_view-3.svg') no-repeat;
		  			@at-root .active-three-grid#{&}{
		  				background-color: $black;
		  			}
		  			background-size:contain;
			  	}
			  	&.four-grid {
			  		background-color: $light-grey;
		  			mask: url('../images/icon_view-4.svg') no-repeat;
		  			-webkit-mask: url('../images/icon_view-4.svg') no-repeat;
		  			@at-root .active-four-grid#{&}{
		  				background-color:$black;
		  			}
		  			background-size:contain;
			  	}
			}
		}
		.toggle-product-view{
			display:inline-block;
			@media screen and (max-width: 767px){
			/*@media screen and (max-width: 1024px){*/
				visibility: hidden;
			}
			a{
				color:$black;
				&:hover{
					color:#7f7f7f;
				}
				&.active{
					font-family: $helvetica-65;
					text-decoration: underline;
				}
			}
		}
	}
	.attribute-sorting-refinements{
		width: 36%;
		float:left;
		@media screen and (max-width: 1169px){
			/*width:41%;*/
		}
		@media screen and (max-width: 1024px){
			width: 30%;
		}
		@media screen and (max-width: 767px){
			width:42%;
		}
		.Sort-by{
			float:right;
			position:relative;
			.sortBySelect{
				height:19px;
				margin:0;
				position:absolute;
				top:0;
				right:0;
				padding:0 10px 0 10px;
				z-index: 2;
				white-space: nowrap;
				li{
					display: none;
					text-align: right;
					position:relative;
					z-index: 2;
					padding: 0 0 0 10px;
					&.selected{
						display: block;
						cursor: pointer;
						span{
							text-decoration: underline;
							font-family: $helvetica-65;
						}
					}
					&:hover a{
						color:#7f7f7f;
					}
					&:first-child{
						&:after { 
							font-family: FontAwesome;
							font-size: 12px;
							display: inline-block;
							text-indent: 0px;
							content:"\f107";
						}
					}
				}
				&:hover{
					height:auto;
					padding-bottom:10px;
					background: $white;
					-webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
					-moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
					box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
					@at-root .searchOptionsfloating &{
						padding-top:18px;
						margin-top:-18px;
						background: transparent;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
						&:before{
							content:"";
							display: block;
							background:rgba(256, 256, 256, 0.8);
							position:absolute;
							bottom:0;
							width:100%;
							height: calc(100% - 52px);
							-webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
					-moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
					box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.1);
						}
					}
					li{
						display: block;
						&:first-child{
							&:after { 
								content:"\f106";
							}
						}
					}
				}
			}
		}
		#openFilter{
			float:right;
			margin-left:20px;
			width:75px;
			text-align: center;
			height:22px;
			line-height: 22px;
			font-size:14px;
			margin-top:-5px;
			cursor: pointer;
			border: 1px solid $black;
			font-weight: 500;
			color:$black;
			font-family: $helvetica-55;
			transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			&:hover{
				color:$white;
				background:$black;
			}
		}
	}

}



.search-result-items {
	margin: 0;
	@media screen and (min-width: 768px){
		@at-root .searchOptionsfloating &{
			padding-top:52px;
		}
	}
	li {
		list-style: none outside none;
	}
	.invisible {
		display: none;
	}
	.grid-tile{
		float: left;
		margin-bottom: 40px;
	}
}
@media screen and (min-width: 768px){
	.one-grid-tile{
	  	.grid-tile{
			width:46.2962963%;
			margin-left:7.40740741%;
			&:nth-child(2n+1){
				clear:both;
				margin-left:0;
			}
		  	@media screen and (max-width: 767px) {
				width:100%;
				max-width: 500px;
				margin:0 auto;
				clear:both;
	        }
	    }
	}
	.two-grid-tile,
	.one-grid-tile
	{
		.grid-tile{
			width:46.2962963%;
			margin-left:7.40740741%;
			&:nth-child(2n+1){
				clear:both;
				margin-left:0;
			}
        }
	}
	.three-grid-tile{
		.grid-tile{
			width:32.716050%;
			margin-left:0.925925%;
			&:nth-child(3n+1){
				clear: both;
				margin-left:0;
			}
		} 
	}
	.four-grid-tile{
		.grid-tile{
			width:24.30555555%;
			margin-left:0.925925%;
			&:nth-child(4n+1){
				clear: both;
				margin-left:0;
			}
		}
	} 
}

@media screen and (max-width: 767px) {
	.grid-tile {
		width: 50%;
		&:nth-child(odd) {
			clear: both;
		}
		&:nth-child(even) {
			float: right;
		} 
	}
	.one-grid-tile{
	  	.grid-tile{
			width:100%;
			max-width: 500px;
			margin:0 auto 40px 0;
			clear:both;
			float:none;
    }
	}
}

.search-promo {
	padding: 20px;
}

#results-content {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	padding-top: 30px;
}

.folder-content-list {
	margin: 0;
	overflow: hidden;
	padding: 0 20px;
	li {
		float: left;
		list-style: none outside none;
		margin: 0;
		padding: 2% 2% 2% 0;
		width: 48%;
	}
	.content-title {
		display: block;
	}
}

.no-results {
	padding: 20px;
}

.wide-tiles {
	.search-result-items .grid-tile {
		width: 91%;
	}
	.product-tile {
		.product-swatches {
			bottom: auto;
			left: auto;
			position: relative;
			right: auto;
			margin-top: 5px;
			li {
				float: left;
			}
		}
	}
}

.pt_product-search-noresult {
    .no-hits-help {
        ul {
            width: 34%;
            padding: 0 18px;
            margin-bottom: 80px;
            clear: left;
            float: left;
            span {
                font-family: $helvetica-55;
                font-size: 0.8em;
                color: $white;
                background: $black;
                padding: 5px;
                text-transform: uppercase;
                margin-bottom: 10px;
                float: left;
            }
            li {
                list-style: disc;
                list-style-position: outside;
                margin-left: 15px;
                float: left;
                display: list-item;
                width: 100%;
            }
        }
    }

}

.did-you-mean {
	margin-top: 50px;
	@media screen and (min-width: 768px) and (max-width: 1023px) {
		margin-top: 50px;
	}
}
