#secondary{
	font-size:12px;
	font-family:$helvetica-55;
	line-height:14px;
	.refinement-header{
		font-family:$helvetica-65;
	}
	#category-level-1,
	#category-level-2
	{
		margin:0 0 0 0; 
		li{
			margin:10px 0;
			a{
				color:#1e1e1e;
				&:hover,
				&.active{
					text-decoration:underline;
				}
			}
			a[data-cat-name="Clearance"]{
				color:#E10404;
				
			}
		}
	}
}