@import "variables";
@import "mixins";


#pwrwritediv {
    font-family: $sans-serif;
    color: $black;
    #pr-war {
        .pr-header {
            .pr-header-title {
                font-family: $sans-serif;
                font-size: 16px;
                color: $black;
            }
            .pr-header-product-name {
                a {
                    font-family: $sans-serif;
                    font-size: 14px;
                    color: $night-rider;
                }
            }
            .pr-header-required {
                font-family: $sans-serif;
                font-size: 12px;
                color: $night-rider;
                .pr-required-indicator {
                    color: $night-rider;
                }
            }
        }
        #pr-war-form {
            fieldset {
                .pr-control-label {
                    span {
                        font-family: $sans-serif;
                        font-size: 12px;
                        color: $night-rider;
                        &.pr-required-indicator {
                            color: $night-rider;
                        }
                    }
                }
                .form-control {
                    font-family: $sans-serif;
                    font-size: 12px;
                    color: $night-rider;
                    &:focus {
                        border-color: $dim-gray;
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px $dim-gray;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px $dim-gray;
                    }
                }
                #pr-rating {
                    .pr-star-selected {
                        border: 0 solid $nobel;
                        background-color: $nobel;
                    }
                    .pr-star {
                        border: 0 solid $gainsboro;
                        background-color: $gainsboro;
                    }
                }
                .pr-helper-text {
                    font-family: $sans-serif;
                    font-size: 12px;
                    color: $night-rider;
                }
                .btn-group {
                    .pr-btn {
                        font-family: $sans-serif;
                        font-size: 12px;
                        &.active {
                            background-color: $night-rider;
                        }
                    }
                }
            }
            .pr-war-media-input {
                span {
                    font-family: $sans-serif;
                    font-size: 12px;
                    color: $night-rider;
                    &:after {
                        font-family: $sans-serif;
                        font-size: 12px;
                        color: $night-rider;
                    }
                }
            }
        }
        .pr-footer {
            .pr-btn-review {
                font-family: $sans-serif;
                font-size: 12px;
                background: $black;
                border-color: $black;
                color: $white;
                &:hover {
                    background: $dim-gray;
                }
            }
            .pr-subscript {
                font-family: $sans-serif;
                font-size: 12px;
                color: $dim-gray;
                a {
                    color: $nobel;
                    font-size: 12px;
                }
            }
        }
    }
}


#reviewsnip {
    width: 100%;
    float: left;
    height: 100% !important;
    margin: 0 !important;
    @media(max-width: 768px) {
        display: block !important;
        padding-bottom: 5px;
    }
}

@media (min-width: 737px) {
	#reviewsnip {
		margin: 0;
	}
}

.pr-pa-snippet .pr-pa-snippet-title,
.pr-snippet .pr-snippet-read-write .pr-clear,
.pr-snippet .pr-snippet-read-reviews,
.pr-snippet .pr-snippet-rating-decimal,
.pr-snippet .pr-snippet-review-count {
	display: none;
}

.pr-snippet {
	width: 80%;
	position: relative;

	.pr-stars {
        margin-bottom: 0px;
	}

	.pr-snippet-read-write {
		position: absolute;
		top: -1px;
		right: 0;
		
		.pr-snippet-write-first-review p {
		  display: none;
        }
        @media (max-width: 1024px) {
            position: relative;
        }
	}

	a {
		color: #1e1e1e;
    	font-size: 12.6px;
    	text-decoration: underline;
    	font-family: inherit;

		&:hover {
			color: $grey;
			text-decoration: underline;
		}
	}

	.pr-stars-small {
		background-image: url(../images/pwr-stars-small.png);
		width: 109px;
    }
    .pr-snippet-stars {
        display: flex;
        align-items: center;
        #scroll-down {
            display: flex;
            position: relative;
        }
        .pr-snippet-rating-decimal {
            display: block;
            margin: 0;
            border: 0;
            margin-left: 10px;
            font-size: 15px;
            font-weight: 400;
            color: #bb996f;
            padding: 0;
            display: flex;
            align-items: center;
            &::after {
                content: '|';
                margin-left: 15px;
                color: $black;
            }
        }
        .total-reviews-upper {
            display: inline;
            font-weight: 400;
            margin-bottom: 0px;
            margin-left: 15px;
            font-size: 14px;
            line-height: 1.5;
            height: 18px;
            &:after {
                content: " REVIEWS";
            }
        }
    }
}

.pr-pa-snippet {
	a {
		color: #999;
		font-weight: 400 !important;
		font-size: 12px !important;

		&:hover {
			color: #999;
			text-decoration: underline;
		}
	}

	.pr-pa-snippet-questions:after {
		content: '|';
		display: inline-block;
		
		color: #e8e8e8;
		font-weight: 400 !important;
		font-size: 12px !important;
		
		padding-left: 9px;
	}

	.pr-pa-snippet-ask-question a {
		color: #333;

		&:hover {
			color: #333;
			text-decoration: underline;
		}
	}
}
#pdpMain {
    @media(max-width: 1066px){
        #reviewsAnswers {
            margin-left: 0;
        }
    }
}
#reviewsAnswers {
	display: block;
	clear: both;
    margin-top: 2.16em;
    padding-top: 20px;
    max-width: 985px;
    margin: auto;
  #reviews {
      .pr-contents {
          display: none;
      }
  }
  #readmorebtn {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    @media(max-width: 768px) {
        padding-bottom: 0;
    }
    p {
        position: absolute;
        width: auto;
        bottom: -10px;
        cursor: pointer;
        i {
            border: solid #E1E2DF;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 6px;
        }
        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
        @media(max-width: 768px) {
            bottom: -10px;
        }
    }
    #read-more-reviews {
        position: absolute;
        cursor: pointer;
        width: auto;
        bottom: 20px;
        @media (max-width: 768px){
            bottom: 10px;
        }
    }
  }
  #reviewsContainer {
      .sizefit-wrap {
          display: none;
          &.size-and-fit{
              display: inline-block;
          }
          &.size-and-fit-mobile {
              display: none;
          }
          @media(max-width: 768px){
              display: inline-block;
              &.size-and-fit-mobile {
                  display: inline-block
              }
              &.size-and-fit{
                  display: none;
              }
          }
      }
      .pr-headline {
          font-weight: 700;
          margin-top: 0;
      }
      .sizefit-wrap {
          width: 100%;
          padding-bottom: 15px;
        &.recommend {
            font-weight: 500;
            display: block;
        }
        .review-recommend {
            margin-right: 5px;
        }
      }
  }
}

#pdpReviewsTab {
	display: block;
	clear: both;
	margin: 25px auto 0;
	min-height: 120px;
}

.pr-review-engine {
	padding: 0;
	font-size:14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.8;
  color:#1e1e1e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @media (max-width: 768px){
    padding: 15px 15px 30px 15px;
}
	.pr-header {
        border-bottom: 1px dotted #d6d6d6;
        .pr-review-faceoff {
            display: none;
        }
	  .pr-snapshot-head-wrapper {
      padding-bottom: 0;
      text-align: center;
      border: none;
      margin: 0;
      
      .pr-snapshot-title {
        visibility: hidden;
        position: relative;
        @media (max-width:768px){
            margin-right: 0;
            margin-bottom: 0;
        }
      }
      
      .pr-snapshot-title:after {
        visibility: visible;
        position: absolute;
        text-transform: uppercase !important; //overiding important tag
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: "REVIEWS";
        font-family:inherit;
        font-size: 20px !important; //overiding important tag
        font-weight:500;
        
      }
      
      .pr-snapshot-cobrand {
        display: none;
      }
    }
    .pr-snapshot-body{
        @media(max-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
		.pr-snapshot-body-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 768px){
                display: inline-block;
                padding-bottom: 20px;
            }
			
			.pr-snapshot-rating-wrapper{
			  text-align: center;
			  
			  .pr-snapshot-rating {
            float: none;
            margin: 0 0 1em 0;
            display: flex;
            align-items: center;
            padding-top: 5px;
            margin-left: 60px;
            @media (max-width:768px){
                margin-left: 0;
                margin-bottom: 5px;
            }

            .pr-stars {
                margin: 0;
                float: none;
            }
            .pr-rating {
                display: block;
                margin: 0;
                border: 0;
                margin-left: 25px;
                font-size: 16px;
                color: #bb996f;
                padding: 0;
                display: flex;
                align-items: center;
                &::after {
                    content: '|';
                    margin-left: 15px;
                    color: $black;
                }
            }
        }
        
        .pr-snapshot-consensus {
          display: none;
            }
        }
        .pr-snapshot-footer{
            position: absolute;
            padding: 0;
            margin: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            @media (max-width: 768px) {
                position: relative;
            }
        .pr-write-review-link {
          margin: 0 auto;
          padding: 0;
          color: #1e1e1e;
          background: none;
          font-family:helvetica,arial,sans-serif;
          font-weight: 400;
          font-size: 14px;
          text-align: center;
          max-width: none;
          text-decoration: underline;
          &:hover {
            color: #333;
            text-decoration: underline;
          }
        }
        
        .pr-snapshot-no-ratings{
          margin: 1em 0;
          text-align: center;
          color: $black;
        }
        &.no-reviews {
            position: relative;
        }
	}
	}
    
    .pr-review-sort {
      display: none;
    }

        .pr-snapshot-body-wrapper .pr-stars {
            background-image: url(../images/pwr-stars-large.png);
            width: 110px;
        }
        .pr-snapshot-body-wrapper .gen .pr-stars {
            background-image: url(../images/gen-pwr-stars-large.png);
            width: 110px;
        }
	}

    .pr-snapshot-average-based-on-text {
        display: inline;
        visibility: hidden;
        font-weight: 400;
        margin-bottom: 0px;
        font-size: 15px;
        text-indent: -60px;
        line-height: 1.5;
        height: 20px;
        content: "";
        span {
            visibility: visible;
            &:after {
                content: " REVIEWS";
            }
        }
    }
	#pr-snapshot-histogram,
	.pr-snapshot-body-wrapper .pr-rating,
	.pr-snapshot-body-wrapper,
	.pr-snapshot-body-wrapper .pr-other-attributes {
		display: none;
	}
  
	.pr-snapshot-consensus {
		.pr-snapshot-consensus-value,
		.pr-snapshot-consensus-text {
			background: transparent;
			border: none;
			border-radius: 0px;
			padding: 0;
			font-weight: 400;
			color: #030303;
			font-size: 12px;	
		}
	}

	.pr-review-sort-box select {
		margin: 0;
		padding: 0;
		max-width: 140px;
		float: none;
		display: inline-block 
	}
	.pr-review-wrap {
		border-bottom: 1px dotted #d6d6d6;
		margin: 30px 0 20px 0;
        position: relative;
        padding-bottom: 20px;
        &:last-of-type {
            padding-bottom: 40px;
            border-bottom: 0px;
        }
        @media (max-width: 768px) {
            display: flex;
            flex-wrap: wrap-reverse;
            padding-bottom: 40px;
            margin: 0px 0px 20px 0px;
        }
    
		&:after {
			content: "";
			display: table;
			clear: both;
        }
        &.hide {
            display: none;
        }

		.pr-review-rating-wrapper {
			width: auto;
            position: relative;
            font-weight: 700;
            margin-bottom: 0;
            @media (max-width: 768px) {
                position: absolute;
                top: 0;
                width: 100%;
            }
		
			.pr-review-author-date {
                float: right;
				right: 0;
				border: none;
				border-radius: 0px;
				background: transparent;
				padding: 0;
				margin-bottom: 0px;
				height: auto; 
				text-transform: uppercase;
				color: #030303;
				font-size: 1em;
                font-family: 'Futura LT W01 Medium', sans-serif;
			}

			.pr-review-rating {
                width: 49%;
                margin: auto;
                @media(max-width: 1030px){
                    width: 48%;
                }
                @media(max-width: 980px){
                    width: 46%;
                }
                @media(max-width: 880px){
                    width: 44%;
                }
                @media(max-width: 820px){
                    width: 42%;
                }
                @media(max-width: 768px) {
                    width: 100%;
                }
			  .pr-stars {
                position: relative;
                top: 0;
			  }
				.pr-rating {
					display: none;
				}

				.pr-stars-small {
					background-image: url(../images/pwr-stars-small.png);
                    width: 109px;
                    &.gen{
                        background-image: url(../images/gen-pwr-stars-small.png);
                    }
				}

				.pr-review-rating-headline {
					display:none;
				}
			}

			.pr-review-most-helpful {
				display: none;
			}
		}

		.pr-review-author {
			float: left;
            width: 130px;
            max-width: 130px;
            padding-right: 12.5%;
			position: relative;
            top: -27px;
            margin: 0;
            @media(max-width: 768px) {
                top: 0;
                width: 100%;
                max-width: 100%;
            }
        .pr-review-author-info-wrapper{
            @media (max-width: 768px){
                display: flex;
                .name-location-container {	
                    width: 50%;
                }
                .age-height-container {
                    width: 50%;
                    float: right;                    
                }
            }
            .age-height-container > div:first-child{
                    display:none;                   
                }
            
        }
      .pr-review-author-name {
        overflow: hidden;
        font-size: 1em;
        visibility: hidden;
        margin: 10px 0px;
        span {
            font-weight: 700;
            color: #030303;
            visibility: visible;
            float: left;
            font-size: 1.5rem;
            .review-props {
                float: none;
                font-weight: 500;
                margin-left: 5px;
            }
        } 
      }
      
      .pr-review-author-location {
        float: left;
        font-size: 1em;
        font-family: $helvetica-65;
        font-weight:400;
        visibility: hidden;
        span { 
            font-weight: 700;
            color: #030303;
            visibility: visible;
            float: left;
        } 
      }
      
      .pr-review-author-badge-wrapper {
        display: none;
      }
		
			a {
				color: #030303;
			}
		}

		.pr-review-main-wrapper {
			float: left;
			width: 50%;
            margin-bottom: 0px;
            padding-top: 11px;
            @media (max-width: 768px) {
                padding-top: 25px;
                width: 100%;
            }
			.pr-comments {
              margin-bottom: 1em;
              line-height: 2;
              @media(max-width: 768px) {
                  padding-top: 10px;
              }
			}
            span {
            font-weight: 700;
            color: #030303;
            visibility: visible;
            float: left;
            font-size: 1.5rem;
            .review-props {
                float: none;
                font-weight: 500;
                margin-left: 5px;
            }
        } 
		}
	}

	.pr-review-points {
		display: none;	
	}
    .pr-review-text {
    text-align: left;
        @media (max-width: 768px) {
            width: 100%;
            left: 0;
            top: 0;
            position: relative;
        }
    }
	.pr-review-text p {
		color: #030303;
		font-size: 14px;
	}
  
  .pr-other-attributes ul {
    list-style: none !important;
    margin: 0 !important;   
  }
  
	.pr-other-attributes ul li {
		color: #030303;
		font-family:$helvetica-55;
    
    &.pr-other-attribute-label {
      margin-bottom: 0;
      display: inline-block;
      width: 15%;
      font-family: $helvetica-65;
      font-weight: 400;
    }
    
    &.pr-other-attribute-value {
        padding-bottom: 0;
        margin-bottom: 0;
        display: inline-block;
        width: 85%;
    }
		
		@media screen and (min-width: 480px) and (max-width: 767px) {
		  &.pr-other-attribute-label {
        display: inline-block;
        width: 30%;
      }
      
      &.pr-other-attribute-value {
        display: inline-block;
        width: 70%;
      }
		}
		
		@media screen and (max-width: 480px) {
      &.pr-other-attribute-label {
        display: inline-block;
        width: 49%;
      }
      
      &.pr-other-attribute-value {
        display: inline-block;
        width: 50%;
      }
    }
	}

	.pr-review-footer {
		float: right;
	 
	 .pr-review-bottom-line-wrapper{
	   margin: 0;
	 }
	 
		p {
			color: #030303;
		}
		
		.pr-review-bottom-line, .pr-review-tools {
		  display: none;
		}
		
		 
	}

	.pr-review-helpful-text {
		position: relative;
		padding: 0 0 38px 0;
		text-transform: uppercase;

		&:after {
			content: '';
			display: block;
			height: 20px;
			width: 20px;
			position: absolute;
			top: 0px;
			right: -6px;
			background: #fff;
		}

		a {
			background: #808285;
			color: #fff;
			display: block;
			text-transform: uppercase;
			padding: 4px 36px 4px 12px;
			position: absolute;
			top: 30px;
			left: 0px;

			&:hover {
				background: #989a9e;
				color: #fff;
			}

			&:last-child {
				left: 100px;
			}
		}
	}

	.pr-review-report-issue {
		display: none;
	}

	.pr-pagination-bottom {
		display: none;
		
		a {
			color: #030303;
		}
	}

	.pr-page-count {
		color: #030303;
	}
}

#pdpQuestionsTab {
	display: block;
	clear: both;
	margin: 15px auto;	
}

body {
    #form {
        font-family: $sans-serif;
        color: $black;
        
        #editPage, #previewPage {
            .prwrapper {
                .prPaHeader {
                	font-family: $sans-serif;
                    font-size: 16px;
                    color: $black;
                    font-weight: bold;
                }
                .prPaDisclaimer {
                    font-size: 12px;
                    color: $nobel;
                }
                .prsummarywrap {
                    .prproductsummary {
                        h2 {
                            font-size: 14px;
                            color: $night-rider;
                            a {
                                color: $night-rider;
                            }
                        }
                        p {
                            font-family: $sans-serif;
                            font-size: 12px;
                            color: $dim-gray;
                        }
                    }
                }
                h3 {
                    font-size: 14px;
                    color: $night-rider;
                }
                div {
                    fieldset {
                        border: none;
                        background: $white;
                        .prPaInputLabel {
                            font-size: 12px;
                            .prPaOptionalOrRequired {
                                color: $night-rider;
                                font-size: 10px;
                            }
                        }
                        select, textarea, input {
                            font-family: $sans-serif;
                            font-size: 12px;
                            background-color: $white;
                            padding: 0 5px;
                        }
                        textarea:focus {
                            border-color: $dim-gray;
                            color: $black;
                            background: $white-smoke;
                        }
                        input:focus {
                            color: $black;
                        }
                        p, #question-type-example {
                            font-size: 12px;
                            color: $night-rider;
                        }
                    }
                    #prPreview {
                        #prPreviewButton {
                            background: $black;
                            padding: 0 0 0 20px;
                            .first-child {
                                background: $black;
                                padding: 0 20px 0 0;
                                button {
                                    font-family: $sans-serif;
                                    font-size: 12px;
                                    font-weight: bold;
                                    height: 25px;
                                }
                                &:hover {
                                    background: $dim-gray;
                                }
                            }
                            &:hover {
                                background: $dim-gray;
                            }
                        }
                    }
                }
                #preview {
                    div {
                        border: none;
                        background: $white;
                        font-size: 12px;
                        color: $night-rider;
                    }
                }
                #prPaConfirmCont {
                    a, label, .medsmall {
                        font-size: 12px;
                        color: $dim-gray;
                    }
                }
                #prBtnContainer {
                    #prEditButton, #prSubmitButton {
                        background: $black;
                        padding: 0 0 0 20px;
                        .first-child {
                            background: $black;
                            padding: 0 20px 0 0;
                            button {
                                font-family: $sans-serif;
                                font-size: 12px;
                                font-weight: bold;
                                height: 25px;
                            }
                            &:hover {
                                background: $dim-gray;
                            }
                        }
                        &:hover {
                            background: $dim-gray;
                        }
                    }
                }
            }
        }
    }
}
// BCBG Power reviews CSS
.bcbg-power-reviews {
    h1 {
        font-family: inherit;
    }
    .pr-review-engine .pr-review-wrap .pr-review-rating-wrapper .pr-review-rating {
        @media (min-width: 1024px) {
            width: 49%;
        }
        @media(max-width: 1023px) {
            width: 41%;
        }
        @media (max-width: 980px) {
            width: 41%;
        }
        @media (max-width: 880px) {
            width: 41%; 
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .pr-review-author-date {
        font-family: "HelveticaNeueETW01-65Md" !important;;
    }
    .pr-review-engine .pr-review-wrap {
        @media(max-width: 850px) {
            padding: 0 10px;
        }
        @media(max-width: 690px) {
            padding: 0;
        }
    }
}
// V4 PR Header CSS 
// BCBG
// Top section
#stickypdp {
    #reviewssnippet {
        @media (max-width: 768px) {
            display: block;
        }
        .reviews-header-container {
            width: 100%;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: start;
            .pr-header {
                padding-bottom: 0;
                width: 80%;
                display: flex;
                justify-content: space-between;
                @media (max-width: 1024px) {
                    display: block;
                }
                .append-write-review {
                    width: 100%;
                }
                #scroll-down{
                    cursor: pointer;
                }
                .pr-snapshot-body-wrapper {
                    display: block;
                    float: left;
                    width: 60%;
                }
                .pr-snapshot-rating {
                    width: 100%;
                    display: flex;
                    padding-bottom: 10px;
                    .reviews-total {
                        cursor: pointer;
                    }
                    &.no-reviews {
                        display: block;
                        .p-w-r {
                            text-align: left;
                            .pr-snippet-stars-reco-stars {
                                margin-top: 8px;
                                margin-left: 4px;
                                .pr-snippet-read-and-write {
                                    margin-top: 8px !important;
                                }
                            }
                        }
                    }
                }
                .p-w-r {
                    text-align: right;
                    padding-top: 0;
                    .pr-snippet-read-and-write {
                        margin-top: 0 !important;
                    }
                    @media (max-width: 1024px) {
                        text-align: left;
                        margin: 0;
                        margin-top: 5px;
                        .pr-snippet-write-review-link {
                            padding-left: 0;
                        }
                    }
                    .pr-snippet-stars-reco-stars {
                        width: 100%;
                    }
                    .pr-snippet-write-review-link {
                        margin: 0 auto;
                        padding: 0;
                        color: #1e1e1e;
                        background: none;
                        font-family: helvetica,arial,sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        text-align: center;
                        max-width: none;
                        text-decoration: underline;
                        position: relative;
                        top: 1px;
                    }
                }
            }
        }
    }
}
.lower-reviews {
    .not-yet-rated {
        margin: 1em 0;
        text-align: center;
        color: #1e1e1e;
        font-size: 14px;
        float: left;
        position: relative;
        margin-bottom: 0px;
        margin-top: 2px;
        margin-right: 2px;
    }
    .no-reviews {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        .append-write-review#reviews-display{
            padding-top: 0;
            position: relative;
            width: auto;
            right: auto;
            float: left;
            height: 100%;
            bottom: auto;
            display: inline-block;
            .p-w-r {
                margin: 0;;
            }
        }  
      }
    #reviews-display {
        position: relative;
        bottom: 0;
        right: 0;
        justify-content: center;
        .p-w-r {
            width: 100%;
            text-align: center;
            .pr-snippet-stars-reco-stars {
                float: none;
            }
            .pr-snippet {
                width: 100%;
                text-align: right;
                @media(max-width: 768px) {
                    width: 100%;
                    text-align: center;
                }
                .not-yet-rated {
                    margin: 1em 0;
                    text-align: center;
                    color: #1e1e1e;
                    font-size: 14px
                }
                .pr-snippet-write-review-link {
                    margin: 0 auto;
                    padding: 0;
                    color: #1e1e1e;
                    background: none;
                    font-family: inherit;
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                    max-width: none;
                    text-decoration: underline;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
}
    // Bottom section
.reviews-header-container {
    border-bottom: 1px dotted #d6d6d6;
    text-align: center;
    @media (max-width: 768px) {
        padding: 0;
    }
    h1 {
       font-size: 20px;
       font-weight: 500; 
       letter-spacing: 2px;
       @media (max-width: 768px ) {
           padding-bottom: 15px;
       }
    }
    .no-reviews {
        .reviews-stars {
            width: 100%;
        }
    }
    .reviews-stars,
    .reviews-total {
        float: left;
    }
    .reviews-total {
        margin: 0 0 0 30px;
        color:#070707;
        font-weight: 400;
        margin-left: 10px;
        display: flex;
        font-size: 15px;
        font-family: inherit;
        margin-top: 1px;
        cursor: default;
    }
    .p-w-r {
        text-align: right;
        width: 100%;
        @media (max-width: 768px) {
            text-align: center;
        }
        .pr-snippet-stars-container,
        .pr-snippet-stars-reco-reco {
            display: none !important;
        }
    }
    .p-w-r .pr-review-display {
        background-color: transparent;
        .pr-rd-no-reviews {
            font-size: 13px;
            font-family: inherit;
            a {
                padding-left: 5px;
            }
        }
        a {
            color:#070707;
            content: "Write a Review";
            font-size: 12px;
            text-decoration: underline;
        }
    }
    #reviews-display { 
        position: absolute;
        width: 20%;
        bottom: -6px;
        right: 5px;
        display: flex;
        align-items: center;
        height: 100%;
        #lower-write-review {
            width: 100%;
        }
        @media (max-width: 768px) {
            position: relative;
            justify-content: center;
            bottom: 0;
            right: 0;
            padding-top: 7px;
            width: 100%;
        }
        &.lower-reviews-container{
            position: relative;
            width: 100%;
            right: auto;
            bottom: auto;
            .pr-snippet {
                text-align: center;
            }
        }
    }
    .pr-header {
        padding-bottom: 20px;
        border-bottom: 0px;
        @media (max-width: 768px) {
            .pr-snapshot-body-wrapper {
                padding-bottom: 0;
            }
        }
        .gen {
            .average-rating {
                color: #000000;
            }
        }
        .average-rating {
            display: block;
            margin: 0;
            border: 0;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px;
            font-weight: 400;
            color: #bb996f;
            padding: 0;
            display: flex;
            align-items: center;
            &::after {
                content: '|';
                margin-left: 15px;
                color: $black;
            }
        }
    }
}
//BCBG GEN
.pdp-main .product-detail .additional-information {
    padding-top: 20px;
}
.product-detail {
    .reviews-header-container {
        border: 0px;
        .pr-snapshot-body-wrapper {
            justify-content: start;
        }
        #reviews-display-top {
            margin-top: 0px;
            .p-w-r {
                text-align: left;
                width: 100%;
                margin: 0;
                padding-top: 5px;
                .pr-snippet-stars-reco-stars {
                    width: 100%;
                    .pr-snippet-write-review-link {
                        display: inline;
                        color: #000;
                        font-size: 14px !important;
                        font-weight: normal !important;
                        text-decoration: underline;
                        font-family: inherit;
                        padding-left: 0;
                    }
                }
            }
            #reviews-display {
                left: 0;
                position: relative;
                width: 100%;
                .p-w-r {
                    text-align: left;
                }
                .pr-snippet-write-review-link {
                    display: inline;
                    color: #000;
                    font-size: 14px !important;
                    font-weight: normal !important;
                    text-decoration: underline;
                    font-family: inherit;
                }
            }
        }
        .pr-snapshot-rating {
            display: flex;
            cursor: pointer;
        }
    }
}
#quickview-container {
    display: flex;
    @media (max-width: 768px) {
        display: block;
    }
}
#quickview-write-review {
    margin: 0 auto;
    padding: 0;
    color: #1e1e1e;
    background: none;
    font-family: helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    max-width: none;
    text-decoration: underline;
    position: relative;
    top: 1px;
}
// Form Page
#primary {
    .p-w-r .pr-war .pr-header-product-name a {
        font-family: Arial,sans-serif;
        font-size: 14px;
        color: #333;
    }
    #pr-war-form {
    }
    .pr-footer .pr-btn-review {
        font-family: Arial,sans-serif;
        font-size: 12px;
        background: #1e1e1e;
        border-color: #1e1e1e;
        color: #fff;
        &:hover {
            background: #666;
        }
    }
}

.pr-merchant-id-359003 #pr-rating .pr-star-v4-0-filled {
    background-image: url(../images/star_bcbg_default.png);
    &:hover {
        
    }
}
.pr-merchant-id-359003 #pr-rating .pr-star-v4-100-filled {
    background-image: url(../images/star_bcbg_hover.png) !important;
}
// QUICKVIEW
#QuickViewDialog {
    #stickypdp #reviewssnippet .reviews-header-container .pr-header .pr-snapshot-rating .reviews-total {
        display: none;
        &:first-of-type {
            display: flex;
        }
    }
    #stickypdp #reviewssnippet .reviews-header-container .pr-header {
        width: 100%;
    }
    .reviews-stars-top .pr-stars{
        display: none;
        &:first-of-type {
            display: block;
        }
    }
    .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write{
        margin-top: 0;
        .pr-snippet-review-count {
            display: none;
        }
    }
    .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a {
        display: inline;
        color: #000;
        font-size: 14px !important;
        font-weight: normal !important;
        text-decoration: underline;
        font-family: inherit;
    }
}

div.age-height-container > p:first-child {
    display: none;
}